<section>
  <style>
  .bs-callout {
      padding: 20px;
      margin: 20px 0;
      border: 1px solid #eee;
      border-left-width: 5px;
      border-radius: 3px;
      background-color: #ffffff;
  }

   .bs-callout i {
     cursor:pointer !important;
   }

  .bs-callout p:last-child {
      margin-bottom: 0;
  }
  .bs-callout code {
      border-radius: 3px;
  }
  .bs-callout+.bs-callout {
      margin-top: -5px;
  }

  .bs-callout h4 {
      color: #333;
  }
  .bs-callout-success {
      border-left-color: #5cb85c;
      background-color: #dff0d8;
  }

  .bs-callout-danger {
      border-left-color: #d9534f;
      background-color: #f2dede;
  }

  .bs-callout-warning {
      border-left-color: #f0ad4e;
      background-color: #fcf8e3;
  }

  .bs-callout-info {
      border-left-color: #5bc0de;
      background-color: #d9edf7;
  }

  </style>

  <div class="col-xs-12">
    <div ng-if="msg['STEP_NOT_COMPLETE']" class="bs-callout bs-callout-danger">
      <i class="fa fa-times-circle pull-right" aria-hidden="true" ng-click="remove('STEP_NOT_COMPLETE')"></i>
      <h4>Step incomplete</h4>
      <p >You must complete the steps sequentially.</p>
    </div>
    <div ng-if="msg['NO_SERVICE']" class="bs-callout bs-callout-danger" >
      <i class="fa fa-times-circle pull-right" aria-hidden="true" ng-click="remove('NO_SERVICE')"></i>
      <h4>Service not available</h4>
      <p>Service is not avialibale at {{msg['NO_SERVICE'].error.config.method}} {{msg['NO_SERVICE'].error.config.url}}</p>
    </div>
    <div ng-if="msg['NOT_FOUND']" class="bs-callout bs-callout-danger" >
      <i class="fa fa-times-circle pull-right" aria-hidden="true" ng-click="remove('NOT_FOUND')"></i>
      <h4>Service not available or document was not found</h4>
      <p>Service is not avialibale or not found  at {{msg['NOT_FOUND'].error.config.url}}</p>
    </div>
    <div ng-if="msg['INVALID_SCHEMA']" class="bs-callout bs-callout-danger" >
      <i class="fa fa-times-circle pull-right" aria-hidden="true" ng-click="remove('INVALID_SCHEMA')"></i>
      <h4>The data passed to the server is not in the required format</h4>
      <p>Please contact the SCBD IT unit to report this error.  it@cbd.int <pre>{{msg['INVALID_SCHEMA'].error.data |json}}</pre></p>
    </div>
  </div>
</section>
