<section>
  <style>
  .bs-callout {
      padding: 20px;
      margin: 20px 0;
      border: 1px solid #eee;
      border-left-width: 5px;
      border-radius: 3px;
      background-color: #ffffff;
  }

   .bs-callout i {
     cursor:pointer !important;
   }

  .bs-callout p:last-child {
      margin-bottom: 0;
  }
  .bs-callout code {
      border-radius: 3px;
  }
  .bs-callout+.bs-callout {
      margin-top: -5px;
  }

  .bs-callout h4 {
      color: #333;
  }
  .bs-callout-success {
      border-left-color: #5cb85c;
      background-color: #dff0d8;
  }

  .bs-callout-danger {
      border-left-color: #d9534f;
      background-color: #f2dede;
  }

  .bs-callout-warning {
      border-left-color: #f0ad4e;
      background-color: #fcf8e3;
  }

  .bs-callout-info {
      border-left-color: #5bc0de;
      background-color: #d9edf7;
  }

  </style>

  <div class="col-xs-12">
    <div ng-repeat="m in msg track by $index" class="bs-callout" ng-class="{ ['bs-callout-'+m.state]: m.state }">
      <i class="fa fa-times-circle pull-right" aria-hidden="true" ng-click="remove($index)"></i>
      <h4>{{m.title}}</h4>
      <p ng-bind-html="m.description"></p>
    </div>
  </div>
</section>
