<table class="table table-striped">
    <!-- <tr >
        <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
        <th>User</th>
        <th>Comment(s)</th>
    </tr> -->
    <tr ng-repeat='c in comments'>
        <td style="width:1%" class="text-nowrap" title="{{c.date|date:'yyyy-MM-dd HH:mm.ss'}}">{{c.date|moment:'fromNow':true}}</td>
        <td style="width:1%" class="text-nowrap" title="{{c.user.name}}">{{c.user|initials}}</td>
        <td>
            <div class="dropdown pull-right" ng-if="c.user.id==user.userID || canEdit">
              <button class="btn btn-danger btn-xs  dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-minus-circle"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a  class="dropdown-item" href="#"href="#" ng-click="deleteComment(c._id)">Delete comment</a></li>
              </ul>
            </div>
            <div style="white-space:pre-wrap">{{c.text}}</div>
        </td>
    </tr>
    <tr>
        <td style="width:1%" class="text-nowrap">Now</td>
        <td style="width:1%" class="text-nowrap" title="{{user.name}}">{{user|initials}}</td>
        <td>
            <div class="input-group" style="position:relative">
                <textarea rows="3" class="form-control" ng-model="comment" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }" ng-disabled="!type || !resources.length" placeholder="type your comment here"></textarea>
                <span class="input-group-addon" style="padding:0px;" ng-click="postComment(comment); comment=null;">
                    <button class="btn btn-link" ng-disabled="!comment">Save</button>
                </span>
            </div>
        </td>
    </tr>
</table>
