/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 6, dashboard.scss */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
/* line 15, dashboard.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* line 26, dashboard.scss */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  /* line 30, dashboard.scss */
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
/* line 46, dashboard.scss */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

/* line 51, dashboard.scss */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

/* line 55, dashboard.scss */
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
/* line 65, dashboard.scss */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  /* line 69, dashboard.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
/* line 74, dashboard.scss */
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
/* line 83, dashboard.scss */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

/* line 87, dashboard.scss */
.placeholders h4 {
  margin-bottom: 0;
}

/* line 90, dashboard.scss */
.placeholder {
  margin-bottom: 20px;
}

/* line 93, dashboard.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
