/* line 1, helpers.scss */
.m-t-s {
  margin-top: 5px;
}

/* line 4, helpers.scss */
.m-b-s {
  margin-bottom: 5px;
}

/* line 7, helpers.scss */
.m-l-s {
  margin-left: 5px;
}

/* line 10, helpers.scss */
.m-r-s {
  margin-right: 5px;
}

/* line 14, helpers.scss */
.m-t {
  margin-top: 10px;
}

/* line 17, helpers.scss */
.m-b {
  margin-bottom: 10px;
}

/* line 20, helpers.scss */
.m-l {
  margin-left: 10px;
}

/* line 23, helpers.scss */
.m-r {
  margin-right: 10px;
}

/* line 28, helpers.scss */
.m-t-l {
  margin-top: 15px;
}

/* line 31, helpers.scss */
.m-b-l {
  margin-bottom: 15px;
}

/* line 34, helpers.scss */
.m-l-l {
  margin-left: 15px;
}

/* line 37, helpers.scss */
.m-r-l {
  margin-right: 15px;
}

/* line 41, helpers.scss */
.m-t-xl {
  margin-top: 25px;
}

/* line 44, helpers.scss */
.m-b-xl {
  margin-bottom: 25px;
}

/* line 47, helpers.scss */
.m-l-xl {
  margin-left: 25px;
}

/* line 50, helpers.scss */
.m-r-xl {
  margin-right: 25px;
}
