/* line 1, maps.scss */
.scrollFix {
  overflow: auto;
}

/* line 7, maps.scss */
.infobox {
  max-width: 360px;
  max-height: 300px;
}

/* line 11, maps.scss */
.infobox-summary {
  max-width: 80%;
}

/* line 15, maps.scss */
.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(173, 216, 230, 0.6);
  top: 0;
  display: none;
}

/* line 24, maps.scss */
.loading-text {
  width: 50%;
  margin: 30% auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
