html, body, #map{
  height:100%;
  background: #F6F6F6;
}

.container-fluid{
  width: 980px;
  margin: 0 auto;
  background: #fff;
}

.row{
  width: 950px;
  margin: 0px auto;
}

.sidebar{
  left: auto;
  position: relative;
  top: auto;
  bottom: auto;
}

.main{
  padding:0px 0px 0px 12px;
}

.push50{
  height: 50px;
  display: block;
}

.clear{
  clear: both;
}

.white, .white a {
  color: #fff;
}

p.important{
  font-weight: bold;
}

.google-map{
  height: 500px;
  width: 700px;
  padding-right: 0px;
  background: #e6e6e6;
}

h4 a{
  font-size: 12px;
  font-weight: normal;
}

.nav>li>a{
  padding: 7px 15px;
  font-size: 11px;
  color: #009b48;
}

.nav-sidebar > .active > a{
  background: #009b48;
}

.nav-sidebar{
  margin-bottom: 0px;
}

.nav-sidebar li{
  /* border: 1px solid #ddd; */
}

.nav-sidebar li a{
  padding-left: 30px;
}

.nav-sidebar li:first-child a{
  padding-left: 15px;
  font-weight: bold;
}

.sidebar{
  background: #fff;
  padding-top: 0px;
}

.panel-body{
  padding-bottom: 0px;
  padding-top: 0px;
}


.panel-default>.panel-heading{
  padding: 10px;
  background: #007C35;
  border-radius: 0px;
}

.panel-heading > .panel-title > button{
  border:none;
  padding: 0px;
  background:none;
}

.panel-title > a{
  color: #fff;
  font-weight: bold;
}

.panel-group .panel{
  border-radius: 0px;
}

.popover-content{
  font-size: 13px;

}

.form-control{
  display: inline;
  width: auto;
  font-size: 12px;
  padding: 0px;
  height:28px;
  margin-top: 7px;
}

.datepicker{
  padding: 3px 7px;
  margin-top: 7px;
}

.datepicker span{
  color: #999;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]{
  background-color: #009b48!important;
  background-image: none;
}


.input-group-btn:last-child>.btn{
  margin-top: 7px;
}

.aichi-targets{
  width: 70%;
  margin: 0px 0px 15px 25px;
  border: none;
  padding-left: 10px;
}

div.datepicker{
  margin-top: 15px;
  line-height: 16px;
  font-size: 14px;
}

p.disclaimer{
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}

.legend {
  border: 1px solid #ddd;

  .legend-title {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    background-color: #007C35;
    color: #fff;
    padding: 5px;
    font-size: 12px;
  }

  .legend-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .legend-item {
    max-width: 90%;
    padding: 5px 0 5px 10px;
    font-size: 0.9em;
  }

}
