<div>
    <document-files ng-if="notification.files.length" class="visible-xs pull-right" files="::notification.files" style="padding-top:10px"></document-files>

    <b>{{notification.symbol||symbol}}</b> <i ng-if="::notification.number">({{::notification.number}})</i>
    <div style="max-height:50px;overflow:hidden" title="{{::notification.title|lstring}}" ng-bind-html="::notification.title|lstring">
    </div>

    <div ng-if="::notification.date">
        <i class="fa fa-calendar fa-fw"></i> {{::notification.date|moment:'utc'|moment:'format':'LL'}}
    </div>

    <document-files class="hidden-xs" files="::notification.files" style="padding-top:10px"></document-files>
</div>
