<style>
._2024 .meetingnav td.selected {
    background-color: #316994;
}
h1, h2, h3 {
    color: #316994 !important;
}

._2024 .cop-16-banner {
    font-family:Arial;
    color: black;
}

._2024 .cop-16-banner .align-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: auto;
}

._2024 .cop-16-banner    .banner-height { height:125px; padding: 10px; }
._2024 .cop-16-banner img.banner-height { padding: 0px; }
._2024 .cop-16-banner h1 { font-size: 20px;text-align:center;font-family:"Arial Black", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;font-weight: bold; }
._2024 .cop-16-banner h2 { font-size: 14px;text-align:center;font-family:               Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;font-weight: bold; }
._2024 .cop-16-banner h3 { font-size: 11px;text-align:center;font-family:               Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;color:#000000 !important; }

@media(min-width: 576px) {
    ._2024 .cop-16-banner .banner-height { height:130px }
    ._2024 .cop-16-banner h1 { font-size: 21px; }
    ._2024 .cop-16-banner h2 { font-size: 19px; }
    ._2024 .cop-16-banner h3 { font-size: 13px; }
}

@media(min-width: 768px) {
    ._2024 .cop-16-banner .banner-height { height:135px }
    ._2024 .cop-16-banner h1 { font-size: 24px; }
    ._2024 .cop-16-banner h2 { font-size: 20px; }
    ._2024 .cop-16-banner h3 { font-size: 15px; }
}

@media(min-width: 992px) {
    ._2024 .cop-16-banner .banner-height { height:150px }
    ._2024 .cop-16-banner h1 { font-size: 28px; }
    ._2024 .cop-16-banner h2 { font-size: 22px; }
    ._2024 .cop-16-banner h3 { font-size: 17px; }
}

@media(min-width: 1200px) {
    ._2024 .cop-16-banner .banner-height { height:170px }
    ._2024 .cop-16-banner h1 { font-size: 36px; }
    ._2024 .cop-16-banner h2 { font-size: 26px; }
    ._2024 .cop-16-banner h3 { font-size: 22px; }
}

._2024 .cop-16-banner .cop16-background {
    background-image: 
        linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),
        url('/app/images/cop-16/cop-16-background-1500.png');
    background-size: cover;
    background-position: left;  
}

._2024 .cop-16-banner .background-white-to-transparent {
    background: linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,.9), rgba(255,255,255,0));

}
</style>

<div class="cop-16-banner">
    <div class="container-fluid">
        <div class="row cop16-background">
            <div class="col-lg-3 col-md-4 col-sm-5 col-6 background-white-to-transparent">
                <img class="banner-height" src="/app/images/cop-16/cop-16-logo-200.png">
            </div>
            <div class="col col-xl-8">
                <div class="banner-height align-middle">
                    <h1>
                        <span class="hidden-xs">United Nations Biodiversity Conference</span>
                        <span class="visible-xs">UN Biodiversity Conference</span>
                    </h1>
                    <h2> 
                        <span class="text-nowrap">COP 16</span> / 
                        <span class="text-nowrap">CP-MOP 11</span> / 
                        <span class="text-nowrap">NP-MOP 5</span>
                    </h2>
                    <h3>
                        <span class="hidden-xs">Cali, Colombia, 21 October - 1 November 2024</span>
                        <span class="visible-xs">Cali, Colombia, 21 Oct - 1 Nov 2024</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>