<div>
    <div>
        <h3 ng-show="isLoading" style="color: #777"><i class="fa fa-circle-o-notch fa-spin"></i></h3>
    </div>
    <div class="row" ng-hide="isLoading">
       
        <style>
            .hvr-grow {
                display: inline-block;
                vertical-align: middle;
                transform: translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                backface-visibility: hidden;
                -moz-osx-font-smoothing: grayscale;
                transition-duration: 0.3s;
                transition-property: transform;
            }

            .hvr-grow:hover,
            .hvr-grow:focus,
            .hvr-grow:active {
                transform: scale(1.1);
            }
            .meeting-box:hover{
                background: #f2f4f4;
            }
        </style>
        <div class="row">
            <div class="image-credit-wrapper" ng-show="article">
                <span class="image-credit" ng-if="article.coverImage.credits">{{article.coverImage.credits}}</span>
                <img class="img-responsive" ng-src="{{::article.coverImage.url_1200}}">
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 " style="margin-left:10px">
                <h3 style="border-bottom:1px solid #eee">Parallel Meetings</h3>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"> 
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 " >
                    <cbd-article query="articleQuery" ng-if="articleQuery && article" on-load="onArticleLoad(article)" hide-cover-image="true"></cbd-article>
                </div>
                <div class="col-sm-12" style="margin-top:5px;">
                    <table class="table table-hover">
                        <tr ng-repeat="parallelMeeting in meeting.conference.parallelMeetingLinks" >
                            <td style="width:80%">
                                <span ng-switch="getUrl(parallelMeeting)">                                        
                                    <span ng-switch-when="#" >{{parallelMeeting.title}}</span>
                                    <a ng-switch-default target="{{parallelMeeting.url ? '_blank':''}}"  ng-href="{{getUrl(parallelMeeting)}}">
                                            {{parallelMeeting.title}}
                                    </a>
                                </span>
                            </td>
                            <td>
                                <a ng-if="getUrl(parallelMeeting)!='#'" target="{{parallelMeeting.url ? '_blank':''}}"  ng-href="{{getUrl(parallelMeeting)}}">Read More <i class="fa fa-arrow-right"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- <div ng-repeat="parallelMeeting in meeting.conference.parallelMeetingLinks"
                class="col-sm-12 col-lg-6 col-md-6 " style="margin-top:5px;">
                    <a target="{{parallelMeeting.url ? '_blank':''}}"  ng-href="{{getUrl(parallelMeeting)}}">
                        <div style="text-align:center;border:1px solid #f2f4f4;padding:5px;" class="meeting-box">
                            <div style="height:150px;color:black">
                                <strong>{{parallelMeeting.title}}</strong>
                            </div>
                            <div>
                                <a target="{{parallelMeeting.url ? '_blank':''}}"  ng-href="{{getUrl(parallelMeeting)}}">Read More <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>        
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-top:15px;">          
            <social-media></social-media>
        </div>
    </div>
</div>

