<section>
  <div class="col-xs-12">
    <h2>Organization's Contacts</h2>
    <user-message error="participationCtrl.error" msg="participationCtrl.msg" ></user-message>
    <div  ng-include="'/app/views/kronos/participation-form-org-header.html'"></div>
  </div>
  <div class="col-xs-12 " ng-if="!participationCtrl.addContact">
    <h3>Contacts</h3>
    <div class="table-responsive" >
      <table class="table table-condensed table-hover" >
        <tr>
          <th>Role</th>
          <th>Name</th>
          <th>Position/Email</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td >Head</td>
          <td >{{participationCtrl.head.title}} {{participationCtrl.head.firstName}} {{participationCtrl.head.lastName}}</td>
          <td >
            {{participationCtrl.head.designation}}<br>
            <a ng-href="{{participationCtrl.head.email}}">{{participationCtrl.head.email}}</a>
          </td>
          <td >
            <button ng-if="participationCtrl.hasHead()" ng-click="participationCtrl.activeParticipant=participationCtrl.head;  participationCtrl.addContact=true" type="button" class="btn btn-default btn-xs">Edit >></button>
            <button ng-if="!participationCtrl.hasHead()" ng-click="participationCtrl.activeParticipant=participationCtrl.head; participationCtrl.addContact=true" type="button" class="btn btn-default btn-xs">Add Head >></button>
          </td>
        </tr>
        <tr>
          <td >Focal Point</td>
          <td >{{participationCtrl.focalPoint.title}} {{participationCtrl.focalPoint.firstName}} {{participationCtrl.focalPoint.lastName}}</td>
          <td >
            {{participationCtrl.focalPoint.designation}}<br>
            <a ng-href="{{participationCtrl.head.email}}">{{participationCtrl.focalPoint.email}}</a>
          </td>
          <td >
            <button ng-if="participationCtrl.hasFocalPoint()" ng-click="participationCtrl.activeParticipant=participationCtrl.focalPoint; participationCtrl.addContact=true"  type="button" class="btn btn-default btn-xs">Edit >></button>
            <button ng-if="!participationCtrl.hasFocalPoint()" ng-click="participationCtrl.activeParticipant=participationCtrl.focalPoint; participationCtrl.addContact=true"  type="button" class="btn btn-default btn-xs">Add Focal Point >></button>
          </td>
        </tr>
      </table>

    </div>
  </div>
        <participant is-contact="true" request-id="participationCtrl.doc._id" conference-code="participationCtrl.conferenceCode" organization="participationCtrl.organization" ng-model="participationCtrl.activeParticipant" ng-show="participationCtrl.addContact" show-contact="participationCtrl.addContact" typee="participationCtrl.type"></participant>
  <div class="col-xs-12 " ng-if="!participationCtrl.addContact">
    <button ng-click="participationCtrl.changeStep('organization')" ng-disabled="false" type="button" class="btn btn-default">Previos</button>
    <button ng-click="participationCtrl.saveContacts()" ng-disabled="!participationCtrl.hasHead() || !participationCtrl.hasFocalPoint()" type="button" class="btn btn-success pull-right">Next</button>
  </div>
</section>
