<section>
    <style>
      .pointer{
        cursor: pointer;
      }
    </style>

    <div class="col-xs-12 ">
      <h2>Organization</h2>
    </div>
    <user-message error="participationCtrl.error" msg="participationCtrl.msg" ></user-message>
    <ng-form  name="editFormOrg"  novalidate>
      <div class="col-xs-12 ">
        <label>Identification</label>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-8">
              <!-- ng-class="{'has-error': (editFormOrg.assistanceTypes.$invalid && editFormOrg.$submitted) }" -->
              <div class="form-group" ng-class="{'has-error': (editFormOrg.title.$invalid && (editFormOrg.title.$touched || editFormOrg.$submitted)) }">
                <label class="control-label" for="title">Name of the organization</label>
                <input required ng-model="participationCtrl.organization.title" type="text" class="form-control" id="title" name="title" >
                <p ng-show="editFormOrg.title.$invalid && (editFormOrg.title.$touched || editFormOrg.$submitted)" class="help-block text-danger small">name is required.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="title">Acronym</label>
                <input ng-model="participationCtrl.organization.acronym" type="text" class="form-control" id="Acronym" >
              </div>
            </div>
            <div class="col-md-6" ng-if="participationCtrl.type==='media'">
              <div class="form-group" ng-class="{'has-error': (!participationCtrl.organization.type && (editFormOrg.type.$touched || editFormOrg.$submitted)) }">
                <label class="control-label" for="type" >Sector</label>
                <select
                  id="type"
                  name="type"
                  class="form-control"
                  ng-model="participationCtrl.organization.type"
                  >
                  <option ng-repeat="option in participationCtrl.orgTypes" ng-value="option.identifier">{{option.title}}</option>
                </select>
                  <p ng-show="!participationCtrl.organization.type && (editFormOrg.type.$touched || editFormOrg.$submitted)" class="help-block text-danger small">type is required.</p>
              </div>
            </div>
            <div class="col-md-6" ng-if="participationCtrl.type==='media'">
              <div class="form-group" ng-class="{'has-error': (!participationCtrl.organization.medium && (editFormOrg.medium.$touched || editFormOrg.$submitted)) }">
                <label class="control-label" for="medium">Type of media</label>
                <select
                  required
                  name='medium'
                  id="medium"
                  class="form-control"
                  ng-model="participationCtrl.organization.medium"
                  multiple
                  ng-options="o.identifier as o.title for o in participationCtrl.orgMediums"
                  >
                  </select>
                  <p ng-show="!participationCtrl.organization.medium && (editFormOrg.medium.$touched || editFormOrg.$submitted)" class="help-block text-danger small">medium is required.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xs-12 ">
        <label>Address</label>
        <div class="panel panel-default">
          <div class="panel-body">
            <address name="address" ng-model="participationCtrl.organization.address"></address>
          </div>
        </div>
      </div>

      <div class="col-xs-12 ">
        <label>Contact</label>
        <div class="panel panel-default">
          <div class="panel-body">

              <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (editFormOrg.phone.$invalid && (editFormOrg.phone.$touched || editFormOrg.$submitted)) }">
                  <label class="control-label" for="phone">Phone </label>

                  <input required ng-model="participationCtrl.organization.phone" type="text" class="form-control" id="phone" name="phone" ng-minlength="8" ng-maxlength="35" placeholder="example: +1 514.288.2220">
                  <p ng-show="!participationCtrl.organization.phone  && (editFormOrg.phone.$touched || editFormOrg.$submitted)" class="help-block text-danger small">Phone number is required.</p>
                  <p class="help-block text-danger small" ng-show="(editFormOrg.phone.$error.minlength || editFormOrg.phone.$error.maxlength ) && (editFormOrg.phone.$touched || editFormOrg.$submitted)">Please match pattern +1 514.288.2220 </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (editFormOrg.email.$invalid && (editFormOrg.email.$touched || editFormOrg.$submitted)) }">
                  <label class="control-label" for="title">Email </label>
                  <input required ng-model="participationCtrl.organization.email" type="email" class="form-control" id="email" name="email">
                  <p ng-show="editFormOrg.email.$error.required && (editFormOrg.email.$touched || editFormOrg.$submitted)" class="help-block text-danger small">email is required.</p>
                  <p ng-show="editFormOrg.email.$error.email && (editFormOrg.email.$touched || editFormOrg.$submitted)" class="help-block text-danger small">email is not valid.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="title">Email CCs </label>
                  <input ng-model="participationCtrl.organization.emailCc" type="email" class="form-control" id="emailCc" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': ((editFormOrg.website.$invalid || editFormOrg.website.$error.url) && (editFormOrg.website.$touched || editFormOrg.$submitted)) }">
                  <label class="control-label" for="website">Website </label>
                  <input ng-model="participationCtrl.organization.website" type="url" class="form-control" id="website" name="website">
                  <p ng-show="editFormOrg.website.$error.url && (editFormOrg.website.$touched || editFormOrg.$submitted)" class="help-block text-danger small">website url not correct format</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': (!participationCtrl.organization.language && (editFormOrg.language.$touched || editFormOrg.$submitted)) }">
                  <label class="control-label" for="language">Operating language {{participationCtrl.organization.language}}</label>
                  <select
                    ng-if="participationCtrl.languages.length"
                    id="language"
                    required
                    name="language"
                    class="form-control"
                    ng-model="participationCtrl.organization.language"
                    >
                    <option ng-repeat="language in participationCtrl.languages   track by language.identifier" ng-selected="!!(participationCtrl.organization.language===language.identifier)" ng-value="language.identifier">{{language.title.en}}</option>
                  </select>
                  <p ng-show="!participationCtrl.organization.language && (editFormOrg.language.$touched || editFormOrg.$submitted)" class="help-block text-danger small">language is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="col-xs-12" ng-show="participationCtrl.type==='media'">
        <label>File Uploads</label>
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': (!participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment').url && (editFormOrg.language.$touched || editFormOrg.$submitted || participationCtrl.organization.language)) }">
                  <label class="control-label" for="letterOfAssignment">Letter of assignment</label>

                  <file-drop danger="(!participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment').url && (editFormOrg.language.$touched || editFormOrg.$submitted || participationCtrl.organization.language))" metadata="participationCtrl.genMeta()" class="xs" style="height:90px;" on-upload="participationCtrl.onUpload({tag:'letterOfAssignment',container:participationCtrl.organization},file,error)" ng-model="participationCtrl.letterOfAssignment"  class="form-control" id="letterOfAssignment" ></file-drop>
                  <p><a ng-click="participationCtrl.getPresigned(participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment').url)" ng-href="#">{{participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment').title}}</a>
                  <i ng-show="participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment')"  class="fa fa-times-circle-o pointer" ng-click="participationCtrl.removeAttachement(participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment'))"></i></p>
                  <p ng-show="(!participationCtrl.findAttachement(participationCtrl.organization.attachment,'letterOfAssignment').url && (editFormOrg.language.$touched || editFormOrg.$submitted || participationCtrl.organization.language))" class="text-danger small">Assignment letter is required.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="attachments">Attachments</label>
                  <i class="fa fa-info-circle" data-toggle="tooltip"   data-placement="top" data-title="Any other related files you would like to submit, supporting your organization's ability to nominate people for accreditation." help></i>

                <file-drop  multiple class="xs" style="height:90px;" on-upload="participationCtrl.onUpload({container:participationCtrl.organization},file,error)" ng-model="participationCtrl.attachment"  class="form-control" id="attachments" ></file-drop>
                <p ng-repeat="att in participationCtrl.organization.attachment track by $index" ng-if="!att.tag">
                  <a  ng-click="participationCtrl.getPresigned(att.url)" ng-href="#">{{att.title}}</a>
                    <i ng-show="att.url"  class="fa fa-times-circle-o pointer" ng-click="participationCtrl.removeAttachement(att.url)"></i>
                </p>
                  </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-xs-12" ng-if="participationCtrl.type==='observer'">
        <label>Observer Requirements</label>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="letterOfAssignment">Letter of interest </label>
                <input type="file" class="form-control" id="letterOfAssignment" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="letterOfAssignment">Statement demonstrating qualifications </label>
                <input type="file" class="form-control" id="letterOfAssignment" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="letterOfAssignment">Statutes / by-laws / articels of incorporation</label>
                <input type="file" class="form-control" id="letterOfAssignment" >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="attachments">Attachments </label>
              <input type="file" class="form-control" id="attachments" >
            </div>
          </div>
        </div>
      </div>
    </ng-form>
    <div>
    </div>
    <div class="col-xs-12">
        <user-message error="participationCtrl.error" msg="participationCtrl.msg" ></user-message>
        <button ng-click="participationCtrl.changeStep('checklist')" ng-disabled="false" type="button" class="btn btn-default">Previous</button>
        <button ng-click="editFormOrg.$submitted=true;participationCtrl.editFormOrg=editFormOrg;participationCtrl.saveOrganization()" type="button" class="btn btn-success pull-right">Next</button>
    </div>
</section>
