<div class="row">
  <style>
    .debug {
      border: 1px solid red;
    }
    .desc {
      padding-top:.5em;
    }
    .section-title {
      margin-top:0;
    }
    #myProgress {
        width: 100%;
        background-color: grey;
    }
    .complete {
        width: 100%;
        height: 30px;
        background-color: green;
        text-align: center;
        color: white;
        padding: 5px 0 0 0;
        cursor:pointer;
    }
    .incomplete{
        width: 100%;
        height: 30px;
        background-color: grey;
        text-align: center;
        color: white;
        padding: 5px 0 0 0;
        cursor:pointer;
    }
    .paddingless{
      padding: 0 0 0 0 !important;
    }
  </style>

  <div class="col-xs-12" ng-if="participationCtrl.step!=='request'">
    <div class="col-xs-12">
      <h1>Media Accreditation Request</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h5>Steps and Progress</h5>
    </div>
    <div class="col-xs-2 col-xs-offset-1 paddingless" ng-click="participationCtrl.changeStep('checklist')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('checklist'),'complete':participationCtrl.isStepComplete('checklist')}">
          Requirements
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" ng-click="participationCtrl.changeStep('organization')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('organization'),'complete':participationCtrl.isStepComplete('organization')}">
          Organization
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" ng-click="participationCtrl.changeStep('contacts')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('contacts'),'complete':participationCtrl.isStepComplete('contacts')}">
          Contacts
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" ng-click="participationCtrl.changeStep('participants')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('participants'),'complete':participationCtrl.isStepComplete('participants')}">
          Participant(s)
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" >
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('finished'),'complete':participationCtrl.isStepComplete('finished')}">
          Finished
        </div>
      </div>
    </div>

  </div>

  <div  ng-include="participationCtrl.partialMap[participationCtrl.step]"></div>

  <div class="col-xs-12" ng-if="participationCtrl.step!=='request'">
    <br>
    <br>
    <div class="col-xs-2 col-xs-offset-1 paddingless" ng-click="participationCtrl.changeStep('checklist')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('checklist'),'complete':participationCtrl.isStepComplete('checklist')}">
          Requirements
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" ng-click="participationCtrl.changeStep('organization')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('organization'),'complete':participationCtrl.isStepComplete('organization')}">
          Organization
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" ng-click="participationCtrl.changeStep('contacts')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('contacts'),'complete':participationCtrl.isStepComplete('contacts')}">
          Contacts
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" ng-click="participationCtrl.changeStep('participants')">
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('participants'),'complete':participationCtrl.isStepComplete('participants')}">
          Participant(s)
        </div>
      </div>
    </div>
    <div class="col-xs-2 paddingless" >
      <div id="myProgress">
        <div ng-class="{'incomplete':!participationCtrl.isStepComplete('finished'),'complete':participationCtrl.isStepComplete('finished')}">
          Finished
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h5>Steps and Progress</h5>
    </div>
  </div>
</div>
