<div class="col-xs-12">
    <div class="col-xs-12">
      <h1>Media Accreditation Request Submitted</h1>
    </div>
    <div class="col-xs-12">
      <p>Thank you for your media accreditation submission.
        Please note that your request will be processed within 7 days under normal circumstances.
         If you do not receive a response within this timeframe, please contact Johan Hedlund at
         <a href="mailto:johan.hedlund@cbd.int">johan.hedlund@cbd.int</a>.
      </p>
    </div>
</div>
