<div class="row justify-content-md-center">
  <div ng-if="show"  class="col-md-8 col-12">
    <div id="time-zone-feature-alert" class="alert alert-info alert-dismissible fade show" role="alert">
      <div class="mb-3 text-center"><strong>New Timezone Feature!</strong></div>

      <div class="text-center"><img src="https://attachments.cbd.int/timezone.gif" style="max-width:110%;"/></div>

      <div class="mt-3 text-center">
        <label><small class="text-muted ">Do not remind me again.</small></label>
        <input type="checkbox" ng-model="hideForever" ng-change="hide()">
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>