<div class="document-files">
    <div class="hidden-xs" ng-repeat="(type,languages) in ::byTypes ">
        <i class="fa {{::(MIMES[type]||MIMES.default).icon}}" ng-style="::{ color: MIMES[type].color}"></i>
        <span ng-repeat="(language,file) in ::languages track by language">
            <a target="_blank" href="{{::file.url}}" ng-click="$event.stopPropagation();">

                <span class="visible-md-inline visible-lg-inline visible-xl-inline language">
                    {{::LANGUAGES[language]||language}}
                </span>

                <span class="language visible-xs-inline visible-sm-inline">{{::language}}</span>
            </a>
        </span>
    </div>

    <div class="visible-xs dropdown">

        <button type="button"  class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" ng-click="initByLanguages()">
            <i class="fa fa-arrow-circle-down" style="font-size:1.25em"></i>
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li role="presentation" class="dropdown-header">Select a file to download</li>

            <li role="presentation" class="dropdown-item" ng-repeat="(language,types) in byLanguages track by language" style="font-size:16px;margin:4px 0px;white-space:nowrap;" class="ng-scope">

                <a role="menuitem" tabindex="-1" style="display:inline-block;width:120px;font-size:inherit;" class="language">
                    {{::LANGUAGES[language]||language}}
                </a>

                <span>
                    <a ng-repeat="(type, file) in ::types track by type" class="btn btn-sm {{::MIMES[type].btn || 'btn-default' }}" style="margin-right:5px;font-size:16px;" target="_blank"  href="{{::file.url}}">
                        <i class="fa {{::(MIMES[type]||MIMES.default).icon}}"></i>
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>
