<div class="modal-content">
	<style>

		.btn-xxl        { width:     225px; }
		.btn-xxl > span:first-child { font-size:   2em; }
		.btn-xxl > i.fa { font-size:   6em; }

		@media (max-width: 767px) {
			.btn-xxl        { width:     135px;
				 			  height:     100px; }
			.btn-xxl > span:first-child { font-size:   1em; }
			.btn-xxl > i.fa { font-size:   3em; }
			.print-btn {margin-top:1em;}

		}
	</style>

	<div class="modal-header">
		<button type="button" class="close" ng-click="close(success && 'clear')" aria-hidden="true">×</button>
		<h4 class="modal-title">
			<i class="fa fa-arrow-circle-down"></i>
			Download copies <span class="hidden-xs"> - {{documents.length}} document(s)</span>
		</h4>
	</div>
	<div class="modal-body">
			<div class="row" ng-hide="target">
              <div class="col-xs-12 col-sm-6 text-center" >
                <button type="button" class="btn btn-success btn-xxl" ng-click="download()">
                  <span>Download</span><br /><br />
                  <i class="fa fa-arrow-circle-down"></i>
                </button>
              </div>
              <div class="col-xs-12 col-sm-6 text-center "  ng-show="allowPrint"  >
                <button type="button" class="btn btn-primary btn-xxl print-btn" ng-disabled="!printableDocuments.length" ng-click="print()">
                  <span>Request Prints</span><br /><br />
                  <i class="fa fa-print"></i>
                </button>
              </div>
			</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()"><i class="fa fa-power-off"></i> <span>Close</span></button>
	</div>
</div>