		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(success && 'clear')" aria-hidden="true">×</button>
				<h4 class="modal-title">
					<i class="fa fa-arrow-circle-down"></i>
					Download copies <span class="hidden-xs"> - {{documents.length}} document(s)</span>
				</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" ng-hide="success">

					<div class="form-group row">
						<label for="preferredLanguage" class="col-sm-4 col-sm control-label">Preferred language(s)</label>
						<div class="col-sm-6 col-sm">
							<div class="row">
								<div ng-repeat="language in languages" class="col-sm-6 col-xs-6">
									<a class="btn btn-link" ng-click="selectedLanguages[language] = !selectedLanguages[language]" style="color:black;text-decoration:none;text-align:left" ng-style="{ opacity: (!selectedLanguages[language] ? 0.65 : 1) }" >
                                        <checkbox ng-model="selectedLanguages[language]" style="font-size:20px"></checkbox>
                                        <span ng-switch="language">
                                            <span class="language" ng-switch-when="ar">العربية</span>
                                            <span class="language" ng-switch-when="en">English</span>
                                            <span class="language" ng-switch-when="es">Español</span>
                                            <span class="language" ng-switch-when="fr">Français</span>
                                            <span class="language" ng-switch-when="ru">Русский</span>
                                            <span class="language" ng-switch-when="zh">中文</span>
                                            <span class="language" ng-switch-default>{{language|uppercase}}</span>
                                        </span>
									</a>
								</div>
							</div>
							<span class="help-block hidden-xs">Select at least one language.</span>
						</div>
					</div>

					<div class="form-group row">
						<label for="format" class="col-sm-4 col-sm control-label">Preferred format(s)</label>
						<div class="col-sm-6  col-sm">
							<div class="row">
								<div ng-repeat="format in formats" class="col-sm-12 col-xs-12">
									<a class="btn btn-link" ng-click="selectedFormats[format] = !selectedFormats[format]" style="color:black;text-decoration:none;text-align:left" ng-style="{ opacity: (!selectedFormats[format] ? 0.65 : 1) }" >
                                        <checkbox ng-model="selectedFormats[format]" style="font-size:20px"></checkbox>
                                        <span ng-switch="format">
                                            <span ng-switch-when="application/pdf">
												<i class="fa fa-file-pdf-o" style="color:red"></i>
												<span class="language">PDF</span>
                                            </span>
                                            <span ng-switch-when="application/msword">
                                                <i class="fa fa-file-word-o"  style="color:blue"></i>
												<span class="language">Word 97-2003</span>
                                            </span>
                                            <span ng-switch-when="application/vnd.openxmlformats-officedocument.wordprocessingml.document">
												<i class="fa fa-file-word-o"  style="color:blue"></i>
												<span class="language">Word</span>
                                            </span>
                                            <span ng-switch-default>
                                                <i class="fa fa-file-o"></i> 
												<span class="language">{{format}}</span>
                                            </span>
                                        </span>
									</a>
								</div>
							</div>
							<span class="help-block hidden-xs">Select at least one format.</span>
						</div>
					</div>
				</form>


				<div class="alert alert-danger" ng-show="error" ng-switch="error.error">

					<span ng-switch-when="NO_SERVICE">
						<b>Error: service is unavailable!</b> Sorry, the PrintSmart service is not available at this moment.<br>
						Please wait 5 minutes and try again or go to the registration desk or document distribution counter for further assitance.
					</span>

					<span ng-switch-default>
						<b>Sorry!</b> {{error.message||'Unknown error.'}} <br>
						Please visit the registration desk for assitance.
					</span>

				</div>

				<div class="alert alert alert-info" ng-show="success">
					<b ng-show="success=='dropbox'" >File(s) saving to dropbox...</b>
					<b ng-show="success=='download'">File(s) download started...</b>
				</div>

			</div>

			<div class="modal-footer" style="white-space:nowrap">

				<button type="button" ng-hide="success || !allowBack"  class="btn btn-default hidden-xs" ng-click="close('checkout')"><i class="fa fa-arrow-left"></i> Back</button>

				<a      target="_self" ng-show="!success" class="btn btn-success" style="color: #fff;"  ng-click="download($event)" ng-disabled="!downloadLink" href="{{downloadLink}}"><i class="fa fa-arrow-circle-down"></i> Download</a>
				<button type="button"  ng-show="!success && canDropbox()" class="btn btn-primary" ng-disabled="!downloadLink" ng-click="sendToDropbox()"><i class="fa fa-dropbox"></i> Dropbox</button>

				<button type="button" class="btn btn-default" ng-click="close(success && 'clear')"><i class="fa fa-power-off"></i> <span class="hidden-xs">Close</span></button>

			</div>
		</div><!-- /.modal-content -->
