<div class="modal fade" data-backdrop="static">
	<style> .opacity55 {opacity: 0.55} </style>

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(success)" aria-hidden="true">×</button>
				<h4 class="modal-title">
					<i class="fa fa-print"></i>
					Request hard copies - {{documents.length}} document(s)
					<i class="fa fa-cog fa-spin" ng-show="loading"></i>
				</h4>
			</div>
			<div class="modal-body">

				<form id="printForm" name="printForm" novalidate class="form-horizontal" ng-submit="print()" ng-hide="success">

					<div class="form-group" ng-class="{ 'has-warning' : (printForm.$submitted && printForm.locales.$error.required) }">
						<label for="preferedLanguage" class="col-sm-4 control-label">Prefered language(s)</label>
						<div class="col-sm-6">
							<div class="row">
								<div ng-repeat="locale in documentLocales" class="col-sm-6 col-xs-6">
									<a class="btn btn-link" ng-click="locales[locale] = !locales[locale]; focus()" style="color:black;text-decoration:none;text-align:left" ng-class="{ opacity55: !locales[locale] }" >
										<i class="fa fa-square-o"       ng-hide="locales[locale]" style="font-size:20px;width:20px"></i>
										<i class="fa fa-check-square-o" ng-show="locales[locale]" style="font-size:20px;width:20px"></i>
										{{allLanguages[locale]}}
									</a>
                                    <input name="locales" ng-show="false" type="checkbox" ng-required="!hasLocales()" ng-model="locales[locale]">
								</div>
							</div>

							<span class="help-block" ng-show="printForm.$submitted && printForm.locales.$error.required">Select at least one language.</span>

						</div>

					</div>

					<div class="form-group" ng-class="{ 'has-warning' : error.error=='INVALID_BADGE_ID' || (printForm.$submitted && (printForm.badgeCode.$error.required || printForm.badgeCode.$error.pattern)) }">
						<label for="badgeCode" class="col-sm-4 control-label">Badge number</label>
						<div class="col-sm-6">
							<input type="text" required ng-change="clearError()" class="form-control" id="badgeCode" name="badgeCode" placeholder="1234-5678" maxlength="9" ng-model="badgeCode" pattern="[0-9\-]{8,9}">
							<span class="help-block"ng-show="printForm.$submitted && (printForm.badgeCode.$error.required||printForm.badgeCode.$error.pattern)">Enter badge number to request printed hard copies.</span>
						</div>
					</div>


				</form>

				<div class="alert alert-warning" ng-show="error" ng-switch="error.error">

					<span ng-switch-when="INVALID_BADGE_ID">
						<img style="margin:3px" class="pull-right" src="/app/images/sample-barcode.png">
						<b>Sorry!</b> Your CBD Badge number is invalid.
						<br/>You must provide the number located on the top right of your CBD meeting access badge.
					</span>

					<span ng-switch-when="INVALID_BADGE_REVOKED">
						<b>Sorry!</b> Your CBD Badge has been revoked. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="INVALID_BADGE_EXPIRED">
						<b>Sorry!</b> Your CBD Badge has expired. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="INVALID_BADGE_NOT_PRINTSMART_ENABLED">
						<b>Sorry!</b> Your CBD Badge is not enabled for PrintSmart. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="NO_SERVICE">
						<b>Error: service is unavailable!</b> Sorry, the PrintSmart service is not available at this moment.<br>
						Please wait 5 minutes and try again or go to the registration desk or document distribution counter for further assitance.
					</span>

					<span ng-switch-default>
						<b>Sorry!</b> {{error.message||'Unknown error.'}} <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

				</div>

				<div class="alert alert alert-success" ng-show="success">
					<b>Your hard copies are on their way...</b> <br/>
					The document(s) you requested are getting printed. You are invited to claim them at the document distribution counter.
				</div>

			</div>

			<div class="modal-footer" style="white-space:nowrap">

				<i class="fa fa-cog fa-spin" ng-show="loading" style="margin:5px"></i>

				<button type="button" ng-hide="success"                    class="btn btn-default hidden-xs" ng-click="back()"  ng-disabled="loading">                   <i class="fa fa-arrow-left"></i> Back</button>
				<button type="button" ng-show="!success && hasPrintShop()" class="btn btn-success" ng-click="printShop()"       ng-disabled="!canPrintShop() || loading"><i class="fa fa-print"></i> <i class="fa fa-print"></i> <i class="fa fa-print"></i> Print Shop</button>
				<button type="submit" ng-show="!success"                   class="btn btn-primary" form="printForm"             ng-class="{ disabled : !canPrint() }" ng-disabled="loading"><i class="fa fa-print"></i> Print</button>
				<button type="button"                                      class="btn btn-default" ng-click="close(success)"    ng-disabled="loading">                   <i class="fa fa-power-off"></i> <span class="hidden-xs">Close</span></button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
