<div>
    <div class="btn-group" ng-show="documents().length">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            <ng-pluralize count="documents().length" when="{'one': '1 document', 'other': '{{documents().length}} documents'}"></ng-pluralize>
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu text-left" role="menu">
            <li style="font-size:inherit">
                <a style="cursor:pointer;font-size:14px" ng-click="download()">
                    <i class="fa fa-arrow-circle-down"></i> Download
                </a>
                <a style="cursor:pointer;font-size:14px" ng-show="canPrint()" ng-click="print()">
                    <i class="fa fa-print"></i> Print
                </a>
            </li>
            <li class="divider"></li>
            <li style="font-size:inherit">
                <a style="cursor:pointer;font-size:14px" ng-click="clear()"><i class="fa fa-times-circle"></i> Clear selection</a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="d in documents()|orderBy:'symbol'">
                <a style="cursor:pointer;font-size:14px" ng-click="remove(d.symbol)" style="font-size:14px"><i class="fa fa-times"></i> {{d.symbol}}</a>
            </li>
        </ul>
    </div>

    <button id="checkout" ng-hide="disabled" type="button" class="btn btn-primary" ng-click="checkout()" data-content="Please select document(s) using the checkbox!">
        <ng-pluralize count="documents().length" when="{'0': 'Request copy »', 'one': 'Request copy »', 'other': 'Request copies »'}">
    </button>

</div>
