<div>
    <style>
        .slaask-button {
            z-index: 1000000;
        }

        .ngdialog.printsmart {
            z-index: 1000001;
        }

        .ngdialog.printsmart .ngdialog-content {
            background-color: transparent;
            padding: 0px;
        }

        .ngdialog.printsmart .ngdialog-content {
          width: 650px;
        }

        @media (max-width: 768px ) { 

            .ngdialog.printsmart .btn,
            .ngdialog.printsmart .fa,
            .ngdialog.printsmart .modal-title, 
            .ngdialog.printsmart .control-label, 
            .ngdialog.printsmart button[type="button"]
            {
                zoom: 1.25;
            }

            .ngdialog.printsmart .ngdialog-content,
            .ngdialog.printsmart .ngdialog-content > .modal-content {
                position: absolute;
                width:unset;
                top:0px; right: 0px; bottom:0px; left:0px;
            }

            .ngdialog.printsmart .ngdialog-content > .modal-content {
                border:none;
                border-radius: 0px;
                overflow-y:scroll;
            }

            .ngdialog.printsmart .ngdialog-content > .modal-content > .modal-header {
                position: fixed;
                right: 0px; top:0px; left:0px;
                background-color: white;
                z-index: 1;
            }

            .ngdialog.printsmart .ngdialog-content > .modal-content > .modal-body {
                margin-top: 64px;
                margin-bottom: 73px;
            }


            .ngdialog.printsmart .ngdialog-content > .modal-content > .modal-footer {
                position: fixed;
                right: 0px; bottom:0px; left:0px;
                background-color: white;
            }
        }

        .mobile-app .modal-footer { 
            padding-bottom: 60px; 
        }
        .mobile-app .ngdialog.printsmart .ngdialog-content > .modal-content > .modal-body {
            margin-bottom: 120px;
        }
    </style>
    <div class="btn-group">

        <button id="checkout" ng-hide="disabled" type="button" class="btn btn-primary" ng-click="checkout()" data-toggle="popover" title="Document selection" data-content="Please select document(s) using the checkbox!">
            <ng-pluralize class="hidden-xs"         count="documents().length||0" when="{'0' : 'No document selected', '1': 'Get the document »', 'other': 'Get the {{documents().length}} documents »'}"></ng-pluralize>
            <ng-pluralize class="visible-xs-inline" count="documents().length||0" when="{'0' : 'No document',          '1': 'Get document',       'other': 'Get {{documents().length}} documents »'}"></ng-pluralize>
        </button>

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right text-left" role="menu">

            <li style="font-size:inherit" ng-class="{ disabled : !documents().length }">
                <a style="cursor:pointer;font-size:14px" ng-click="download()">
                    <i class="fa fa-arrow-circle-down"></i> Download <span ng-if="downloadableDocuments().length">({{downloadableDocuments().length}})</span>
                </a>
            </li>

            <li style="font-size:inherit" ng-if="allowPrint" ng-class="{ disabled : !printableDocuments().length }">
                <a style="cursor:pointer;font-size:14px" ng-show="allowPrint" ng-click="print()">
                    <i class="fa fa-print"></i> Request Prints <span ng-if="printableDocuments().length">({{printableDocuments().length}})</span>
                </a>
            </li>

            <li class="divider"></li>

            <li style="font-size:inherit" ng-class="{ disabled : !documents().length }">
                <a style="cursor:pointer;font-size:14px" ng-click="clear()"><i class="fa fa-times-circle"></i> Clear selection</a>
            </li>

            <li ng-if="documents().length" class="divider"></li>

            <li ng-repeat="d in documents()|orderBy:'sortKey'" title="{{d.title|lstring}}">
                <a style="cursor:pointer;font-size:14px" ng-click="remove(d); documents().length && $event.stopPropagation();" style="font-size:14px"><i class="fa fa-times"></i> {{displayText(d)}}</a>
            </li>
        </ul>
    </div>


</div>
