		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="printCtrl.close(printCtrl.success)" aria-hidden="true">×</button>
				<h4 class="modal-title">
					<i class="fa fa-print"></i>
					Request prints - {{printCtrl.documents.length}} document(s)
					<i class="fa fa-cog fa-spin" ng-show="printCtrl.loading"></i>
				</h4>
			</div>
			<div class="modal-body">

				<form id="printForm" name="printForm" novalidate class="form-horizontal" ng-submit="printCtrl.print()" ng-hide="printCtrl.success">

					<div class="form-group" ng-class="{ 'has-warning' : (printForm.$submitted && printForm.languages.$error.required) }">
						<label for="preferedLanguage" class="col-sm-4 control-label">Prefered language(s)</label>
						<div class="col-sm-6">
							<div class="row">
								<div ng-repeat="language in printCtrl.languages" class="col-sm-6 col-xs-6">
									<a class="btn btn-link" ng-click="printCtrl.selectedLanguages[language] = !printCtrl.selectedLanguages[language]" style="color:black;text-decoration:none;text-align:left" ng-style="{ opacity: (!printCtrl.selectedLanguages[language] ? 0.65 : 1) }" >
                                        <checkbox ng-model="printCtrl.selectedLanguages[language]" style="font-size:20px"></checkbox>
                                        <span ng-switch="language">
                                            <span ng-switch-when="ar">العربية</span>
                                            <span ng-switch-when="en">English</span>
                                            <span ng-switch-when="es">Español</span>
                                            <span ng-switch-when="fr">Français</span>
                                            <span ng-switch-when="ru">Русский</span>
                                            <span ng-switch-when="zh">中文</span>
                                            <span ng-switch-default>{{language|uppercase}}</span>
                                        </span>
									</a>
								</div>
							</div>

							<span class="help-block" ng-show="printForm.$submitted && printForm.languages.$error.required">Select at least one language.</span>

						</div>

					</div>

					<div class="form-group" ng-class="{ 'has-warning' : printCtrl.error.error=='INVALID_BADGE_ID' || (printForm.$submitted && (printForm.badgeCode.$error.required || printForm.badgeCode.$error.pattern)) }">
						<label for="badgeCode" class="col-sm-4 control-label">Badge number</label>
						<div class="col-sm-6">
							<input type="text" required ng-change="printCtrl.error=null" class="form-control" id="badgeCode" name="badgeCode" placeholder="1234-5678" maxlength="9" ng-model="printCtrl.badgeCode" pattern="[0-9\-]{8,9}">
							<span class="help-block"ng-show="printForm.$submitted && (printForm.badgeCode.$error.required||printForm.badgeCode.$error.pattern)">Enter badge number to request printed hard copies.</span>
						</div>
					</div>


				</form>

				<div class="alert alert-warning" ng-show="printCtrl.error" ng-switch="printCtrl.error.error">

					<span ng-switch-when="INVALID_BADGE_ID">
						<img style="margin:3px" class="pull-right" src="/app/images/sample-barcode.png">
						<b>Sorry!</b> Your CBD Badge number is invalid.
						<br/>You must provide the number located on the top right of your CBD meeting access badge.
					</span>

					<span ng-switch-when="INVALID_BADGE_REVOKED">
						<b>Sorry!</b> Your CBD Badge has been revoked. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="INVALID_BADGE_EXPIRED">
						<b>Sorry!</b> Your CBD Badge has expired. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="INVALID_BADGE_NOT_PRINTSMART_ENABLED">
						<b>Sorry!</b> Your CBD Badge is not enabled for PrintSmart. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="NO_SERVICE">
						<b>Error: service is unavailable!</b> Sorry, the PrintSmart service is not available at this moment.<br>
						Please wait 5 minutes and try again or go to the registration desk or document distribution counter for further assitance.
					</span>

					<span ng-switch-default>
						<b>Sorry!</b> {{printCtrl.error.message||'Unknown error.'}} <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

				</div>

				<div class="alert alert alert-success" ng-show="printCtrl.success">
					<b>Your hard copies are on their way...</b> <br/>
					The document(s) you requested are getting printed. You are invited to claim them at the document distribution counter.
				</div>

			</div>

			<div class="modal-footer" style="white-space:nowrap">

				<i class="fa fa-cog fa-spin" ng-show="printCtrl.loading" style="margin:5px"></i>

				<button type="button" ng-hide=" printCtrl.success"                           class="btn btn-default hidden-xs" ng-click="printCtrl.close('checkout')"           ng-disabled="printCtrl.loading">                          <i class="fa fa-arrow-left"></i> Back</button>
				<button type="button" ng-show="!printCtrl.success && printCtrl.hasPrintShop" class="btn btn-success"           ng-click="printCtrl.printShop()"                 ng-disabled="printCtrl.loading || !printCtrl.canPrint()"> <i class="fa fa-print"></i> <i class="fa fa-print"></i> <i class="fa fa-print"></i> Print Shop</button>
				<button type="submit" ng-show="!printCtrl.success"   form="printForm"        class="btn btn-primary"           ng-class="{ disabled : !printCtrl.canPrint() }"  ng-disabled="printCtrl.loading">                          <i class="fa fa-print"></i> Send print request</button>
				<button type="button"                                                        class="btn btn-default"           ng-click="printCtrl.close(printCtrl.success && 'clear')"   ng-disabled="printCtrl.loading">                          <i class="fa fa-power-off"></i> <span class="hidden-xs">Close</span></button>

			</div>
		</div><!-- /.modal-content -->
