<div class="decision-tracking">
<style>
    .decision-tracking {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 3;
    }
    
    .decision-tracking > div > .container {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        padding: 10px;
    }
    .ngdialog-content { background: transparent !important };

    H1 {
        font-size: 18px;
    }
    .edit-decision #content var {
        border: 1px solid #c7254e;
        background-color: #f9f2f4;
        padding: 0 1px 0 2px;
        color: #c7254e;
        margin-right: 4px;
        font-style: normal;
    }
    .edit-decision #content i {
        border-right: 2px solid #c7254e;
        border-left: 2px solid #c7254e;
        background-color: #f9f2f4;
        color: #337ab7;
    }
    .edit-decision #content b {
        background-color: #f4f2f9;
        color: #5e15d7;
    }
    .edit-decision #content em {
        background-color: #f4f2f9;
        color: #4e25c7;
    }

    .edit-decision element {
        position: relative;

    }
    .edit-decision element[data-type]::before {
        content: attr(data-type);
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        border-radius: 4px;
        position: relative;
        padding:3px 8px;
        display: block;
        top:-7px;
        left: -9px;
        font-family: "Helvetica Neue";
        font-size: 13px;
        font-weight: bold;
        color: #888;
        width: 140px;
        z-index:1;
    }

    .edit-decision button.comment {
        position: absolute;
        top:0px;
        right: 0px;
        z-index:1;
        margin: 0px
    }

    .edit-decision button.edit {
        position: absolute;
        top:0px;
        right: 20px;
        z-index:1;
        margin: 0px
    }

    .edit-decision element[has-comment]::after {
        color: white;
        background-color: BLUE;
    }

    .edit-decision element {
        display: block;
        border: 1px solid #888;
        border-radius: 4px;
        padding:8px;
        margin-top:6px;
        margin-bottom:6px;
        background-color: rgba(255,255,255,0.85);
        min-height: 40px;
        cursor: pointer;
    }
    .edit-decision element.selected {
        border: 4px solid blue;
        border-radius: 4px;
        padding:5px;
        background-color: #dfd;
        cursor: text;
    }

    .edit-decision .add-button {
        border-color: blue;
    }

    .edit-decision element[data-type=title] {
        font-size: 20px;
    }

    .edit-decision button.comment,
    .edit-decision button.edit,
    .edit-decision button.comment:hover,
    .edit-decision button.edit:hover {
        text-decoration: none;
    }

    .edit-decision button.comment,
    .edit-decision button.edit {
        color: #aaa;
    }


    .edit-decision button.comment.has-comments {
        color: blue;
    }

    .edit-decision button.comment              > .fa-comment-o  { display: inline; }
    .edit-decision button.comment              > .fa-comments-o { display: none; }
    .edit-decision button.comment.has-comments > .fa-comment-o  { display: none; }
    .edit-decision button.comment.has-comments > .fa-comments-o { display: inline; }

    select.btn { max-width: 125px;}

    .edit-decision .bg-orange{
        background-color:#6F5495!important;
        xbackground-color:#fa6938!important;
        color:white!important;
        font-family: "Helvetica Neue", Helvetica, sans-serif, "Trebuchet MS";
        font-size: 14px;
        font-weight: bold;
        -webkit-font-smoothing:antialiased;
        padding: 10px 16px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-top-color: rgb(221, 221, 221);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .edit-decision .document {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
</style>

<div ng-show="paramError" class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning">
          <span ng-switch="paramError">
              <span ng-switch-when="session_invalid"><b>Meeting number is invalid.</b><br>Must be a number greater than 0.</span>
              <span ng-switch-when="decision_invalid"><b>Decision number is invalid.</b><br>Must be a number greater than 0.</span>
              <span ng-switch-default>Error: {{error}}</span>
          </span>
        </div>
    </div>
</div>

<div ng-hide="paramError" style="position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:4000;background-color:white">

    <div class="container" style="">

        <div style="position:fixed;top:0px;left:0px;right:0px;background-color:#ddd;z-index:1000;padding:6px">&nbsp;
            <button class="btn btn-default pull-right" ng-click="close()">Close</button>
            <button class="btn btn-success" ng-if="::canEdit" ng-click="save()">Save</button> &nbsp; &nbsp;
        </div>

        <div class="row" style="margin-top:60px;height:100%">
            <div class="col-sm-6 edit-decision" style="height:86%">

            	<div class="row" style="max-height: 150px; overflow-y: scroll">
            		<div class="col-sm-6">

                        <div class="form-group">
            		    	<label for="elementSubject">CBD Subjects</label><br>
                            <div ng-repeat="item in self.subjects" class="input-group" style="margin-bottom:2px;overflow-y:hidden" title="">
                                 <span class="form-control">{{(collections.subjectsMap[item].title|lstring)||item}}</span>
                                 <div class="input-group-append">
                                    <button ng-if="::canEdit" class="btn btn-outline-danger" ng-click="removeFrom(item, self.subjects)"><i class="fa fa-minus-circle"></i></button>
                                </div>
                            </div>
            		    	<select ng-if="::canEdit" class="btn btn-primary btn-sm" id="elementDirectedTo" ng-model="selectedSubject" ng-options="subject.identifier as (subject.title|lstring) group by collections.subjectsMap[subject.broaderTerms[0]].name for subject in collections.subjects|filter:noNarrower" ng-change="addTo(selectedSubject, self.subjects); selectedSubject=''">
                                <option value="">add a subject</option>
            				</select>
            		  	</div>
                    </div>
            		<div class="col-sm-6">

                        <div class="form-group">
            		    	<label for="elementSubject">Aichi Targets</label><br>

                            <div ng-repeat="item in self.aichiTargets" class="input-group" style="margin-bottom:2px;overflow-y:hidden">
                                <span class="form-control"> {{(collections.aichiTargetsMap[item].title|lstring)||item}}</span>
                                <div class="input-group-append">
                                   <button ng-if="::canEdit" class="btn btn-outline-danger" ng-click="removeFrom(item, self.aichiTargets)"><i class="fa fa-minus-circle"></i></button>
                               </div>
                             </div>
            		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" id="elementDirectedTo" ng-model="selectedTarget" ng-options="target.identifier as (target.title|lstring) group by collections.aichiTargetsMap[target.broaderTerms[0]].name for target in collections.aichiTargets|filter:noNarrower" ng-change="addTo(selectedTarget, self.aichiTargets); selectedTarget=''">
                                <option value="">add a target</option>
            				</select>
            		  	</div>
                    </div>
                </div>

                <div ng-if="decision">
                    <div class="bg-orange">Decision {{symbol}}</div>
                    <div class="document" style="height:100vh;overflow-y:scroll;padding:5px">
                        <h1>{{decision.title|lstring}}</h1>
                        <div ng-repeat="node in decision.nodes">
                            <edit-element 
                                ng-vue="vueOptions"
                                :decision-id="decision._id"
                                :node="node" 
                                :comments="comments" 
                                :selected-node="selectedNode"
                                :token-reader="tokenReader"
                                @update:selected-node="updateSelectedNode"
                                @change="updateDecision"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="height:100%;overflow-y:scroll;padding:10px">

                <a name="top"></a>
                <h4>
                    Formatting <small ng-if="formattingLocked"><button ng-if="::canEdit" class="btn btn-xs btn-default" ng-click="self.formattingLocked=false">edit</button></small>
                </h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="elementNodeType">Level</label>
                            <select class="form-control" id="elementNodeType" ng-model="element.nodeType" ng-disabled="!canEdit && (formattingLocked || !element)">
                                <option value=""></option>
                                <option value="title">Decision Title</option>
                                <option value="body">Decision Body</option>
                                <option value="annex">Decision Annex</option>
                                <option value="section">Section</option>
                                <option value="sectionTitle">Section Title</option>
                                <option value="paragraph">Paragraph</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementSection">Section</label>
                            <select 
                                class="form-control" 
                                id="elementSection" 
                                ng-model="element.section" 
                                ng-options="o.value as o.title for o in collections.sections" 
                                ng-disabled="!canEdit || formattingLocked || element.nodeType!='paragraph' || isDisabled(element.parentId, 'section')"
                            >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementParagraph">Paragraph</label>
                            <select 
                                class="form-control" 
                                id="elementParagraph" 
                                ng-model="element.paragraph" 
                                ng-options="o.value as o.title for o in collections.paragraphes track by o.value" 
                                ng-disabled="!canEdit || formattingLocked || element.nodeType!='paragraph' || isDisabled(element.parentId, 'paragraph')"
                            >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementItem">Item</label>
                            <select 
                                class="form-control" 
                                id="elementItem" 
                                ng-model="element.item" 
                                ng-options="o.value as o.title for o in collections.items track by o.value" 
                                ng-disabled="!canEdit || formattingLocked || element.nodeType!='paragraph' || !element.paragraph || isDisabled(element.parentId, 'item')"
                            >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementSubitem">Subitem</label>
                            <select 
                                class="form-control" 
                                id="elementSubitem" 
                                ng-model="element.subitem" 
                                ng-options="o.value as o.title for o in collections.subItems track by o.value" 
                                ng-disabled="!canEdit || formattingLocked || element.nodeType!='paragraph' || !element.paragraph || !element.item || isDisabled(element.parentId, 'subitem')"
                            >
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

        <h4 ng-if="element.nodeType=='paragraph'">
            Paragraph details
        </h4>
    	<div ng-if="element.nodeType=='paragraph'" class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    		    	<label for="elementType">Type of decision</label>
    		    	<select class="form-control" id="elementType" ng-model="element.type"  ng-disabled="!canEdit || element.nodeType!='paragraph'">
                        <option></option>
    					<option value="operational">Operational</option>
    					<option value="informational">For‎ information</option>
    				</select>
    		  	</div>

                <div class="form-group">
    		    	<label for="elementDirectedTo">Status of the decision</label><br>

                    <div ng-repeat="item in element.statuses" class="input-group" style="margin-bottom:2px" ng-disabled="element.nodeType!='paragraph'">
                        <span class="form-control">{{collections.statusesMap[item].title||item}}</span>
                        <div class="input-group-append">
                           <button ng-if="::canEdit" class="btn btn-outline-danger" ng-click="removeFrom(item, element.statuses)" ng-disabled="element.nodeType!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                       </div>
                     </div>

    		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" id="elementDirectedTo" ng-model="selectedStatus" ng-options="status.code as status.title for status in collections.statusesMap" ng-change="addTo(selectedStatus, element.statuses); selectedStatus=''" ng-disabled="element.nodeType!='paragraph'">
                        <option value="">add a status</option>
    				</select>
    		  	</div>

                <div class="form-group" ng-show="element.statuses.length || element.elementStatusDetails">
    		    	<label for="elementStatus" style="font-weight:inherit">Additional details about the status</label>
    		    	<textarea class="form-control" id="elementStatusDetails" ng-disabled="!canEdit" ng-model="element.statusInfo"></textarea>
    		  	</div>

    		</div>

            <div class="col-sm-6">

                <div class="form-group" ng-show="element.elementTimeline=='due'">
                    <label for="elementTimelineDate" style="font-weight:inherit">Details about <i>Timelines</i></label>
                    <input type='date' class="form-control" id="elementTimelineDate" ng-model="element.elementTimelineDate">
                </div>

                <div class="form-group">
    		    	<label for="elementDirectedTo">Directed to</label><br>

                    <div ng-repeat="item in element.actors" class="input-group" style="margin-bottom:2px;" title="{{collections.actorsMap[item].title||item}}" ng-disabled="element.nodeType!='paragraph'">
                        <span class="form-control">{{collections.actorsMap[item].code||item}}</span>
                        <div class="input-group-append">
                            <button ng-if="::canEdit" class="btn btn-outline-danger" ng-click="removeFrom(item, element.actors)" ng-disabled="element.nodeType!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                        </div>
                     </div>

    		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" id="elementDirectedTo" ng-model="selectedActor" ng-options="actor.code as actor.title group by actor.group for actor in collections.actorsMap" ng-change="addTo(selectedActor, element.actors)"  ng-disabled="element.nodeType!='paragraph'">
                        <option value="">add an actor</option>
    				</select>


    		  	</div>

                <div class="form-group" ng-show="element.actors.length || element.actorsInfo">
    		    	<label for="elementDirectedToDetails" style="font-weight:inherit">Additional details about the actor(s)</i></label>
    		    	<textarea class="form-control" id="elementDirectedToDetails" ng-disabled="!canEdit" ng-model="element.actorsInfo"></textarea>
    		  	</div>

    		</div>
    	</div>

        <hr ng-if="element.nodeType=='paragraph'"/>
    	<div ng-if="element.nodeType=='paragraph'" class="row">
    		<div class="col-sm-6">

                <div class="form-group">
    		    	<label for="elementSubject">CBD Subjects</label><br>
                    <div ng-repeat="item in element.subjects" class="input-group" style="margin-bottom:2px;overflow-y:hidden" title="" ng-disabled="element.nodeType!='paragraph'">
                         <span class="form-control">{{(collections.subjectsMap[item].title|lstring)||item}}</span>
                         <div class="input-group-append">
                            <button ng-if="::canEdit" class="btn btn-outline-danger" ng-click="removeFrom(item, element.subjects)" ng-disabled="element.nodeType!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                        </div>
                     </div>
    		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" id="elementDirectedTo" ng-model="selectedSubject" ng-options="subject.identifier as (subject.title|lstring) group by collections.subjectsMap[subject.broaderTerms[0]].name for subject in collections.subjects|filter:noNarrower" ng-change="addTo(selectedSubject, element.subjects); selectedSubject=''" ng-disabled="element.nodeType!='paragraph'">
                        <option value="">add a subject</option>
    				</select>
    		  	</div>
            </div>
    		<div class="col-sm-6">

                <div class="form-group">
    		    	<label for="elementSubject">Aichi Targets</label><br>

                    <div ng-repeat="item in element.aichiTargets" class="input-group" style="margin-bottom:2px;overflow-y:hidden" ng-disabled="element.nodeType!='paragraph'">
                        <span class="form-control">{{(collections.aichiTargetsMap[item].title|lstring)||item}}</span>
                        <div class="input-group-append">
                           <button ng-if="::canEdit" class="btn btn-outline-danger" ng-click="removeFrom(item, element.aichiTargets)" ng-disabled="element.nodeType!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                       </div>
                     </div>
    		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" id="elementDirectedTo" ng-model="selectedTarget" ng-options="target.identifier as (target.title|lstring) group by collections.aichiTargetsMap[target.broaderTerms[0]].name for target in collections.aichiTargets|filter:noNarrower" ng-change="addTo(selectedTarget, element.aichiTargets); selectedTarget=''" ng-disabled="element.nodeType!='paragraph'">
                        <option value="">add a target</option>
    				</select>
    		  	</div>
            </div>
        </div>

        <hr ng-if="element.nodeType=='paragraph'"/>
    	<div ng-if="element.nodeType=='paragraph'" class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label>Related decisions / recommendations</label><br>
    				<div class="panel panel-default" style="margin-top:4px;margin-bottom:4px" ng-repeat="item in element.decisions">
    		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button ng-if="::canEdit" class="btn btn-outline-danger pull-right" style="margin: -9px;" ng-click="removeFrom(item, element.decisions)"><i class="fa fa-minus-circle"></i></button>
                            <decision-reference symbol="item"></decision-reference>
    					</div>
    				</div>
    				<button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.nodeType!='paragraph'" ng-click="selectDecision()">add a decision / recommendation</button>
    			</div>

    		</div>
    		<div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Outcomes / proof of implementation</label><br>
                    <div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.meetings|orderBy">
                          <div class="panel-body" style="padding:12px;font-size:0.9em">
                            <button class="btn btn-outline-danger btn-xs pull-right" style="margin: -9px;" ng-click="removeFrom(item.symbol_s||item, element.meetings)"><i class="fa fa-minus-circle"></i></button>
                            <decision-meeting symbol="item"></decision-meeting>
                        </div>
                    </div>
                    <button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.nodeType!='paragraph'" ng-click="selectMeeting()">add an outcome</button>
                </div>

    		</div>
    	</div>

        <hr ng-if="element.nodeType=='paragraph'"/>
        <h4 ng-if="element.nodeType=='paragraph'">
            Notes
    	</h4>
    	<div ng-if="element.nodeType=='paragraph'">
    		<div class="form-group">
                <textarea rows="6" class="form-control" ng-model="element.notes" ng-disabled="!canEdit || !element"></textarea>
            </div>
        </div>

        <a name="comment"></a>
        <hr ng-if="canView && element.nodeType=='paragraph'"/>
        <h4 ng-if="canView && element.nodeType=='paragraph'">
            Programme Officers comments
    	</h4>
    	<div ng-if="canView && element.nodeType=='paragraph'">
            <internal-comments type="decision" resources="commentResources" can-edit="canEdit"></internal-comments>
        </div>

        <div style="height:200px">&nbsp;</div>

        <hr/>
        <h4 ng-if="::canDebug">
            Debug
            <i ng-hide="showDebug" class="fa fa-plus-circle" ng-click="self.showDebug=true"></i>
    	</h4>
        <pre ng-show="showDebug" ng-if="::canDebug">{{element | json}}</pre>
        <br><br>

    </div>

</div>

</div>