
<style>
    .ngdialog-content { background: transparent !important };

    H1 {
        font-size: 18px;
    }
    #content var {
        border: 1px solid #c7254e;
        background-color: #f9f2f4;
        padding: 0 1px 0 2px;
        color: #c7254e;
        margin-right: 4px;
        font-style: normal;
    }
    #content i {
        border-right: 2px solid #c7254e;
        border-left: 2px solid #c7254e;
        background-color: #f9f2f4;
        color: #337ab7;
    }
    #content b {
        background-color: #f4f2f9;
        color: #5e15d7;
    }
    #content em {
        background-color: #f4f2f9;
        color: #4e25c7;
    }
    /*div {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }*/
    element[data-type]::before {
        content: attr(data-type);
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        border-radius: 4px;
        position: relative;
        padding:3px 8px;
        display: block;
        top:-7px;
        left: -9px;
        font-family: "Helvetica Neue";
        font-size: 13px;
        font-weight: bold;
        color: #888;
        width: 140px;
        ;z-index:1;
    }
    element {
        display: block;
        border: 1px solid #888;
        border-radius: 4px;
        padding:8px;
        margin-top:6px;
        margin-bottom:6px;
        background-color: rgba(255,255,255,0.85);
        /*-moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;*/
        cursor: pointer;
    }
    element.selected {
        border: 4px solid blue;
        border-radius: 4px;
        padding:5px;
        background-color: #dfd;
        /*-moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;*/
        cursor: text;
    }
    element[data-type=title] {
        font-size: 20px;
    }
    /*element.selected div {
        -moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    #content.selected div {
        -moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }*/

    .bg-orange{
        background-color:#6F5495!important;
        xbackground-color:#fa6938!important;
        color:white!important;
        font-family: "Helvetica Neue", Helvetica, sans-serif, "Trebuchet MS";
        font-size: 14px;
        font-weight: bold;
        -webkit-font-smoothing:antialiased;
        padding: 10px 16px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-top-color: rgb(221, 221, 221);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .document {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
</style>



<div style="position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:4000;background-color:white">

    <div class="container" style="margin-left:0;margin-right:0;width:100%;height:100%">

        <div style="position:fixed;top:0px;left:0px;right:0px;background-color:#ddd;z-index:1000;padding:6px">&nbsp;
            <button class="btn btn-success" ng-click="save()">Save</button> &nbsp; &nbsp;
            <button class="btn btn-primary" ng-click="actionBox('element')">Box</button>
            <button class="btn btn-primary" ng-click="actionUnbox()">Unbox</button>
            <button class="btn btn-primary" ng-click="actionEdit()" ng-class="{ active: isEditable() }">Edit <i ng-if="isEditable()" class="fa fa-pencil" aria-hidden="true"></i></button> &nbsp; &nbsp;
            <button class="btn btn-danger"  ng-click="actionClean()">Remove formatting</button>
        </div>

        <div class="row" style="margin-top:60px;height:100%">
            <div class="col-sm-6" style="height:86%">
                <div class="bg-orange">Decision {{symbol}}</div>
                <div class="document" style="height:100%;overflow-y:scroll;padding:5px">
                    <div id='content' class='decision' style="min-height:100%"></div>
                </div>
            </div>
            <div class="col-sm-6" style="height:100%;overflow-y:scroll;background-color:#f8f8f8;padding:10px">

                <h4>
                    Formatting <small ng-if="formattingLocked"><button class="btn btn-xs btn-default" ng-click="$parent.formattingLocked=false">edit</button></small>
                </h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="elementType">Level</label>
                            <select class="form-control" id="elementType" ng-model="element.type" ng-change="tag()" ng-disabled="formattingLocked || !element">
                                <option></option>
                                <option>Decision</option>
                                <option value="title">Decision Title</option>
                                <option value="body">Decision Body</option>
                                <option value="annex">Decision Annex</option>
                                <option value="section">Section</option>
                                <option value="sectionTitle">Section Title</option>
                                <option value="paragraph">Paragraph</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementType">Section</label>
                            <select class="form-control" id="elementType" ng-model="element.section" ng-options="o.code as o.title for o in collections.sections" ng-change="tag()" ng-disabled="formattingLocked || element.type!='paragraph'">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementParagraph">Paragraph</label>
                            <select class="form-control" id="elementParagraph" ng-model="element.paragraph" ng-options="o.code as o.title for o in collections.paragraphes" ng-change="tag()" ng-disabled="formattingLocked || element.type!='paragraph'">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementItem">Item</label>
                            <select class="form-control" id="elementItem" ng-model="element.item" ng-options="o.code as o.title for o in collections.items" ng-change="tag()" ng-disabled="formattingLocked || element.type!='paragraph' || !element.data.paragraph">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementSubitem">Subitem</label>
                            <select class="form-control" id="elementSubitem" ng-model="element.subitem" ng-options="o.code as o.title for o in collections.subItems" ng-change="tag()" ng-disabled="formattingLocked || element.type!='paragraph' || !element.data.paragraph || !element.data.item">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

        <h4>
            Details
        </h4>
    	<div class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    		    	<label for="elementType">Type of decision</label>
    		    	<select class="form-control" id="elementType" ng-model="element.data.type"  ng-disabled="element.type!='paragraph'">
                        <option></option>
    					<option value="operational">Operational</option>
    					<option value="informational">For‎ information</option>
    				</select>
    		  	</div>

                <div class="form-group">
    		    	<label for="elementDirectedTo">Status of the decision</label><br>

                    <div ng-repeat="item in element.data.statuses" class="form-control" style="margin-bottom:2px" ng-disabled="element.type!='paragraph'">
                        <button class="btn btn-danger btn-xs pull-right" ng-click="deleteStatus(item)" ng-disabled="element.type!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                         {{collections.statusesMap[item].title||item}}</i>
                     </div>

                    <button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectStatuses()"><i class="fa fa-plus-circle"></i> Select status(es)</button>

    		  	</div>

                <div class="form-group" ng-show="element.data.statuses.indexOf('superseded')>=0">
    		    	<label for="elementStatus" style="font-weight:inherit">Details about <i>Superseded</i> status</label>
    		    	<textarea class="form-control" id="elementStatusDetails" ng-model="element.elementStatusDetails"></textarea>
    		  	</div>

    		</div>

            <div class="col-sm-6">

                <div class="form-group">
    		    	<label for="elementTimeline">Timelines</label>
    		    	<select class="form-control" id="elementTimeline" ng-model="element.elementTimeline"  ng-disabled="element.type!='paragraph' || true">
    					<option value='na'>Not applicable</option>
    					<option value='due'>Due date</option>
    				</select>
    		  	</div>

                <div class="form-group" ng-show="element.elementTimeline=='due'">
                    <label for="elementTimelineDate" style="font-weight:inherit">Details about <i>Timelines</i></label>
                    <input type='date' class="form-control" id="elementTimelineDate" ng-model="element.elementTimelineDate">
                </div>

                <div class="form-group">
    		    	<label for="elementDirectedTo">Directed to</label><br>

                    <div ng-repeat="item in element.data.actors" class="form-control" style="margin-bottom:2px" ng-disabled="element.type!='paragraph'">
                        <button class="btn btn-danger btn-xs pull-right" ng-click="deleteActor(item)" ng-disabled="element.type!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                         {{collections.actorsMap[item].title||item}} <i ng-if="collections.actorsMap[item].group">({{collections.actorsMap[item].group}})</i>
                     </div>

                    <button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectActors()"><i class="fa fa-plus-circle"></i> Select actor(s)</button>

    		  	</div>

                <div class="form-group" ng-show="element.data.actors.indexOf('Others' )>=0">
    		    	<label for="elementDirectedToDetails" style="font-weight:inherit">Details about <i>Other stakeholder(s)</i></label>
    		    	<textarea class="form-control" id="elementDirectedToDetails" ng-model="element.data.actorsInfo"></textarea>
    		  	</div>

    		</div>
    	</div>
        <hr/>
    	<h4>
    		Related Information
    	</h4>
    	<div class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label>Related decisions</label><br>
    				<div class="panel panel-default" style="margin-top:4px;margin-bottom:4px" ng-repeat="item in element.data.decisions">
    		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button class="btn btn-danger btn-xs pull-right" ng-click="deleteDecision(item)"><i class="fa fa-minus-circle"></i></button>
    						<a href="#"><b>{{item}}</b></a>
    						<div style="max-height:50px;overflow:hidden">
    							TODO
    						</div>
    					</div>
    				</div>
    				<button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectDecision()"><i class="fa fa-plus-circle"></i> add a decision</button>
    			</div>

                <div class="form-group">
    				<label for="exampleInputEmail1">Related documents</label><br>
    				<div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.data.documents|orderBy|_:'map':lookupMeetingDocument">
    					<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button class="btn btn-danger btn-xs pull-right" ng-click="deleteMeetingDocument(item.symbol_s||item)"><i class="fa fa-minus-circle"></i></button>
    						<a href="{{item.url}}" target="meetingDocument"><b>{{item.symbol_s}}</b></a>
                    		<div ng-show="item.title_t" style="max-height:50px;overflow:hidden">
    							{{item.title_t}}
    						</div>
    						<div ng-hide="true"  style="margin-top:4px">
    							<i class="fa fa-file-pdf-o"></i>
    							<a href="#">arabic</a> |
    							<a href="#">chinese</a> |
    							<a href="#">english</a> |
    							<a href="#">french</a> |
    							<a href="#">spanish</a> |
    							<a href="#">russian</a>
    						</div>
    					</div>
    				</div>
    				<button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectMeetingDocument()"><i class="fa fa-plus-circle"></i> add a document</button>
    			</div>

    		</div>
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label for="exampleInputEmail1">Notifications issued</label><br>
    				<div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.data.notifications|orderBy|_:'map':lookupNotification">
    		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button class="btn btn-danger btn-xs pull-right" ng-click="deleteNotification(item.symbol_s||item.symbol_t||item)"><i class="fa fa-minus-circle"></i></button>
                            <a ng-href="{{item.url_ss[0]}}" target="notifications"><b>{{item.reference_t||item.reference_s}}</b> <i>({{item.symbol_s||item.symbol_t||item}})</i></a>
    						<div style="max-height:50px;overflow:hidden" title="{{item.title_t}}" ng-bind-html="item.title_t">
    						</div>
    						<i class="fa fa-calendar fa-fw"></i> {{item.date_dt|moment:'utc'|moment:'format':'LL'}}
    					</div>
    				</div>
    				<button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectNotification()"><i class="fa fa-plus-circle"></i> add a notification</button>
    			</div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Related activities / outcomes</label><br>
                    <div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.data.meetings|orderBy|_:'map':lookupMeeting">
                          <div class="panel-body" style="padding:12px;font-size:0.9em">
                            <button class="btn btn-danger btn-xs pull-right" ng-click="deleteMeeting(item.symbol_s||item)"><i class="fa fa-minus-circle"></i></button>
                            <a href="#"><b>{{::item.symbol_s}}</b></a>
                            <div style="max-height:50px;overflow:hidden">
                                {{::item.title_EN_t}}
                            </div>

                            <i class="fa fa-calendar fa-fw"></i>
                            <span ng-if="(item.startDate_dt|moment:'month')==(item.endDate_dt|moment:'month')">{{item.startDate_dt|moment:'format':'D'}} - {{item.endDate_dt|moment:'format':'D MMMM YYYY'}}</span>
                            <span ng-if="(item.startDate_dt|moment:'month')!=(item.endDate_dt|moment:'month')">{{item.startDate_dt|moment:'format':'D MMM'}} - {{item.endDate_dt|moment:'format':'D MMM YYYY'}}</span>
                            <br>
                            <i class="fa fa-map-marker fa-fw"></i> {{::item.eventCity_EN_t}}, {{::item.eventCountry_EN_t}}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectMeeting()"><i class="fa fa-plus-circle"></i> add an event</button>
                </div>

    		</div>
    	</div>
        <hr/>
        <h4>
            Submissions
    	</h4>
    	<div>
    		<div class="form-group">

                <div ng-repeat="item in element.data.files" class="form-control" style="margin-bottom:2px">
                    <button class="btn btn-danger btn-xs pull-right" ng-click="deleteFile(item)"><i class="fa fa-minus-circle"></i></button>
                     <i class="fa fa-file-pdf-o" style="color:red"></i> <a ng-href="{{buildFileUrl(item)}}" target="_blank">{{item.filename}}</a> <i>({{item.size/1024 | number:1}} kB)</i>
                 </div>

    		</div>

    		<div ng-repeat="item in uploads" ng-class="{ 'has-error' : item.error }" class="form-group">
                <div class="form-control" style="margin-bottom:2px">
                    <button ng-if=" item.error" class="btn btn-danger  btn-xs pull-right" ng-click="uploads.splice($index, 1)"><i class="fa fa-minus-circle"></i></button>

                    <span ng-if="!item.error">
                        <button class="btn btn-default btn-xs pull-right"><i class="fa fa-cog fa-spin"></i></button>
                        <i class="fa fa-file-pdf-o" style="color:red"></i>
                        <a>{{item.filename}}</a> <i>({{item.size/1024 | number:1}} kB)</i>
                    </span>

                    <span ng-if="item.error">
                        <i class="fa fa-exclamation-circle text-danger"></i>
                        <span class="text-danger"> Error occured while uploading file: </span>
                        {{item.filename}} <i>({{item.size/1024 | number:1}} kB)</i>
                    </span>

                 </div>
    		</div>
            <button class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="upload()"><i class="fa fa-plus-circle"></i> upload document(s)</button>
    	</div>

        <hr/>
        <h4>
            Notes
    	</h4>
    	<div>
    		<div class="form-group">
                <textarea rows="6" class="form-control" ng-model="element.data.notes" ng-disabled="!element"></textarea>
            </div>
        </div>

        <hr/>
        <h4>
            Debug
    	</h4>
            <pre>{{element | json}}</pre>
        <br><br>

    </div>

</div>
