
<style>
    .ngdialog-content { background: transparent !important };

    H1 {
        font-size: 18px;
    }
    .edit-decision #content var {
        border: 1px solid #c7254e;
        background-color: #f9f2f4;
        padding: 0 1px 0 2px;
        color: #c7254e;
        margin-right: 4px;
        font-style: normal;
    }
    .edit-decision #content i {
        border-right: 2px solid #c7254e;
        border-left: 2px solid #c7254e;
        background-color: #f9f2f4;
        color: #337ab7;
    }
    .edit-decision #content b {
        background-color: #f4f2f9;
        color: #5e15d7;
    }
    .edit-decision #content em {
        background-color: #f4f2f9;
        color: #4e25c7;
    }
    /*div {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }*/

    .edit-decision element[data-type] {
        position: relative;

    }
    .edit-decision element[data-type]::before {
        content: attr(data-type);
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        border-radius: 4px;
        position: relative;
        padding:3px 8px;
        display: block;
        top:-7px;
        left: -9px;
        font-family: "Helvetica Neue";
        font-size: 13px;
        font-weight: bold;
        color: #888;
        width: 140px;
        ;z-index:1;
    }

    .edit-decision button.comment {
        position: absolute;
        top:0px;
        right: 0px;
        z-index:1;
        margin: 0px
    }

    .edit-decision element[has-comment]::after {
        color: white;
        background-color: BLUE;
    }

    .edit-decision element {
        display: block;
        border: 1px solid #888;
        border-radius: 4px;
        padding:8px;
        margin-top:6px;
        margin-bottom:6px;
        background-color: rgba(255,255,255,0.85);
        /*-moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;*/
        cursor: pointer;
    }
    .edit-decision element.selected {
        border: 4px solid blue;
        border-radius: 4px;
        padding:5px;
        background-color: #dfd;
        /*-moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;*/
        cursor: text;
    }
    .edit-decision element[data-type=title] {
        font-size: 20px;
    }

    .edit-decision button.comment,
    .edit-decision button.comment:hover {
        text-decoration: none;
    }

    .edit-decision button.comment {
        color: #aaa;
    }


    .edit-decision button.comment.has-comments {
        color: blue;
    }

    .edit-decision button.comment              > .fa-comment-o  { display: inline; }
    .edit-decision button.comment              > .fa-comments-o { display: none; }
    .edit-decision button.comment.has-comments > .fa-comment-o  { display: none; }
    .edit-decision button.comment.has-comments > .fa-comments-o { display: inline; }


    /*element.selected div {
        -moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    #content.selected div {
        -moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }*/

    .edit-decision .bg-orange{
        background-color:#6F5495!important;
        xbackground-color:#fa6938!important;
        color:white!important;
        font-family: "Helvetica Neue", Helvetica, sans-serif, "Trebuchet MS";
        font-size: 14px;
        font-weight: bold;
        -webkit-font-smoothing:antialiased;
        padding: 10px 16px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-top-color: rgb(221, 221, 221);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .edit-decision .document {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
</style>

<div ng-show="paramError" class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning">
          <span ng-switch="paramError">
              <span ng-switch-when="session_invalid"><b>Meeting number is invalid.</b><br>Must be a number greater than 0.</span>
              <span ng-switch-when="decision_invalid"><b>Decision number is invalid.</b><br>Must be a number greater than 0.</span>
              <span ng-switch-default>Error: {{error}}</span>
          </span>
        </div>
    </div>
</div>

<div ng-hide="paramError" style="position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:4000;background-color:white">

    <div class="container" style="margin-left:0;margin-right:0;width:100%;height:100%">

        <div style="position:fixed;top:0px;left:0px;right:0px;background-color:#ddd;z-index:1000;padding:6px">&nbsp;
            <button class="btn btn-default pull-right" ng-click="close()">Close</button>
            <button class="btn btn-success" ng-if="::canEdit" ng-click="save()">Save</button> &nbsp; &nbsp;
            <button class="btn btn-primary" ng-if="::canEdit" ng-click="actionBox('element')">Box</button>
            <button class="btn btn-primary" ng-if="::canEdit" ng-click="actionUnbox()">Unbox</button>
            <button class="btn btn-primary" ng-if="::canEdit" ng-click="actionEdit()" ng-class="{ active: isEditable() }">Edit <i ng-if="isEditable()" class="fa fa-pencil" aria-hidden="true"></i></button> &nbsp; &nbsp;
            <button class="btn btn-danger"  ng-if="::canEdit" ng-click="actionClean()">Remove formatting</button>
        </div>

        <div class="row" style="margin-top:60px;height:100%">
            <div class="col-sm-6 edit-decision" style="height:86%">
                <div class="bg-orange">Decision {{symbol}}</div>
                <div class="document" style="height:100%;overflow-y:scroll;padding:5px">
                    <div id='content' class='decision' style="min-height:100%"></div>
                </div>
            </div>
            <div class="col-sm-6" style="height:100%;overflow-y:scroll;padding:10px">

                <a name="top"></a>
                <h4>
                    Formatting <small ng-if="formattingLocked"><button ng-if="::canEdit" class="btn btn-xs btn-default" ng-click="$parent.formattingLocked=false">edit</button></small>
                </h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="elementType">Level</label>
                            <select class="form-control" id="elementType" ng-model="element.type" ng-change="tag()" ng-disabled="!canEdit && (formattingLocked || !element)">
                                <option value=""></option>
                                <option value="title">Decision Title</option>
                                <option value="body">Decision Body</option>
                                <option value="annex">Decision Annex</option>
                                <option value="section">Section</option>
                                <option value="sectionTitle">Section Title</option>
                                <option value="paragraph">Paragraph</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementType">Section</label>
                            <select class="form-control" id="elementType" ng-model="element.section" ng-options="o.code as o.title for o in collections.sections" ng-change="tag()" ng-disabled="!canEdit || formattingLocked || element.type!='paragraph'">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementParagraph">Paragraph</label>
                            <select class="form-control" id="elementParagraph" ng-model="element.paragraph" ng-options="o.code as o.title for o in collections.paragraphes" ng-change="tag()" ng-disabled="!canEdit || formattingLocked || element.type!='paragraph'">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementItem">Item</label>
                            <select class="form-control" id="elementItem" ng-model="element.item" ng-options="o.code as o.title for o in collections.items" ng-change="tag()" ng-disabled="!canEdit || formattingLocked || element.type!='paragraph' || !element.data.paragraph">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="elementSubitem">Subitem</label>
                            <select class="form-control" id="elementSubitem" ng-model="element.subitem" ng-options="o.code as o.title for o in collections.subItems" ng-change="tag()" ng-disabled="!canEdit || formattingLocked || element.type!='paragraph' || !element.data.paragraph || !element.data.item">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

        <h4 ng-if="element.type=='paragraph'">
            Details
        </h4>
    	<div ng-if="element.type=='paragraph'" class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    		    	<label for="elementType">Type of decision</label>
    		    	<select class="form-control" id="elementType" ng-model="element.data.type"  ng-disabled="!canEdit || element.type!='paragraph'">
                        <option></option>
    					<option value="operational">Operational</option>
    					<option value="informational">For‎ information</option>
    				</select>
    		  	</div>

                <div class="form-group">
    		    	<label for="elementDirectedTo">Status of the decision</label><br>

                    <div ng-repeat="item in element.data.statuses" class="form-control" style="margin-bottom:2px" ng-disabled="element.type!='paragraph'">
                        <button ng-if="::canEdit" class="btn btn-danger btn-xs pull-right" ng-click="deleteStatus(item)" ng-disabled="element.type!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                         {{collections.statusesMap[item].title||item}}</i>
                     </div>

    		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" id="elementDirectedTo" ng-model="selectedStatus" ng-options="status.code as status.title for status in collections.statusesMap" ng-change="selectStatuses()" ng-disabled="element.type!='paragraph'">
                        <option value="">add a status</option>
    				</select>
    		  	</div>

                <div class="form-group" ng-show="element.data.statuses.indexOf('superseded')>=0 || element.data.statuses.indexOf('retired')>=0 || element.elementStatusDetails">
    		    	<label for="elementStatus" style="font-weight:inherit">Details about <i>Superseded / Retired</i> status</label>
    		    	<textarea class="form-control" id="elementStatusDetails" ng-disabled="!canEdit" ng-model="element.data.statusInfo"></textarea>
    		  	</div>

    		</div>

            <div class="col-sm-6">

                <div class="form-group">
    		    	<label for="elementTimeline">Timelines</label>
    		    	<select class="form-control" id="elementTimeline" ng-model="element.elementTimeline"  ng-disabled="element.type!='paragraph' || true">
    					<option value='na'>Not applicable</option>
    					<option value='due'>Due date</option>
    				</select>
    		  	</div>

                <div class="form-group" ng-show="element.elementTimeline=='due'">
                    <label for="elementTimelineDate" style="font-weight:inherit">Details about <i>Timelines</i></label>
                    <input type='date' class="form-control" id="elementTimelineDate" ng-model="element.elementTimelineDate">
                </div>

                <div class="form-group">
    		    	<label for="elementDirectedTo">Directed to</label><br>

                    <div ng-repeat="item in element.data.actors" class="form-control" style="margin-bottom:2px;" title="{{collections.actorsMap[item].title||item}}" ng-disabled="element.type!='paragraph'">
                        <button ng-if="::canEdit" class="btn btn-danger btn-xs pull-right" ng-click="deleteActor(item)" ng-disabled="element.type!='paragraph'"><i class="fa fa-minus-circle"></i></button>
                         {{collections.actorsMap[item].code||item}}
                     </div>

    		    	<select ng-if="::canEdit" class="btn btn-primary btn-xs" style="width:100px" id="elementDirectedTo" ng-model="selectedActor" ng-options="actor.code as actor.title group by actor.group for actor in collections.actorsMap" ng-change="selectActors()"  ng-disabled="element.type!='paragraph'">
                        <option value="">add an actor</option>
    				</select>


    		  	</div>

                <div class="form-group" ng-show="element.data.actors.indexOf('Others' )>=0 || element.data.actorsInfo">
    		    	<label for="elementDirectedToDetails" style="font-weight:inherit">Details about <i>Other stakeholder(s)</i></label>
    		    	<textarea class="form-control" id="elementDirectedToDetails" ng-disabled="!canEdit" ng-model="element.data.actorsInfo"></textarea>
    		  	</div>

    		</div>
    	</div>
        <hr ng-if="element.type=='paragraph'"/>
    	<h4 ng-if="element.type=='paragraph'">
    		Related Information
    	</h4>
    	<div ng-if="element.type=='paragraph'" class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label>Related decisions</label><br>
    				<div class="panel panel-default" style="margin-top:4px;margin-bottom:4px" ng-repeat="item in element.data.decisions">
    		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button ng-if="::canEdit" class="btn btn-danger btn-xs pull-right" ng-click="deleteDecision(item)"><i class="fa fa-minus-circle"></i></button>
                            <decision-reference symbol="item"></decision-reference>
    					</div>
    				</div>
    				<button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectDecision()">add a decision</button>
    			</div>

                <div class="form-group">
    				<label for="exampleInputEmail1">Related documents</label><br>

    				<div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.data.documents|orderBy">
    					<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button ng-if="::canEdit" class="btn btn-danger btn-xs pull-right" ng-click="deleteMeetingDocument(item)"><i class="fa fa-minus-circle"></i></button>
                            <decision-meeting-document symbol="item"></decision-meeting-document>
    					</div>
    				</div>
    				<button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectMeetingDocument()">add a document</button>
    			</div>

    		</div>
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label for="exampleInputEmail1">Notifications issued</label><br>
    				<div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.data.notifications|orderBy">
    		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
    						<button ng-if="::canEdit" class="btn btn-danger btn-xs pull-right" ng-click="deleteNotification(item)"><i class="fa fa-minus-circle"></i></button>
                            <decision-notification symbol="item"></decision-notification>
    					</div>
    				</div>
    				<button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectNotification()">add a notification</button>
    			</div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Related activities / outcomes</label><br>
                    <div class="panel panel-default" style="margin-bottom:4px" ng-repeat="item in element.data.meetings|orderBy">
                          <div class="panel-body" style="padding:12px;font-size:0.9em">
                            <button class="btn btn-danger btn-xs pull-right" ng-click="deleteMeeting(item.symbol_s||item)"><i class="fa fa-minus-circle"></i></button>
                            <decision-meeting symbol="item"></decision-meeting>
                        </div>
                    </div>
                    <button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="selectMeeting()">add an outcome</button>
                </div>

    		</div>
    	</div>
        <hr ng-if="element.type=='paragraph'"/>
        <h4 ng-if="element.type=='paragraph'">
            Submissions
    	</h4>
    	<div ng-if="element.type=='paragraph'">
    		<div class="form-group">

                <div ng-repeat="item in element.data.files" class="form-control" style="margin-bottom:2px">
                    <button ng-if="::canEdit" class="btn btn-danger btn-xs pull-right" ng-click="deleteFile(item)"><i class="fa fa-minus-circle"></i></button>
                     <i class="fa fa-file-pdf-o" style="color:red"></i> <a ng-href="{{buildFileUrl(item)}}" target="_blank">{{item.filename}}</a> <i>({{item.size/1024 | number:1}} kB)</i>
                 </div>

    		</div>

    		<div ng-repeat="item in uploads" ng-class="{ 'has-error' : item.error }" class="form-group">
                <div class="form-control" style="margin-bottom:2px">
                    <button ng-if=" item.error" class="btn btn-danger  btn-xs pull-right" ng-click="uploads.splice($index, 1)"><i class="fa fa-minus-circle"></i></button>

                    <span ng-if="!item.error">
                        <button class="btn btn-default btn-xs pull-right"><i class="fa fa-cog fa-spin"></i></button>
                        <i class="fa fa-file-pdf-o" style="color:red"></i>
                        <a>{{item.filename}}</a> <i>({{item.size/1024 | number:1}} kB)</i>
                    </span>

                    <span ng-if="item.error">
                        <i class="fa fa-exclamation-circle text-danger"></i>
                        <span class="text-danger"> Error occured while uploading file: </span>
                        {{item.filename}} <i>({{item.size/1024 | number:1}} kB)</i>
                    </span>

                 </div>
    		</div>
            <button ng-if="::canEdit" class="btn btn-primary btn-xs" ng-disabled="element.type!='paragraph'" ng-click="upload()"><i class="fa fa-plus-circle"></i> upload document(s)</button>
    	</div>

        <hr ng-if="element.type=='paragraph'"/>
        <h4 ng-if="element.type=='paragraph'">
            Notes
    	</h4>
    	<div ng-if="element.type=='paragraph'">
    		<div class="form-group">
                <textarea rows="6" class="form-control" ng-model="element.data.notes" ng-disabled="!canEdit || !element"></textarea>
            </div>
        </div>

        <a name="comment"></a>
        <hr ng-if="canView && element.type=='paragraph'"/>
        <h4 ng-if="canView && element.type=='paragraph'">
            Programme Officers comments
    	</h4>
    	<div ng-if="canView && element.type=='paragraph'">
            <table class="table table-striped">
                <tr >
                    <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
                    <th>User</th>
                    <th>Comment(s)</th>
                </tr>
                <tr ng-repeat='c in comments[element.code]'>
                    <td style="width:1%" class="text-nowrap" title="{{c.date|date:'yyyy-MM-dd HH:mm.ss'}}">{{c.date|moment:'fromNow':true}}</td>
                    <td style="width:1%" class="text-nowrap" title="{{c.user.name}}">{{initials(c.user.name)}}</td>
                    <td>
                        <div class="dropdown pull-right" ng-if="c.user.id==user.userID || canEdit">
                          <button class="btn btn-danger btn-xs  dropdown-toggle" type="button" data-toggle="dropdown">
                              <i class="fa fa-minus-circle"></i>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#"href="#" ng-click="deleteComment(c._id)">Delete comment</a></li>
                          </ul>
                        </div>
                        <div style="white-space:pre">{{c.text}}</div>
                    </td>
                </tr>
                <tr>
                    <td style="width:1%" class="text-nowrap">Now</td>
                    <td style="width:1%" class="text-nowrap" title="{{user.name}}">{{initials(user.name)}}</td>
                    <td>
                        <div class="input-group" style="position:relative">
                            <textarea rows="3" class="form-control" ng-model="comment" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }" ng-disabled="!canView || !element" placeholder="type your comment here"></textarea>
                            <span class="input-group-addon" style="padding:0px;" ng-click="postComment(comment); comment=null;">
                                <button class="btn btn-link" ng-disabled="!comment">Save</button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <hr/>
        <h4 ng-if="::canDebug">
            Debug
            <i ng-hide="showDebug" class="fa fa-plus-circle" ng-click="$parent.showDebug=true"></i>
    	</h4>
        <pre ng-show="showDebug" ng-if="::canDebug">{{element | json}}</pre>
        <br><br>

    </div>

</div>
