<div>

	<h1>Decision Management</h1>

	<div class="bs-filter">
		<form ng-submit="filter()">
			<div class="form-group">
				<div class="input-group">
					<div class="row">
						<div class="col-sm-6">
							<label for="filterBody">Body</label>
                            <select id="filterBody" class="form-control" xng-model="government">
                                <option value="COP"selected="true">COP</option>
                                <option value="SBI">SBI/WGRI</option>
                                <option value="SBSTTA">SBSTTA</option>
                                <option value="WG8J">WG8J</option>
                                <option value="WGPA">WGPA</option>
                                <option value="ABSMOP">NP COP-MOP</option>
                                <option value="BSMOP">BS COP-MOP</option>
                            </select>
							<!-- <span  class="btn btn-default btn-small"  ng-click="government = undefined;"> clear government </span> -->
						</div>
						<div class="col-sm-6">
                            <label for="filterMeeting">Meeting</label>
							<select class="form-control" xng-model="filterMeeting">
                                <option value="cop-01">COP 1 (1994, Nassau, Bahamas)</option>
                                <option value="cop-02">COP 2 (1995, Jakarta, Indonesia)</option>
                                <option value="cop-03">COP 3 (1996, Buenos Aires, Argentina)</option>
                                <option value="cop-04">COP 4 (1998, Bratislava, Slovakia)</option>
                                <option value="cop-05">COP 5 (2000, Nairobi, Kenya)</option>
                                <option value="cop-06">COP 6 (2002, the Hague, Netherlands)</option>
                                <option value="cop-07">COP 7 (2004, Kuala Lumpur, Malaysia)</option>
                                <option value="cop-08" selected="true">COP 8 (2006, Curitiba, Brazil)</option>
                                <option value="cop-09">COP 9 (2008, Bonn, Germany)</option>
                                <option value="cop-10">COP 10 (2010, Nagoya, Japan)</option>
                                <option value="cop-11">COP 11 (2012, Hyderabad, India)</option>
                                <option value="cop-12">COP 12 (2014, Pyeongchang, Republic of Korea)</option>
                            </select>
							<!-- <span  class="btn btn-default btn-small"  ng-click="roleFilter = undefined;"> clear role </span> -->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- <a href="/admin/users/new"><button type="button" class="btn btn-info">Create</button></a> -->

	<table class="table table-striped" style="margin-top:30px">
		<tr>
			<th>#</th>
			<th>Symbol</th>
            <th>Title</th>
            <th width="1%">Actions</th>
		</tr>
		<tr ng-repeat="decision in decisions">
			<td nowrap>
				<div>{{decision.number}}.</div>
			</td>
			<td nowrap>
                <div><strong>{{decision.symbol}}</strong></div>
			</td>
            <td>
                <div>{{decision.title}}</div>
			</td>
			<td nowrap width="1%">
				<a ng-href="VIII/{{decision.number}}" class="btn btn-info"><i class="fa fa-edit"></i></a>
				<button class="btn btn-warning" ng-click="xactionDelete(user.userID)" ng-disabled="user.userID<=1"><i class="fa fa-trash-o"></i></button>
			</td>
		</tr>
	</table>

</div>

<style>
.bs-filter {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	*padding-top: 19px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}
.bs-filter:after {
	content: "Filters";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	 -moz-border-radius: 4px 0 4px 0;
	      border-radius: 4px 0 4px 0;
}
.bs-filter + .prettyprint {
	margin-top: -20px;
	padding-top: 15px;
}
</style>
