<div class="container">

    <nav>
        <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div class="row">
		<div class="col-xs-6" style="font-size:2em">
			Decision XII/28 3. (b)
		</div>
		<div class="col-xs-3">
			<b>CBD/COP</b>
		</div>
		<div class="col-xs-3">
			<i class="fa fa-map-marker"></i>
			<b>COP-12</b><br>
			Pyeongchang, KOREA, 2014<br><br>
		</div>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Text of the decision</label>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>3. Requests the Executive Secretary:</p>
				<p><i class="fa fa-ellipsis-h"></i></p>
				<p>(b) To implement the online decision-tracking tool on a pilot basis and use it to review the decisions of the eighth and ninth meetings of the Conference of the Parties, assemble information on their status and any other related information as outlined in the annex to this decision and make the information on the outcome of this exercise available to the Subsidiary Body on Implementation;</p>
				<center><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-arrow-down"></i> show annex</button></center>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
		    	<label for="exampleInputEmail1">Type of decision</label>
		    	<select class="form-control" id="exampleInputEmail1">
					<option>Operational</option>
					<option>For‎ information</option>
				</select>
		  	</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
		    	<label for="exampleInputEmail1">Status of the decision</label>
		    	<select class="form-control" id="exampleInputEmail1">
					<option>Implemented</option>
					<option>Superseded ***</option>
					<option>Elapsed</option>
					<option>Active‎</option>
					<option>Retired ***</option>
				</select>
                <div><br>
                    *** LIST OF DECISIONS<br>
        		</div>
		  	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
		    	<label for="exampleInputEmail1">The entity to which the decision is directed</label>
		    	<select class="form-control" id="exampleInputEmail1">
					<option>Conference of the Parties</option>
					<option>Government(s) ***</option>
					<option>Executive Secretary</option>
					<option>Global Environment Facility</option>
					<option>Subsidiary Body ***</option>
					<option>Indigenous and/or local communities ***</option>
					<option>Other stakeholder(s) ***</option>
				</select>
                <div><br>
                    *** LIST OF SUBSIDIARY BODIES<br>
                    *** LIST OF STATES (MULTIPLE SELECTION)<br>
                    *** OTHER (FREE TEXT)
        		</div>
		  	</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
		    	<label for="exampleInputEmail1">Timelines (implementation or process related)</label>
		    	<select class="form-control" id="exampleInputEmail1">
					<option>Not applicable</option>
					<option>Due date ***</option>
				</select>
                <div><br>
                    *** CALENDAR<br>
        		</div>
		  	</div>
		</div>
	</div>
	<h4>
		Related Information
        <hr>
	</h4>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Related decisions</label><br>
				<div class="panel panel-default" style="margin-top:4px;margin-bottom:4px">
		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
						<button class="btn btn-danger btn-xs pull-right" id="exampleInputEmail1"><i class="fa fa-minus-circle"></i> remove</button>
						<a href="#"><b>Decision XII/25</b></a>
						<div>
							Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem Services
						</div>
					</div>
				</div>
				<button class="btn btn-primary btn-xs" id="exampleInputEmail1"><i class="fa fa-plus-circle"></i> add decision</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Notifications issued</label><br>
				<div class="panel panel-default" style="margin-bottom:4px">
		  			<div class="panel-body" style="padding:12px;font-size:0.9em">
						<button class="btn btn-danger btn-xs pull-right" id="exampleInputEmail1"><i class="fa fa-minus-circle"></i> remove</button>
						27 May 2015<br>
						<a href="#"><b>SCBD/TSI/RS/YX/LZ/84244</b></a>
						<div>
							Selection of experts to prepare a report on the full assessment of funding necessary and
							available for the implementation of the Convention for the period July 2018 to June 2022
						</div>
					</div>
				</div>
				<button class="btn btn-primary btn-xs" id="exampleInputEmail1"><i class="fa fa-plus-circle"></i> add notification</button>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Related documents</label>
				<div class="panel panel-default" style="margin-bottom:4px">
					<div class="panel-body" style="padding:12px;font-size:0.9em">
						<button class="btn btn-danger btn-xs pull-right" id="exampleInputEmail1"><i class="fa fa-minus-circle"></i> remove</button>
						<a href="#"><b>RMWS-2015-02</b></a>
						<div>
							Dialogue Workshop on Assessment of Collective Action of Indigenous Peoples and Local
							Communities in Biodiversity Conservation and Resource Mobilization
						</div>
						<div style="margin-top:4px">
							<i class="fa fa-file-pdf-o"></i>
							<a href="#">arabic</a> |
							<a href="#">chinese</a> |
							<a href="#">english</a> |
							<a href="#">french</a> |
							<a href="#">spanish</a> |
							<a href="#">russian</a>
						</div>
					</div>
				</div>
				<button class="btn btn-primary btn-xs" id="exampleInputEmail1"><i class="fa fa-plus-circle"></i> add document</button>
			</div>
		</div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Related activities and outcomes</label><br>
                <div class="panel panel-default" style="margin-bottom:4px">
                      <div class="panel-body" style="padding:12px;font-size:0.9em">
                        <button class="btn btn-danger btn-xs pull-right" id="exampleInputEmail1"><i class="fa fa-minus-circle"></i> remove</button>
                        11 - 13 June 2015 &nbsp; &nbsp; &nbsp; <i class="fa fa-map-marker"></i> Panajachel, Guatemala<br>
                        <a href="#"><b>RMWS-2015-02</b></a>
                        <div>
                            Dialogue Workshop on Assessment of Collective Action of Indigenous Peoples and Local
                            Communities in Biodiversity Conservation and Resource Mobilization
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-xs" id="exampleInputEmail1"><i class="fa fa-plus-circle"></i> add activity</button>
            </div>
        </div>
    </div>
    <h4>
        <button class="btn btn-primary btn-xs pull-right" id="exampleInputEmail1"><i class="fa fa-plus-circle"></i> upload document</button>
        Submissions
        <hr>
	</h4>
	<div>
		<div class="form-group">
			<div style="display:inline-block">
				<img src="/app/images/file.png" style="height:128px">
				<center>file_abc.pdf</center>
			</div>
			<div style="display:inline-block">
				<img src="/app/images/file.png" style="height:128px">
				<center>file_xyz.pdf</center>
			</div>
		</div>
	</div>
</div>
