<style>
BODY {
	height:10000px;
	-webkit-font-smoothing:antialiased;
}
</style>
<div class="alert alert-info"><strong>SBI-1 PREVIEW VERSION</strong> - For demonstration purposes only</div>
<div>

	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="/decisions/tracking">Decision Tracking Tool</a></li>
		<li class="active">COP-{{session}}</li>
	</ol>
		<h1>COP-{{session}} Decisions</h1>

	<div class="row">
  		<div class="col-md-7">
			<table class="table table-striped" style="margin-top:30px">
				<tr>
					<th>Symbol</th>
		            <th>Title</th>
				</tr>
				<tr ng-repeat="d in decisions">
					<td nowrap>
		                <div><a ng-href="/decisions/{{d.body.toLowerCase()}}/{{d.session}}/{{d.decision}}"><strong>{{d.symbol}}</strong></a></div>
					</td>
		            <td>
		                <div>{{d.title}}</div>
					</td>
				</tr>
			</table>
		</div>
  		<div class="col-md-5">
			<dl>
			  <dt>Treaty</dt>
			  <dd>{{treaty.name}} ({{treaty.acronym}})</dd><br>

			  <dt>Body</dt>
			  <dd ng-if="body=='COP'">Conference of the Parties (COP)</dd>
			  <dd ng-if="body!='COP'">TODO</dd><br>

			  <dt ng-if="::decisions[0].meeting">Meeting</dt>
              <dd ng-if="::decisions[0].meeting">
                  <decision-meeting symbol="decisions[0].meeting"></decision-meeting>
              </dd><br>

			</dl>
	  </div>
  </div>

</div>
