<div class="alert alert-info"><strong>SBI-1 PREVIEW VERSION</strong> - For demonstration purposes only</div>
<div>

	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="/decisions/tracking">Decision Tracking Tool</a></li>
		<li><a href="/decisions/cop/{{session}}">COP-{{session}}</a></li>
		<li><a href="/decisions/cop/{{session}}/{{decision}}">Decision {{romanize(session)}}/{{decision}}</a></li>
		<li class="active">Paragraph {{paragraph}}</li>
	</ol>

	<h1>Decision {{romanize(session)}}/{{decision}}
        <span ng-if="section"> section {{section}}</span>
        <span ng-if="paragraph"> paragraph {{paragraph}}</span>
        <span ng-if="item"> item ({{item}})</span>
    </h1>

	<div class="row">
		<div class="col-md-7">
            <div class="document panel panel-primary">
    			<div class="panel-heading">
    				UNEP/CBD/COP/DEC/{{romanize(session)}}/{{decision}}
    				<a href="/decisions/cop/{{session}}/{{decision}}" ng-click="$root.hiddenHash=current.data.code.split('/').join('-');" class="pull-right label label-info" style="margin-top:2px">
    					up <i class="fa fa-level-up" aria-hidden="true"></i></i>
    				</a>
    			</div>
    			<div class="panel-body">
    				<div id='content' class='decision'></div>
    			</div>
            </div>
		</div>
		<div class="col-md-5" style="padding-top:16px">
			<dl>
				<dt>Body</dt>
  			  	<dd>Conference of the Parties (COP)</dd>
			  	<br>

				<dt>Meeting</dt>
				<dd>COP-{{session}}</dd>
				<dd ng-if="session==8"><i class="fa fa-calendar-o" aria-hidden="true"></i> 20 - 31 March 2006</dd>
				<dd ng-if="session==8"><i class="fa fa-map-marker" aria-hidden="true"></i> Curitiba, Brazil</dd>
				<dd ng-if="session==9"><i class="fa fa-calendar-o" aria-hidden="true"></i> 19 - 30 May 2008</dd>
				<dd ng-if="session==9"><i class="fa fa-map-marker" aria-hidden="true"></i> Bonn, Germany</dd>
				<br>

				<dt>Type</dt>
				<dd><span class="label label-default" ng-class="{ 'label-info' : current.data.type=='operational'}">{{current.data.type}}</span></dd>
				<br>

				<dt>Status</dt>
				<dd ng-repeat="item in current.data.statuses"><span class="label label-default" ng-class="{ 'label-success' : item=='active' }">{{item}}</span></dd>
				<br>

				<dt>Actors</dt>
				<dd ng-repeat="item in current.data.actors"><span class="label label-default">{{item}}</span></dd>
				<br>

				<dt>Meeting Documents</dt>
				<dd ng-repeat="item in current.data.decisions">{{item}}</dd>
				<br>

				<dt>Notifications</dt>
				<dd ng-repeat="item in current.data.notifications">{{item}}</dd>
				<br>
			</dl>
		</div>
	</div>
</div>
