<div>

	<ol class="breadcrumb">
		<li><a href="/" target="_self">Home</a></li>
		<li><a href="/decisions" target="_self">Decisions</a></li>
		<li><a href="/decisions/{{::decision.body|lowercase}}/{{::decision.session}}">{{::decision.body|uppercase}}-{{::decision.session}}</a></li>
		<li><a href="/decisions/{{::decision.body|lowercase}}/{{::decision.session}}/{{::decision.decision}}">Decision {{romanize(decision.session)}}/{{decision.decision}}</a></li>
		<li class="active">Paragraph {{paragraph}}</li>
	</ol>

	<h1>Decision {{romanize(decision.session)}}/{{decision.decision}}
        <span ng-if="section"> section {{section}}</span>
        <span ng-if="paragraph"> paragraph {{paragraph}}</span>
        <span ng-if="item"> item ({{item}})</span>
    </h1>

	<div class="row">
		<div class="col-md-7">
            <div class="view-decision document panel panel-primary">
    			<div class="panel-heading">
    				UNEP/CBD/COP/DEC/{{romanize(decision.session)}}/{{decision.decision}}
    				<a href="/decisions/cop/{{decision.session}}/{{decision.decision}}" ng-click="$root.hiddenHash=current.data.code.split('/').join('-');" class="pull-right label label-info" style="margin-top:2px">
    					up <i class="fa fa-level-up" aria-hidden="true"></i></i>
    				</a>
    			</div>
    			<div class=" panel-body">
    				<div id='content' class='decision'></div>
    			</div>
            </div>
		</div>
		<div class="col-md-5" style="padding-top:16px">
			<dl>
			  	<dt ng-if="::decision.body">Body</dt>
  			  	<dd ng-if="::decision.body" ng-switch="::decision.body">
                    <span ng-switch-when="COP">Conference of the Parties (COP)</span>
                    <span ng-switch-default>{{::decision.body|uppercase}}</span>
                </dd>
			  	<br ng-if="::decision.body">

				<dt ng-if="::decision.meeting">Meeting</dt>
				<dd ng-if="::decision.meeting">
                    <decision-meeting symbol="decision.meeting"></decision-meeting>
                </dd>
				<br ng-if="::decision.meeting">

				<dt>Type</dt>
				<dd><span class="label label-default" ng-class="{ 'label-info' : current.data.type=='operational'}">{{current.data.type}}</span></dd>
				<br>

				<dt>Status</dt>
				<dd ng-repeat="item in current.data.statuses"><span class="label label-default" ng-class="{ 'label-success' : item=='active' }">{{item}}</span></dd>
				<dd ng-if="current.data.statusInfo||current.elementStatusDetails"><i>{{current.data.statusInfo||current.elementStatusDetails}}</i></dd>
				<br>

                <span ng-if="current.data.actors.length">
    				<dt>Actors</dt>
    				<dd ng-repeat="item in current.data.actors"><span class="label label-default">{{item}}</span></dd>
    				<dd ng-if="current.data.actorsInfo"><i>{{current.data.actorsInfo}}</i></dd>
    				<br>
                </span>

                <span ng-if="current.data.decisions.length">
    				<dt>Related decisions</dt>
    				<dd ng-repeat="item in current.data.decisions">
                        <div class="panel panel-default" style="margin-bottom:4px">
                            <div class="panel-body" style="padding:12px;font-size:0.9em">
                                <decision-reference symbol="item"></decision-reference>
                            </div>
                        </div>
                    </dd>
    				<br>
                </span>

                <span ng-if="current.data.notifications.length">
    				<dt>Notifications</dt>
                    <dd ng-repeat="item in current.data.notifications|orderBy">
                        <div class="panel panel-default" style="margin-bottom:4px">
                            <div class="panel-body" style="padding:12px;font-size:0.9em">
                                <decision-notification symbol="item"></decision-notification>
                            </div>
                        </div>
                    </dd>
    				<br>
                </span>

                <span ng-if="(current.data.documents|filter:isPublicMeetingDocument).length">
    				<dt>Documents</dt>
                    <dd ng-repeat="item in current.data.documents|filter:isPublicMeetingDocument|orderBy">
                        <div class="panel panel-default" style="margin-bottom:4px">
                            <div class="panel-body" style="padding:12px;font-size:0.9em">
                                <decision-meeting-document symbol="item"></decision-meeting-document>
                            </div>
                        </div>
                    </dd>
    				<br>
                </span>

                <span ng-if="current.data.meetings.length">
    				<dt>Activities / outcomes</dt>
                    <dd ng-repeat="item in current.data.meetings|orderBy">
                        <div class="panel panel-default" style="margin-bottom:4px">
                            <div class="panel-body" style="padding:12px;font-size:0.9em">
                                <decision-meeting symbol="item"></decision-meeting>
                            </div>
                        </div>
                    </dd>
    				<br>
                </span>
			</dl>

		</div>
	</div>
</div>
