<div>
    <style>
        .chip {
            display: inline-block;
            padding: 5px;
            font-size: 12px;
            border-radius: 3px;
            margin: 2px;
            cursor: pointer;
        }
        .chip-sm {
            display: inline-block;
            border-radius: 3px;
            margin: 2px;
        }
        .decision-box, .view-decision element.box {
            border-bottom: none!important;
            border-radius: 0!important;    
            margin-bottom: 0px;
        }
        .view-decision element:last-child{
            margin-bottom: 0px;
        }
        .tags{
            background:#eee;
            margin-left:8px;
            border-bottom: 1px solid #e8e8e8;
            border-radius: 0px 0px 4px 4px;
            padding-left:5px;
        }
        .para-tags{
            width:98.8%;
        }
    </style>
    <ol class="breadcrumb">
        <li class="pull-right">
            <a href="#" ng-click="edit()">
                <i class="fa" ng-class="{ 'fa-comment-o' : !hasComments, 'fa-comments-o' : hasComments }" aria-hidden="true"></i>
            </a>
            <a ng-if="::canEdit" href="#" ng-click="edit()">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href="/" target="_self">Home</a>
        </li>
        <li>
            <a href="/decisions" target="_self">Decisions</a>
        </li>
        <li class="active">Search</li>
    </ol>

    <h1>Search Decisions</h1>


    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Filters
                </div>
                <div class="panel-body">

                    <div class="row" ng-if="selectedFilter" style="border-bottom:1px solid #eee; padding-bottom:10px">
                        <div class="col-md-12">
                            <span ng-repeat="(key, filters) in selectedFilter">
                                <span class="label label-primary chip" ng-repeat="value in filters" ng-click="removeFilter(value, key)">
                                    {{value.title|lstring}}
                                    <i class="fa fa-minus-circle"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Session</label>
                            <select class="form-control"  ng-model="selectedSession" 
                            ng-options="item.code as (item.title|lstring) group by item.group for item in collections.session"
                                ng-change="search(selectedSession, 'session'); selectedSession=''">
                                <option value="">search a session</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Type</label>
                            <select class="form-control"  ng-model="selectedType" 
                            ng-options="item.code as item.title for item in collections.elementType"
                                ng-change="search(selectedType, 'elementType'); selectedType=''">
                                <option value="">search a type</option>
                            </select>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-md-3">
                            <label>CBD Subjects</label>
                            <select class="form-control"  ng-model="selectedSubject" 
                            ng-options="subject.identifier as (subject.title|lstring) group by collections.subjects[subject.broaderTerms[0]].name for subject in collections.subjectsMap|filter:noNarrower"
                                ng-change="search(selectedSubject, 'subjects'); selectedSubject=''">
                                <option value="">search a subject</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Aichi Targets</label>
                            <select class="form-control"  ng-model="selectedTarget" ng-options="target.identifier as (target.title|lstring) group by collections.aichiTargets[target.broaderTerms[0]].name for target in collections.aichiTargetsMap|filter:noNarrower"
                                ng-change="search(selectedTarget, 'aichiTargets'); selectedTarget=''">
                                <option value="">search a target</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Actors</label>
                            <select class="form-control"  ng-model="selectedActor" ng-options="actor.code as actor.title group by actor.group for actor in collections.actors"
                                ng-change="search(selectedActor, 'actors'); selectedActor=''">
                                <option value="">search an actor</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Status</label>
                            <select class="form-control"  ng-model="selectedStatus" ng-options="status.code as status.title for status in collections.statuses"
                                ng-change="search(selectedStatus, 'statuses'); selectedStatus=''">
                                <option value="">search a status</option>
                            </select>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Free text</label>
                            <input class="form-control" ng-model="freeText" 
                            ng-change="freeTextSearch(freeText, 'freeText');updateQueryString();"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: { 'default': 500, 'blur': 0, '*': 1000 }
                              }">
                        </div>

                        <div class="col-md-12">
                            <br/>
                            <button class="btn btn-primary  pull-right" ng-click="search()">
                                Search</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    </br>
    <div class="row" id="searchResult">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="row" style="margin:0 1px">
                        <span class="pull-left">
                            <i class="fa fa-clone" ng-class="icon"></i> Search results
                        </span>
                        <span class="pull-right">
                            <div class="pull-right" style="margin:0 5px">
                                Items per page:
                                <select ng-model="itemsPerPage" ng-change="currentPage=0;search(undefined, undefined, undefined,searchCount);updateQueryString();">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select>
                            </div>
                            <div class="pull-right">
                                Sort by:
                                <select ng-model="pageSort" ng-change="currentPage=0;search();updateQueryString();">
                                    <option value="">Relevance</option>
                                    <option value="session">Session</option>
                                    <!-- <option value="subjects">CBD subjects</option>
                                    <option value="aichiTargets">AICHI Targets</option>
                                    <option value="actors">Actors</option> -->
                                    <option value="statuses">Status</option>
                                    <option value="elementType">Type</option>
                                </select>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="panel-body view-decision" id="searchResultSection">

                    <div>
                        <pagination pages="pages" current-page="currentPage" items-per-page="itemsPerPage" filtered="searchResult" on-page="onPage(pageIndex)"
                            count="searchCount" pagination-size="6"> </pagination>
                        <div ng-show="isLoading" style="margin-left:50%">
                            <i class="fa fa-spin fa-spinner" /> Loading...
                        </div>
                        <div ng-show="!isLoading && (!searchResult || searchResult.length ==0)" style="margin-left:50%">
                            No records found
                        </div>

                        <div ng-repeat="result in searchResult" class="row" ng-show="!isLoading" ng-class="{'decision-parent':result.elementType=='decision'}">
                            <div class="col-md-12 {{::result.elementType}}-box" style="max-height:300px;overflow: hidden;margin-bottom:0px">
                               
                                <div>
                                    <p ng-if="::result.elementType=='decision'">
                                            <a type="button" class="btn btn-primary btn-xs" ng-href="/decisions/cop/{{::result.session}}/{{::result.decision}}">
                                                <i class="fa fa-search" aria-hidden="true"></i> decision UNEP/CBD/COP/DEC/{{romanize(result.session)}}/{{result.decision}}
                                            </a>
                                    </p>
                                    <div ng-bind-html="::trustedHtml(result.content)" class="searchResultElement" id="el{{$index}}">                                            
                                    </div>
                                </div>
                            </div>
                            <div  class="col-md-12 tags" ng-class="{'para-tags': result.elementType=='paragraph'}">
                                <span class="chip-sm" ng-repeat="aichiTarget in result.aichiTargets | orderBy:aichiTarget" ng-if="::result.aichiTargets">
                                    <img title="{{aichiTarget}}" ng-src="/app/images/aichi-targets/abt-{{::aichiTarget.replace('AICHI-TARGET-','')}}-96.png" width="25" style="margin: 1px 1px 1px 1px;">
                                </span>
                                <span class="label label-default chip-sm" ng-repeat="subject in result.subjects" ng-if="::result.subjects">
                                    {{::term(subject)}}
                                </span>
                            </div>
                        </div>
                        </br>
                        <pagination pages="pages" current-page="currentPage" items-per-page="itemsPerPage" filtered="searchResult" on-page="onPage(pageIndex)"
                            count="searchCount" pagination-size="6"> </pagination>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
