<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeThisDialog()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select a meeting document</h4>
    </div>
    <div class="modal-body">
        <form name="form" ng-submit="save()" novalidate>

            <div class="form-group">
                <label for="symbol">Symbol or url</label>
                <input type="text" class="form-control" id="text" name="text" ng-model="text" ng-model-options="{ debounce : { 'default': 300, 'blur': 0 } }" ng-change="search(text)">
            </div>

        </form>

        <div class="panel panel-primary" ng-class="{ 'panel-warning' : document.notFound }" ng-if="document" style="cursor:pointer" >
          <div class="panel-heading">
            <h3 class="panel-title">{{document.symbol_s || document}} </h3>
          </div>
          <div class="panel-body">
            {{document.title_t}}
          </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeThisDialog()">Cancel</button>
        <button type="button" class="btn btn-primary" aria-label="Save" ng-click="save()" ng-disabled="!document">Next »</button>
    </div>
</div>
