<style>
    @media (max-width: 991px)  { #decision-meta.affix { position: relative !important; } }
    @media (min-width: 992px)  { #decision-meta.affix { position: fixed    !important; width:400px; top:20px; } }
    @media (min-width: 1200px) { #decision-meta.affix { position: fixed    !important; width:460px; top:20px; } }
</style>

<div class="alert alert-info"><strong>SBI-1 PREVIEW VERSION</strong> - For demonstration purposes only</div>
<div>

	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="/decisions/tracking">Decision Tracking Tool</a></li>
		<li><a href="/decisions/cop/{{session}}">COP-{{session}}</a></li>
		<li class="active">Decision {{romanize(session)}}/{{decision}}</li>
	</ol>

	<h1>Decision {{romanize(session)}}/{{decision}}</h1>

	<div class="row">
		<div class="col-md-7">
            <div class="document panel panel-primary">
    			<div class="panel-heading">
    				UNEP/CBD/COP/DEC/{{romanize(session)}}/{{decision}}
    				<a ng-show="filters" class="pull-right label label-info" ng-click="filter(null)" style="margin-top:2px">
    					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> filtered <i class="fa fa-times" aria-hidden="true"></i>
    				</a>
    			</div>
    			<div class="panel-body">
    				<div id='content' class='decision'></div>
    			</div>
            </div>
		</div>
		<div class="col-md-5" style="padding-top:16px">
            <div id="decision-meta">
			<dl>
			  	<dt>Body</dt>
  			  	<dd>Conference of the Parties (COP)</dd>
			  	<br>

				<dt>Meeting</dt>
				<dd>COP-{{session}}</dd>
				<dd ng-if="session==8"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> 20 - 31 March 2006</dd>
				<dd ng-if="session==8"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Curitiba, Brazil</dd>
				<dd ng-if="session==9"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> 19 - 30 May 2008</dd>
				<dd ng-if="session==9"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Bonn, Germany</dd>
				<br>

				<dt>Elements of decision</dt>
				<dd>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ types: null })"              ng-class="{ disabled : filters &&   filters.types }">{{sumValues(typeCounts)}}</a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ types: ['informational'] })" ng-class="{ disabled : filters && (!filters.types || filters.types.indexOf('informational')<0) }">{{typeCounts.informational}} informational <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-info    text-nowrap" ng-click="toggleFilters({ types: ['operational'  ] })" ng-class="{ disabled : filters && (!filters.types || filters.types.indexOf('operational'  )<0) }">{{typeCounts.operational}} operational <i class="fa fa-filter" aria-hidden="true"></i></a>
				</dd>
				<dd>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : null })"            ng-class="{ disabled : filters &&  filters.statuses }">{{sumValues(statusCounts)}}</a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : ['implemented'] })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('implemented')<0) }" >{{statusCounts.implemented}} implemented <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : ['superseded']  })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('superseded' )<0) }" >{{statusCounts.superseded}} superseded <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : ['elapsed']     })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('elapsed'    )<0) }" >{{statusCounts.elapsed}} elapsed <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-success text-nowrap" ng-click="toggleFilters({ statuses : ['active']      })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('active'     )<0) }" >{{statusCounts.active}} active <i class="fa fa-filter" aria-hidden="true"></i></a>
				</dd>
				<br>

				<dt>Actors</dt>
				<dd>
                    <a class="label label-default text-nowrap" ng-click="toggleFilters({ actors : null })" ng-class="{ disabled : filters &&  filters.actors }">{{sumValues(actorCounts)}}</a>
					<span ng-repeat="item in actors"><a class="label label-default text-nowrap" ng-click="toggleFilters({ actors : [item] })" ng-class="{ disabled : filters && (!filters.actors || filters.actors.indexOf(item)<0) }">{{actorCounts[item]}} {{item}} <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;</a> </span>
				</dd>
				<br>

				<dt>Document</dt>
				<dd>UNEP/CBD/COP/DEC/{{romanize(session)}}/{{decision}}</dd>
				<dd>
					<div ng-if="session==8">
						<i class="fa fa-fw fa-file-pdf-o" style="color:#ff0500"></i>
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-en.pdf">english</a>
						<br>
                        <i class="fa fa-fw fa-file-word-o" style="color:#265299"></i>
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-en.doc">english</a>
					</div>
					<div ng-if="session==9">
                        <i class="fa fa-fw fa-fw fa-file-pdf-o" style="color:#ff0000"></i>
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-ar.pdf">اللغة العربية</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-en.pdf">english</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-es.pdf">español</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-fr.pdf">français</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-ru.pdf">русский</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-zh.pdf">中文</a>
						<br>
                        <i class="fa fa-fw fa-fw fa-file-word-o" style="color:#265299"></i>
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-ar.doc">اللغة العربية</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-en.doc">english</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-es.doc">español</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-fr.doc">français</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-ru.doc">русский</a> |
						<a href="/doc/decisions/cop-{{pad0(session)}}/cop-{{pad0(session)}}-dec-{{pad0(decision)}}-zh.doc">中文</a>
					</div>
				</dd>
				<br>
			</dl>
            </div>
		</div>
	</div>
</div>
