<style>
    @media (max-width: 991px)  { #decision-meta.affix { position: relative !important; } }
    @media (min-width: 992px)  { #decision-meta.affix { position: fixed    !important; width:400px; top:20px; } }
    @media (min-width: 1200px) { #decision-meta.affix { position: fixed    !important; width:460px; top:20px; } }
</style>

<div class="alert alert-info"><strong>SBI-1 PREVIEW VERSION</strong> - For demonstration purposes only</div>
<div>

	<ol class="breadcrumb">
		<li class="pull-right">
            <a href="#" ng-click="edit()"><i class="fa" ng-class="{ 'fa-comment-o' : !hasComments, 'fa-comments-o' : hasComments }" aria-hidden="true"></i></a>
            <a ng-if="::canEdit"    href="#" ng-click="edit()"><i class="fa fa-edit" aria-hidden="true"></i></a>
		</li>
		<li><a href="#">Home</a></li>
		<li><a ng-href="/decisions/{{::decision.body}}/{{::decision.session}}">{{::decision.body|uppercase}}-{{::decision.session}}</a></li>
		<li class="active">Decision {{romanize(decision.session)}}/{{::decision.decision}}</li>
	</ol>

	<h1>Decision {{::decision.body|uppercase}} {{romanize(decision.session)}}/{{::decision.decision}}</h1>

	<div class="view-decision row">
		<div class="col-md-7">
            <div class="document panel panel-primary">
    			<div class="panel-heading">
    				<span ng-if="decision">UNEP/CBD/COP/DEC/{{::decision.session}}/{{::decision.decision}}</span>
    				<a ng-show="filters" class="pull-right label label-info" ng-click="filter(null)" style="margin-top:2px">
    					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> filtered <i class="fa fa-times" aria-hidden="true"></i>
    				</a>
    			</div>
    			<div class="panel-body">
    				<div id='content' class='decision'></div>
    			</div>
            </div>
		</div>
		<div class="col-md-5" style="padding-top:16px">
            <div id="decision-meta">
			<dl>
			  	<dt ng-if="::decision.body">Body</dt>
  			  	<dd ng-if="::decision.body" ng-switch="::decision.body">
                    <span ng-switch-when="COP">Conference of the Parties (COP)</span>
                    <span ng-switch-default>{{::decision.body|uppercase}}</span>
                </dd>
			  	<br ng-if="::decision.body">

				<dt ng-if="::decision.meeting">Meeting</dt>
				<dd ng-if="::decision.meeting">
                    <decision-meeting symbol="decision.meeting"></decision-meeting>
                </dd>
				<br ng-if="::decision.meeting">

				<dt>Elements of decision</dt>
				<dd>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ types: null })"              ng-class="{ disabled : filters &&   filters.types }">{{sumValues(typeCounts)}}</a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ types: ['informational'] })" ng-class="{ disabled : filters && (!filters.types || filters.types.indexOf('informational')<0) }">{{typeCounts.informational}} informational <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-info    text-nowrap" ng-click="toggleFilters({ types: ['operational'  ] })" ng-class="{ disabled : filters && (!filters.types || filters.types.indexOf('operational'  )<0) }">{{typeCounts.operational}} operational <i class="fa fa-filter" aria-hidden="true"></i></a>
				</dd>
				<dd>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : null })"            ng-class="{ disabled : filters &&  filters.statuses }">{{sumValues(statusCounts)}}</a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : ['implemented'] })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('implemented')<0) }" >{{statusCounts.implemented}} implemented <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : ['superseded']  })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('superseded' )<0) }" >{{statusCounts.superseded}} superseded <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-default text-nowrap" ng-click="toggleFilters({ statuses : ['elapsed']     })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('elapsed'    )<0) }" >{{statusCounts.elapsed}} elapsed <i class="fa fa-filter" aria-hidden="true"></i></a>
					<a class="label label-success text-nowrap" ng-click="toggleFilters({ statuses : ['active']      })" ng-class="{ disabled : filters && (!filters.statuses || filters.statuses.indexOf('active'     )<0) }" >{{statusCounts.active}} active <i class="fa fa-filter" aria-hidden="true"></i></a>
				</dd>
				<br>

				<dt>Actors</dt>
				<dd>
                    <a class="label label-default text-nowrap" ng-click="toggleFilters({ actors : null })" ng-class="{ disabled : filters &&  filters.actors }">{{sumValues(actorCounts)}}</a>
					<span ng-repeat="item in decision.actors"><a class="label label-default text-nowrap" ng-click="toggleFilters({ actors : [item] })" ng-class="{ disabled : filters && (!filters.actors || filters.actors.indexOf(item)<0) }">{{actorCounts[item]}} {{item}} <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;</a> </span>
				</dd>
				<br>

				<dt ng-if="documents.length">Document</dt>
                <span ng-repeat="d in documents">
    				<dd>
                        <div class="panel panel-default" style="margin-bottom:4px">
                            <div class="panel-body" style="padding:12px;font-size:0.9em">
                                <document-files ng-if="documents.length" class="visible-xs pull-right"  files="d.files"></document-files>
                                <b>{{d.symbol}}</b>
                                <div>{{decision.title|lstring}}</div>
                                <document-files class="hidden-xs"  files="d.files"></document-files>
                            </div>
                        </div>
                    </dd>
                </span>
				<br>
			</dl>
            </div>
		</div>
	</div>
</div>
