<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>

</style>
<div class="row">
    <menu pull="right" search="true"  links="commsCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" >
        <h1>Communication and Outreach</h1>

          <p auto-linker>The Bio-Bridge Initiative (BBI) will facilitate broader communication and partnership building among Parties and institutions through various communication and outreach activities to promote TSC as an approach to achieving biodiversity targets, including through regional and thematic roundtables and/or online forums. The communication and outreach activities are intended to publicize Bio-Bridge Initiative and catalyze support for TSC among Parties, communicate and showcase Bio-Bridge Initiative success stories and lessons learned to inspire further cooperation, foster peer-to-peer learing, and facilitate the development of a committed and active network of partners in all regions that can support Bio-Bridge Initiative activities.</p>

          <span ng-if="commsCtrl.futureLoading || commsCtrl.pastLoading"><i class="fa fa-spinner fa-pulse  fa-fw"></i> Loading...</span>

          <h3 ng-if="commsCtrl.future.length">Upcoming Events</h3>

          <lu class="bbilist"  ng-if="commsCtrl.future.length">

            <li ng-repeat="doc in commsCtrl.future | orderBy :'startDate_dt' : true">
              <span>({{doc.startDate_dt | moment:'format':'YYYY-MM-DD HH:mm'}})</span>
              <a ng-href="{{doc.url_ss[0]}}" >
                {{doc.title_t}}
              </a>
            </li>

          </lu>


          <h3>Past Events</h3>


          <lu class="bbilist"  >
            <li ng-repeat="doc in commsCtrl.past | orderBy :'startDate_dt' : true">
              <span>({{doc.startDate_dt | moment:'format':'YYYY-MM-DD HH:mm'}})</span>
              <a ng-href="{{doc.url_ss[0]}}" >
                {{doc.title_t}}
              </a>

            </li>
          </lu>
        </div>

</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>
