<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
    legend {
        margin-top: 30px;
        padding: 5px;
        background-color: #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding: 5px 5px 5px 5px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
<div class="row">
    <menu links="panelCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" auto-linker>
        <h1>Panel Discussions</h1>


  <h3>COP 13 BBI Side-events (5-8 December 2016)</h3>

  <h4>Monday 5 December 2016: Launch of the Bio-Bridge Initiative Action Plan 2017-2020</h4>
  <p>The CBD Secretariat and the Ministry of Environment of the Republic of Korea, in collaboration with Quebec Centre for Biodiversity Science (QCBS) and UNEP World Conservation Monitoring Center (UNEP-WCMC), have organized the above event to launch the Bio-Bridge Initiative (BBI) Action Plan 2017-2020.</p>
  <p><span style="text-decoration: underline;">Programme</span></p>
  <p><span style="font-style: italic;">Moderator:</span> Mr. Erie Tamale, CBD Secretariat</p>
  <p><span style="font-style: italic;">Introduction:</span></p>
<lu class="bbilist">
<li>  Mr. Ravi Sharma CBD Secretariat: Welcome Remarks</li>
<li>   Dr. Ciara Raudsepp-Hearne, Quebec Centre for Biodiversity Science: "Overview of the Bio-Bridge Initiative and its Action Plan 2017-2020". Download the presentation <a href="https://www.cbd.int/bbi/doc/COP13-BBI-Action-Plan-Dec5.pdf" target="_blank">here (PDF)</a>.</li>
</lu>
  <p><span style="font-style: italic;">Perspectives of BBI partners:</span></p>
  <lu class="bbilist">
  <li>  Dr. B. Meenakumari, National Biodiversity Authority of India.</li>
  <li>Dr. Tanya Abrahamse, South African National Biodiversity Institute (SANBI). Download the presentation <a href="https://www.cbd.int/bbi/doc/SANBI-potential-partner-with-BBI.pdf" target="_blank">here (PDF)</a>.</li>
  <li>Mrs. Jamison Ervin, United Nations Development Programme.</li>
  <li>Mr. Han de Koeijer, Royal Belgian Institute of Natural Sciences on behalf of the Consortium of Scientific Partners for Biodiversity. Download the presentation <a href="https://www.cbd.int/bbi/doc/CSP-PPT-Mexico-side-event-biobridge.pdf" target="_blank">here (PDF)</a>.</li>
</lu>

  <h4>Tuesday 6 December 2016: Enhancing Technical and Scientific Cooperation for Biodiversity: Contribution of the Bio-Bridge Initiative</h4>
  <p>The CBD Secretariat and the Ministry of Environment of the Republic of Korea, in collaboration with Quebec Centre for Biodiversity Science (QCBS) and UNEP World Conservation Monitoring Center (UNEP-WCMC), have organized the above event to:</p>
  <lu class="bbilist">
  <li>  Introduce the Bio-Bridge Initiative and its Action Plan for the period 2017-2020;</li>
  <li>  To share experiences and emerging lessons from institutions and initiative involved in TSC of relevance for BBI; and</li>
  <li>  To discuss opportunities for collaboration with institutional partners and other initiatives aimed at TSC and capacity development in the biodiversity community.</li>
</lu>
<p><span style="text-decoration: underline;">  Programme</span></p>
  <p><span style="font-style: italic;">Moderator:</span> Mr. Erie Tamale, CBD Secretariat</p>
  <p><span style="font-style: italic;">Introduction:</span></p>
  <lu class="bbilist">
  <li>  Mr. Ravi Sharma CBD Secretariat: Welcome Remarks</li>
  <li>Dr. Ciara Raudsepp-Hearne, Quebec Centre for Biodiversity Science: "Overview of the Bio-Bridge Initiative and its Action Plan 2017-2020". Download the presentation<a href="https://www.cbd.int/bbi/doc/COP13-BBI-Action-Plan-Dec5.pdf" target="_blank"> here (PDF)</a>.</li>
</lu>
  <p><span style="font-style: italic;">Bio-Bridge Initiative Partner organizations:</span></p>

    <lu class="bbilist">
    <li>  Institutions engaged in biodiversity TSC:</li>
  </lu>
      <lu class="bbilist-2" >
      <li>  Ms. Yoonjung Kim, Korea Environment Institute (KEI): "BBI Pilot project: Sustainable management of ASEAN Heritage Parks through valuing and improving eco-tourism". Download the presentation <a href="https://www.cbd.int/bbi/doc/KEI%20Presentation-BBI-COP13.pdf" target="_blank">here</a>.</li>
    <li>Dr. Jeongmi Park, National Institute of Biological Resources (NIBR) "BBI Pilot project: Transfer of DNA bar-coding analysis technology for biodiversity monitoring". Download the presentation <a href="https://www.cbd.int/bbi/doc/BBI-project-of-NIBR-from-South%20Korea(Jeong-Mi-Park).pdf" target="_blank">here</a>.</li>
    <li>Dr. Tanya Abrahamse, South African National Biodiversity Institute (SANBI). Download the presentation <a href="https://www.cbd.int/bbi/doc/BBI-towards-reducing-biodiversity-loss-potential-CSP-partners.pdf" target="_blank">here</a>.</li>

</lu>
<lu class="bbilist">
<li>Opportunities for collaboration with other TSC programmes:</li>
</lu>

<lu class="bbilist-2">
<li>Dr. Jamison Ervin, Biodiversity and Ecosystem Services Network (BES-Net): "Promoting dialogue between science, policy and practice to build capacity for sustainable management of biodiversity and ecosystem services worldwide". Download the presentation <a href="https://www.cbd.int/bbi/doc/BES-Net-presentation-BBI-CBD-CoP-13-Jamie-and-Solene.pptx.pdf" target="_blank">here</a> and relevant materials can be found below:</li>
</lu>

  <lu class="bbilist-3">
      <li><a href="https://www.cbd.int/bbi/doc/BES-NET-Bookmark.pdf" target="_blank">BES-Net bookmark</a></li>
  <li><a href="https://www.cbd.int/bbi/doc/Concept-note-on-BES-Net.pdf" target="_blank">BES-Net Concept Note (English)</a> / <a href="https://www.cbd.int/bbi/doc/BES-Net-conceptfrancais.pdf" target="_blank">(French)</a></li>
  <li><a href="https://www.cbd.int/bbi/doc/BESNET-Invitation.pdf" target="_blank">BES-Net invitation to a COP13 side-event to launch BES-Net web portal</a></li>
</lu>
<lu class="bbilist-2" >
<li> Dr. Spencer Thomas, Climate Technology Centre and Network (CTCN): "CTCN Mandate, Lessons and Opportunities for Collaboration". Download the presentation <a href="https://www.cbd.int/bbi/doc/CTCN-Mandate-Lessons-and-Opportunities-for-Collaboration.pdf" target="_blank">here.</a></li>
</lu>

  <p><span style="font-style: italic;">Ways BBI can complement the landscape of existing initiatives: Download the presentation <a href="https://www.cbd.int/bbi/doc/COP13-BBI-discussion-TSC.pdf" target="_blank">here</a>.</span></p>

<h4>  Wednesday 7 December 2016: Fortalecimiento de la Cooperación Técnica y Científica para la Diversidad Biológica: Contribución de la Iniciativa Bio-Bridge (IBB)</h4>

  <p>Los eventos paralelos de la IBB en la COP 13 fueron organizados por la Secretaría del CDB, el Ministerio de Medio Ambiente de la República de Corea, el Centro de Ciencia de la Biodiversidad de Quebec y el Centro Mundial de Monitoreo de la Conservación del Medio Ambiente de la ONU para:</p>
  <lu class="bbilist" >
    <li> Introducir la Iniciativa Bio-Bridge y su Plan de Acción para el período 2017-2020</li>
    <li> Compartir experiencias y lecciones emergentes de instituciones e iniciativas involucradas en CTC de relevancia para la IBB y</li>
    <li> Discutir las oportunidades de colaboración con los socios institucionales y otras iniciativas dirigidas a la CTC y al desarrollo de capacidades en la comunidad de la biodiversidad.</li>
  </lu>
  <p><span style="text-decoration: underline;">Programa</spn></p>
  <p><span style="font-style: italic;">Moderatora:</span> Sra. Claudia Paguaga, Secretaria del CDB</p>
<p><span style="font-style: italic;">  Introducción:</span></p>
<lu class="bbilist" >
  <li>Sr. Erie Tamale, CBD Secretariat: Palabras de bienvenida</li>
  <li>Sra. Daniela Guaras, Centro de Monitoreo de la Conservación del Medio Ambiente: "Plan de Acción de la Iniciativa Bio-Bridge 2017-2020". Bajar presentación <a href="https://www.cbd.int/bbi/doc/COP13-BBI-Action-Plan-ESP.pdf" target="_blank">aqui (PDF)</a>.</li>
</lu>

    <p><span style="font-style: italic;">Organizaciones socias de la Iniciativa Bio-Bridge:</span></p>
    <lu class="bbilist" >
      <li> Instituciones dedicadas a la cooperación técnica y científica (CTC):</li>
    </lu>

    <lu class="bbilist-2">
        <li>Sr. Randal Garcia, Director General, Instituto Nacional de Biodiversidad (INBio): "Proyecto piloto de la IBB: Actividades de cooperación técnica y científica: algunos ejemplos". Bajar presentación <a href="https://www.cbd.int/bbi/doc/BBI-Randal-Garcia.pdf" target="_blank">aqui (PDF)</a>.</li>
        <li>Sr. Alberto Pacheco, Coordinador del Subprograma de Medio Ambiente de las Naciones Unidas para los Ecosistemas, en nombre del Centro y Red de Tecnología del Clima (CTCN por sus siglas en inglés): "CTCN Mandato, Lecciones y Oportunidades de Colaboración".
            Bajar presentación <a href="https://www.cbd.int/bbi/doc/CTCN-Mandato-Lecciones-y-Oportunidades-de-Colaboracion.pdf" target="_blank">aqui (PDF)</a>.</li>
        Maneras en las que la IBB puede complementar iniciativas existentes: Bajar presentación <a href="https://www.cbd.int/bbi/doc/COP13-BBI-discussion-TSC-ESP.pdf" target="_blank">aqui (PDF)</a>.</li>
    </lu>

  <h4>Thursday 8 December 2016: Renforcement de la coopération scientifique et technique pour la biodiversité : La contribution de l’initiative Bio-Bridge</h4>
  <p>Cet événement est coorganisé par le Secretariat CDB, le ministère de l’Environnement de la République de Corée, le Centre des Sciences de la Biodiversité du Québec et le Centre mondial de surveillance continue de la conservation de la nature du Programme des Nations Unies pour l'environnement pour:</p>
  <lu class="bbilist">
      <li>Introduir l’initiative Bio-Bridge et son plan d’action pour la période 2017-2020;</li>
  <li>Partager des expériences des institutions et initiatives impliquées dans la coopération technique et scientifique;</li>
  <li>Discuter des opportunités pour collaboration future entre différents partenaires.</li>
  </lu>

  <p><span style="text-decoration: underline;">Programme</span></p>
  <p><span style="font-style: italic;">Modérator:</span> M. Olivier de Munck, Secrétariat de la CDB</p>
  <p><span style="font-style: italic;">Introduction:</span></p>
  <lu class="bbilist">
      <li>M. Erie Tamale, Secrétariat de la CDB: Mot de bienvenue et introduction</li>
  <li>Mme. Natasha McQuaid, Centre de la science de la biodiversité du Québec: "Survol du plan d’action BBI 2017-2020". Télécharger la présentation ici (PDF).</li>
</lu>
    <p><span style="font-style: italic;">Organisations partenaires du BBI :</span></p>
    <lu class="bbilist">
        <li>Institutions engagées dans la coopération technique et scientifique:</li>
    </lu>

    <lu class="bbilist-2">
        <li>M. Didier Babin, Centre de coopération internationale en recherche agronomique pour le développement: "Projet pilot BBI : Coopération pour le développement de Comptes sur le Capital naturel et des écosystèmes dans les pays africains francophones en développement. Télécharger la preséntation <a href="https://www.cbd.int/bbi/doc/COP13-BBI-Action-Plan_Dec8_francais.pdf" target="_blank">ici (PDF)</a>.</li>
    </lu>
  <lu class="bbilist">
    <li>Opportunité pour collaborer avec d’autres programmes qui travaillent déjà dans la coopération scientifique et technique:</li>
</lu>
<lu class="bbilist-2">
    <li>Mme. Solène Le Doze, Biodiversity and Ecosystem Services Network (BES-Net) : "Promoting dialogue between science, policy and practice, to build capacity for sustainable management of biodiversity and ecosystem services worldwide". Télécharger la présentation <a href="https://www.cbd.int/bbi/doc/BBI-Cancun-CoopCECNAfrique-2.pdf" target="_blank">ici (PDF)</a>.</li>
    </lu>
  <p><span style="font-style: italic;">Comment le BBI pourrait être un complément aux initiatives existantes déjà: Télécharger la présentation <a href="https://www.cbd.int/bbi/doc/BES-Net-BBI-side-event-French.pdf" target="_blank">ici (PDF)</a>.</span></p>

  <h3>Third Science for Biodiversity Forum (1-2 December 2016)</h3>

  <h4>A panel discussion on the role of technical and scientific cooperation in facilitating biodiversity mainstreaming (2 December 2016)</h4>
  <lu class="bbilist">
      <li>This panel addressed the role technical and scientific cooperation (TSC) in ramping up the mainstreaming of biodiversity across sectors and facilitate the sharing of good practices and successful approaches among countries and institutions.</li>
  <li><span style="font-style: italic;">Facilitator:</span> Mr. Erie Tamale, CBD Secretariat</li>
  <li><span style="font-style: italic;">Panel participants:</span></li>
  <lu class="bbilist">
      <li>Dr. Ciara Raudsepp-Hearne, QCBS: "Overview of the Bio-Bridge Initiative and its Action Plan 2017-2020". Download the presentation<a href="https://www.cbd.int/bbi/doc/1-RAUDSEPP-HEARNE-COP13-BBI-Action-Plan-Science-Forum.pdf" target="_blank"> here (PDF)</a>.</li>
  <li>Mr. Randall Garcia, INBio: "TSC experiences in Latin America". Download the presentation <a href="https://www.cbd.int/bbi/doc/2-BBI-Panel-INBio.pdf" target="_blank">here (PDF).</a></li>
  <li>Dr. Tanya Abrahamse, SANBI: "TSC experiences in Southern Africa". Download the presentation <a href="https://www.cbd.int/bbi/doc/3-ABRAHAMSE-SANBI-and-Technical&Science-Co-operation.pdf" target="_blank">here (PDF).</a></li>
  <li>Mr. Han de Koeijer, Royal Belgian Institute of Natural Sciences: "Consortium of Scientific Partners (CSP) and its potential in contributing to the Bio-Bridge Initiative". Download the presentation <a href="https://www.cbd.int/bbi/doc/4-HAN-CSP-PPT-Mexico-scienceforum.pdf" target="_blank">here (PDF).</a></li>
</lu>
  <h3>IUCN World Conservation Congress (1-10 September 2016)</h3>

  <h4>International Workshop on Technical and Scientific Cooperation for the Conservation and Sustainable Use of Biological Diversity and the Bio-Bridge Initiative (5 September 2016)</h4>
  <lu class="bbilist">
      <li>This workshop will facilitate exchange of information, views and perspectives regarding technical and scientific cooperation (TSC) for the conservation and sustainable use of biological diversity, with a particular focus on the Bio-Bridge Initiative and emerging experiences and lessons learned by other relevant TSC mechanisms & programmes.</li>
      <li>The workshop will consist of two main sessions:</li>
  </lu>
  <lu class="bbilist-2">
      <li>Introduction to the Bio-Bridge Initiative and its Future Work Plan, including an overview of the draft BBI Action Plan 2017-2020 and pilot projects.</li>
  <li>Panel discussion on "Enhancing technical and scientific cooperation for the conservation and sustainable use of biodiversity: Emerging experiences and opportunities for collaboration". Panelists include Dr. Tom Brooks (Head, Science and Knowledge Team, IUCN), Ms. Eileen De Ravin (Manager, UNDP Biodiversity Global Programme), Dr. Thomas Koetz (Programme Officer, IPBES Secretariat), and Dr. Spencer Thomas (Chair, CTCN Advisory Board, former Chair CBD SBSTTA).</li>
</lu>
  <p>For more information, please click <a href="https://portals.iucn.org/congress/session/16324" target="_blank">here</a>.</p>
    </div>


</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>