<section>
  <legend class="text-capitalize">{{project.title}}</legend>
  <div class="row">
      <div class="col-xs-3 text-left">
          <strong> Country</strong>
      </div>
      <div class="col-xs-9">
          <strong>Description</strong>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-3">
          {{ formatCollaborator(project.country)}}
          <span ng-if="project.proponent"></br></br><strong> Proponent<span ng-if="project.proponent.length>1">s</span></strong></br></span>
          <span ng-repeat="pr in project.proponent track by $index">{{pr}}<span ng-if="!$last"><br>and<br> </span></span>
          <span ng-if="project.collaborators.length"></br></br><strong>Collaborators</strong></span></br>
          <span ng-repeat="co in project.collaborators track by $index">{{formatCollaborator(co)}}<span ng-if="!$last">, </span></span>
      </div>
      <div class="col-xs-9">
          {{project.description}}
      </div>
  </div>
</section>
