<div class="row">
    <div class="container-fluid">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="marginless ">
                        Media Requests
                    </h3>
                </div>
                <div class="col-xs-6 text-right ">
                    <div class="btn-group atop">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle">
                            Status
                            <span class="caret"></span>
                        </button>
                        <!---->
                    </div>
                    <div style="display: inline-block;">
                        <div class="input-group input-sm" style="width: 200px;">
                            <input type="text" class="form-control">
                            <span type="button" class="input-group-addon">
                                <i class="eco-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 ">
                    <table class="table table-striped table-hover table-condensed">
                        <tbody>
                            <tr ng-repeat="request in mediaRequestCtrl.requests">
                                <td colspan="3">
                                    <table class="table  table-condensed no-back-color no-border-first-row">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <i class="eco-plus-circled"></i> {{request.organization.title}}
                                                    <span ng-if="request.organization.acronym">{{request.organization.acronym}}</span>
                                                </td>
                                                <td width="20% align:right">
                                                    <div role="group" class="btn-group btn-group-xs">
                                                        <button type="button" class="btn btn-default">
                                                            <i class="eco-search"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default">
                                                            <i class="eco-thumbs-up-alt"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default">
                                                            <i class="eco-thumbs-down-alt"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                           <media-organization ng-click="mediaRequestCtrl.selectOrganization(request.organization)" ng-model="request.organization"></media-organization>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            participants
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6 right">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="marginless ">
                        Search
                    </h3>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right" style="display: inline-block;">
                        <div class="input-group input-sm" style="width: 200px;">
                            <i ng-if="mediaRequestCtrl.kronos.loading" class="fa fa-cog fa-spin"></i>
                            <input type="text" class="form-control" ng-change="mediaRequestCtrl.searchKronos()" ng-model="mediaRequestCtrl.kronos.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                            <span type="button" class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 ">
                    
                    <table class="table table-striped table-hover table-condensed">
                        <tbody>
                            <tr ng-repeat="korg in mediaRequestCtrl.kronos.organizations">
                                <td>{{korg.Title}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{mediaRequestCtrl.kronos}}
                </div>
            </div>
        </div>
    </div>

    {{mediaRequestCtrl.error}}
</div>
