<div class="row">
    <style>
        .media-table .inactive {
            background: #fff;
        }

        .media-table .active {
            background: #c5dff1 !important;
        }

        .media-table h3 {
            font-size: 13px;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        table tr td {
            max-width: 50%
        }

        .chip {
            display: inline-block;
            margin: 2px;
        }
    </style>
    <div class="container-fluid">
        <div class="col-xs-12">
            <h3 class="marginless ">
                Media Requests
            </h3>
        </div>
        <div class="panel  panel-default">
            <div class="panel-body">
                <table  width="100%">
                    <colgroup>
                        <col style="width: 50%" />
                        <col style="width: 50%" />
                    </colgroup>
                    <tr>
                        <td>
                            <div class="row">
                               
                                <div class="col-xs-6">
                                        <select class="form-control">
                                            <option>New</option>
                                            <option>Approved</option>
                                            <option>Rejected</option>
                                        </select>
                                    </div>
                                    <div  class="col-xs-6">
                                        <div class="input-group input-sm" style="width: 200px;">
                                            <input type="text" class="form-control">
                                            <span type="button" class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                            </div>

                        </td>
                        <td>
                            <div class="row">                                
                                <div class="col-xs-12">
                                    <div class="pull-right" style="display: inline-block;">
                                        <div class="input-group input-sm" style="width: 200px;">
                                            <i ng-if="mediaRequestCtrl.kronos.loading" class="fa fa-cog fa-spin"></i>
                                            <input type="text" class="form-control" ng-change="mediaRequestCtrl.searchKronos()" ng-model="mediaRequestCtrl.kronos.search"
                                                ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                                            <span type="button" class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
                <div class="panel  panel-default" ng-repeat="request in mediaRequestCtrl.requests" ng-if="request.organization">
                    <div class="panel-body">
                        <table class="table table-striped1 table-hover1 table-condensed media-table" 
                            width="100%">
                            <colgroup>
                                <col style="width: 50%" />
                                <col style="width: 50%" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>
                                        <h3>
                                            <i class="eco-plus-circled"></i> {{request.organization.title}}
                                            <span ng-if="request.organization.acronym">{{request.organization.acronym}}</span>
                                        </h3>
                                        <div role="group" class="btn-group btn-group-xs pull-right">
                                            <button type="button" class="btn btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <button type="button" class="btn btn-default">
                                                <i class="fa fa-thumbs-up"></i>
                                            </button>
                                            <button type="button" class="btn btn-default">
                                                <i class="fa fa-thumbs-down"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3>Media Request</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-if="request.designation">
                                                    Designation :
                                                    <span class="label label-info chip" ng-repeat="item in request.designation">{{item}}</span>
                                                </div>
                                                <div ng-if="request.medium">
                                                    Medium :
                                                    <span class="label label-info chip" ng-repeat="item in request.medium">{{item}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="panel panel-default"
                                                ng-class="{'active':request._id == mediaRequestCtrl.selectedRequest._id}">
                                            <div class="panel-heading">
                                                <h3>Media Organization</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-click="mediaRequestCtrl.selectRequest(request)">
                                                    <div ng-if="request.organization.type">{{request.organization.type}}</div>
                                                    <address style="margin-bottom:2px!important">
                                                        <div>{{request.organization.address.unitNumber}} {{request.organization.address.streetNumber}}
                                                            {{request.organization.address.street}}
                                                        </div>
                                                        <div ng-if="request.organization.address.locality">{{request.organization.address.locality}},</div>
                                                        <div ng-if="request.organization.address.administrativeArea">{{request.organization.address.administrativeArea}},</div>
                                                        {{request.organization.address.postalCode}}
                                                        <span ng-show="request.organization.address.postalCode">, </span>
                                                        <span style="font-weight:500;">
                                                            <br ng-show="!request.organization.address.postalCode" />{{request.organization.address.country|term}}</span>
                                                    </address>

                                                    <div ng-if="request.organization.phone">
                                                        Phone: {{request.organization.phone}}
                                                    </div>
                                                    <div ng-if="request.organization.email">
                                                        Email:
                                                        <a translation-url ng-href="mailto:{{request.organization.email}}">{{request.organization.email}}</a>
                                                        <span ng-if="request.organization.emailCc">
                                                            <br>
                                                            <a translation-url ng-href="mailto:{{request.organization.emailCc}}">{{request.organization.emailCc}}</a>
                                                        </span>
                                                    </div>
                                                    <div ng-if="request.organization.website">
                                                        Website:
                                                        <a translation-url target="_new" ng-href="{{request.organization.website}}">{{request.organization.website}}</a>
                                                    </div>


                                                    <div ng-show="request.organization.medium">
                                                        Medium:
                                                        <span ng-repeat="item in request.organization.medium">{{item}}
                                                            <span ng-show="!$last">, </span>
                                                        </span>
                                                    </div>

                                                    <hr/>
                                                    <div ng-if="request.organization.attachment">
                                                        <ul class="list">
                                                            <li ng-repeat="item in request.organization.attachment">
                                                                <a target="_blank" ng-href="{{mediaRequestCtrl.attachmentUrl(item.url)}}">{{item.title||item.url}}
                                                                    <span ng-if="item.tag">({{item.tag}})</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-12 ">
                                            <div class="panel panel-default" ng-if="request.kronos">
                                                <div class="panel-heading">
                                                    <h3>Kronos Organization <i ng-if="request.kronos.loading" class="fa fa-cog fa-spin"></i></h3>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped table-hover table-condensed">
                                                        <tbody>
                                                            <tr ng-repeat="korg in request.kronos.organizations">
                                                                <td>{{korg.OrganizationName}} <span ng-if="korg.OrganizationAcronym">({{korg.OrganizationAcronym}})</span></td>
                                                                <td>{{korg.Country|term}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {{mediaRequestCtrl.kronos}}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3>Participants
                                                    <div class="pull-right btn-group">
                                                        <a ng-href="#" ng-click="mediaRequestCtrl.loadParticipants(request)">Show all</a>
                                                    </div>
                                                </h3>
                                            </div>

                                            <div class="panel-body collapse in" id="mediaRequestCtrl.participants{{$index}}" ng-if="request.participants && request.showParticipants">
                                                <div class="row">
                                                    <i class="fa fa-spin fa-spinner" ng-if="request.loadingParticipants" />
                                                    <div ng-repeat="participant in request.participants" style="border:1px solid #eee; margin:5px;padding:5px;" ng-click="mediaRequestCtrl.selectParticipant(request, participant)"
                                                        class="">
                                                        <table class="table table-hover inactive" width="100%">
                                                            <colgroup>
                                                                <col style="width: 50%" />
                                                                <col style="width: 50%" />
                                                            </colgroup>
                                                            <tbody>
                                                                <tr>
                                                                    <td ng-class="{'active':participant._id == mediaRequestCtrl.selectedParticipant._id}">
                                                                        <div class="pull-right">
                                                                            <span class="label label-primary" ng-if="request.focalPoint == participant._id">Focal point</span>
                                                                            <span class="label label-primary" ng-if="request.head == participant._id">Head</span>
                                                                            <span class="label label-info" ng-if="participant.requestType">{{participant.requestType}}</span>
                                                                            <!-- <span class="label label-info" ng-if="participant.requestType">{{participant.requestType}}</span> -->
                                                                        </div>
                                                                        <div>
                                                                            <span style="font-weight:500;">{{participant.title}} {{participant.firstName}}
                                                                                {{participant.lastName}}
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            {{participant.organizationName}}
                                                                        </div>
                                                                        <div>
                                                                            {{participant.designation}}
                                                                            <span ng-show="participant.designationOther">({{participant.designationOther}})</span>
                                                                            <span ng-show="participant.designation && participant.department">, </span> {{participant.department}}
                                                                        </div>
                                                                        <div ng-if="participant.nationality">
                                                                            <span style="font-weight:500;">{{participant.nationality|term}}</span>
                                                                        </div>
                                                                        <table>
                                                                            <tr>
                                                                                <td>Date of birth</td>
                                                                                <td>{{participant.dateOfBirth}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Passport number</td>
                                                                                <td>{{participant.passportNumber }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Phone</td>
                                                                                <td>{{participant.phone }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Email</td>
                                                                                <td>{{participant.email }}</td>
                                                                            </tr>
                                                                            <!-- <tr>
                                                                                        <td></td><td></td>
                                                                                    </tr> -->
                                                                        </table>
                                                                        <div ng-if="participant.address">
                                                                            <address style="margin-bottom:2px!important">
                                                                                <div>{{participant.address.unitNumber}} {{participant.address.streetNumber}}
                                                                                    {{participant.address.street}}
                                                                                </div>
                                                                                <div ng-if="participant.address.locality">{{participant.address.locality}},</div>
                                                                                <div ng-if="participant.address.administrativeArea">{{participant.address.administrativeArea}},</div>
                                                                                {{participant.address.postalCode}}
                                                                                <span ng-show="participant.address.postalCode">, </span>
                                                                                <span style="font-weight:500;">
                                                                                    <br ng-show="!participant.address.postalCode" />{{participant.address.country|term}}</span>
                                                                            </address>
                                                                        </div>
                                                                        <hr/>
                                                                        <div ng-if="participant.attachment">
                                                                            <ul class="list">
                                                                                <li ng-repeat="item in participant.attachment">
                                                                                    <a target="_blank" ng-href="{{mediaRequestCtrl.attachmentUrl(item.url)}}">{{item.title||item.url}}
                                                                                        <span ng-if="item.tag">({{item.tag}})</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                    <td style="border-left:1px solid #eee">
                                                                        <h3>Kronos Contact <i ng-if="participant.kronos.loading" class="fa fa-cog fa-spin"></i></h3>
                                                                        <div ng-repeat="kctc in participant.kronos.contacts">
                                                                            {{kctc.FirstName}} {{kctc.LastName}}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{mediaRequestCtrl.error}}
</div>
