<div class="row">
    <style>
        .media-request-container .inactive {
            background: #fff;
        }

        .media-request-container .active {
            background: #c5dff1 !important;
        }

        .media-request-container h3 {
            font-size: 13px;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        table tr td {
            max-width: 50%
        }

        .chip {
            display: inline-block;
            margin: 2px;
        }
    </style>
    <div class="container-fluid">
        <div class="col-xs-12">
            <h2 class="marginless ">
                Media Requests <i ng-if="mediaRequestCtrl.loading" class="fa fa-spinner fa-spin"></i>
            </h2>
        </div>
        <div class="col-xs-12 panel  panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="pull-right" ng-if="mediaRequestCtrl.requests.length">Total : {{mediaRequestCtrl.requests.length}}</div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-change="mediaRequestCtrl.refreshRequestList(mediaRequestCtrl.requestStatus)" ng-model="mediaRequestCtrl.requestStatus">
                            <option value="">All</option>
                            <option value="new">New</option>
                            <option value="accredited">Accredited</option>
                            <option value="rejected">Rejected</option>
                        </select>
                    </div>
                </div>

                <hr>

                <div class="panel  panel-default" ng-repeat="request in mediaRequestCtrl.requests" ng-class="{'panel-info': request.organization._id == mediaRequestCtrl.selectedRequest.organization._id }">
                    <div class="panel-heading" style="cursor:pointer" ng-click="mediaRequestCtrl.selectRequest(request==mediaRequestCtrl.selectedRequest?null:request); mediaRequestCtrl.selectedRequest.organization.kronosIds.length && mediaRequestCtrl.lookUpKronosOrganizations()">
                        <i class="eco-plus-circled"></i> {{request.organization.title}} 
                        <span ng-if="request.organization.acronym">({{request.organization.acronym}})</span>

                        <em>{{request.organization.address.country|lowercase|term}}</em>

                        <div class="pull-right btn-group">

                            <span class="label label-default" ng-if="request.needTags">Need Tags</span>
                            <span class="label label-info" ng-if="request.currentStep=='finished' && !request.accredited && !request.rejected">New</span>
                            <span class="label label-warning" ng-if="request.currentStep!='finished'">Pending</span>
                            <span class="label label-success" ng-if="request.accredited">Accredited</span>
                            <span class="label label-danger"  ng-if="request.rejected">Rejected</span>
                            <i ng-hide="request == mediaRequestCtrl.selectedRequest" class="fa fa-caret-down" aria-hidden="true"></i></a>
                            <i ng-show="request == mediaRequestCtrl.selectedRequest" class="fa fa-caret-up" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="panel-body" ng-if="request == mediaRequestCtrl.selectedRequest">

                        <h3>Organization</h3>

                        <div class="panel panel-default">
                            <div class="panel-body collapse in">
                                <div ng-click="mediaRequestCtrl.selectRequest(request)">
                                    <div class="row" style="border-bottom:1px solid #eee;padding-bottom:5px;">
                                        <div class="col-xs-6" >
                                            <div class="pull-right">
                                                <div role="group" class="btn-group btn-group-xs" ng-if="request.currentStep=='finished'">
                                                    <button type="button" class="btn btn-default" ng-click="mediaRequestCtrl.updateOrganizationStatus(request, 'accreditate')"
                                                        ng-disabled="request.accredited">
                                                        <i class="fa fa-thumbs-up"></i> Accreditate
                                                    </button>
                                                    <button type="button" class="btn btn-default" ng-click="mediaRequestCtrl.updateOrganizationStatus(request, 'reject')" ng-disabled="request.rejected">
                                                        <i class="fa fa-thumbs-down"></i> Reject
                                                    </button>
                                                </div>
                                            </div>
                                            <b>{{request.organization.title}}</b>
                                            <span ng-if="request.organization.acronym">({{request.organization.acronym}})</span>
                                        </div>
                                        <div class="col-xs-6" style="border-left:1px solid #eee;">
                                            Kronos Organization
                                            <i ng-if="request.kronos.loading" class="fa fa-cog fa-spin"></i>
                                            <div class="pull-right" style="display: inline-block;">
                                                <div class="input-group input-sm" style="width: 200px;padding: 0px;">
                                                    <i ng-if="mediaRequestCtrl.kronos.loading" class="fa fa-cog fa-spin"></i>
                                                    <input style="height:30px" type="text" class="form-control" ng-change="mediaRequestCtrl.searchKronosOrg(request.kronos.search, request)"
                                                        ng-model="request.kronos.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                                                    <span type="button" class="input-group-addon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:5px" >
                                        <div class="col-xs-6" style="border-right:1px solid #eee;"  
                                        ng-class="{'active':request.organization._id == mediaRequestCtrl.selectedRequest.organization._id}">

                                            <div class="pull-right">
                                                <span class="label label-success" ng-if="request.accredited">Accredited</span>
                                                <span class="label label-danger" ng-if="request.rejected">Rejected</span>
                                                <span class="label label-primary" ng-if="request.organization.kronosIds.length">Linked with kronos</span>
                                            </div>
                                            <div ng-if="request.organization.type"></div>
                                            <address style="margin-bottom:2px!important">
                                                <div>{{request.organization.address.unitNumber}} {{request.organization.address.streetNumber}}
                                                    {{request.organization.address.street}}
                                                </div>
                                                <div ng-if="request.organization.address.locality">{{request.organization.address.locality}},</div>
                                                <div ng-if="request.organization.address.administrativeArea">{{request.organization.address.administrativeArea}},</div>
                                                {{request.organization.address.postalCode}}
                                                <span ng-show="request.organization.address.postalCode">, </span>
                                                <span style="font-weight:500;">
                                                    <br ng-show="!request.organization.address.postalCode" />{{request.organization.address.country|lowercase|term}}</span>
                                            </address>

                                            <div ng-if="request.organization.phone">
                                                Phone: {{request.organization.phone}}
                                            </div>
                                            <div ng-if="request.organization.email">
                                                Email:
                                                <a translation-url ng-href="mailto:{{request.organization.email}}">{{request.organization.email}}</a>
                                                <span ng-if="request.organization.emailCc">
                                                    <br>
                                                    <a translation-url ng-href="mailto:{{request.organization.emailCc}}">{{request.organization.emailCc}}</a>
                                                </span>
                                            </div>
                                            <div ng-if="request.organization.website">
                                                Website:
                                                <a translation-url target="_new" ng-href="{{request.organization.website}}">{{request.organization.website}}</a>
                                            </div>


                                            <div ng-show="request.organization.medium">
                                                Medium:
                                                <span ng-repeat="item in request.organization.medium">{{item}}
                                                    <span ng-show="!$last">, </span>
                                                </span>
                                            </div>

                                            <div ng-if="request.organization.type">
                                                Type:
                                                <span>{{request.organization.type}}</span>
                                            </div>
                                            <hr/>
                                            <div ng-if="request.organization.attachment">
                                                <ul class="list">
                                                    <li ng-repeat="item in request.organization.attachment">
                                                        <a target="_blank" ng-href="{{mediaRequestCtrl.attachmentUrl(item.url)}}">{{item.title||item.url}}
                                                            <span ng-if="item.tag">({{item.tag}})</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" style="border-left:1px solid #eee">
                                            <div ng-if="request.kronos">

                                                <table class="table table-striped table-hover table-condensed">
                                                    <tbody ng-repeat="korg in request.kronos.organizations">
                                                        <tr>
                                                            <td>
                                                                <button type="button" class="btn btn-sm" ng-click="mediaRequestCtrl.toggle(korg)" ng-if="!korg.showMore">
                                                                    <i class="fa fa-chevron-circle-down"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-sm" ng-click="mediaRequestCtrl.toggle(korg)" ng-if="korg.showMore">
                                                                    <i class="fa fa-chevron-circle-up"></i>
                                                                </button>
                                                                {{korg.name}}
                                                                <span ng-if="korg.OrganizationAcronym">({{korg.acronym}})</span>
                                                            </td>
                                                            <td>{{korg.country|lowercase|term}}</td>
                                                            <td>
                                                                <div role="group" class="btn-group btn-group-xs pull-right">
                                                                    
                                                                    <button type="button" class="btn" ng-click="mediaRequestCtrl.linkKronsOrganization(request, korg)" ng-if="!korg.isLinked">
                                                                        <i class="fa fa-square-o"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-success" ng-click="mediaRequestCtrl.removeKronsOrganization(request, korg)" ng-if="korg.isLinked">
                                                                        <i class="fa fa-check-square"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="korg.showMore">
                                                            <td colspan="3">
                                                                    <address style="margin-bottom:2px!important">
                                                                        <div>{{korg.address}} </div>
                                                                        <div ng-if="korg.city">{{korg.city}},</div>
                                                                        <div ng-if="korg.state">{{korg.state}},</div>                                                                        
                                                                        <span ng-show="korg.postalCode"> {{korg.postalCode}}, </span>
                                                                        <div style="font-weight:500;"> {{korg.country|lowercase|term}}</div>
                                                                    </address>
                                                                    <div ng-if="korg.phones.length">
                                                                        Phones: <span ng-repeat="phone in korg.phones"> {{phone}}</span>
                                                                    </div>
                                                                    <div ng-if="korg.emails.length">
                                                                        Emails: <span ng-repeat="email in korg.emails"> {{email}}</span>
                                                                    </div>
                                                                    <div ng-if="korg.webs.length">
                                                                        Websites: <span ng-repeat="web in korg.webs"> {{web}}</span>
                                                                    </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot ng-if="request._id == mediaRequestCtrl.selectedRequest._id">
                                                        <tr>
                                                            <td>
                                                                <button class="btn btn-xs btn-primary" ng-click="mediaRequestCtrl.createKronosOrg(request)">Create Kronos Organization</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right btn-group">
                                <a ng-href="#" ng-click="mediaRequestCtrl.loadParticipants(request)">Show all</a>
                        </div>
                        <h4>Participants</h4>

                        <div class="panel panel-default">
    
                            <div class="panel-body collapse in" id="mediaRequestCtrl.participants{{$index}}" ng-if="(request.participants && request.showParticipants) || request.loadingParticipants">
                                <div class="row">
                                    <div class="text-center">
                                      <i class="fa fa-spin fa-spinner fa-2x" ng-if="request.loadingParticipants || !(request.participants && request.showParticipants)" />
                                    </div>
                                    <div ng-repeat="participant in request.participants" style="border:1px solid #eee; margin:5px;padding:5px;" ng-click="mediaRequestCtrl.selectParticipant(request, participant)"
                                        class="">
                                        <table class="table inactive" width="100%">
                                            <colgroup>
                                                <col style="width: 50%" />
                                                <col style="width: 50%" />
                                            </colgroup>
                                            <tbody>
                                                <tr >
                                                    <td ng-class="{'active':participant._id == mediaRequestCtrl.selectedParticipant._id}" class="text-right">
                                                        <div role="group" class="btn-group btn-group-xs" ng-if="request.currentStep=='finished'">

                                                            <button type="button" class="btn btn-default" ng-click="mediaRequestCtrl.updateParticipantStatus(participant, request,'accreditate')"
                                                                ng-disabled="!participant.kronosId || participant.accredited">
                                                                <i class="fa fa-thumbs-up"></i> Accreditate
                                                            </button>
                                                            <button type="button" class="btn btn-default" ng-click="mediaRequestCtrl.updateParticipantStatus(participant, request, 'reject')" 
                                                            ng-disabled="!participant.kronosId || participant.rejected">
                                                                <i class="fa fa-thumbs-down"></i> Reject
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Kronos Contact
                                                        <i ng-if="participant.kronos.loading && !participant.kronos.contacts.length" class="fa fa-cog fa-spin"></i>
                                                        <div class="pull-right" style="display: inline-block;">
                                                            <div class="input-group input-sm" style="width: 200px;padding:0px">
                                                                <input style="height:30px" type="text" class="form-control" ng-change="mediaRequestCtrl.searchKronosContact(participant.kronos.search, participant, request)"
                                                                    ng-model="participant.kronos.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                                                                <span type="button" class="input-group-addon">
                                                                    <i class="fa fa-search"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  ng-class="{'active':participant._id == mediaRequestCtrl.selectedParticipant._id}">
                                                        <div class="pull-right">
                                                            <span class="label label-default" ng-if="participant.isOnline">Online</span>
                                                            <span class="label label-default" ng-if="participant.needsVisa">Visa</span>
                                                            <span class="label label-success" ng-if="participant.accredited">Accredited</span>
                                                            <span class="label label-danger" ng-if="participant.rejected">Rejected</span>
                                                            <span class="label label-primary" ng-if="participant.kronosId">Nominated in kronos</span>
                                                            <span class="label label-primary" ng-if="request.focalPoint == participant._id">Focal point</span>
                                                            <span class="label label-primary" ng-if="request.head == participant._id">Head</span>
                                                            <span class="label label-info" ng-if="participant.requestType">{{participant.requestType}}</span>
                                                        </div>
                                                        <div>
                                                            <span style="font-weight:500;">{{participant.title}} {{participant.firstName}} {{participant.lastName}}
                                                            </span>
                                                        </div>
                                                        <div>
                                                            {{participant.organizationName}}
                                                        </div>
                                                        <div>
                                                            {{participant.designation}}
                                                            <span ng-show="participant.designationOther">({{participant.designationOther}})</span>
                                                            <span ng-show="participant.designation && participant.department">, </span> {{participant.department}}
                                                        </div>
                                                        <div ng-if="participant.nationality">
                                                            <span style="font-weight:500;">{{participant.nationality|lowercase|term}}</span>
                                                        </div>
                                                        <div class="text-left"><hr/ ></div>
                                                        <table>
                                                            <tr ng-if="participant.dateOfBirth">
                                                                <td>Date of birth</td>
                                                                <td>{{participant.dateOfBirth}}</td>
                                                            </tr>
                                                            <tr ng-if="participant.passportNumber">
                                                                <td>Passport number</td>
                                                                <td>{{participant.passportNumber }}</td>
                                                            </tr>
                                                            <tr ng-if="participant.phone">
                                                                <td>Phone</td>
                                                                <td>{{participant.phone}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td>{{participant.email}}</td>
                                                            </tr>
                                                            <!-- <tr>
                                                                                        <td></td><td></td>
                                                                                    </tr> -->
                                                        </table>
                                                        <div ng-if="participant.address">
                                                            <address style="margin-bottom:2px!important">
                                                                <div>{{participant.address.unitNumber}} {{participant.address.streetNumber}}
                                                                    {{participant.address.street}}
                                                                </div>
                                                                <div ng-if="participant.address.locality">{{participant.address.locality}},</div>
                                                                <div ng-if="participant.address.administrativeArea">{{participant.address.administrativeArea}},</div>
                                                                {{participant.address.postalCode}}
                                                                <span ng-show="participant.address.postalCode">, </span>
                                                                <span style="font-weight:500;">
                                                                    <br ng-show="!participant.address.postalCode" />{{participant.address.country|lowercase|term}}</span>
                                                            </address>
                                                        </div>
                                                        
                                                        <div ng-if="participant.attachment.length">
                                                            <hr/>
                                                            <label>Attachments</label>
                                                            <ul class="list">
                                                                <li ng-repeat="item in participant.attachment">
                                                                    <a target="_blank" ng-href="{{mediaRequestCtrl.attachmentUrl(item.url)}}">{{item.title||item.url}}
                                                                        <span ng-if="item.tag">({{item.tag}})</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div ng-if="participant.meeting.length">
                                                            <hr/>
                                                            <label>Participating Meetings</label>
                                                            <table class="table table-striped">
                                                                <tr ng-repeat="item in participant.meeting">
                                                                    <td>
                                                                        {{mediaRequestCtrl.meetings[item].EVT_CD}}
                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td style="border-left:1px solid #eee">                                                        
                                                        <table class="table table-striped table-hover table-condensed">
                                                            <tbody ng-repeat="kctc in participant.kronos.contacts">
                                                                <tr ng-class="{'active':kctc.isLinked}">
                                                                    <td>
                                                                        <button type="button" class="btn btn-sm" ng-click="mediaRequestCtrl.toggle(kctc)" ng-if="!kctc.showMore">
                                                                            <i class="fa fa-chevron-circle-down"></i>
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm" ng-click="mediaRequestCtrl.toggle(kctc)" ng-if="kctc.showMore">
                                                                            <i class="fa fa-chevron-circle-up"></i>
                                                                        </button>
                                                                        {{kctc.firstName}} {{kctc.lastName}}</td>
                                                                    <td>{{kctc.country | lowercase | term}}</td>
                                                                    <td>

                                                                        <div role="group" class="btn-group btn-group-xs pull-right">
                                                                            <button type="button" class="btn" ng-click="mediaRequestCtrl.linkKronosContact(request, participant, kctc)" ng-if="!kctc.isLinked">
                                                                                <i class="fa fa-square-o"></i>
                                                                            </button>
                                                                            <button type="button" class="btn btn-success" ng-click="mediaRequestCtrl.removeKronosContact(request, participant, kctc)"
                                                                                ng-if="kctc.isLinked">
                                                                                <i class="fa fa-check-square"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr ng-if="kctc.showMore">
                                                                    <td colspan="3">
                                                                            <address style="margin-bottom:2px!important">
                                                                                <div>
                                                                                    <strong>{{kctc.organization.name}}
                                                                                        <span ng-if="kctc.acronym">({{kctc.organization.acronym}})</span>
                                                                                    </strong>
                                                                                </div>
                                                                                <div>{{kctc.address}} </div>
                                                                                <div ng-if="kctc.city">{{kctc.city}},</div>
                                                                                <div ng-if="kctc.state">{{kctc.state}},</div>                                                                        
                                                                                <span ng-show="kctc.postalCode"> {{kctc.postalCode}}, </span>
                                                                                <div style="font-weight:500;"> {{kctc.country|lowercase|term}}</div>
                                                                            </address>
                                                                            <div ng-if="kctc.phones.length">
                                                                                Phones: <span ng-repeat="phone in kctc.phones"> {{phone}}</span>
                                                                            </div>
                                                                            <div ng-if="kctc.mobiles.length">
                                                                              Phones: <span ng-repeat="phone in kctc.mobiles"> {{phone}}</span>
                                                                            </div>
                                                                            <div ng-if="kctc.emails.length">
                                                                                Emails: <span ng-repeat="email in kctc.emails"> {{email}}</span>
                                                                            </div>
                                                                            <div ng-if="kctc.webs.length">
                                                                                Websites: <span ng-repeat="web in kctc.webs"> {{web}}</span>
                                                                            </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot ng-if="participant._id == mediaRequestCtrl.selectedParticipant._id && !participant.kronosId && request.currentStep=='finished'">
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <button class="btn btn-xs btn-primary" ng-click="mediaRequestCtrl.createKronosContact(participant, request)"
                                                                        ng-disabled="!request.organization.kronosIds.length">Create Kronos Contact</button>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{mediaRequestCtrl.error}}
</div>
