<div>

    <div>
        <h3 ng-show="isLoading" style="color: #777"><i class="fa fa-circle-o-notch fa-spin"></i></h3>
    </div>
    <div class="row cbd-article" ng-hide="isLoading">
        
        <div class="image-credit-wrapper"  ng-show="article.coverImage.url" >
            <span class="image-credit" ng-if="article.coverImage.credits">{{article.coverImage.credits}}</span>
            <div class="img cover-image cover-image-position-{{article.coverImage.position||'none'}} cover-image-size-{{article.coverImage.size||'none'}}" ng-if="article.coverImage.url_1200" 
                style="background-image: url({{::cssEscape(article.coverImage.url_1200)}});"></div>
        </div>
        <div class="col-lg-8 col-md-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">                   
            <cbd-article ng-vue ng-vue-expose="&onArticleLoad" :query="articleQuery" v-if="articleQuery" :admin-tags="articleAdminTags" 
                @load="onArticleLoad($event)" hide-cover-image="true" show-edit="true"></cbd-article>

            <div ng-if="showAccordion && accordionQuery">
                <articles-accordion ng-vue ng-vue-expose="&onArticlesLoad" :query="accordionQuery"
                    @onArticlesLoad="onArticlesLoad" :admin-tags="accordionTags"
                    :show-add-new="true" :show-date="false" :show-new-label="false" :show-print="false">
                </articles-accordion>        
            </div>
        </div>

       
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-top:15px;">
            <!-- <social-media></social-media> -->
        </div>
    </div>
</div>
