<div>

    <div>
        <h3 ng-show="isLoading" style="color: #777"><i class="fa fa-circle-o-notch fa-spin"></i></h3>
    </div>
    <div class="row" ng-hide="isLoading">
        
        <div class="image-credit-wrapper" >
            <span class="image-credit" ng-if="article.coverImage.credits">{{article.coverImage.credits}}</span>
            <img class="img-responsive" ng-src="{{::article.coverImage.url_1200}}">
        </div>
        <div class="col-lg-8 col-md-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">                   
            <cbd-article query="articleQuery" ng-if="articleQuery" on-load="onArticleLoad(article)" hide-cover-image="true"></cbd-article>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-top:15px;">
            <social-media></social-media>
        </div>
    </div>
</div>
