<div class="modal fade" data-backdrop="static">
	<style> .opacity55 {opacity: 0.55} </style>

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(success)" aria-hidden="true">×</button>
				<h4 class="modal-title">
					<i class="fa fa-print"></i>
					Request hard copies - {{documents.length}} document(s)
					<i class="fa fa-cog fa-spin" ng-show="loading"></i>
				</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" ng-hide="success">

					<div class="form-group">
						<label for="preferedLanguage" class="col-sm-4 control-label">Prefered language(s)</label>
						<div class="col-sm-6">
							<div class="row">
								<div ng-repeat="locale in documentLocales" class="col-sm-6 col-xs-6">
									<a class="btn btn-link" ng-click="locales[locale] = !locales[locale]" style="color:black;text-decoration:none;text-align:left" ng-class="{ opacity55: !locales[locale] }" >
										<i class="fa fa-square-o"       ng-hide="locales[locale]" style="font-size:20px;width:20px"></i>
										<i class="fa fa-check-square-o" ng-show="locales[locale]" style="font-size:20px;width:20px"></i>
										{{allLanguages[locale]}}
									</a>
								</div>
							</div>

							<span class="help-block hidden-xs">Select at least one language.</span>

						</div>
					</div>


					<div class="form-group" ng-class="{ 'has-error' : error && error.error=='INVALID_BADGE_ID', 'has-warning' : cleanBadge().length>0 && cleanBadge().length<8 }">
						<label for="badgeCode" class="col-sm-4 control-label">Badge number</label>
						<div class="col-sm-6">
							<input type="text" ng-change="clearError()" class="form-control" id="badgeCode" placeholder="1234-5678" maxlength="9" pattern="\d*" ng-model="badgeCode">
							<span class="help-block hidden-xs">Enter badge number to request printed hard copies.</span>
						</div>
					</div>

				</form>

				<div class="alert alert-danger" ng-show="error" ng-switch="error.error">

					<span ng-switch-when="INVALID_BADGE_ID">
						<img style="margin:3px" class="pull-right" src="/app/views/print-smart/sample-barcode.png">
						<b>Sorry!</b> Your CBD Badge number is invalid.
						<br/>You must provide the number located on the top right of your CBD meeting access badge.
					</span>

					<span ng-switch-when="INVALID_BADGE_REVOKED">
						<b>Sorry!</b> Your CBD Badge has been revoked. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="INVALID_BADGE_EXPIRED">
						<b>Sorry!</b> Your CBD Badge has expired. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="INVALID_BADGE_NOT_PRINTSMART_ENABLED">
						<b>Sorry!</b> Your CBD Badge is not enabled for PrintSmart. <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

					<span ng-switch-when="NO_SERVICE">
						<b>Error: service is unavailable!</b> Sorry, the PrintSmart service is not available at this moment.<br>
						Please wait 5 minutes and try again or go to the registration desk or document distribution counter for further assitance.
					</span>

					<span ng-switch-default>
						<b>Sorry!</b> {{error.message||'Unknown error.'}} <br>
						Please visit the registration desk or document distribution counter for assitance.
					</span>

				</div>

				<div class="alert alert alert-success" ng-show="success">
					<b>Your hard copies are on their way...</b> <br/>
					The document(s) you requested are getting printed. You are invited to claim them at the document distribution counter.
				</div>

			</div>

			<div class="modal-footer">

				<i class="fa fa-cog fa-spin" ng-show="loading" style="margin:5px"></i>

				<button type="button" ng-hide="success"  class="btn btn-default" ng-click="back()"  ng-disabled="loading"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Back</span></button>
				<button type="button" ng-show="!success" class="btn btn-primary" ng-click="print()" ng-disabled="!canPrint() || loading"><i class="fa fa-print"></i> Print</button>
				<button type="button" class="btn btn-default" ng-click="close(success)"             ng-disabled="loading"><i class="fa fa-power-off"></i> <span class="hidden-xs">Close</span></button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
