

<div class="row">
    <div class="col-xs-12">

        <form class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-9 col-sm-offset-1" >
            <legend><h3>List of Participants</h3></legend>
           <div class="form-group">
               <label for="selectedMeeting">Meeting</label>

                <select name="selectedMeeting" id="selectedMeeting" ng-model="options.selectedMeeting" class="form-control">
                    <option value="" disabled>&lt;Please select a meeting&gt;</option>
                    <option ng-repeat="option in options.meetings" value="{{option.code}}">{{option.code}}</option>
                </select>
           </div>

           <div class="form-group">
              <label for="registrationStatus">Registration Status</label>
              <select name="registrationStatus" id="registrationStatus" ng-model="options.selectedRegistrationStatus" class="form-control" ng-disabled='!hasMeetingSelected()'>
                  <option ng-repeat="option in options.registrationStatuses" value="{{option.code}}">{{option.name}}</option>
              </select>
           </div>

           <div class="form-group">
              <label for="type">Type</label>
              <select id="type" class="form-control">
                 <option>Export list to Excel</option>
              </select>
           </div>
           <button type="submit" class="btn btn-primary pull-right" ng-click="exportDataToExcel()" ng-disabled='!hasMeetingSelected() || participants.length==0'>Generate list</button>
           <span ng-show="hasMeetingSelected() && participants.length==0" class=""><strong>No participants to export.</strong></span>
           <span ng-show="participants.length>0" class=""><strong>{{participants.length}} participants found.</strong></span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row hidden" ng-show='participants.length>0'>
    <div class="col-xs-12">
      <br />
      <div id="exportable">
      <table width="100%" class="table table-striped small">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Function</th>
                  <th>Government</th>
                  <th>Organization</th>
                  <th>Acronym</th>
                  <th>Email</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="participant in participants">
                  <td>{{participant.TITLE}}</td>
                  <td>{{participant.FIRSTNAME}}</td>
                  <td>{{participant.LASTNAME}}</td>
                  <td>{{participant.FUNCTION}}</td>
                  <td>{{participant.GOVERNMENT}}</td>
                  <td>{{participant.ORGANIZATION}}</td>
                  <td>{{participant.ACRONYM}}</td>
                  <td>{{participant.EMAIL}}</td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
</div>
