<div class="row filter-row" >
	<div class="col-xs-12">
		<span><strong>Aichi Biodiversity Targets<span class="bg-blue badge">{{total}}</span></strong>
		<p class="helpinfo"><i class="fa fa-info-circle helpicon"></i> The Strategic Plan for Biodiversity 2011-2020 includes 20 headline targets for 2015 or 2020 (the "Aichi Biodiversity Targets"), organized under five strategic goals.
		</p>
		</span>

		</span>
		<hr/ style="    border-color: #bbb!important;margin: 5px 0 10px 0;padding: 0;">
	</div>
	<div class="col-xs-12" style="height:160px;overflow-y:auto">

		<div ng-repeat="itemGoal in terms" ng-show="itemGoal.count">
			<div class="col-xs-12">
				<span><strong class="pointer" data-toggle="tooltip" data-html="true"  data-title="{{itemGoal.title | lstring }}" data-container="body">Goal {{itemGoal.identifier.slice(-1)}}
					<span href="#" class="fa fa-info-circle color-white pointer"></span>
				</strong>
					<hr/ style="    border-color: #bbb!important;margin: 5px 0 0px 0;padding: 0;">
				</span>
				<div ng-repeat="item in itemGoal.narrowerTerms" ng-show="item.count">
					<div class="col-xs-12 col-md-2 ">
						<div class="checkbox text-nowrap"  >
								<span href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="{{item.title | lstring }}" data-container="body"></span>
								<label style="font-size: 1em;">
										<input  type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)">
										<span class="cr"><i class="cr-icon fa fa-check"></i></span>
										 <img style="height: 20px;  width: 20px; margin-bottom:5px; " ng-src="https://www.cbd.int/images/aichi/48/abt-{{item.identifier.substring(13)}}-48.png" >
										<span class="bg-blue badge" style="line-height:14px;margin-bottom:5px;">{{item.count}}</span>
								</label>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>