<div class="row filter-row" >
	<div class="col-xs-12"  style="height:315px;overflow-y:auto">
<section ng-show="totalRecords('referenceRecords')">
			<div class="col-xs-12"  >
					<span ><strong>Bio-Bridge Records <span class="bg-blue badge">{{totalRecords('referenceRecords')}}</span></strong>
					<p class="helpinfo hidden-xs" ><i class="fa fa-info-circle helpicon" ></i>
						Records related to the Bio-Bridge Initiative submitted by registered users (Parties, Non-Parties, governments, international organizations, indigenous and local communities, and relevant stakeholders).
					</p>
				</span>
					<hr/ style="    border-color: #bbb!important;margin: 5px 0 10px 0;padding: 0;">
		  </div>



				<div class="col-xs-12 col-md-3" ng-repeat="item in referenceRecords" ng-show="item.init">
					<div class="checkbox text-nowrap">
						<span  ng-switch on="item.identifier" >
								<span ng-switch-when="bbiProfile" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="Providers are Organizations registered and approved by the Bio-Bridge Initiative to offer technical assistance." data-container="body"></span>
								<span ng-switch-when="bbiRequest" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="bbiContact" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="bbiOpportunity" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="organization" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="resource" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="capacityBuildingInitiative" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html=""  data-title="test-tooltip" data-container="body"></span>
						</span>

	            <label style="font-size: 1em;" >
	                <input  type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)">
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
									  {{item.title}} <span class="bg-blue badge">{{item.init}}</span>
	            </label>

				  </div>
				</div>
		  </section>
			<section ng-show="totalRecords('outreachRecords')" >
			<div class="col-xs-12"  >
				<hr/ style="    border-color: #bbb!important;margin: 5px 0 10px 0;padding: 0;"><br>
				<span ><strong>Outreach Records <span class="bg-blue badge">{{totalRecords('outreachRecords')}}</span></strong>
				<p class="helpinfo hidden-xs" ><i class="fa fa-info-circle helpicon" ></i>
						Bio-Bridge related information from the SCBD related to communications and outreach.
				</p>
			</span>
					<hr/ style="    border-color: #bbb!important;margin: 5px 0 10px 0;padding: 0;">
			</div>


				<div class="col-xs-12 col-md-3" ng-repeat="item in outreachRecords" ng-show="item.init">
					<div class="checkbox text-nowrap">
						<span ng-switch on="item.identifier" >
								<span ng-switch-when="notification" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="pressRelease" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="statement" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="announcement" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
								<span ng-switch-when="event" href="#" class="fa fa-info-circle color-white pointer" data-toggle="tooltip" data-html="true"  data-title="" data-container="body"></span>
						</span>
							<label style="font-size: 1em;">

									<input  type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)">
									<span class="cr"><i class="cr-icon fa fa-check"></i></span>
										{{item.title}} <span class="bg-blue badge">{{item.init}}</span>
							</label>
					</div>
				</div>
		  </section>
		</div>
</div>
