<ng-include src="'/app/views/bbi/platform-header.html'"></ng-include>
<div class="row">
    <menu links="links" style="padding:0;margin:0;"></menu>
</div>

<div>
        <br/>
        <div ng-show="user.isAuthenticated">
            <div >
                <div class="col-lg-12 well">
                    <div forum-id="forumId" show-details="true" type="forum" forum-details  show-forum-properties="isAdmin"></div>
                </div>
            </div>
            <br/>
            <div >
                <div class="col-lg-12">
                    <div forum-threads forum-id="forumId" post-url="postUrl" />
                </div>
            </div>
        </div>
        <div ng-show="!user.isAuthenticated" class="bg-green">
            <div login></div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>
