<div  ng-if="notifCtrl.notification">
    <div class="row">
        <div class="col-sm-9">
             <h1>Notification</h1>
        </div>
    </div>


    <div class="row" >
        <div class="col-sm-8">
            <p>Reference: 
                <strong>{{::notifCtrl.notification.reference}}</strong>
                <i>({{::notifCtrl.notification.symbol}})</i>
            </p>
            <p ng-if="::notifCtrl.notification.recipients.length">To: 
                <em ng-repeat="recipient in ::notifCtrl.notification.recipients track by $index">
                    {{::recipient}}<span ng-if="!$last">,</span>
                </em>
            </p>
            <p><i class="fa fa-calendar fa-fw"></i> {{::notifCtrl.notification.date|date:'yyyy-MM-dd'}}</p>
            <p ng-if="::notifCtrl.notification.actionDate" class="text-danger"> <i class="fa fa-calendar-check-o fa-fw"></i> Action required by {{::notifCtrl.notification.actionDate | date:'yyyy-MM-dd'}}</p>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Notification text
                </div>
                <div class="panel-body">
                    <document-files files="notifCtrl.notification.files"></document-files>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-sm-12">
                <h3>{{::notifCtrl.notification.title|lstring}}</h3>
            </div>
        </div>

    <div class="row" ng-show="notifCtrl.preview.type=='article'">
        <div class="col-sm-12">    
            <cbd-article query="notifCtrl.articleQuery" ng-if="notifCtrl.articleQuery" on-load="notifCtrl.onArticleLoad(article)" hide-cover-image="true"></cbd-article>
        </div>
    </div>
    <div class="row" ng-if="notifCtrl.preview.type=='embed'">
        <div class="col-sm-12">    
            <iframe src="{{notifCtrl.preview.url}}"  style="width:100%;height:650px"></iframe>
        </div>
    </div>
    <div class="row" ng-if="notifCtrl.preview.type=='none'">
        <div class="col-sm-12">    
                <p><i>Sorry, no preview available.</i></p>
                <p>Please download the Notification text file.</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    <document-files files="notifCtrl.notification.files"></document-files>
                </div>
            </div>

        </div>
    </div>
            
    <div class="row" ng-if="::notifCtrl.submissions.length">
        <div class="col-sm-12">
            <a name="submission"></a>
            <h3>Submissions</h3>


            <div ng-repeat="type in ::['party', 'non-party', 'observer']">
                <div ng-if="::(notifCtrl.submissions|filter:{ submitterType: type }).length">
                <h4 ng-switch="type">
                    <span ng-switch-when="party">Parties</span>
                    <span ng-switch-when="non-party">Non-Parties</span>
                    <span ng-switch-when="observer">Observers</span>
                    <span ng-switch-default>{{type|uppercase}}</span>
                </h4>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr ng-repeat="submission in ::notifCtrl.submissions|filter:{ submitterType: type }|orderBy:'date' track by submission._id"> 
                            <td style="width:20px">
                                <strong class="text-nowrap">{{::$index+1}}.</strong>
                            </td>
                            <td>
                                <div class="pull-right"><i class="fa fa-calendar-check-o fa-fw"></i> {{submission.submittedDate | date:'yyyy-MM-dd'}}</div>
                                <strong>{{::submission.title | lstring}}</strong> <a ng-href="{{::submission.url_ss[0]}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                <div class="text-muted">{{::submission.government|term}}</div>
                            </td>
                            <td style="width:25%">
                                <ul class="list-unstyled">
                                    <li ng-repeat="file in submission.files track by $index">
                                            <i class="fa {{::(MIMES[file.type]||MIMES.default).icon}}" ng-style="::{ color: MIMES[file.type].color}"></i> <a class="list-inline-item" ng-href="{{file.url}}" target="_blank">{{file.name}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="!notifCtrl.notification">
    <div class="row">
        <div class="col-xs-12">
            Sorry, no notification found!
        </div>
    </div>
</div>
