<div  ng-if="notifCtrl.notification" class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
             <h1>Notification <small><i>{{::notifCtrl.notification.symbol}}</i></small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>{{::notifCtrl.notification.title|lstring}}</h3>
        </div>
    </div>

    <div class="row" >
        <div ng-switch on="notifCtrl.preview.type"  class="col-12 col-lg-8">    

            <div ng-switch-when="article">
                <cbd-article article="notifCtrl.preview.article" hide-cover-image="true"></cbd-article>
                <p class="pt-1" ng-if="::notifCtrl.notification.recipients.length">To: 
                    <em ng-repeat="recipient in ::notifCtrl.notification.recipients track by $index">
                        {{::recipient}}<span ng-if="!$last">,</span>
                    </em>
                </p>
            </div>

            <div ng-switch-when="text">
                <p style="white-space:pre-line;" ng-bind-html="notifCtrl.preview.html"></p> 
                <p class="pt-1" >{{notifCtrl.notification.from_t}}</p> 
                <p class="pt-1" ng-if="::notifCtrl.notification.recipients.length">To: 
                    <em ng-repeat="recipient in ::notifCtrl.notification.recipients track by $index">
                        {{::recipient}}<span ng-if="!$last">,</span>
                    </em>
                </p>

            </div>

            <div ng-switch-when="embed">
                <iframe ng-src="{{notifCtrl.preview.url}}"  style="width:100%;height:650px"></iframe>
            </div>

            <div ng-switch-default>
                <p><i>Sorry, no preview available.</i></p>
                <p>Please download the Notification text file.</p>
    
                <div class="panel panel-default">
                    <div class="panel-body">
                        <document-files files="notifCtrl.notification.files"></document-files>
                    </div>
                </div>
            </div>

        </div> 
        <div class="col-12 order-first col-lg-4 order-lg-last mb-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <p><i class="fa fa-calendar fa-fw"></i> {{::notifCtrl.notification.date|date:'yyyy-MM-dd'}}</p>
                        <p ng-if="::notifCtrl.notification.actionDate" class="text-danger"> <i class="fa fa-calendar-check-o fa-fw"></i> Action required by {{::notifCtrl.notification.actionDate | date:'yyyy-MM-dd'}}</p>
                        <p ng-if="::notifCtrl.submissions.length"><i class="fa fa-caret-square-o-up fa-fw"></i> <a href="#" ng-click="notifCtrl.jumpTo('submission')" style="color: inherit;">Submission received: {{::notifCtrl.submissions.length}}</a></p>
                        <p ng-if="::notifCtrl.notification.thematicAreas.length"><strong>Subject(s): </strong>
                            <em ng-repeat="thematicArea in ::notifCtrl.notification.thematicAreas track by $index">
                                {{::thematicArea}}<span ng-if="!$last">,</span>
                            </em>
                        </p>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th class="pr-1">Full text:</th>
                                <td class="p-1">
                                    <div ng-repeat="file in notifCtrl.notification.files track by file.name">
                                        <i class="fa {{::(MIMES[file.type]||MIMES.default).icon}}" ng-style="::{ color: MIMES[file.type].color}"></i> <a class="list-inline-item" ng-href="{{file.url}}" target="_blank">
                                            {{getLanguageName(file.language) || file.name}}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class="row" ng-if="::notifCtrl.submissions.length">
        <div class="col-sm-12">
            <a name="submission"></a>
            <h3>Submissions</h3>


            <div ng-repeat="type in ::['party', 'non-party', 'observer']">
                <div ng-if="::(notifCtrl.submissions|filter:{ submitterType: type }).length">
                <h4 ng-switch="type">
                    <span ng-switch-when="party">Parties</span>
                    <span ng-switch-when="non-party">Non-Parties</span>
                    <span ng-switch-when="observer">Observers</span>
                    <span ng-switch-default>{{type|uppercase}}</span>
                </h4>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr ng-repeat="submission in ::notifCtrl.submissions|filter:{ submitterType: type }:true|orderBy:'date' track by submission._id"> 
                            <td style="width:20px">
                                <strong class="text-nowrap">{{::$index+1}}.</strong>
                            </td>
                            <td>
                                <div class="pull-right"><i class="fa fa-calendar-check-o fa-fw"></i> {{submission.submittedDate | date:'yyyy-MM-dd':'UTC'}}</div>
                                <strong>{{::submission.title | lstring}}</strong> <a ng-href="{{::submission.url_ss[0]}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                <div class="text-muted">{{::submission.government|term}}</div>
                            </td>
                            <td style="width:25%">
                                <ul class="list-unstyled">
                                    <li ng-repeat="file in submission.files track by $index">
                                            <i class="fa {{::(MIMES[file.type]||MIMES.default).icon}}" ng-style="::{ color: MIMES[file.type].color}"></i> <a class="list-inline-item" ng-href="{{file.url}}" target="_blank">{{file.name}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="!notifCtrl.notification">
    <div class="row">
        <div class="col-xs-12">
            Sorry, no notification found!
        </div>
    </div>
</div>
