<div>
	<style> .strikethru { text-decoration:line-through; } </style>
	<ng-include src="'/app/views/print-smart/header.html'"></ng-include>

	<div class="container ng-cloak">
		<div class="row" ng-hide="badge">
			<div class="col-md-12">
				<b><i class="fa fa-cog fa-spin"></i> Loading....</b>
			</div>
		</div>
				<div class="panel-heading clearfix">
				</div>
		<div class="row" ng-show="badge">
			<div class="col-md-4">
				<h3>{{model.name}}</h3>
				<div ng-show="model.government"><b>{{model.government}}</b></div>
				{{model.organization}}
			</div>
			<div class="col-md-offset-5 col-md-3">
				<h2>Box: <b>{{model.box}}</b></h2>
			</div>

		<div class="row" ng-show="badge">
			<div class="col-md-12">
				<table width="100%" style="margin:20px 10px" class="table">
					<tr>
						<th><a ng-click="flagCompleted(model.requests, true)"><i class="fa fa-lg fa-check-circle-o" style="color:gray"></i></a> </th>
						<th>Document</th>
						<th>Language</th>
						<th>Requested</th>
						<th>Delivered</th>
						<th style="width:100px"></th>
					</tr>
					<tr ng-repeat="request in model.requests track by $index">
						<td>
							<a ng-click="flagCompleted(request, !request.isComplete)"><i ng-class="{ fa: true, 'fa-lg': true, 'fa-check-circle-o': request.isComplete, 'fa-circle-o': !request.isComplete }"></i></a> 
						</td>
						<td><span ng-class="{ strikethru: request.isComplete }">{{request.documentSymbol}}</span></td>
						<td>{{languages[request.documentLanguage]}}</td>
						<td><span am-time-ago="{{fixDate(request.createdOn)}}"></span></td>
						<td>
							<span am-time-ago="{{fixDate(request.deliveredOn)}}"></span>
							<span ng-show="!request.deliveredOn && request.isComplete" class="label label-warning">Document is not delivered</span>
						</td>
						<td>
							<button ng-show="!request.isComplete" class="btn small">reprint</button>
						</td>
					</tr>
				</table>
				<div class="panel-footer clearfix"><span class="pull-left"><strong>{{remainingCount}} </strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize></span>
					<button ng-click="clearCompleted()" ng-show="remainingCount &lt; model.requests.length" class="btn btn-default btn-xs pull-right">Clear completed ({{model.requests.length - remainingCount}})</button>
				</div>
			</div>
		</div>
	</div>
</div>