<div>
	<style> .delivered {text-decoration:line-through;} </style>
	<div class="container ng-cloak">

		<div class="row" ng-show="loading">
			<div class="col-md-12">
				<h3><i class="fa fa-cog fa-spin"></i> Loading....</h3>
			</div>
		</div>

		<div class="row" ng-hide="loading" >
			<div class="col-md-12">

				<h3 ng-hide="allRequests.length">No document</h3>

				<div ng-repeat="box in boxes" >


					<button class="hidden-xs btn btn-primary pull-right" ng-disabled="(box.requests|filter:toCommit).length==0" ng-click="commit((box.requests|filter:toCommit), boxes.length==1)">Clear {{(box.requests|filter:toCommit).length}} document(s) »</button>
					<button class="visible-xs btn btn-primary btn-xs pull-right" ng-disabled="(box.requests|filter:toCommit).length==0" ng-click="commit((box.requests|filter:toCommit), boxes.length==1)">Clear {{(box.requests|filter:toCommit).length}} document(s) »</button>
					<h3 class="hidden-xs">{{box.participantName}} - {{(box.requests|filter:toCommit).length}} / {{box.requests.length}}</h3>
					<h5 class="visible-xs">{{box.participantName}} - {{(box.requests|filter:toCommit).length}} / {{box.requests.length}}</h5>

					<table width="100%" style="margin:20px 10px" class="table">
						<tr>
							<th style="vertical-align:middle;width:26px"></th>
							<th style="vertical-align:middle;width:26px">#</th>
							<th style="vertical-align:middle">Document</th>
							<th style="vertical-align:middle" class="hidden-xs">Language</th>
							<th style="vertical-align:middle" class="hidden-xs">Requested</th>
							<th style="vertical-align:middle">Printed</th>
							<th style="vertical-align:middle;font-size:200%" class="hidden-xs text-right"><span class="label label-info">&nbsp;{{box.box}}&nbsp;</span></td>
							<th style="vertical-align:middle;"               class="visible-xs text-right"><span class="label label-info">&nbsp;{{box.box}}&nbsp;</span></td>
						</tr>

						<tr ng-repeat="request in box.requests|orderBy:'documentSymbol'" ng-class="{ info: request.completed && !request.deliveredOn, delivered : request.deliveredOn, danger : (request.status['job-state']=='aborted' || request.status['job-state']=='canceled'), warning : (request.status['job-state']=='pending-held'||request.status['job-state']=='processing-stopped'), }" style="height:40px">
							<td class="text-left">
								<i ng-show="request.loading"     style="font-size:24px;" class="fa fa-cog fa-spin"></i>
								<i ng-show="request.deliveredOn" style="font-size:24px;" class="fa" ng-class="{ 'fa-check-square-o': request.completed, 'fa-square-o': !request.completed }"></i>
								<a ng-hide="request.deliveredOn || request.loading" ng-click="flag(request,!request.completed)"><i style="font-size:24px;" class="fa" ng-class="{ 'fa-check-square-o': request.completed, 'fa-square-o': !request.completed }"></i></a>
							</td>
							<td class="text-right">{{$index+1}}.</td>
							<td>{{request.documentSymbol}}</td>
							<td class="hidden-xs">{{languages[request.documentLanguage]}}</td>
							<td class="hidden-xs"><span am-time-ago="{{fixDate(request.createdOn)}}"></span></td>
							<td colspan="2">
								<span ng-switch="request.status['job-state'] || 'pending' ">
									<span class="label label-default" ng-switch-when="pending">Document is not printed yet!</span>
									<span class="label label-default" ng-switch-when="processing">Document is not printed yet!</span>
									<span class="label label-info"    ng-switch-when="pending-held">Document printing has been paused ({{request.status['job-id']}})</span>
									<span class="label label-warning" ng-switch-when="processing-stopped">Document printing has been stopped ({{request.status['job-id']}})</span>
									<span class="label label-warning" ng-switch-when="aborted">Document printing has been aborted ({{request.status['job-id']}})</span>
									<span class="label label-warning" ng-switch-when="canceled">Document printing has been canceled ({{request.status['job-id']}})</span>
									<span                             ng-switch-when="completed"><span am-time-ago="{{fixDate(request.printedOn)}}"></span></span>
									<span class="label label-danger"  ng-switch-default>Unknown error: {{request.status['job-state']}} (({{request.status['job-id']}}))</span>
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="7">&nbsp;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<div class="row" ng-show="error">
			<div class="col-md-offset-2 col-md-8 col-sm-12">

				<div class="alert alert-danger" ng-show="isNotAuthorized()">
				  <b>You are not authorized!</b> Please contact tech support!
				</div>

				<div class="alert alert-danger" ng-show="isBadgeInvalid()">
					<img style="margin:3px" class="pull-right" src="/app/views/print-smart/sample-barcode.png">
					<b>Badge number is invalid.</b><br/>
					You must provide the number located on the top right of the CBD meeting access badge.
				</div>

				<div class="alert alert-danger" ng-show="isOtherError()">
					<b>Unknown error has occured.</b><br/>
					Please retry or contact tech support.
				</div>

			</div>
		</div>

	</div>
</div>
