<div class="modal fade" id="printSmartHelpDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">PrintSmart Instruction</h4>
      </div>
      <div class="modal-body">
		

      <div style="margin-left:20px">

      <style type="text/css"> class ol.line35 > li { line-height: :35px; }</style>

		<ol class="line35">
		    <li>Select document(s) by clicking the checkboxes on the right of each document. You can select more than one document.</li>
		    <li>When done selecting, click <b>Request printed copies »</b> button.</li>
		    <li>Select the preferred language(s) to print</li>
		    <li>Enter your CBD meeting access - badge number sample: <img height="35px" src="/app/views/print-smart/sample-barcode.png"></li>
		    <li>Click the <b>Print</b> button</li>
		    <li>More instructions....</li>
		</ol>

      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>