<div class="modal fade" id="printSmartDialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(success)" aria-hidden="true">×</button>
				<h4 class="modal-title">
					<span ng-switch="target">
						<span ng-switch-when="download">Download copies</span>
						<span ng-switch-when="print">Request hard copies</span>
						<span ng-switch-default>Request copies</span>
					</span>
				<i class="fa fa-cog fa-spin" ng-show="isNetworkCall"></i>
				</h4>
			</div>
			<div class="modal-body">


				<div ng-hide="target">
					<table style="width:100%">
						<tr>
							<td class="text-center" style="width:50%" >
								<button type="button" class="btn btn-success" ng-click="target='download'" style="width:200px">
									<span style="font-size: 2em;">Download</span><br/><br/>
									<i class="fa fa-arrow-circle-down" style="font-size: 7em;"></i>
								</button>
							</td>
							<td class="text-center" style="width:50%">
								<button type="button" class="btn btn-primary" ng-click="target='print'" style="width:200px">
									<span style="font-size: 2em;">Print</span><br/><br/>
									<i class="fa fa-print" style="font-size: 7em;"></i>

								</button>
							</td>
						</tr>
					</table>
				</div>

				<div ng-show="target">

					<form class="form-horizontal" ng-hide="success">

						<div class="alert alert-info" ng-show="!canDownload">
							You can only request hard copies from mobile device.
						</div>


						<div class="form-group">
							<label for="preferedLanguage" class="col-sm-5 control-label">Prefered language</label>
							<div class="col-sm-5">
								<select class="form-control" ng-model="preferedLanguage" id="preferedLanguage" ng-options="key as value for (key, value) in languages"></select>
							</div>
						</div>

						<div class="form-group" ng-show="target=='download'">
							<label for="format" class="col-sm-5 control-label">Prefered language</label>
							<div class="col-sm-5">

								<div class="checkbox">
									<a ng-show="format=='doc'" ng-click="format='doc'"><i class="fa fa-check-square-o" style="width:25px;vertical-align:middle;font-size:24px;"></i></a>
									<a ng-show="format!='doc'" ng-click="format='doc'"><i class="fa fa-square-o"       style="width:25px;vertical-align:middle;font-size:24px;"></i></a> MS-Word
									&nbsp; &nbsp; &nbsp; 
									<a ng-show="format=='pdf'" ng-click="format='pdf'"><i class="fa fa-check-square-o" style="width:25px;vertical-align:middle;font-size:24px;"></i></a>
									<a ng-show="format!='pdf'" ng-click="format='pdf'"><i class="fa fa-square-o"       style="width:25px;vertical-align:middle;font-size:24px;"></i></a> PDF
								</div>
							</div>
						</div>

						<div class="form-group" ng-show="target=='print'" ng-class="{ 'has-error' : error && error.error=='INVALID_BADGE_ID', 'has-warning' : cleanBadge().length>0 && cleanBadge().length<8 }">
							<label for="badgeCode" class="col-sm-5 control-label">Badge number</label>
							<div class="col-sm-5">
								<input type="text" ng-change="clearError()" class="form-control" id="badgeCode" placeholder="1234-5678" maxlength="9" pattern="\d*" ng-model="badgeCode">
								<span class="help-block">Enter badge number to request printed hard copies.</span>
							</div>
						</div>

						<div class="alert alert-danger" ng-show="error.error=='INVALID_BADGE_ID'">
							<img style="margin:3px" class="pull-right" src="/app/views/print-smart/sample-barcode.png">
							<b>Sorry!</b> Your CBD Badge {{badgeCode}} number is invalid.
							<br/>You must provide the number located on the top right of your CBD meeting access badge.
						</div>

						<div class="alert alert-danger" ng-show="error.error=='INVALID_BADGE_REVOKED'">
							<b>Sorry!</b> Your CBD Badge {{badgeCode}} has been revoked. <br>
							Please visit the registration desk for assitance.
						</div>

						<div class="alert alert-danger" ng-show="error.error=='INVALID_BADGE_EXPIRED'">
							<b>Sorry!</b> Your CBD Badge {{badgeCode}} has expired. <br>
							Please visit the registration desk for assitance.
						</div>

						<div class="alert alert-danger" ng-show="error.error=='NO_SERVICE'">
							<b>Error: service is unavailable!</b> Sorry, the PrintSmart service is not available at this moment.<br>
							Please wait 5 minutes and try again or go to the registration desk for further assitance.
						</div>

						<div class="alert alert-danger" ng-show="isCustomError()">
							<b>Sorry!</b> {{error.message||'Unknown error.'}} <br>
							Please visit the registration desk for assitance.
						</div>

					</form>

					<div class="alert alert-success" ng-show="target=='download' && !multiDownloads && documents.length>1">
						Please click on each document below to download.
					</div>

					<style type="text/css"> .striked {text-decoration:line-through;}</style>

					<table class="table table-striped" ng-show="target=='download' && !multiDownloads && documents.length>1">
						<tr>
							<th>#</th>
							<th>Document</th>
							<th>Language</th>
						</tr>
						<tr ng-repeat="d in localizedDocuments[format][preferedLanguage]|orderBy:'symbol'">
							<td>{{$index+1}}</td>
							<td ng-class="{'striked' : d.downloaded }"><a target="_self" href="{{d.url}}?download" ng-click="d.downloaded=true"><i class="fa fa-arrow-circle-down"></i> {{d.symbol}}</a></td>
							<td>{{languages[d.language]}} <span ng-show="d.language!=preferedLanguage"> * </span></td>
						</tr>
					</table>

				</div>

				<div class="alert alert alert-success" ng-show="success">
					<b>Your hard copies are on their way...</b> <br/>			
					The document(s) you requested are getting printed. You are invited to claim them at the document distribution counter.
				</div>

			</div>
			<div class="modal-footer">
				<table style="width:100%">
					<tr>
						<td class="text-left"  style="vertical-align:middle">{{documents.length}} document(s)</td>
						<td class="text-right" style="vertical-align:middle">
							<i class="fa fa-cog fa-spin" ng-show="isNetworkCall" style="margin:5px"></i>
							<button type="button" ng-show="target && canDownload && !success"          class="btn btn-default" ng-click="target=null"><i class="fa fa-arrow-left"></i> Back</button>

							<a target="_self"     ng-show="target=='download' && documents.length==1"                   class="btn btn-success" ng-click="close()" href="{{localizedDocuments[format][preferedLanguage][0].url}}?download"><i class="fa fa-arrow-circle-down"></i> Download the document</a>
							<button type="button" ng-show="target=='download' && documents.length!=1 && multiDownloads" class="btn btn-success" ng-click="download()"><i class="fa fa-arrow-circle-down"></i> Download {{documents.length}} document(s)</button>

							<button type="button" ng-show="target=='print' && !success"  class="btn" ng-class="{ 'btn-primary' : canPrint() }" ng-click="print()" ng-disabled="!canPrint() || isNetworkCall"><i class="fa fa-print"></i> Print</button>

							<button type="button" class="btn btn-default" ng-click="close(success)">Close</button>
						</td>
					</tr>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>