<div class="modal fade" id="printSmartHelpDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">PrintSmart Instructions</h4>
      </div>
      <div class="modal-body">
		

      <div style="margin-left:20px">

      <style type="text/css"> class ol.line35 > li { line-height: :35px; }</style>

		<ol class="line35">
		    <li>Select document(s) to be printed by clicking on the checkboxes on the right of each document. You can select more than one document.</li>
		    <li>When done selecting, click <b>&quot;Request printed copies&quot;</b> button.</li>
		    <li>Select the preferred language</li> <br>
		    <li>Enter your CBD meeting access - badge number. You will find this number on the top right corner of your personal badge. 
            Sample: <img height="35px" src="/app/views/print-smart/sample-barcode.png"></li>
		    <li>Click the <b>&quot;Print&quot;</b> button</li>
		    <li>Follow the instructions.</li>
		</ol>

      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>