<div style="display:inline-block;width:25px;height:25px;;padding:2px;position:relative;cursor:pointer">
	<i class="fa fa-check-square-o" ng-show="selected()" ng-click="select(false)" style="font-size:24px;color:rgb(66, 139, 202);"></i>
	<i class="fa fa-square-o"       ng-hide="selected()" ng-click="select(true)"  style="font-size:24px;color:rgb(66, 139, 202);"></i>

	<i class="fa fa-arrow-left" ng-show="help()" style="font-size:28px;color:rgb(92, 184, 92);display:block;width:28px;height:28px;position:absolute;top:-1px;left:27px"></i>
</div>