<div class="modal fade" id="printSmartHelpDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">PrintSmart Instructions</h4>
      </div>
      <div class="modal-body">
		

      <div style="margin-left:20px">

    		<ol>
    		    <li style="line-height:23px">Select document(s) to be printed by clicking on the checkboxes on the right of each document. You can select more than one document.</li>
    		    <li style="line-height:23px">When done selecting, click <span class="btn btn-primary btn-xs" style="cursor:text">Request printed copies »</span> button.</li>
    		    <li style="line-height:23px">Select the preferred language</li>
    		    <li style="line-height:23px">
              <img class="pull-right" height="35px" src="/app/views/print-smart/sample-barcode.png">
              Enter your CBD meeting access - badge number. You will find this number on the top right corner of your personal badge. 
            </li>
    		    <li style="line-height:23px">Click the <span class="btn btn-primary btn-xs" style="cursor:text">Print</span> button.</li>
    		    <li style="line-height:23px">Visit the document distribution counter to collect your document(s).</li>
    		</ol>

      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>