<!DOCTYPE html>
<html lang="en" ng-controller="PrintSmartCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Convention on Biological Diversity</title>

	<link rel="stylesheet" type="text/css" href="/app/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/app/libs/bootstrap-sass/dist/css/bootstrap.min.css">

	<style>[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>
</head>
<body class="ltr" ng-cloak>

	<!--<iframe id="authenticationFrame" src="https://accounts.cbd.int/app/authorize.html" style="display:none"></iframe>-->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<table>
					<tr>
						<td>
							<img src="/app/images/cbd-leaf-green.svg" style="height:110px;vertical-align:bottom"/>
						</td>
						<td>
							<h1>SCBD PrintSmart</h1>
							<h3>Document distribution</h3>
						</td>
					</tr>
				</table>
			</div>

			<div class="col-sm-6 text-right" style="padding-top:25px" ng-show="isHome()">
				<form ro<form class="form-inline" role="form" ng-submit="submit()">
					<label class="sr-only" for="badge">Participant Badge Number</label>
					<input class="form-control input-lg" type="text" maxlength="9" style="width:250px" ng-model="badge" id="badge" placeholder="Scan badge number">
					<button type="submit" class="btn btn-default btn-lg">Submit</button>
				</form>    
			</div>

			<div class="col-sm-5"  ng-hide="isHome()">
				<div ng-show="$root.contact">
					<h3>{{$root.contact.FirstName}} {{$root.contact.LastName}} ({{formatBadge($root.contact.BadgeCode)}})</h3>
					<div>
						<b ng-show="$root.contact.Government">{{$root.contact.Government}} - </b> 
						{{$root.contact.Organization}}
					</div>
					<div>{{$root.contact.JobTitle}}</div>
				</div>
			</div>
			<div class="col-sm-1 text-right" style="padding-top:25px" ng-hide="isHome()">
				<button id="close" class="btn btn-default btn-lg" ng-click="close()">Close</button>
			</div>
		</div>
	</div>

	<ng-view></ng-view>

	<!-- Boot the app -->
	<script src="/app/libs/requirejs/require.js" data-main="/app/js/boot.js"></script>
	<script src="/app/views/print-smart/template.html.js"></script>

</body>
</html>