<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">
            {{::('sharedT.languageSwitch'|$translate)}}</h1>
        <hr>
       <div >
           <p>
               {{::('sharedT.pleaseWait'|$translate)}} <span ng-bind="currentLanguage"></span> {{::('sharedT.site'|$translate)}}
           </p>
           <h3 class="color-green">{{::('sharedT.technicalSupport'|$translate)}}</h3>
       </div>
      </div>
    </div>
</div>
