<div class="bg-litegrey">

    <div class="alert alert-danger" ng-show="hasError()">
        <strong>An error has occurred...</strong>
        <div>{{error}}</div>
    </div>
    <div id="view-header" class="panel-heading bg-blue">
  			<div class="row">
  					<div class="col-xs-12 col-sm-2">
  							<h4>
  		 Contact
  		 <!-- <span class="text-small" style="font-size:.75em;color:#ddd;"> (BBIPRO) </span> -->
  		 </h4>
  					</div>
  					<div class="col-xs-12 col-sm-10 text-right hidden-xs" >
  							<span km-form-languages  ng-model="document.header.languages"></span>
  							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
  									on-pre-publish="onPrePublish()"></span>
  					</div>
  					<div class="col-xs-12 col-sm-10 small visible-xs" >
  							<span km-form-languages xs ng-model="document.header.languages"></span>
  							<span km-form-std-buttons xs  document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
  									on-pre-publish="onPrePublish()"></span>
  					</div>
  			</div>
  	</div>
    <div class="row" ng-show="!isLoading() && status!='hidden'">

        <div class="col-md-12" style="position: relative">

            <div class="row">
                <div class="col-xs-12">

                </div>

                <div class="col-xs-12">
                    <ul class="pagination hidden-xs">
                        <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
                        <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">Name</a></li>
                        <li ng-class="{ active  : tab=='org'  }"><a href="" ng-click="tab='org'">Organization</a></li>
                        <li ng-class="{ active  : tab=='contact'  }"><a href="" ng-click="tab='contact'">Contact</a></li>
                        <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
                        <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
                    </ul>
                    <ul class="pagination small visible-xs">
                        <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
                        <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">Name</a></li>
                        <li ng-class="{ active  : tab=='org'  }"><a href="" ng-click="tab='org'">Organization</a></li>
                        <li ng-class="{ active  : tab=='contact'  }"><a href="" ng-click="tab='contact'">Contact</a></li>
                        <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
                        <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <div>

                <div km-document-validation ng-model="validationReport"></div>
                <form name="editForm" style="margin-top:10px" novalidate>

                    <div km-tab="general">
                        <div class="row">
                          <div class="col-xs-12">
                              <div class="km-control-group" name="prefix" >
                                   <label>Pre fill the personal information below from your SCBD account?</label>
                                   <input type="checkbox" ng-model="preFill" ng-change="initFromProfile(preFill);">
                              </div>
                          </div>
                            <div class=" col-md-6 col-xs-12">
                                <div class="km-control-group" name="prefix" caption="Prefix">
                                    <div km-textbox-ml name="pre" ng-model="document.prefix" placeholder="text entry" locales="document.header.languages"></div>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="km-control-group" name="firstName" caption="First name">
                                    <input type="text" class="form-control" type="text" name="firstName" ng-model="document.firstName" locales="document.header.languages" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="km-control-group" name="middleName" caption="Middle name">
                                    <input type="text" class="form-control" type="text" name="middleName" ng-model="document.middleName" locales="document.header.languages" />
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="km-control-group" name="lastName" caption="Last name">
                                    <input type="text" class="form-control" type="text" name="lastName" ng-model="document.lastName" locales="document.header.languages" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-xs-12">
                              <div class="control-group" name="acronym" required caption="Acronym">
                                  <label class="control-label">Department / Division / Unit</label>
                                  <div km-textbox-ml name="contact_department" ng-model="document.department" locales="document.header.languages"></div>
                              </div>
                          </div>
                          <div class="col-md-6 col-xs-12">
                              <div class="control-group" name="acronym" required caption="Acronym">
                                  <label class="control-label">Job title</label>
                                  <div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="document.header.languages"></div>
                              </div>
                          </div>
                        </div>
                    </div>

                    <div km-tab="org">
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <div class="km-control-group" name="org" required caption="Organization">
                                    <select-contact name="org" required schema="organization" ng-model="document.contactOrganization" caption="Select >>>"></select-contact>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div km-tab="contact">
                        <section>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="km-control-group" name="phones" required caption="Phone numbers">

                                        <div km-inputtext-list required name="phones" ng-model="document.phones" placeholder="example: +1 514.288.2220"></div>
                                        <div class="help-info small">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div class="km-control-group" name="faxes" caption="Fax numbers">

                                        <div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="example: +1 514.288.6588"></div>
                                        <div class="help-info small">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="km-control-group" name="emails" required caption="Emails">
                                        <div km-inputtext-list required name="emails" ng-model="document.emails" placeholder="example: secretariat@cbd.int"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">

                                      <div class="km-control-group" name="websites" caption="Website(s) or Social Media Link(s)">

                                        <div km-link name="websites" ng-model="document.websites" allow-link="true" allow-file="false"></div>
                                      </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </form>
                <div km-tab="review">
                    <div class="btn-group" ng-show="document.header.languages.length>1">
                        <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
                    </div>
                    <view-bbi-contact ng-model="document" header="false" locale="review.locale"></view-bbi-contact>
                </div>

                <div class="row">

                    <div class="col-xs-12">
                        <ul class="pagination hidden-xs">
                            <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
                            <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">Name</a></li>
                            <li ng-class="{ active  : tab=='org'  }"><a href="" ng-click="tab='org'">Organization</a></li>
                            <li ng-class="{ active  : tab=='contact'  }"><a href="" ng-click="tab='contact'">Contact</a></li>
                            <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
                            <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
                        </ul>
                        <ul class="pagination small visible-xs">
                            <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
                            <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">Name</a></li>
                            <li ng-class="{ active  : tab=='org'  }"><a href="" ng-click="tab='org'">Organization</a></li>
                            <li ng-class="{ active  : tab=='contact'  }"><a href="" ng-click="tab='contact'">Contact</a></li>
                            <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
                            <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-sm-12 hidden-xs" style="text-align:right">
                        <div class="pagination">
                            <span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
                                on-pre-publish="onPrePublish()"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 visible-xs ">
                        <div class="">
                            <span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
                                on-pre-publish="onPrePublish()"></span>
                        </div>
                    </div> -->
<!-- <div>
  <pre>{{document |json}}</pre>
</div> -->
                </div>
                <div id="view-header" class="panel-heading bg-blue">
              			<div class="row">
              					<div class="col-xs-12 col-sm-2">
              							<h4>
              		 Contact
              		 <!-- <span class="text-small" style="font-size:.75em;color:#ddd;"> (BBIPRO) </span> -->
              		 </h4>
              					</div>
              					<div class="col-xs-12 col-sm-10 text-right hidden-xs" >
              							<span km-form-languages  ng-model="document.header.languages"></span>
              							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
              									on-pre-publish="onPrePublish()"></span>
              					</div>
              					<div class="col-xs-12 col-sm-10 small visible-xs" >
              							<span km-form-languages xs ng-model="document.header.languages"></span>
              							<span km-form-std-buttons xs  document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
              									on-pre-publish="onPrePublish()"></span>
              					</div>
              			</div>
              	</div>
            </div>
        </div>
    </div>
</div>