.page-content h1, 
.page-content h2, 
.page-content h3 { color: #009b48; }


.page-content > .container > ng-view,
.article-section { 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}
b,strong { 
    font-weight:600;
}

table.table-striped table tr { background-color: transparent!important;}
table.table-striped table td { border: none;}

/* vvv Top nav scrollable vvv */
.page-content {
    padding-top:0px;
}

header .navbar-wrapper {
    position: static;
    width: auto;
    top: auto;
    z-index: auto;
}

/* dekstop */
header .navbar-wrapper.desktop-only > nav.top-nav {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}
header .navbar-wrapper.desktop-only > nav.sub-nav {
    margin-top:44px;
}

/* Mobile  */
header .navbar-wrapper.mobile-only {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

@media (max-width:991px) {
    .page-content {
        margin-top:60px;
    }
}
@media (max-width:749px) {
    .page-content {
        margin-top:30px;
    }
}


/* ^^^ Top nav scrollable ^^^ */

