.page-content h1, 
.page-content h2, 
.page-content h3 { color: #009b48; }


.page-content > .container > ng-view,
.article-section { 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}
b,strong { 
    font-weight:bold;
}

table.table-striped table tr { background-color: transparent!important;}
table.table-striped table td { border: none;}

@media (max-width:768px) {
	.page-content > .container {
        padding: 0 0vw;
        max-width: unset;
	}
}

/* vvv Top nav scrollable vvv */
.page-content {
    padding-top:0px;
}

header .navbar-wrapper {
    position: static;
    width: auto;
    top: auto;
    z-index: auto;
}

/* dekstop */
header .navbar-wrapper.desktop-only > nav.top-nav {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}
header .navbar-wrapper.desktop-only > nav.sub-nav {
    margin-top:44px;
}

/* Mobile  */
header .navbar-wrapper.mobile-only {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

@media (max-width:991px) {
    .page-wrapper {
        width: 100%;
    }
    .page-content > .container{
        width: 100%;
        padding: 10px;
    }
}
@media (max-width:749px) {    
    .page-wrapper{
        width: 100%;
    }
    .page-content > .container{
        width: 100%;
        padding: 10px;
    }
}


/* ^^^ Top nav scrollable ^^^ */
/* 
.btn-group-sm > .btn, .btn-xs {
	padding: .15rem .3rem;
	font-size: .775rem;
	line-height: 0.5;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
} */

.decision-tracking .badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.decision-tracking .badge-secondary[href]:focus, .decision-tracking .badge-secondary[href]:hover {
    color: #fff;
    background-color:#6c757d;
}