<div>
    <!-- HEADER (MOBILE) -->
    <header class="mobile navbar visible-xs" role="banner">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle collapsed hidden-print" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars" style="font-size:1.66em;"></i>
                </button>

                <div ng-cloak ng-show="user" class="pull-right hidden-print">

                    <a ng-hide="user.isAuthenticated"  ng-click="signIn()" href="#" class="navbar-toggle collapsed" style="text-decoration:none;color:#009B48" style="color: black">
                        <i  class="fa fa-power-off" style="font-size:1.66em;"></i>
                    </a>

                    <div ng-show="user.isAuthenticated" class="dropdown">

                        <button class="navbar-toggle collapsed" title="{{user.name}}" style="text-decoration:none;color:#009B48" type="button" id="dropdownMenuL" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="fa fa-user" style="font-size:1.66em;"></i>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuL">
                            <li><a ng-click="profile()"  href="#" ><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Profile</a></li>
                            <li><a ng-click="password()" href="#"><i class="fa fa-lock" style="font-size:15px"></i>&nbsp; Password</a></li>
                            <li><a ng-click="signOut()"  href="/user/signout" ><i class="fa fa-sign-out" style="font-size:15px"></i>&nbsp; Sign-out</a></li>
                        </ul>
                    </div>

               </div> <!--  end sign in-->

                <a href="/" target="_self">
                    <a href="/"><img class="logo" src="/app/images/cbd-logo-green-en.svg?v=<%=gitVersion%>" style="padding-top:4px;padding-left:2px"/></a>
                </a>

            </div>

            <nav class="collapse navbar-collapse hidden-print" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active"><a target="_self" href="/convention">The Convention</a></li>
                    <li class="active"><a target="_self" href="/biosafety">Cartagena Protocol</a></li>
                    <li class="active"><a target="_self" href="/abs">Nagoya Protocol</a></li>
                    <li class="active"><a target="_self" href="/programmes">Programmes</a></li>
                    <li class="active"><a target="_self" href="/information">Information</a></li>
                    <li class="active"><a target="_self" href="/secretariat">Secretariat</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- HEADER (LARGE) -->
    <header class="large hidden-xs">
        <div class="container whitebg">
            <div>

                <div class="pull-left" style="margin:5px 0px">
                    <a href="/"><img class="logo" src="/app/images/cbd-logo-green-en.svg?v=<%=gitVersion%>"/></a>
                </div>

                <div  class="pull-right hidden-print">

                    <a class="btn btn-link" ng-click="signIn()"  href="#"  style="text-decoration:none;color:#009B48" ng-hide="user.isAuthenticated" style="color: black">
                        <i  class="fa fa-power-off"></i> <span ng-cloak ng-show="user && !user.isAuthenticated">Sign in</span>
                    </a>

                    <div ng-cloak ng-show="user.isAuthenticated" class="dropdown">
                        <button class="btn btn-link dropdown-toggle" style="text-decoration:none;color:#009B48" type="button" id="dropdownMenuL" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span class="caret"></span> {{user.name}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuL">
                            <li><a ng-click="profile()"  href="#"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Profile</a></li>
                            <li><a ng-click="password()" href="#"><i class="fa fa-lock" style="font-size:15px"></i>&nbsp; Password</a></li>
                            <li><a ng-click="signOut()"  href="/user/signout" ><i class="fa fa-sign-out" style="font-size:15px"></i>&nbsp; Sign-out</a></li>
                        </ul>
                    </div>

               </div> <!--  end sign in-->

                <div style="clear:right;" class="pull-right hidden-print">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/convention">The Convention</a></li>
                        <li class="active"><a href="/biosafety">Cartagena Protocol</a></li>
                        <li class="active"><a href="/abs">Nagoya Protocol</a></li>
                        <li class="active"><a href="/programmes">Programmes</a></li>
                        <li class="active"><a href="/information">Information</a></li>
                        <li class="active hidden-sm"><a href="/secretariat">Secretariat</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
<!--  -->
    <div id="conferenceHeader" style="display:none;"></div>
   
</div>
