<div class="btn-group">
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="focus()">
    {{caption}} <span class="caret"></span>
  </button>
    <ul class="dropdown-menu">
        <div ng-if="searching" style="position:absolute;top:10px;right:5px"><i class="fa fa-cog fa-spin"></i></div>
        <li><input class="form-control" type="text" ng-model="_text" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" ng-change="searchUsers(_text)" placeholder="Search user"></li>
        <li ng-repeat="u in users"><a href="#" ng-click="selectUser(u)">{{u.firstName}} {{u.lastName}}</a></li>
    </ul>
</div>
