<ng-include src="'/app/views/bbi/header.html'" ></ng-include>

<div class="row">
    <menu pull="right" search="true"  links="contCtrl.links" style="padding:0;margin:0;"></menu>

    <div class="col-xs-12" auto-linker>
      <h2 >Contact BBI</h2>

      <h4>The Bio-Bridge Initiative is located in the Secretariat of the Convention on Biological Diversity.</h4>

        <div class="col-xs-5 col-xs-offset-4 text-center">
        <strong>413, Saint Jacques Street, suite 800<br>
        Montreal QC H2Y 1N9<br>
        Canada<br><br>

        Telephone: 1 514 288 2220<br>
        Fax: 1 514 288 6588<br>
        Email: biobridge@cbd.int<br></strong>
        </div>
    </div>


  </div>
<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>
