<ng-include src="'/app/views/bbi/header.html'" ></ng-include>
<style>
  </style>
<div class="row">
    <menu links="faqCtrl.links" style="padding:0;margin:0;"></menu>
    <div class="col-xs-12" autoLinker>
      <h2 >FAQ</h2>


      <h3>What is BBI?</h3>
      <lu class="bbilist">
          <li>The Bio-Bridge Initiative (BBI) is an overarching programme specifically focused on catalyzing and facilitating technical and scientific cooperation (TSC) under the Convention on Biological Diversity (CBD) and its Protocols.</li>
      </lu>

      <h3>What is TSC?</h3>
      <lu class="bbilist">
          <li>      Technical Scientific Cooperation (TSC) in the context of CBD is defined as a process whereby two or more countries or institutions pursue their individual or collective biodiversity-related goals through cooperative actions and/or exchange of scientific knowledge, expertise, data, resources, technologies and technical know-how.</li>
      </lu>

      <h3>What is the role of BBI under the Convention and its Protocols?</h3>
      <lu class="bbilist">
          <li>      BBI seeks to foster a more coherent, consistent and coordinated approach to facilitating TSC under the CBD and its Protocols. It is a catalytic programme intended to inspire and scale up TSC among Parties through regional and global partnerships and networks to enable them achieve their national biodiversity targets.</li>
      </lu>

      <h3>What are the main services offered by BBI?</h3>
      <lu class="bbilist">
          <li><strong>Help-desk:</strong><br> assisting Parties in articulating their needs and requests for assistance and facilitating the matching of needs to with available support through effective partnerships.</li>
          <li><strong>Interactive web platform:</strong><br>       providing a one-stop-window for submitting requests for assistance and accessing information on existing technical assistance opportunities as well as accessing curated resources, including case studies, replicable success stories ("bright spots"), good practices and lessons learned.</li>
          <li><strong>Meetings and roundtables:</strong><br>              mobilizing international, regional and national organizations and networks to support BBI in facilitating TSC and to catalyze new TSC initiatives.</li>
          <li><strong>Seed funding facility:</strong><br>                 providing occasional seed funding to catalyze TSC initiatives on specific biodiversity-related topics.</li>
      </lu>

      <h3>How does BBI operate?</h3>
      <ol class="bbilist-o">
          <li>      A Party requiring support submits a request for assistance form to the BBI help desk. If necessary, the help desk assists the Party in articulating its needs and/or elaborating the request for assistance.</li>
          <li>      The help desk determines what type of response is most appropriate. This may include direct response to the Party for simple requests such as providing relevant information or case studies, or facilitating the development of a proposal for a TSC initiative to meet the need.</li>
          <li>        The help desk identifies an appropriate partner (e.g. expertise provider) from a network of relevant organizations to develop a proposal for the new TSC initiative to address the Party's needs for submission to donors.</li>
          <li>      When the TSC initiative is funded, the help desk monitors its implementation using the indicators and targets described in the proposal.</li>

      </ol>

      <h3>Does BBI provide funding?</h3>
      <lu class="bbilist">
          <li> No, BBI is not a funding mechanism. Rather, it is a programme to facilitate technical and scientific cooperation on biodiversity-related topics.</li>
          <li>      As a facilitator, however, BBI may provide seed funding to catalyze the development of TSC initiatives and/or to enhance communication and cooperation between Parties involved.</li>
      </lu>
      <h3>How can I get more information?</h3>
      <lu class="bbilist">
          <li>       For more detailed information on BBI, please refer to draft <a href="#" ng-click="faqCtrl.goTo('/about/plan')">BBI Action Plan</a>, or explore our webpage <a href="#" ng-click="faqCtrl.goTo('/')">here</a>.</li>
      </lu>

    </div>
</div>

<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>
