<div class="row" style="margin:15px 0px 15px 0px ">
    <div class="col-xs-5 bottom-box">       
        <div style="text-align: left">
             <small>Contact us :</small><br>
            <br>The Bio-Bridge Initiative
            <br>Secretariat of the Convention on Biological Diversity
            <br> 413, Saint Jacques Street, suite 800
            <br> Montreal QC H2Y 1N9, Canada                
        </div>
    </div>
    <div class="col-xs-2">
        <br>
    </div>
    <div class="col-xs-5 bottom-box">
         <div style="text-align: left">
            <br><br> Telephone: 1 514 288 2220
            <br> Fax: 1 514 288 6588
            <br> Email: biobridge@cbd.int
            <br> Web:	<a style="color: white;" href="www.cbd.int">www.cbd.int</a><br>
        </div>
    </div>
</div>