 <style>

 a.nostyle{
 color: #444; /* blue colors for links too */
text-decoration: none; /* no underline */
}
a.nostyle:hover{
color: #444; /* blue colors for links too */
text-decoration: none; /* no underline */
}


	.banner{
    		background: url("/app/images/bbi/banner-home.jpg");
		height: 120px;




		text-align: left;
    margin-bottom:1px;
	}

	.banner .main-title{
		/*background-color: rgba(0,0,0,0.4);*/
		height: 100%;
		margin-right: 20px;
		text-align: center;
    border-left: 3px solid #009b48;
    line-height: 1.2em;
    /*margin: auto;*/
	}

		.banner .main-title{
			margin: 10px 0 0;
			font-size: 20px;
			color: #fff;
			font-weight: normal;
      width: 220px;
      padding-top: .7em;
		}
#view-header {background-color: #001470; color:white;}
#view-header h4{ color:white;}
.color-black{color:222222;}
	.banner .main-title:hover{
		background-color: #009b48;
    cursor:pointer;
	}



.debug-border-thin{
  border-width: thin;
  border-style: dashed;
  border-color: red;
}


 .bottom-box{
   background:#003f66;
   color:white;
   text-align: center;
   font-weight: bold;
   padding: 40px 10px 40px 10px;
 }
.pointer {
    cursor: pointer;
}

.checkbox label:after {
   content: '';
   display: table;
   clear: both;
  padding-left: 0px !important;
}
.checkbox label {
padding-left: 0px !important;
}
.checkbox .cr,
.radio .cr {
   position: relative;
   display: inline-block;
   border: 1px solid #333;
  background-color: #333;
   border-radius: .25em;
   width: 1.3em;
   height: 1.3em;
   float: left;
   margin-right: .5em;
}

.radio .cr {
   border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
   position: absolute;
   font-size: .8em;
   line-height: 0;
   top: 50%;
   left: 20%;
}

.radio .cr .cr-icon {
   margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
   display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
   transform: scale(3) rotateZ(-20deg);
   opacity: 0;
   transition: all .3s ease-in;
  color: #dddddd;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
   transform: scale(1) rotateZ(0deg);
   opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
   opacity: .5;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

    @media (min-width: 1200px) {
        .container {width:970px; !important;}
    }
    .bbilist  {
      margin-bottom:20px;
    }
   .bbilist li  {
      margin-top:10px;
      margin-left: 50px;
      list-style-type: disc;
      list-style-position: inside;
      text-indent: -2em;
      /*padding-left: 1.5em;*/
    }
    .bbilist-2 li  {
       margin-left: 100px;
       list-style-type: disc;
       list-style-position: inside;
       text-indent: -2em;
       margin-bottom:10px;
       /*padding-left: 1.5em;*/
     }
     .bbilist-3 li  {
        margin-left: 150px;
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -2em;
        margin-bottom:10px;
        /*padding-left: 1.5em;*/
      }
    .bbilist-o  {
      margin-bottom:20px;
    }
    .bbilist-o li  {

       /*list-style-type: upper-roman;*/
       margin-top:10px;
       margin-left: 50px;

       list-style-position: inside;
       text-indent: -2em;
     }
  @media (max-width: 768px) {
    h2{font-size: 20px;}
  }
  .search-container{
      height:350px;
      border-style: solid;
      border-width: 2px;
      border-color: #009B48;
      overflow-x: none;
      padding:10px 10px 10px 10px;
  }
  .activeHeader {
    background-color: #428bca;
}
  .results-container{
      height:250px;
      /*border-style: solid;
      border-width: 1px;
      border-color: #003f66;*/
      overflow-x: scroll;
      padding:10px 10px 10px 10px;
  }
  .pointer{cursor:pointer;}
  .pointer a:hover{color:#aaa !important;}
  .pointer span:hover{color:#555 !important;}
  .pointer:hover{color:#555 !important;}
  #SCBDRecs .statsBox {
      background-color: #999;
      padding: 5px;
      height: 100px;
      border-radius: 3px;
      text-align: center;
      margin: auto;
      width: 100%;
  }
  .recordText {
      color: #CCC!important;
      line-height: 1;
      padding-top: 3px;
      font-weight:500;
  }
   .recordText > .helpinfoInline {
      color: #CCC!important;
  }
  .flex {
      display: flex;
      justify-content: space-between;
  }
  .bg-darkgrey{
      background-color:#003f66!important;
      color:#fff !important;
  }
  .linkDark:hover {
      background-color: #333!important;
      cursor: pointer;
  }
 </style>



<div class="row" >
    <div class="col-xs-12" >
        <div class="banner" >
            <h5 class="main-title"><img src="/app/images/bbi/logo_white.svg" style="width:217px:height:87px;"></img></h5>
        </div>
    </div>
</div>



