<!-- <ng-include src="'/app/views/bbi/header.html'" ></ng-include> -->
<style>

        .top-button-container{

          color:white
        }
        .top-button-container img{
          position:absolute;
          top:85px;
          right:52px;
        }
        .top-button-container div{
          position:absolute;
          top:10px;
          width:100%;
        }
        .bottom-buttons{
          color:#001470;
          font-weight: bold;
        }

        .hvr-reveal {
    /*display: inline-block;
    vertical-align: middle;*/
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #003f66;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
}
.hvr-underline-from-center {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #003f66;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before{
left: 0;
    right: 0;
  }
    .out-reach-row{padding: 5px 5px 5px 5px;}
  .out-reach-row:hover{
    background-color: #003f66;
    color:#fff!important;
  }
  .out-reach-row:hover a{

    color:#fff!important;
  }
  </style>
<div class="row">

    <slider links="indexCtrl.links" style="padding:0;margin:0;"></slider>
<menu pull="right" search="true" links="indexCtrl.links" style="padding:0;margin:0;"></menu>

    <div class="col-xs-12" auto-linker>
    <!-- <h1>The Bio-Bridge Initiative</h1> -->
    <br>
    <p><strong>The Bio-Bridge Initiative </strong> is an overarching programme focused on catalyzing and facilitating technical and scientific cooperation among Parties to the Convention on Biological Diversity and to its Protocols
        on biosafety (Cartagena Protocol) and on access and benefit-sharing (Nagoya Protocol). <span >The Bio-Bridge Initiative facilitates technical and scientific cooperation among Parties by:</span></p>


    <lu class="bbilist">
        <li >linking Parties that have specific technical and scientific needs with Parties or institutions that are able to provide the necessary technical support and resources to meet those needs through mutual partnerships; and</li>
        <li>creating a space for countries and institutions to share knowledge, good practices and lessons learned with each other.</li>
    </lu>


</div>


    <div class="row-fluid center" id="SCBDRecs">
<div class="clearfix"></div>

<div class="row-fluid">
    <div class="col-md-3">
        <a translation-url  href="platform/new" class="color-white">
            <h5 style="padding:5px;border-radius:3px;margin-bottom:0;" class="bg-darkgrey color-white linkDark" >
            <span class="badge bg-white">{{indexCtrl.outReachRecords.new.count}}</span> What's New</h5>
        </a>
                    <a translation-url ng-repeat-start="doc in indexCtrl.outReachRecords.new.data" ng-if="doc.title_t && $index < 5" href="{{doc.url_ss[0]}}" target="_blank" style="padding-bottom:5px;text-decoration: none;color:#333;" >
        <div class="out-reach-row "  class="link1" >
            <!-- <div id="communityProtocol" ng-include="home-list.html"> -->

                <span class="color-darkgrey" style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.date_dt | momentUtc:'format':'DD MMM YYYY'}}</span>
                <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>


        </div>
        </a>
        <hr ng-show="doc.title_t && $index<indexCtrl.outReachRecords.new.data.length-1" style="margin: 5px 5px 5px 5px;" ng-repeat-end>
        <div class="small pull-right" ng-if="indexCtrl.outReachRecords.new.data.length ===3"><a ng-href="platform/new">See more ...</a></div>
    </div>

    <div class="col-md-3">
         <a translation-url  href="platform/notification" class="color-white">
            <h5 style="padding:5px;border-radius:3px;margin-bottom:0;" class="bg-darkgrey color-white linkDark" >
            <span class="badge bg-white">{{indexCtrl.outReachRecords.notification.count}}</span> Notifications</h5>
        </a>
                    <a translation-url  ng-repeat-start="doc in indexCtrl.outReachRecords.notification.data" href="{{doc.url_ss[0]}}" target="_blank"   style="padding-bottom:5px;text-decoration: none;color:#333;" >
        <div class="out-reach-row"  ng-show="doc.title_t && $index < 5" class="link1">
            <!-- <div id="communityProtocol" ng-include="home-list.html"> -->

                <span class="color-darkgrey" style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.date_dt | momentUtc:'format':'DD MMM YYYY'}}</span>
                <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>

        </div>    </a>
                <hr ng-show="doc.title_t && $index<indexCtrl.outReachRecords.notification.data.length-1 " style="margin: 5px 5px 5px 5px;" ng-repeat-end>
                        <div class="small pull-right" ng-if="indexCtrl.outReachRecords.notification.data.length ===3"><a ng-href="platform/notification">See more ...</a></div>
    </div>

    <div class="col-md-3">
          <a translation-url  href="platform/meeting" class="color-white">
            <h5 style="padding:5px;border-radius:3px;margin-bottom:0;" class="bg-darkgrey color-white linkDark" >
            <span class="badge bg-white">{{indexCtrl.outReachRecords.meeting.count}}</span> Events</h5>
        </a>
        <a translation-url  ng-repeat-start="doc in indexCtrl.outReachRecords.meeting.data" href="{{doc.url_ss[0]}}" target="_blank"   style="padding-bottom:5px;text-decoration: none;color:#333;" >

        <div class="out-reach-row"  ng-show="doc.title_t && $index < 5" class="link1">
            <!-- <div id="communityProtocol" ng-include="home-list.html"> -->
            <span ng-if="doc.schema_s==='sideEvent'" class="color-darkgrey" style="text-transform:uppercase;font-weight:bold;font-size:10px;">
                {{doc.start_dt | momentUtc:'utc' | momentUtc:'format':'DD MMM YYYY'}} - {{doc.end_dt | momentUtc:'utc' | momentUtc:'format':'DD MMM YYYY'}}

            </span>
                <span ng-if="doc.schema_s==='meeting'" class="color-darkgrey" style="text-transform:uppercase;font-weight:bold;font-size:10px;">
                    {{doc.startDate_dt | momentUtc:'utc' | momentUtc:'format':'DD MMM YYYY'}} - {{doc.endDate_dt | momentUtc:'utc' | momentUtc:'format':'DD MMM YYYY'}}
                </span>
                <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>

        </div>  </a>
                <hr ng-show="doc.title_t && $index<indexCtrl.outReachRecords.meeting.data.length-1 " style="margin: 5px 5px 5px 5px;" ng-repeat-end>
      <div class="small pull-right" ng-if="indexCtrl.outReachRecords.meeting.data.length ===3"><a ng-href="platform/meeting">See more ...</a></div>
    </div>

     <div class="col-md-3">
        <a translation-url    <a translation-url  href="platform/news" class="color-white">
            <h5 style="padding:5px;border-radius:3px;margin-bottom:0;" class="bg-darkgrey color-white linkDark" >
            <span class="badge bg-white">{{indexCtrl.outReachRecords.news.count}}</span> News</h5>
        </a>
        <a translation-url  ng-repeat-start="doc in indexCtrl.outReachRecords.news.data"  href="{{doc.url_ss[0]}}" target="_blank"  style="padding-bottom:5px;text-decoration: none;color:#333;" >

        <div class="out-reach-row"  ng-show="doc.title_t && $index < 5" class="link1">
            <!-- <div id="communityProtocol" ng-include="home-list.html"> -->
                <span class="color-darkgrey" style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.date_dt | momentUtc:'format':'DD MMM YYYY'}}</span>
                <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>

        </div>
      </a>

          <hr ng-show="doc.title_t && $index<indexCtrl.outReachRecords.news.data.length-1 " style="margin: 5px 5px 5px 5px;" ng-repeat-end>
      <div class="small pull-right" ng-if="indexCtrl.outReachRecords.news.data.length ===3"><a ng-href="platform/news">See more ...</a></div>
    </div>

</div>
</div>
</div>


<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>
