<style>

    .banner {
        height: 120px;
        background: #ab42a6;
        background: -moz-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab42a6), color-stop(100%, #730094));
        background: -webkit-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: -o-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: -ms-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: linear-gradient(to bottom, #ab42a6 0%, #730094 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab42a6', endColorstr='#730094', GradientType=0);
        background: url("/app/images/idb-celebrations/banner-0.jpg");
        text-align: left;
    }

    .banner a{
        text-decoration: none;
    }

    /* .is-content-area{
      border: 1px red dashed;
      margin-bottom: 10px;
    } */
    .banner .main-title {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        margin-right: 25px;
        text-align: center;
    }

    .banner .main-title {
        margin: 10px 0 0;
        font-size: 25px;
        color: #fff;
        font-weight: normal;
        width: 220px;
        padding-top: 1.8em;
    }

    .banner .main-title:hover {
        background-color: #009b48;
        cursor: pointer;
    }

    .title-national-status {
        background: url("/app/images/aichi-targets/target-icon.png") no-repeat;
        padding-left: 2em;
    }

    @media (min-width: 1200px) {
        .container {
            width: 970px;
            !important;
        }
    }

    .simple-border {
        border: solid 1px #A9A9A9;
        padding: 10px;
    }

    .simple a {
        color: #333;
        text-decoration: none;
    }

    .cms-list {
        margin-top: 0;
        margin-bottom: 3px;
        padding-left: 15px;
        list-style-image: url("/app/images/bullet.gif");
    }
</style>



<div class="row">
    <div class="col-xs-12">
        <div class="banner">
            <a ng-href="https://www.cbd.int/idb/{{idbCelIndexCtrl.year}}"> 
                <h5 class="main-title">Year {{idbCelIndexCtrl.year}}</h5>
            </a>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-3 hidden-xs">
        <menu-vertical links="idbCelIndexCtrl.links" style="padding:0;margin:0;"></menu-vertical>
    </div>
    <div class="col-md-9 col-xs-12">
<div class="small" style="padding: 10px 0 10px 0;">
  <a href="https://www.cbd.int/"><img src="/app/images/ic-cbdhome.gif" alt="Home"></a> >
<a href="https://www.cbd.int/programmes/default.shtml">Programmes </a> >
<a href="https://www.cbd.int/cepa/default.shtml">CEPA </a> >
<a href="/idb/">IDB </a> >
<a ng-href="/idb/{{idbCelIndexCtrl.year}}"> <span>{{idbCelIndexCtrl.year}}</span></a> >
<span>Celebrations</span>

</div>
        <hr style="margin:0px;" />
        <div class="row">
            <div class="col-xs-12">
                <a ng-href="https://www.cbd.int/management/articles/{{idbCelIndexCtrl.article._id}}/edit" ng-if="idbCelIndexCtrl.isAdmin()"><i class="fa fa-edit pull-right" style="margin-top:20px;" ></i></a>

                <div ng-class="{'is-content-area':idbCelIndexCtrl.isAdmin()}" ng-bind-html="idbCelIndexCtrl.articleContent"></div>
            </div>

            <div class="col-xs-12">
              <div class="col-xs-8 text-center" ng-if="idbCelIndexCtrl.loading" >
                  <h1><i class="fa fa-spin fa-spinner " /> Loading...</h1>
              </div>
                  <div class="col-xs-12" ng-repeat="gov in idbCelIndexCtrl.governmentsFound track by $index " style="margin-bottom:10px;">
                      {{$index + 1}}.
                      <img ng-if="gov!=='eu'" ng-src="https://www.cbd.int/images/flags/48/flag-{{gov}}-48.png"></img>
                      <img ng-if="gov==='eu'" ng-src="https://www.cbd.int/images/flags/48/flag-eur-48.png"></img>
                      <a ng-href="/idb/{{idbCelIndexCtrl.year}}/celebrations/{{gov}}">{{idbCelIndexCtrl.getCountry(gov).title | lstring}}</a> <span class="badge">{{idbCelIndexCtrl.numGovernments[gov]}}</span>
                  </div>
            </div>
            <div class="col-xs-12" ng-if="idbCelIndexCtrl.otherCelebrations">
                <a ng-href="https://www.cbd.int/management/articles/{{idbCelIndexCtrl.otherCelebrations._id}}/edit" ng-if="idbCelIndexCtrl.isAdmin()"><i class="fa fa-edit pull-right" style="margin-top:20px;" ></i></a>

                <div ng-class="{'is-content-area':idbCelIndexCtrl.isAdmin()}" ng-bind-html="idbCelIndexCtrl.otherCelebrationsContent"></div>
            </div>
        </div>
    </div>
</div>
