<style>
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px; /* 5px rounded corners */
      border-top: 1px #eeeeee solid;
      margin: 20px 10px 20px 10px;
      padding: 20px 20px 20px 20px;
  }
  .top-padding{
    padding-top: 20px;
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  .card  .card-img {
      border-radius: 5px 5px 5px 5px;
  }
    .banner {
        height: 120px;
        background: #ab42a6;
        background: -moz-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab42a6), color-stop(100%, #730094));
        background: -webkit-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: -o-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: -ms-linear-gradient(top, #ab42a6 0%, #730094 100%);
        background: linear-gradient(to bottom, #ab42a6 0%, #730094 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab42a6', endColorstr='#730094', GradientType=0);
        background: url("/app/images/idb-celebrations/banner-0.jpg");
        text-align: left;
    }

    .banner .main-title {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        margin-right: 25px;
        text-align: center;
    }

    .banner .main-title {
        margin: 10px 0 0;
        font-size: 25px;
        color: #fff;
        font-weight: normal;
        width: 220px;
        padding-top: 1.8em;
    }

    .banner .main-title:hover {
        background-color: #009b48;
        cursor: pointer;
    }

    .title-national-status {
        background: url("/app/images/aichi-targets/target-icon.png") no-repeat;
        padding-left: 2em;
    }

    @media (min-width: 1200px) {
        .container {
            width: 970px;
            !important;
        }
    }

    .simple-border {
        border: solid 1px #A9A9A9;
        padding: 10px;
    }

    .simple a {
        color: #333;
        text-decoration: none;
    }

    .cms-list {
        margin-top: 0;
        margin-bottom: 3px;
        padding-left: 15px;
        list-style-image: url("/app/images/bullet.gif");
    }

</style>



<div class="row">
    <div class="col-xs-12">
        <div class="banner">
            <h5 class="main-title">Year {{idbProfileCtrl.year}}</h5>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-3 hidden-xs">
        <menu-vertical links="idbProfileCtrl.links" style="padding:0;margin:0;"></menu-vertical>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="small" style="padding: 10px 0 10px 0;">
        <a href="https://www.cbd.int/"><img src="/app/images/ic-cbdhome.gif" alt="Home"></a> >
        <a href="https://www.cbd.int/programmes/default.shtml">Programmes </a> >
        <a href="https://www.cbd.int/cepa/default.shtml">CEPA </a> >
        <a href="/idb/">IDB </a> >
        <a ng-href="/idb/{{idbProfileCtrl.year}}"> <span>{{idbProfileCtrl.year}}</span></a> >
        <a ng-href="/idb/{{idbProfileCtrl.year}}/celebrations">Celebrations</a> >
        <span>{{idbProfileCtrl.getCountry(idbProfileCtrl.gov).title | lstring}}</span>
      </div>
        <hr style="margin:0px;" />
        <div class="row" style="padding-top:10px; padding-bottom:10px;">

            <div class="col-xs-12">
                <div>
                    <img ng-if="idbProfileCtrl.gov!=='all' && idbProfileCtrl.gov!=='eu'" class="pull-right" ng-src="https://www.cbd.int/images/flags/96/flag-{{idbProfileCtrl.gov}}-96.png" />
                    <img ng-if="idbProfileCtrl.gov!=='all' && idbProfileCtrl.gov==='eu'" class="pull-right" ng-src="https://www.cbd.int/images/flags/96/flag-eur-96.png" />
                <h2 style="display:inline;">{{idbProfileCtrl.getCountry(idbProfileCtrl.gov).title | lstring}}</h2>

              </div>
              <div class="text-center">
                <br><br>
                <hr>
                <h2>{{idbProfileCtrl.year}}  IDB Celebration<span ng-if="idbProfileCtrl.documents.event.length!==1">s</span> </h2>
                <hr>
              </div>
              <a ng-href="https://www.cbd.int/management/articles/{{idbProfileCtrl.article._id}}/edit" ng-if="idbProfileCtrl.articleContent && idbProfileCtrl.isAdmin()" target="_blank">
                <i class="fa fa-edit pull-right"  ></i>
              </a>
              <a ng-href="#" ng-click="idbProfileCtrl.createArticle()" ng-if="!idbProfileCtrl.articleContent && idbProfileCtrl.isAdmin()" >
                <i class="fa fa-plus pull-right"  ></i>
              </a>
              <div  ng-if="idbProfileCtrl.articleContent" ng-bind-html="idbProfileCtrl.articleContent"></div>

              </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" ng-if="idbProfileCtrl.loading">
                    <h1><i class="fa fa-spin fa-spinner " /> Loading...</h1>
            </div>
            <div class="row card" ng-repeat="event in idbProfileCtrl.documents.event track by $index ">
              <a ng-href="https://www.cbd.int/2011-2020/dashboard/submit/event/{{event.identifier_s}}" target="_blank">
                <i class="fa fa-edit pull-right"  ng-if="idbProfileCtrl.isAdmin()"></i>
              </a>
            <div class="col-md-4 col-xs-12 " >

                <img class="pull-right card-img" style="max-width:100%;" ng-src="{{event.logo_s}}" />
                <img class="pull-right card-img" style="max-width:100%;" ng-src="{{idbProfileCtrl.getOrgLogo(event).url}}" ng-if="!event.logo_s" />
                <div   ng-show="event.startDate_s" >
                    <div class="row" >
                      <div ng-if="event.onlineEvent_b" class="col-xs-12 top-padding text-center" >
                        <label>Online Event</label>
                      </div>
                          <div class="col-xs-4" ng-class="{'top-padding':!event.onlineEvent_b && (event.logo_s || idbProfileCtrl.getOrgLogo(event).url) }"><label>From:</label></div><div class="col-xs-8" ng-class="{'top-padding':!event.onlineEvent_b && (event.logo_s || idbProfileCtrl.getOrgLogo(event).url) }"> {{event.startDate_s |moment:'format':'YYYY.MM.DD HH:mm'}}</div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-4"><label>To:</label></div><div class="col-xs-8">{{event.endDate_s |moment:'format':'YYYY.MM.DD HH:mm'}}</div>
                    </div>
                </div>
                <div ng-if="event.websites_C_ss">
                    <div ng-repeat="site in event.websites_C_ss track by $index ">
                        <a ng-href="{{site.url}}" target="_blank" ng-if="site.name!=='website'">
                            {{site.name |truncate:50}}
                        </a>
                    </div>
                </div>



                <div   ng-if="event.hostGovernments_ss">
                    <div  ng-repeat="doc in event.hostGovernments_ss" ng-show="doc !== idbProfileCtrl.gov">
                        <a ng-href="/idb/celebrations/{{doc}}/{{idbProfileCtrl.year}}" >
                          <img  ng-if="doc!=='eu'" width="25px" ng-src="https://www.cbd.int/images/flags/96/flag-{{doc}}-96.png" />
                          <img  ng-if="doc!=='eur'" width="25px" ng-src="https://www.cbd.int/images/flags/96/flag-eur-96.png" />
                          {{idbProfileCtrl.getCountry(doc).title|lstring}}
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-xs-12">

                <label>
                  <a ng-href="{{idbProfileCtrl.getWebsite(event).url}}" ng-if="idbProfileCtrl.getWebsite(event)"> {{event.title_s}}</a>
                  <span ng-if="!idbProfileCtrl.getWebsite(event)">{{event.title_s}}</span>
                </label>

                <p ng-bind-html="event.description_s | linky"></p>
                <p >
                    <hr ng-if="event.descriptionNative_s">
                </p>
                <p ng-if="event.descriptionNative_s" ng-bind-html="event.descriptionNative_s | linky"></p>
                <div class="row" ng-if="event.images_C_ss">
                    <div class="col-xs-3 text-center" ng-repeat="image in event.images_C_ss">
                        <a ng-href="{{image.url}}" target="_blank"><img ng-src="{{image.url}}" style="max-width:100%;"></img></a>
                    </div>
                </div>
                <div  class="row" ng-if="event.documents_C_ss">
                    <div  class="col-xs-12 top-padding" ng-repeat="doc in event.documents_C_ss">
                        <a ng-href="{{doc.url}}" target="_blank">
                          {{doc.name}}
                        </a>
                    </div>
                </div>
            </div>
          </div>
<!-- <pre>{{idbProfileCtrl.documents.event | json}}</pre> -->
        </div>
    </div>
</div>
