<div class="container" class="app" >
   
    <div class="row" id="idb2020Logo">
        <style>
            .idb-logos {
                /* border: 1px solid #eee; */
                /* padding: 5px;
                margin: 5px; */
            }
            .idb-logos img {
                max-width:  400px;
                max-height: 200px;
            }

            div.gallery {
                /* border: 1px solid #ccc; */
            }

            div.gallery:hover {
            border: 1px solid #777;
            }

            div.gallery img {
            width: 100%;
            height: auto;
            }

            div.desc {
            padding: 15px;
            text-align: center;
            }

            * {
            box-sizing: border-box;
            }

            .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
            }

            @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
            }

            @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
            }

            .clearfix:after {
            content: "";
            display: table;
            clear: both;
            }


            .rejected{
                border: 1px solid red;
            }
            .overlay-text{
                display: none;
            }
            .rejected .overlay-text{
                display: flex;
                justify-content: center;
            }
        </style>
        <div class="row">
            <div  class="col-lg-12">
                <h2>INTERNATIONAL BIODIVERSITY DAY LOGO
                    <a class="pull-right btn btn-primary" ng-href="{{basePath}}/2018/celebrations/logos/new">Add your logo</a>
                    <a class="pull-right btn btn-primary" ng-href="{{basePath}}/2018/celebrations/logos/draft" ng-if="isAdmin" style="margin-right: 5px;">Approve Logos</a>
                </h2>
                <hr/>
            </div>
            <div class="col-xs-12">
                <div class="alert alert-info"  role="alert" ng-if="!logos.length">No more logos to validate</div>
            </div>
            <div class="responsive" ng-repeat="logo in logos" ng-class="{'rejected':logo.status=='rejected'}">
                <strong class="overlay-text">REJECTED</strong>
                <div class="gallery idb-logos">
                    <img src="{{logo.image.url}}" />
                    <div class="pull-right1" ng-if="logo.status == 'draft'">                        
                        </br>
                        <button ng-disabled="logo.updating" ng-click="updateStatus(logo, 'approved')" class="btn btn-success btn-xs btn-sm">Approve</button>
                        <button ng-disabled="logo.updating" ng-click="updateStatus(logo, 'rejected')" class="btn btn-danger btn-xs btn-sm">Reject</button>
                    </div>
                </div>
              </div>
            <!-- <div class="col-xs-2" ng-repeat="logo in logos" ng-class="{'rejected':logo.status=='rejected'}">
                <strong class="overlay-text">REJECTED</strong>
                <div class="idb-logos">
                    <img class="img img-responsive" src="{{logo.image.url}}" />
                    
                </div>
            </div> -->
        </div>
        <br/></br>
    </div>
</div>