<ng-include src="'/app/views/bbi/header.html'" ></ng-include>

<div class="row">
    <menu pull="right" search="true"  links="frameworkCtrl.links" style="padding:0;margin:0;"></menu>
</div>

  <div class="row">
      <div class="col-xs-12" auto-linker>
        <h1>The Bio-Bridge Operational Framework</h1>
        <p class="text-center"><img src="https://www.cbd.int/bbi/images/Diagram.png"></p>

        <p>In general, the Bio-Bridge Initiative operates as follows:</p>
        <ul >
                <li>A Party requiring support submits a request for assistance form to the Bio-Bridge helpdesk. If necessary, the helpdesk assists the Party in articulating its needs and/or elaborating the request for assistance.</li>
                <li>The helpdesk determines what course of action is most appropriate. This may include direct response to the Party for simple requests such as providing relevant information or case studies, or facilitating the development of a proposal for a technical and scientific cooperation initiative to meet the need.</li>
                <li>The helpdesk identifies an appropriate partner (i.e. provider of technical assistance) from a network of relevant organizations to develop a proposal for the new technical and scientific cooperation initiative to address the Party's needs for submission to donors.</li>
                <li>When the technical and scientific cooperation initiative is funded, the helpdesk monitors its implementation using the indicators and targets described in the proposal.</li>
        </ul>
      </div>


  </div>
<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>

