<ng-include src="'/app/views/bbi/header.html'"></ng-include>

<div class="row">
    <menu pull="right" search="true"  links="initCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" auto-linker>
        <h1>The Bio-Bridge Initiative</h1>

        <p>
            <strong>The Bio-Bridge Initiative</strong> was established by the Government of the Republic of Korea at the twelfth meeting of the Conference of the Parties in 2014 to enhance technical and scientific cooperation and
            technology transfer under the Convention, with a view to supporting the effective implementation of the Strategic Plan for Biodiversity 2011-2020 and its Aichi Biodiversity Targets, as well as the updated national biodiversity strategies
            and action plans (decision XII/2/B2). The Initiative is designed to complement existing programmes and mechanisms under the Convention and its Protocols.
             </p>
             <p> In their Gangwon Declaration on Biodiversity for Sustainable Development, the Ministers of Environment and
            other heads of delegation who met on 15 to 16 October 2014 in Pyeongchang, Republic of Korea, recognized the need for enhanced technical and scientific cooperation among countries to implement the objectives of the Convention and welcomed, among other initiatives, the Bio-Bridge
            Initiative on technical and scientific cooperation for the accelerated implementation of the Pyeongchang Roadmap 2020. 
            The initial phase of the Initiative focused on establishing institutional structures, developing tools and mechanisms to support technical and scientific cooperation, developing a
            the Bio-Bridge Action Plan 2017-2020, and supporting a few pilot technical and scientific cooperation projects.
        </p>
        <h3>Bio-Bridge in a Nutshell</h3>

        <p>The core goal of the Bio-Bridge Initiative is the promotion and facilitation of technical and scientific cooperation. This will be achieved through various tools and mechanisms including helpdesk services, an interactive web platform, meetings and roundtables and a small seed funding facility.</p>
  <lu class="bbilist">
      <li>  Helpdesk: assisting Parties in articulating their needs and requests for assistance and facilitating the matching of needs to with available support through collaborative partnerships.</li>
      <li>   Interactive web platform for technical and scientific cooperation: serving as one-stop facility for access to technical and scientific cooperation opportunities and resources, including the online form for submission of requests for assistance, the roster of technical and scientific cooperation providers, and databases of replicable success stories ("bright spots"), good practices and appropriate technologies.</li>
      <li>   Meetings and roundtables: mobilizing international, regional and national organizations and networks to support the Initiative in facilitating technical and scientific cooperation and to catalyze new technical and scientific cooperation initiatives.</li>
      <li>   Seed funding facility: providing occasional seed funding to catalyze technical and scientific cooperation initiatives on specific biodiversity-related topics.</li>
    </lu> <br>
        An active network of partners will underpin all Bio-Bridge activities.


      <h3>  What is Technical and Scientific Cooperation?</h3>

<p>  In the context of the Convention and its Protocols, technical and scientific cooperation is defined as a process whereby two or more countries or institutions pursue their individual or collective biodiversity-related goals through cooperative actions and/or exchange of scientific knowledge, expertise, data, resources, technologies and technical know-how.</p>
<p>  As envisaged in Article 18 of the Convention, technical and scientific cooperation encompasses human resources development, institutional building, joint research programmes, joint ventures for development of technologies, technology transfer, and other elements.</p>

  <h3>Why Technical and Scientific Cooperation?</h3>

  <p>Technical and scientific cooperation is one of the various means of enabling Parties to implement the Convention and its Protocols in addition to capacity-building, information sharing, training and other means.</p>
<p>  Technical and scientific cooperation helps foster synergies, maximizes the utilization of existing resources, facilitates access to a wide range of knowledge, experiences and lessons learned, and often results in greater impact of the implementation efforts.</p>

  Other benefits include:
  <lu class="bbilist">
  <li>Magnifying biodiversity solutions that have been tested in other places;</li>
  <li>Sustainable capacity-building initiatives; and</li>
  <li>Mutually beneficial partnerships.</li>
</lu>

<h3>Characteristics of the Bio-Bridge Initiative</h3>
  <lu class="bbilist">
<li>A simple and easily accessible programme designed to address technical and scientific cooperation needs expressed by Parties.</li>
<li>A catalytic programme intended to inspire long-term technical and scientific cooperation among Parties.</li>
<li>A systematic articulation of Parties’ needs/requests for assistance and matchmaking with available support.</li>
<li>A client-oriented approach to facilitating and supporting technical and scientific cooperation initiatives through the Bio-Bridge helpdesk service.</li>
<li>Decentralized support mechanisms through regional hubs and networks, maintained by partner institutions.</li>
<li>A focus on developing countries and countries with economies in transition.</li>
<li>Synergy and complementarity with other programmes, initiatives and mechanisms, building on their experience and filling identified gaps.</li>
</lu>
    </div>
</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>