<ng-include src="'/app/views/bbi/header.html'" ></ng-include>

<div class="row">
    <menu links="partnersCtrl.links" style="padding:0;margin:0;"></menu>
</div>

  <div class="row">
      <div class="col-xs-12" auto-linker>
          <h1>BBI Partners</h1>
          
          <p>A broad network of partners will support BBI's effort in facilitating and supporting technical and scientific cooperation (TSC) for the conservation and sustainable use of biodiversity. Partner institutions will help identify relevant sources of expertise and technical resources to meet enable Parties to meet their needs and identify TSC opportunities. BBI will complement existing initiatives and collaborates with partners to provide coordinated TSC support, building on knowledge accumulated through these initiatives.</p>

          <p>If you would like to know more about becoming a partner with BBI, please email us at: biobridge@cbd.int.</p>

          <h3>Initial Partner Organizations</h3>

        <p>  Two external partners have been contracted to support the CBD Secretariat to design and develop the Bio-Bridge Initiative (BBI), namely
          Quebec Centre for Biodiversity Science
           and the UNEP World Conservation Monitoring Centre.
           They are coordinating the development of the BBI Action Plan in partnership with the CBD Secretariat and contributing to the BBI outreach activities.</p>
        <p>Members of the Consortium of Scientific Partners on Biodiversity (CSP) have also been consulted and will be actively involved in the operational phase. Partnerships will be further expanded to ensure equitable representation of relevant regional institutions as well.</p>

  </div>
  </div>
<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>

