<ng-include src="'/app/views/bbi/header.html'" ></ng-include>

<div class="row">
    <menu pull="right" search="true"  links="partnersCtrl.links" style="padding:0;margin:0;"></menu>
</div>

  <div class="row">
      <div class="col-xs-12" auto-linker>
          <h1>Bio-Bridge Partners</h1>

          <p>A broad network of partners supports the Bio-Bridge Initiative efforts in facilitating and supporting technical and scientific cooperation for the conservation and sustainable use of biodiversity. Partner institutions help identify relevant sources of expertise and technical resources to meet enable Parties to meet their needs and identify technical and scientific cooperation opportunities. The Bio-Bridge Initiative complements existing initiatives and collaborates with partners to provide coordinated technical and scientific cooperation support, building on knowledge accumulated through these initiatives.</p>

          <p>If you would like to know more about becoming a partner with the Bio-Bridge Initiative, please email us at: biobridge@cbd.int.</p>

          <h3>Initial Partner Organizations</h3>

        <p>Two external partners were contracted to support the CBD Secretariat to design and develop the Bio-Bridge Initiative, namely
          Quebec Centre for Biodiversity Science
           and the UNEP World Conservation Monitoring Centre.
           They coordinated the development of the Bio-Bridge Action Plan in partnership with the CBD Secretariat and contributed to the Bio-Bridge outreach activities.</p>
        <p>Members of the Consortium of Scientific Partners on Biodiversity (CSP) were also consulted and are actively involved in the operational phase. Partnerships will be further expanded to ensure equitable representation of relevant regional institutions as well.</p>

  </div>
  </div>
<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>

