<ng-include src="'/app/views/bbi/header.html'" ></ng-include>

<div class="row">
    <menu pull="right" search="true"  links="planCtrl.links" style="padding:0;margin:0;"></menu>
</div>

  <div class="row" auto-linker>
      <div class="col-xs-12">
          <h1>The Bio-Bridge Action  Plan</h1>
            <p>The <a href="https://www.cbd.int/bio-bridge/BBI-Action-Plan-2017-2020.pdf" target="_new">Bio-Bridge Action Plan</a>
             was developed to guide the activities and operations of the Initiative for the period 2017-2020. The Action Plan outlines the vision, mission, objectives and expected outcomes of the Initiative. It also describes the framework and principles that will guide the operations of the Initiative, the services to be offered by BBI, the governance structure of the Initiative, a roadmap for implementation, and a plan for long-term sustainability.</p>
            <p>The Action Plan takes into account inputs from Parties and partner organizations, including their expressed priorities and experiences with technical and scientific cooperation. It also draws on the lessons learned by other similar mechanisms such as Climate Technology Center & Network (CTCN).</p>
            <p>If you wish to contribute to the implementation of the Action Plan, please email us at: biobridge@cbd.int.</p>


      </div>
  </div>
<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>

