<ng-include src="'/app/views/bbi/header.html'" ></ng-include>

<div class="row">
    <menu links="planCtrl.links" style="padding:0;margin:0;"></menu>
</div>

  <div class="row" auto-linker>
      <div class="col-xs-12">
          <h1>BBI  Action  Plan</h1>
          <p>The CBD Secretariat in collaboration with its partners has developed an Action Plan 2017-2020 to guide the BBI activities and operations for the period 2017-2020. The Action Plan outlines the vision, mission, objectives and expected outcomes of the Initiative. It also describes the framework and principles that will guide the operations of BBI, the services to be offered by BBI, the governance structure of the Initiative, a roadmap for implementation, and a plan for long-term sustainability.</p>
<p>The Action Plan takes into account inputs from Parties and partner organizations, including their expressed priorities and experiences with TSC. It also draws on the lessons learned by other similar mechanisms such as Climate Technology Center & Network (CTCN).</p>
<p>If you wish to provide input and ideas for the implementation of the Action Plan, please email us at: biobridge@cbd.int.</p>


      </div>
  </div>
<ng-include src="'/app/views/bbi/footer.html'" ></ng-include>

