<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
  .the-list {
    margin-left: 20px;
  }
</style>
<div class="row">
  <menu pull="right" search="true" links="steeringCommitteeCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
  <div class="col-xs-12" auto-linker>
    <h1>Bio-Bridge Initiative Steering Committee</h1>
    <h2>Terms of Reference</h2>

    <p>The governance and operations of the Bio-Bridge Initiative (BBI) is overseen by a Steering Committee established for this purpose, under the overall strategic oversight by the Bureau of the Subsidiary Body on Implementation (SBI) on behalf of
      Conference of the Parties.
    </p>

    <ol>
      <h3>Functions</h3>
      <li class="the-list"> The Steering Committee is the decision-making body responsible for providing management oversight to the implementation of BBI. It's roles and responsibilities include the following:</li>
      </br>
      <ul class="the-list bbilist">
        <li> Provide strategic guidance and oversight of the BBI activities;</li>
        <li> Review and approve priorities for the BBI medium-term work programmes;</li>
        <li>Approve annual work plans proposed by the Secretariat;</li>
        <li> Monitor implementation of the BBI activities and programmes and review progress reports prepared by the Secretariat;</li>
        <li>Provide guidance on BBI operational policies and procedures, including project application procedures and selection criteria; and</li>
        <li> Provide guidance on fundraising opportunities and activities.</li>
      </ul>
      </br>
      <p class="the-list">The Secretariat of the Convention on Biological Diversity provides the necessary logistical and secretarial support to the work of the Steering Committee.</p>

      <h3>Composition</h3>
      <li class="the-list"> The Steering Committee shall be composed of:</li>
      </br>
      <ul class="the-list bbilist">
        <li> A government representative from each of the five regional groupings (Africa, Asia and the Pacific, Central and Eastern Europe, Latin America and the Caribbean and Western Europe and Others Group);</li>
        <li> The Chair of the Subsidiary Body on Implementation or his/her designated representative from the Bureau; and </li>
        <li> A representative each of the major donor countries, institutions and organizations providing substantial funding support to the Initiative.</li>
      </ul>
      </br>
      <li class="the-list"> A senior representative of the CBD Executive Secretary serves as Secretary to the Committee.</li>
      <li class="the-list"> Members of the Steering Committee are selected by the CBD Executive Secretary in consultation with the COP Bureau based on nominations made by Parties and relevant organizations. The selection takes into account the expertise and experience
        of the nominated officials with respect to technical and scientific cooperation under the Convention and its Protocols.  Committee members serve for a term of two years, with a possibility of renewal for one additional two-year term.</li>
      <li class="the-list"> The Committee may, as appropriate, invite resource persons to support its deliberations on BBI.</li>

      <h3>Chair</h3>
      <li class="the-list"> The Chair of the Committee is elected on a biennial rotational basis by members of the Committee as listed in paragraph 3 during each COP cycle.</li>
      <li class="the-list"> If the Chair is unable to attend a particular meeting or fulfil his/her roles over a period of time, the Committee is designated any other member to act as the Chair of that meeting or period of time.</li>

      <h3>Meetings</h3>
      <li class="the-list"> The Committee  meets face-to-face at least once a year and, as appropriate, works intersessionally through electronic means (including: e-mail and/or teleconference). To the extent possible, the face-to-face meetings are held
        in the margins of other relevant meetings. The costs for the participation of Steering Committee members representing developing country Parties and Parties with economies in transition are covered by BBI.</li>

      <h3>Agenda and Documentation</h3>
      <li class="the-list"> In consultation with the Chair of the Committee, the CBD Secretariat prepares the provisional agenda and supporting documentation for each meeting.</li>
      <li class="the-list"> The provisional agenda and the supporting documents for each meeting are distributed by the CBD Secretariat to the members of the Committee at least three weeks before the opening of the meeting.</li>
      <li class="the-list"> The working language of the BBI Steering Committee is English.</li>

      <h3>Quorum</h3>
      <li class="the-list"> At least 5 of the members of the Steering Committee  must be present to constitute a quorum. The quorum is verified by the Chair at the time of the adoption of decisions by the Committee.</li>
      <h3>Decision-making</h3>
      <li class="the-list"> Decisions of the Steering Committee are taken by consensus as far as possible.</li>
    </ol>
  </div>


</div>
<ng-include src="'/app/views/bbi/footer.html'"></ng-include>
