<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
  .the-list {
    margin-left: 20px;
  }
</style>
<div class="row">
  <menu pull="right" search="true" links="steeringCommitteeCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
  <div class="col-xs-12" auto-linker>
    <h1>Advisory Committee on Technical and Scientific Cooperation and Technology Transfer</h1>
    <h2>Terms of Reference</h2>

    <ol>
    <h3>1.	Background</h3>
      <p>Articles 16 and 18 of the Convention on Biological Diversity require Parties to promote technical and scientific cooperation and technology transfer in the field of conservation and sustainable use of biological diversity, inter alia, through the development of national policies and strengthening of national capabilities, development and use of technologies, training of personnel and exchange of experts, and establishment of joint research programmes and joint ventures for development of relevant technologies.
      </p>
      <p>In decisions XIII/23, XII/2, X/16, IX/14, VIII/12 and VII/29, the Conference of the Parties adopted a number of measures and provided guidance on various aspects relating to technical and scientific cooperation and technology transfer. In 2014, a Bio-Bridge Initiative (BBI) was established by the Government of the Republic of Korea to promote and facilitate technical and scientific cooperation and technology transfer for the effective implementation of the Convention and its Protocols. A Bio-Bridge Action Plan was launched in December 2016 at the 13th meeting of the Conference of the Parties in Cancun to guide the activities and operations of the Initiative for the period 2017-2020.
      </p>
      <P>This document outlines the terms of reference for an Advisory Committee on Scientific and Technical Cooperation and Technology Transfer – henceforth referred to as the “Advisory Committee”.
      </P>
    </ol>

    <ol type='a'>
      <h3>2.	Purpose</h3>
      <p>The Advisory Committee shall provide strategic guidance and advice on practical ways and means to advance the implementation of Articles 16 and 18, and related provisions of the Convention and of its Protocols on technical and scientific cooperation and technology transfer for the conservation and sustainable use of biodiversity.
      </P>
      <p>Specifically, the roles and responsibilities of the Advisory Committee will include the following: 
      </p>
      <li class="the-list"> Provide expert advice and recommendations on practical measures, approaches and mechanisms to promote technical and scientific cooperation and technology transfer;</li>
      <li class="the-list"> Provide oversight of the Bio-Bridge Initiative and other programmes contributing to the implementation of Articles 16 and 18, and related provisions of the Convention and of its Protocols, including the review and approval of their programme priorities, work plans, progress reports and operational policies and procedures, such as project selection criteria and procedures; </li>
      <li class="the-list"> Monitor implementation of the Bio-Bridge Initiative and other programmes contributing to the promotion of technical and scientific cooperation and technology transfer; </li>
      <li class="the-list"> Serve as ambassadors and champions of programmes contributing to the achievement of Articles 16 and 18 and related provisions of the Convention; and </li>
      <li class="the-list"> Provide advice and guidance on fundraising opportunities, succession, sustainability and transformational plans to promote and facilitate technical and scientific cooperation and technology transfer.</li>
      <br><p>The Secretariat of the Convention on Biological Diversity will service the Advisory Committee, including providing the necessary logistical and secretarial support to its work.</p>
    </ol>

    <ul>
      <h3>3.	Membership</h3>
      <p>The Advisory Committee shall comprise one representative of Parties from each of the five regions (Africa, Asia and the Pacific, Central and Eastern Europe, Latin America and the Caribbean and Western Europe and Others Group) and representatives and experts from relevant organizations. Advisory Committee members shall bring diverse perspectives and a shared commitment to improving sustainability and addressing biodiversity challenges through science and technology. Members are expected to be authorities in their respective field of expertise and drivers of change. Members shall be selected based on the following criteria as evidenced in their Curriculum Vitae:
      </p>  
      <li class="the-list"> At least 5 years of experience collaborating with the SCBD or with other biodiversity-focused Intergovernmental Organizations;</li>
      <li class="the-list"> Interdisciplinary expertise in science, technology and innovation aspects across the full spectrum of Aichi Biodiversity Targets and themes outlined under Articles 16 and 18 of the Convention;</li>
      <li class="the-list"> Internationally recognized excellence in their field or fields of expertise;</li>
      <li class="the-list"> Demonstrated understanding of international processes related to the SCBD. </li>
      <br><p>Members of the Advisory Committee shall be selected through a formal nomination process based on the above criteria. The members shall serve in their personal capacity and not as a representative of a Government, corporation, organization or any other entity.</p>
      <p>Advisory Committee members will serve for a term of two years, with a possibility of renewal for one additional two-year term.</p>
    </ul>

    <ol type='a'>
      <h3>Modus Operandi</h3>
      <li class="the-list">The Advisory Committee shall meet face-to-face at least once per year, wherever possible in the margins of other relevant meetings. The frequency of meetings can be adjusted by the members as the need arises. The Committee will work intersessionally, as appropriate, via electronic means (including: e-mail and/or teleconference). </li>
      <li class="the-list">The Advisory Committee members shall not receive any honorarium, fee or other remuneration from the UN. However, costs for the participation of Committee members representing developing country Parties and Parties with economies in transition are covered, in line with UN rules and regulation.</li>
      <li class="the-list">The Advisory Committee shall elect a Chair to steer its meetings on a rotational basis. The Chair shall serve for a period of one year at a time;</li>
      <li class="the-list">The Advisory Committee shall make its decisions and recommendations by consensus. </li>
      <li class="the-list">The Advisory Committee may at any time revise its working methods by consensus. </li>
      <li class="the-list">The working language of the Committee shall be English.</li>
    </ol>
  </div>


</div>
<ng-include src="'/app/views/bbi/footer.html'"></ng-include>
