<div class="container">
    <div class="col-md-6" style="font-size:13px">
        <br>
        This December, at the UN Biodiversity Conference in Cancun, Mexico, the world will meet to take the steps needed to build a future of life in harmony with nature.  The conference provides a critical opportunity for countries to address strategic actions to enhance implementation of the Strategic Plan for Biodiversity 2011-2020 and promote the achievement of the Aichi Biodiversity targets.
        <br><br>
        The Conference will focus on mainstreaming biodiversity across relevant sectors, especially agriculture, fisheries, forestry, and tourism, to contribute to the sustainable development goals, climate action, food security and other human development goals.
        <br><br>
        <br><br>
    </div>
    <div class="col-md-6">
        <a class="twitter-timeline" data-height="450" data-theme="light" data-link-color="#009B48" href="https://twitter.com/CBDNews">Tweets by CBDNews</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
