<div class="container">
    <div class="col-md-12" style="font-size:13px">
        <br>
        UN Biodiversity Conference results in significant commitments for action on biodiversity.
        <br><br>
        Agreements were reached on actions to integrate biodiversity in forestry, fisheries, agriculture, and tourism sectors and to achieve the 2030 Agenda on Sustainable Development, as well as actions on specific themes including protected areas, ecosystem restoration, marine biodiversity, biodiversity and health, synthetic biology, and traditional knowledge, among others, and on strengthening capacity-development and the mobilization of financial resources.
        <br><br>
        On the margins of the Conference, many pledges and commitments in support of the Strategic Plan for Biodiversity were made by Governments, Business; Cities and Subnational Authorities, Indigenous People and Local Communities, and Youth and Civil Society.
        <br><br>
        The main outcomes of the Conference include:
        <ul>
          <li>The Cancun Declaration on mainstreaming the conservation and sustainable use of biodiversity for well-being ( <i class="fa fa-file-pdf-o" ng-style="::{ color: MIMES[type].color}" style="color: red;"></i>
            <a href='https://www.cbd.int/doc/meetings/cop/cop-13/official/cop-13-24-ar.pdf'>العربية</a>
            <a href='https://www.cbd.int/doc/meetings/cop/cop-13/official/cop-13-24-en.pdf'>English</a>
            <a href='https://www.cbd.int/doc/meetings/cop/cop-13/official/cop-13-24-es.pdf'>Español</a>
            <a href='https://www.cbd.int/doc/meetings/cop/cop-13/official/cop-13-24-fr.pdf'>Français</a>
            <a href='https://www.cbd.int/doc/meetings/cop/cop-13/official/cop-13-24-ru.pdf'>Русский</a>
            <a href='https://www.cbd.int/doc/meetings/cop/cop-13/official/cop-13-24-zh.pdf'>中文</a>)
          </li><li><a href='https://www.cbd.int/conferences/2016/cop-13/documents'>Decisions of the 13th meeting of the Conference of the Parties to the Convention on Biological Diversity</a>
          </li><li><a href='https://www.cbd.int/conferences/2016/cp-mop-8/documents'>Decisions of the 8th meeting of the Conference of the Parties serving as the meeting of the Parties to the Cartagena Protocol on Biosafety</a>
          </li><li><a href='https://www.cbd.int/conferences/2016/np-mop-2/documents'>Decisions of the 2nd meeting of the Conference of the Parties serving as the meeting of the Parties to the Nagoya Protocol on Access to Genetic Resources and the Fair and Equitable Sharing of Benefits arising from their utilization</a>
          </li><li><a href='https://www.cbd.int/business/pledges.shtml'>The Cancun Business and Biodiversity Pledge</a>
          </li><li><a href='https://www.cbd.int/doc/press/2016/pr-2016-12-12-global-legislators-forum-en.pdf'>The Cancun Communiqué on the role of Legislators in mainstreaming biodiversity for well-being</a>
          </li><li><a href='https://www.cbd.int/doc/meetings/cop/cop-13/information/cop-13-inf-45-en.pdf'>The Like-Minded Mega-Diverse Countries Carta to Achieve Aichi Biodiversity Target 11</a>
          </li><li><a href='https://www.cbd.int/2011-2020/actions/ccc'>Cancun Commitments and Coalitions for Enhanced Implementation</a>
          </li>
        </ul>
        See Also:
        <ul><li><a href='https://www.cbd.int/doc/press/2016/pr-2016-12-18-un-bidov-conf-en.pdf'>Press release “UN Biodiversity Conference results in significant commitments for action on biodiversity” (18 December, 2016)</a>
        </li></ul>
        <br>
        The UN Biodiversity Conference took place in Cancun, Mexico, 2 – 17 December, 2016, attended by over 6,000 participants including some 4,300 delegates from 170 countries and over 400 organizations. 
        <br>
    </div>
</div>
