<div class="container idb-container" class="app" >
    <style>

        .container.idb-container {
            padding-left: 15px;
            padding-right: 15px;
        }
        @font-face{
            font-family: "Giorgio Sans";
            font-style: normal;
            font-weight: 700;
            src: url("/app/fonts/GiorgioSans-Bold.otf")  format("opentype");
        }
        @font-face{
            font-family: "Giorgio Sans";
            font-style : normal;
            font-weight: 275;
            src: url("/app/fonts/GiorgioSans-el.otf")  format("opentype");
        }

        .boxIncon img{
            height: 275px;
        }    

        .giorgio-font{
            font-family: 'Giorgio Sans', sans-serif;
            font-weight:700;
            line-height: 50px;
            font-size: 57px;
        }
        .giorgio-font-light{
            font-family: 'Giorgio Sans', sans-serif;
            font-weight:275;
            line-height: 45px;
            font-size: 50px;
        }

        /* #newImage canvas{
            width: 100%;
            height: 100%;
      
        } */


        .padding{
            padding: 5px 20px 5px 5px;
        }
        .p-0{
            padding: 0 0 0 0;
        }     


        .logo-box{
            background-color: #fff;
        }
        .logo-box,
        .boxGenerate .box-size{
            width:800px;
            height:280px;
        }

        .boxGenerate .text-box-width{
            width: 345px;
        }

        .boxGenerate .box-size{
            padding-top: 3px;
        }

        .zh #line1{
            font-weight: bold;
            font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
        }

        .ngdialog.ngdialog-theme-default .ngdialog-content {
            background-color: #fff;
            width: 70%;
        }

        #idb2020Logo .ar input, 
        .custom-language-text .ar input,
        .custom-language-text .dv input,
        .custom-language-text .fa input,
        .custom-language-text .ha input,
        .custom-language-text .iw input,
        .custom-language-text .ks input,
        .custom-language-text .ps input,
        .custom-language-text .ur input,
        .custom-language-text .ji input{
            direction: rtl;
        }

        .overlay {
	        position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            background-size: 50px;
            z-index: 1;
            opacity: .6;
            margin-left: -10px;
        }
        .overlay-wrapper {
            position: relative;
        }
        .outline-text{
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #0086b7;
        }

        #idb2020Logo hr {
            width: 100%;
        }

        /* #imgGenerator{
            padding-left:10px;
        } */

        .ar{ padding-left: 40px; }
        .hy .boxGenerate .text-box-width{ width: 500px; }
        .bn .boxGenerate .text-box-width{ width: 450px; }
        .bg .boxGenerate .text-box-width{ width: 500px; }
        .et .boxGenerate .text-box-width{ width: 400px; }
        .fi .boxGenerate .text-box-width{ width: 400px; }
        .ka .boxGenerate .text-box-width{ width: 500px; }
        .el .boxGenerate .text-box-width{ width: 500px; }
        .hi .boxGenerate .text-box-width{ width: 375px; }
        .is .boxGenerate .text-box-width{ width: 375px; }
        .ja .boxGenerate .text-box-width{ width: 450px; }
        .ko .boxGenerate .text-box-width{ width: 400px; }
        .ms .boxGenerate .text-box-width{ width: 500px; }
        .ne .boxGenerate .text-box-width{ width: 475px; }
        .pl .boxGenerate .text-box-width{ width: 430px; }
        .sr .boxGenerate .text-box-width{ width: 500px; }
        .uk .boxGenerate .text-box-width{ width: 500px; }


        .ar .boxGenerate .text-box-width{ width: 475px; }
        .fr .boxGenerate .text-box-width{ width: 355px; }
        .ru .boxGenerate .text-box-width{ width: 450px; }
        .es .boxGenerate .text-box-width{ width: 325px; }
        .zh .boxGenerate .text-box-width{ width: 400px; }

        .am .giorgio-font{ line-height: 55px; }
        .hy .giorgio-font{ line-height: 50px; font-size: 50px; }
        .hy .giorgio-font-light{ line-height: 33px; font-size: 33px; }
        .bg .giorgio-font-light{ line-height: 44px; font-size: 44px; }
        .fi .giorgio-font-light{ line-height: 40px; font-size: 40px; }
        .ka .giorgio-font-light{ line-height: 32px; font-size: 32px; }
        .el .giorgio-font{ line-height: 50px; font-size: 50px; }
        .el .giorgio-font-light{ line-height: 40px; font-size: 40px; }
        .ko .giorgio-font{ line-height: 57px; }
        .ko .giorgio-font-light{ line-height: 48px;  }
        .ms .giorgio-font{ line-height: 50px; font-size: 50px; }

        .ru .giorgio-font{ font-size: 45px; }
        .ru .giorgio-font-light{ font-size: 40px; }

        .is-rtl{
            direction: rtl;
            text-align: right;
            padding-left:57px;
        }
        .is-ltr{
            direction: ltr;
            text-align: left;
            padding-right:57px;
        }

        /* .debug{ border: 1px solid red; }
        .debug2{ border: 1px solid blue; }  */
    </style>

    <div class="row" id="idb2020Logo" >
        
        <div  class="col-lg-12">
            <h2>Customize your Biodiversity Day logo! </h2>
        </div>
        <div class="col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12 p-0" >                   
            <!-- <cbd-article query="articleQuery" ng-if="articleQuery" hide-cover-image="true"></cbd-article> -->
            
            <hr/>
            <cbd-article  ng-vue="vueOptions"  ng-vue-expose="&onArticleLoad" :query="articleQuery" v-if="articleQuery" :admin-tags="articleAdminTags" 
            @load="onArticleLoad($event)" hide-cover-image="true" show-edit="true"></cbd-article>
            <hr/>
        </div>

        <div class="col" ng-class="{'overlay-wrapper':uploading}">
            <div class="overlay" ng-if="uploading" >                
                <span style="margin:35%;font-size: 18px;color: #fff;position: absolute;"><i class="fa fa-spin fa-spinner"></i> Generating your logo...</span>
            </div>
            <div class="row debug2">
                <div class="col-lg-12 padding">
                    <label for="language">Select logo language ({{language.code}})</label>
                    <div class="input-group">
                        <select class="form-control" ng-model="language" ng-change="onLanguageChange();" 
                            ng-options="option.language group by option.group for option in defaultLanguages track by option.code">
                        </select>      
                    </div> 
                </div>
                <div class="col-lg-12 padding">
                    <label for="logotype">Is your logo for an individual or Individual & Organization?</label>
                    <div class="input-group">
                        <select class="form-control" ng-model="customText.logoType" ng-change="onTypeChange();" >
                            <option value="collective">Individual & Organization</option>
                            <option value="individual" selected>Individual</option>
                        </select>
                    </div> 
                </div>
                <div ng-if="customText.logoType==='individual'" class="col-lg-12 padding">
                    <label for="name">Name to appear in the logo </label>
                    <span ng-if="text[language.code].name.length" class="pull-right text-muted small" ng-class="{'alert-danger': isCharLimitExceeded()}">Length: {{text[language.code].name.length}}</span>

                    <input type="text" class="form-control" id="name" placeholder="Your name here" ng-model="text[language.code].name" ng-change="fitText()">
                    <div  ng-if="text[language.code].name.length > charLimit()" class="alert alert-danger" role="alert">
                        <p> The character limit cannot exceed {{charLimit()}}. Total: {{text[language.code].name.length}}</p>
                    </div>
                </div>
                <div ng-if="customText.logoType==='collective'" class="col-lg-12 padding">
                    <label for="name">Individual  Name to appear in the logo </label>
                    <span ng-if="text[language.code].individual.length" class="pull-right text-muted small" ng-class="{'alert-danger': isCharLimitExceeded()}">Length: {{text[language.code].individual.length}}</span>

                    <input type="text" class="form-control" id="individual" placeholder="Your name here" ng-model="text[language.code].individual" ng-change="fitText()">
                    <div  ng-if="isCharLimitExceeded()" class="alert alert-danger" role="alert">
                        <p> The total character limit cannot exceed {{charLimit()}}.</p>
                        <p> Individual: {{text[language.code].individual.length}}. </p>
                        <p> Organization: {{text[language.code].collective.length}}. </p>
                        <p> Total: {{text[language.code].name.length}}</p>
                    </div>
                </div>
                <div ng-if="customText.logoType==='collective'" class="col-lg-12 padding">
                    <label for="collective">Organization to appear in the logo </label>
                    <span ng-if="text[language.code].collective.length" class="pull-right text-muted small" ng-class="{'alert-danger': isCharLimitExceeded()}">Length: {{text[language.code].collective.length}}</span>

                    <input type="text" class="form-control" id="collective" placeholder="Your collective name here" ng-model="text[language.code].collective" ng-change="fitText()">
                    <div  ng-if="isCharLimitExceeded()" class="alert alert-danger" role="alert">
                        <p> The total character limit cannot exceed {{charLimit()}}.</p>
                        <p> Individual: {{text[language.code].individual.length}}. </p>
                        <p> Organization: {{text[language.code].collective.length}}. </p>
                        <p> Total: {{text[language.code].name.length}}</p>
                    </div>
                </div>
                <div  class="col-lg-12 padding">
                    <div id="g-recaptcha"></div>
                    <label ng-if="!grecaptchaToken" style="color:red;font-size:small;">Please check the box to proceed.</label>
                    <div ng-if="error" class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error!</h4>
                        <p>{{error}}</p>
                    </div>
                </div>
                <div class="col-lg-12 padding text-center">
                    <div class=" btn-group text-center">
                        <input type="button" class=" btn btn-primary btn-xs  btn-sm" id="btnSave" value="Download" ng-click="saveImage()" ng-disabled="!grecaptchaToken || uploading"/>                    
                        <a class="btn btn-primary btn-xs btn-sm" ng-href="{{basePath}}/logo/collage">View published logos</a>
                    </div>
                </div>
                <div class="col-lg-12 padding  text-center">
                    <a class="btn btn-primary btn-xs btn-sm" ng-href="{{basePath}}/logo/collage/draft" ng-if="isAdmin">Approve logos</a>  
                </div>
                
            </div>
        </div>
        <div  class="col-lg-9 logo-box {{language.code}}">
            <div style="opacity: 0010;" >
                <div class="boxGenerate box-size" id="mainImageBox">
                    <div class="boxIncon box-size" id="imgGenerator">
                        <div class="row box-size ps-1" style="display: flex; flex-wrap: wrap;">
                            <div class="col-lg-51 p-0 debug">
                                <img src="/app/images/idb-celebrations/gbf-logo-ball.png"  class="img-fluid idb-logo pull-right" id="logoImg"/>
                            </div>
                            <div class="col-lg-71 debug" style=" display: flex; align-items: center;" ng-if="language.code" >
                                <div class="text-box-width" ng-class="{ 'is-rtl':isRightToLeft, 'is-ltr':!isRightToLeft }" >
                                    <div id="bigtext" >  
                                        <div class="giorgio-font text-nowrap" id="customText">
                                            <span id="customName" ng-bind="text[language.code].name"></span> 
                                        </div>                             
                                    </div>
                                    <div id="line1" class="giorgio-font text-nowrap"  >
                                        <span ng-if="!isCollective()" id="line1_part1" ng-if="language.code!='ar1'" ng-bind="text[language.code].line1_part1" ></span>
                                        <span ng-if="isCollective()" id="line1_part1" ng-if="language.code!='ar1'" ng-bind="text[language.code].line1_part1_alt" ></span>
                                    </div>
                                    <div id="static" class="giorgio-font-light text-nowrap">
                                        <p  class="m-0" ng-bind="text[language.code].line1_part2"></p>
                                        <p class="m-0" ng-bind="text[language.code].line2_part1"></p>
                                        <p class="m-0" ng-bind="text[language.code].line2_part2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>   
    </div>


    <div  style="opacity: 0001;display: none1;" class="col-lg-23">
        <div id="newImage"></div>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="col-lg-12" style="display: none;">
        <div id="myimage"></div>
    </div>

</div>