<div class="container idb-container" class="app" >
    <style>

        .container.idb-container {
            padding-left: 15px;
            padding-right: 15px;
        }
        @font-face{
            font-family: "Impact";
            src: url("/app/fonts/impact.ttf") format("truetype");
        }
        .boxGenerate{
            /* border:2px solid #222; */
            /* width: 800px; */
            /* height: 320px; */
            padding: 0px;
        }

        .boxIncon img{
            height: 235px;
            /* padding-right: 5px; */
            padding-left: 5px;
        }    
        .impact-font{
            font-family: Impact
        }
        .margin-nve-25{
            margin-top: -25px;
        }   
        
        .margin-nve-20{
            margin-top: -20px;
        }  
        .margin-nve-15{
            margin-top: -15px;
        }    

        .margin-nve-10{
            margin-top: -10px;
        }  
        .font-size{
            font-size: 65px!important;
        }
        .margin-pve-10{
            margin-top: 10px;
        }

        .color-blue{
            color: rgb(0, 134, 183)!important;
        }
        .color-green{
            color: rgb(0, 155, 72)!important
        }

        .dynamic-text-none{
            position: absolute;
            bottom: -25px;
        }

        .dynamic-text-3{
            position: absolute;
            bottom: -10px;
        }

        .border-green{
            border:1px solid green;
        }
        .border-blue{
            border:1px solid blue;
        }
        .border-orange{
            border:1px solid orange;
        }
        .border-red{
            border:1px solid red;
        }
        #newImage canvas{
            width: 100%;
            height: 100%;
            /* margin-top: -20px; */
        }
        @media (max-width: 1440px){
            .margin-nve-25{
                margin-top: -15px;
            }   
            
            .margin-nve-20{
                margin-top: -10px;
            }  
            .margin-nve-15{
                margin-top: -15px;
            }    

            .margin-nve-10{
                margin-top: -10px;
            }  
            .margin-pve-10{
                margin-top: 10px;
            }
        }

        .padding{
            padding: 5px;
        }
        
        .logo-box,
        .boxGenerate .box-size{
            width:716.484px;
            height:245px;
        }
        .boxGenerate .text-box-width{
            width: 428.016px;
        }

        .zh .boxGenerate .box-size,
        .ru .boxGenerate .box-size,
        .fr .boxGenerate .box-size,
        .es .boxGenerate .box-size{
            width:816.484px;
            height:245px;
        }

        .boxGenerate .box-size{
            padding-top: 3px;
        }
        .mr .boxGenerate .box-size{
            padding-bottom: 3px;
        }
        /* .ru.logo-box,
        .ru .boxIncon img, */
        .ru .boxGenerate .box-size {
            /* width: 100%!important; */
            height:250px!important;
        }
        .zh.logo-box,
        .zh .boxIncon img,
        .zh .boxGenerate .box-size {
            width: 100%!important;
            height:370px;
        }

        .zh .boxGenerate .text-box-width,
        .ru .boxGenerate .text-box-width,
        .fr .boxGenerate .text-box-width,
        .es .boxGenerate .text-box-width{
            width: 528.016px;
        }


        .bn.logo-box,
        .bn .boxIncon img,
        .bn .boxGenerate .box-size,
        .mr.logo-box,
        .mr .boxIncon img,
        .mr .boxGenerate .box-size,
        .hi.logo-box,
        .hi .boxIncon img,
        .hi .boxGenerate .box-size,
        .ko.logo-box,
        .ko .boxIncon img,
        .ko .boxGenerate .box-size {
            /* width: 100%!important; */
            height:250px;
        }

        .impact-font{
            /* padding-left: 5px; */
        }
        .ar .impact-font{
            padding-right: 5px;
        }

        .zh #line1{
            font-weight: bold;
            font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
        }
        .ru .impact-font{
            /* margin-top: -20px; */
        }
        /* .container .container{
            padding: 0px 10px;
        } */
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            background-color: #fff;
            width: 70%;
        }

        #idb2020Logo .ar input, 
        .custom-language-text .ar input,
        .custom-language-text .dv input,
        .custom-language-text .fa input,
        .custom-language-text .ha input,
        .custom-language-text .iw input,
        .custom-language-text .ks input,
        .custom-language-text .ps input,
        .custom-language-text .ur input,
        .custom-language-text .ji input{
            direction: rtl;
        }

        .overlay {
	        position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            background-size: 50px;
            z-index: 1;
            opacity: .6;
            margin-left: -10px;
        }
        .overlay-wrapper {
            position: relative;
        }
        .outline-text{
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #0086b7;
        }

        #customText{
            /* position: absolute;
            bottom: 0px; */
        }
        #line2{
            /* position: absolute; */
        }
        #idb2020Logo hr {
            width: 100%;
        }

        #imgGenerator{
            padding-left:10px;
        }
        .fr #imgGenerator{
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .ar #imgGenerator{
            padding-right:10px;
            padding-left:unset;
        }

        .az .impact-font,
        .ro .impact-font{
            font-family:Arial!important;
        }
        /* #newImage img{
            width:500px
        } */
    </style>

    <div class="row" id="idb2020Logo">
        
        <div  class="col-lg-12">
            <h2>Customize your Biodiversity Day logo!
            </h2>
            <hr/>
        </div>
        <div class="col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">                   
            <cbd-article query="articleQuery" ng-if="articleQuery" hide-cover-image="true"></cbd-article>
        </div>
        
        <hr/>
        <!-- <code>{{logs|json}}</code> -->
        <div class="col-lg-3" ng-class="{'overlay-wrapper':uploading}">
            <div class="overlay" ng-if="uploading" >                
                <span style="margin:35%;font-size: 18px;color: #fff;position: absolute;"><i class="fa fa-spin fa-spinner"></i> Generating your logo...</span>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-6 padding">
                    <label for="language">Select logo language</label>
                    <div class="input-group">
                        <select class="form-control" ng-model="language" ng-change="onLanguageChange();" 
                            ng-options="option.language group by option.group for option in defaultLanguages track by option.code">
                        </select>      
                        <!-- <div class="input-group-append">
                            <input type="button" class=" btn btn-primary btn-xs  btn-sm" style="z-index: auto;" id="btnCustomLang" value="Edit" ng-click="customLanguage(language.code)" ng-disabled="uploading || text[language.code].isUNLanguage"/>   
                        </div> -->
                    </div> 
                </div>
                <div class="col-lg-12 padding">
                    <label for="name">Name to appear in the logo</label>
                    <input type="text" class="form-control" id="name" placeholder="Your name here" ng-model="text[language.code].name" ng-change="fitText()">
                </div>
                <div class="col-lg-12 padding">
                    <div id="g-recaptcha"></div>
                    <label ng-if="!grecaptchaToken" style="color:red;font-size:small;">Please check the box to proceed.</label>
                    <div ng-if="error">
                        <label  style="color:red;font-size:small;">{{error}}</label>
                    </div>
                </div>
                <div class="col-lg-12 padding btn-group">
                    <!-- <input type="button" class=" btn btn-primary btn-xs  btn-sm" id="btnSave" value="Update" ng-click="saveImage(true)">    -->
                    <input type="button" class=" btn btn-primary btn-xs  btn-sm" id="btnSave" value="Download" ng-click="saveImage()" ng-disabled="!grecaptchaToken || uploading"/>                    
                    <a class="btn btn-primary btn-xs btn-sm" ng-href="{{basePath}}/logo/collage">View published logos</a>
                    <a class="btn btn-primary btn-xs btn-sm" ng-href="{{basePath}}/logo/collage/draft" ng-if="isAdmin">Approve logos</a>         
                </div>
            </div>
        </div>
        <div  class="col-lg-9 logo-box {{language.code}}" style="padding-left:5%">
            <div style="opacity: 0010;padding-top: 20px;" >
                <div class="boxGenerate box-size" id="mainImageBox">
                    <div class="boxIncon box-size" id="imgGenerator">
                        <div class="row box-size">
                            <div class="col-lg-51">
                                <img src="/app/images/idb-celebrations/idb-logo.png"  class="img-fluid idb-logo pull-right" id="logoImg"/>
                            </div>
                            <div class="impact-font col-lg-71 text-box-width" style="padding-left: 5px;" ng-if="language.code" >   
                                
                                <div id="bigtext" class="impact-font " style="max-width: 100%;">                                
                                    <div class="border-green1 color-blue" id="line1" >
                                        <span id="line1_part1" ng-if="language.code!='ar1'" ng-bind="text[language.code].line1_part1" class="{{text[language.code].line1_part1_css}}"></span>
                                        <span id="line1_part2" ng-if="language.code!='ar1'" ng-bind="text[language.code].line1_part2" class="{{text[language.code].line1_part2_css}}"></span>
                                        <!-- <span  ng-if="language.code=='ar'">٢٢ أيار<span style="font-family: auto;">/</span>مايو ٢٠٢١</span> -->
                                        
                                    </div>
                                    <div id="line2" class="border-blue1 color-blue">
                                        <span id="line2_part1" id="line2_part1" ng-bind="text[language.code].line2_part1" class="{{text[language.code].line2_part1_css}}"></span>
                                        <span id="line2_part2" id="line2_part2" ng-bind="text[language.code].line2_part2" class="{{text[language.code].line2_part2_css}}"></span>
                                    </div>
                                    <div class="color-blue border-red1 pull-left" id="customText" >
                                        <span ng-bind="text[language.code].name"></span> 
                                        <span ng-bind="text[language.code].hashTag"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>   
       
    </div>
    
    <div  style="opacity: 0001;display: none1;" class="col-lg-23">
        <div id="newImage"></div>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="col-lg-12" style="display: none;">
        <div id="myimage"></div>
    </div>
    <script type="text/ng-template" id="customLanguage">
        <div class="modal-header">
            <h3 class="modal-title">
                Logo in your language
            </h3>
        </div>
        <div class="modal-body custom-language-text">	
            <div class="row {{customText.language.code}}">
                <div class="col-lg-6 padding">
                        <label>Language</label>
                        <!-- <label ng-if="customText.missingLanguage" style="color:red;font-size:small;">Please select your language</label>
                        <select class="form-control" id="language" placeholder="Language" ng-model="customText.language"
                            ng-options="option.language group by option.group for option in languages track by option.code">
                        </select> -->
                        <input type="text" class="form-control disabled" disabled id="language" ng-value="customText.language.language" ng-blur="capitalize()">
                </div>
                <div class="col-lg-6 padding">
                        <label>22 MAY 2021</label>
                        <input type="text" class="form-control" id="date" placeholder="date" ng-model="customText.date" ng-blur="capitalize()">
                </div>
                <div class="col-lg-6 padding">
                        <label>Biodiversity Day</label><input type="text" class="form-control" id="day" placeholder="day" ng-model="customText.day" ng-blur="capitalize()">
                </div>
                <div class="col-lg-6 padding">
                    <label for="logotype">Is your logo for an individual or a collective?</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="logotype" placeholder="tag line" ng-if="customText.logoType=='collective'" ng-model="customText.collectiveTagline"  ng-blur="capitalize()">
                        <input type="text" class="form-control" id="logotype" placeholder="tag line" ng-if="customText.logoType=='individual'" ng-model="customText.individualTagline"  ng-blur="capitalize()">                           
                        <div class="input-group-append">  
                             <select class="form-control" ng-model="customText.logoType"  ng-blur="capitalize()">
                                <option value="collective">Collective</option>
                                <option value="individual" selected>Individual</option>
                            </select>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-6 padding"><label>#ForNature</label>
                        <input type="text" class="form-control" id="hashtag" placeholder="hashtag" ng-model="customText.hashTag">
                </div>
                <div class="col-lg-6 padding"><label>Name to appear in the logo</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="customText.name">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class=" btn btn-primary btn-xs  btn-sm" id="btnSave" ng-click="applyTranslation(customText)">Apply</button>
            <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeDialog()" >Cancel</button>
        </div>      
    </script>
</div>