<div class="row">
    <div class="col-10 offset-1">
      <br>
      <br>
      <h1>{{::('participationT.finished'|$translate)}}</h1>
    </div>
    <div class="col-10 offset-1">
      
      <p>{{::('participationT.thankYouForYourMediaAccreditationSubmission'|$translate)}}
         <a href="secretariat@cbd.int">secretariat@cbd.int</a>.
      </p>
      <br>
      <br>
    </div>

    <div ng-if="participationCtrl.showDashboardButton" class="col-10 offset-1 text-center">
        <button class="btn btn-primary" type="button" ng-click="participationCtrl.jumpToDashboard()">{{::('participationT.returnToRequestsDashboard'|$translate)}}</button>
    </div>
    
</div>
