<section>
  <div class="col-12">
    <h2 ng-if="!participationCtrl.addContact">{{::('participationT.contacts'|$translate)}}</h2>
  </div>
  <div class="col-12 " ng-if="!participationCtrl.addContact" ng-init="participationCtrl.initStepsContacts()">
    <div class="table-responsive" >
      <table class="table table-condensed table-hover" >
        <tr>
          <th>{{::('participationT.role'|$translate)}}</th>
          <th>{{::('participationT.name'|$translate)}}</th>
          <th>{{::('participationT.positionEmail'|$translate)}}</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td >{{::('participationT.headOfOrganization'|$translate)}}</td>
          <td >
            <span ng-if="participationCtrl.head.title">
              <span ng-if="participationCtrl.head.title == 'Ms.'">{{::('participationT.ms'|$translate)}}</span>
              <span ng-if="participationCtrl.head.title == 'Mr.'">{{::('participationT.mr'|$translate)}}</span>
            </span>
            {{participationCtrl.head.firstName}} {{participationCtrl.head.lastName}}</td>
          <td >
            {{participationCtrl.head.designation}}<br>
            <a ng-href="{{participationCtrl.head.email}}">{{participationCtrl.head.email}}</a>
          </td>
          <td >
            <button ng-if="participationCtrl.hasHead()" ng-click="participationCtrl.activeParticipant=participationCtrl.head;  participationCtrl.addContact=true" type="button" class="btn btn-primary btn-sm">{{::('participationT.edit'|$translate)}}  </button>
            <button ng-if="!participationCtrl.hasHead()" ng-click="participationCtrl.activeParticipant=participationCtrl.head; participationCtrl.addContact=true" type="button" class="btn btn-primary btn-sm">{{::('participationT.addHead'|$translate)}}   </button>
          </td>
        </tr>
        <tr>
          <td >{{::('participationT.mainContact'|$translate)}} </td>
          <td >
            <span ng-if="participationCtrl.focalPoint.title">
              <span ng-if="participationCtrl.focalPoint.title == 'Ms.'">{{::('participationT.ms'|$translate)}}</span>
              <span ng-if="participationCtrl.focalPoint.title == 'Mr.'">{{::('participationT.mr'|$translate)}}</span>
            </span>            
            {{participationCtrl.focalPoint.firstName}} {{participationCtrl.focalPoint.lastName}}</td>
          <td >
            {{participationCtrl.focalPoint.designation}}<br>
            <a ng-href="{{participationCtrl.head.email}}">{{participationCtrl.focalPoint.email}}</a>
          </td>
          <td >
            <button ng-if="participationCtrl.hasFocalPoint() && !participationCtrl.config.sameAsHead" ng-click="participationCtrl.activeParticipant=participationCtrl.focalPoint; participationCtrl.addContact=true"  type="button" class="btn btn-primary btn-sm">{{::('participationT.edit'|$translate)}}   </button>
            <button ng-if="!participationCtrl.hasFocalPoint() && !participationCtrl.config.sameAsHead" ng-click="participationCtrl.activeParticipant=participationCtrl.focalPoint; participationCtrl.addContact=true"  type="button" class="btn btn-primary btn-sm">{{::('participationT.addMain'|$translate)}}   </button>

            <span class="checkbox" style="display:inline;" ng-show="participationCtrl.doc.head">
               <label>
                <input type="checkbox" ng-model="participationCtrl.config.sameAsHead" ng-change="participationCtrl.toggleMainIsHead()"> {{::('participationT.sameAsHead'|$translate)}}
               </label>
            </span>
          </td>
        </tr>
      </table>

    </div>
  </div>
  <participant is-contact="true" request-id="participationCtrl.doc._id" msg="participationCtrl.msg" error="participationCtrl.error" conference-code="participationCtrl.conferenceCode" organization="participationCtrl.organization" ng-model="participationCtrl.activeParticipant" ng-show="participationCtrl.addContact" show-contact="participationCtrl.addContact" typee="participationCtrl.type"></participant>
  <div class="col-12 " ng-if="!participationCtrl.addContact">
    <button ng-click="participationCtrl.changeStep('organization')" ng-disabled="false" type="button" class="btn btn-success">{{::('participationT.previous'|$translate)}}</button>
    <button ng-click="participationCtrl.saveContacts()" ng-disabled="!participationCtrl.hasHead() || !participationCtrl.hasFocalPoint()" type="button" class="btn btn-success pull-right">{{::('participationT.next'|$translate)}}</button>
  </div>
</section>
