<div class="row" id="participation">
  <style>
    .desc {
      padding-top:.5em;
    }
    .section-title {
      margin-top:0;
    }
    #myProgress {
        width: 100%;
        background-color: grey;
    }
    .complete {
        width: 100%;
        height: 30px;
        background-color: darkgreen;
        text-align: center;
        color: white;
        padding: 5px 0 0 0;
        cursor:pointer;
    }
    .incomplete{
        width: 100%;
        height: 30px;
        background-color: grey;
        text-align: center;
        color: white;
        padding: 5px 0 0 0;
        cursor:pointer;
    }
    .stepsBar .active {
        background-color: green;
        box-shadow: 0 0 10px green;
        font-weight: bold

    }
    .paddingless{
      padding: 0 0 0 0 !important;
      font-size: .80rem;
      letter-spacing: 1px;

    }
    .vertical_center {
    		display: flex;
    		align-items: center;
    }
    .debug{
      border: 1px solid red;
    }
    .debug2{
      border: 1px solid blue;
    }
    #participation h4{
      color: #009B48;
    }
    #participation label{
      font-weight: bold;
    }



    
  </style>

      <div class="col-12">
        <h1>{{::('participationT.mar'|$translate)}}</h1>
      </div>


      <div class="col-12 stepsBar mt-3 mb-5" ng-if="participationCtrl.step!=='request'">
        <div class="text-center">
          <h4>{{::('participationT.stepsAndProgress'|$translate)}}</h4>
        </div>
        <div class="row">
          <div class="col-2 offset-1 paddingless" class="incomplete" ng-click="participationCtrl.changeStep('checklist')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('checklist'),'complete':participationCtrl.isStepComplete('checklist'), active: participationCtrl.step==='checklist' }">
                {{::('participationT.requirements'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" ng-click="participationCtrl.changeStep('organization')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('organization'),'complete':participationCtrl.isStepComplete('organization'), active: participationCtrl.step==='organization'}">
                {{::('participationT.organization'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" ng-click="participationCtrl.changeStep('contacts')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('contacts'),'complete':participationCtrl.isStepComplete('contacts'), active: participationCtrl.step==='contacts'}">
                {{::('participationT.contacts'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" ng-click="participationCtrl.changeStep('participants')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('participants'),'complete':participationCtrl.isStepComplete('participants'), active: participationCtrl.step==='participants'}">
                {{::('participationT.participantS'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" >
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('finished'),'complete':participationCtrl.isStepComplete('finished'), active: participationCtrl.step==='finished'}">
                {{::('participationT.finished'|$translate)}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" ng-if="participationCtrl.loading" style="width: 100%; height:200px; Background:rgba(10, 10, 10,.1);color:#fff;z-index:10000;">
        <div class="vertical_center" style="height:200px;">
          <div class="col-12 text-center" >
            <i style="color:#069554;" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
          </div>
        </div>
      </div>

      <div class="col-12" style="width:100%;" ng-show="!participationCtrl.loading" ng-include="participationCtrl.partialMap[participationCtrl.step]"></div>

      <div class="col-12 stepsBar my-5" ng-if="participationCtrl.step!=='request'">
        <div class="row">
          <div class="col-2 offset-1 paddingless" class="incomplete" ng-click="participationCtrl.changeStep('checklist')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('checklist'),'complete':participationCtrl.isStepComplete('checklist'), active: participationCtrl.step==='checklist' }">
                {{::('participationT.requirements'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" ng-click="participationCtrl.changeStep('organization')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('organization'),'complete':participationCtrl.isStepComplete('organization'), active: participationCtrl.step==='organization'}">
                {{::('participationT.organization'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" ng-click="participationCtrl.changeStep('contacts')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('contacts'),'complete':participationCtrl.isStepComplete('contacts'), active: participationCtrl.step==='contacts'}">
                {{::('participationT.contacts'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" ng-click="participationCtrl.changeStep('participants')">
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('participants'),'complete':participationCtrl.isStepComplete('participants'), active: participationCtrl.step==='participants'}">
                {{::('participationT.participantS'|$translate)}}
              </div>
            </div>
          </div>
          <div class="col-2 paddingless" >
            <div id="myProgress">
              <div ng-class="{'incomplete':!participationCtrl.isStepComplete('finished'),'complete':participationCtrl.isStepComplete('finished'), active: participationCtrl.step==='finished'}">
                {{::('participationT.finished'|$translate)}}
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <h4>{{::('participationT.stepsAndProgress'|$translate)}}</h4>
        </div>
      </div>


</div>
