<div >

    <div class="col-12">
      <h2>{{::('participationT.requirements'|$translate)}}</h2>
    </div>

    <div class="col-12">
      <user-message error="participationCtrl.error" msg="participationCtrl.msg" ></user-message>
      <br>
      <p>{{::('participationT.mediaParticipationAtCbdMeetings'|$translate)}}</p>
    </div>

    <div class="col-12 mb-5">
      <label>{{::('participationT.selectYourTypes'|$translate)}} 
        <i class="fa fa-info-circle" data-toggle="tooltip"   data-placement="top" data-html="true" data-title="{{::('participationT.helpPop'|$translate)}}" help></i>
        {{::('participationT.ofMediaAndJob'|$translate)}}
        <i class="fa fa-info-circle" data-toggle="tooltip"   data-placement="top" data-html="true" data-title="{{::('participationT.helpPop'|$translate)}}" help></i>
        {{::('participationT.toFindOut'|$translate)}}
      </label>
      <div class="card">
        <div class="panel-body">
          <form  name="editForm"  novalidate>
            <div class="row">
              <div class="col-md-6" >
                <div class="form-group" ng-class="{'has-error': (!participationCtrl.doc.medium && (editForm.medium.$touched || editForm.$submitted)) }">
                  <select
                    size="12"
                    multiple
                    required
                    name='medium'
                    id="medium"
                    class="form-control"
                    ng-model="participationCtrl.doc.medium"
                    >
                      <option value="Blog">{{::('participationT.blog'|$translate)}}</option>
                      <option value="Freelance journalist">{{::('participationT.freelanceJournalist'|$translate)}}</option>

                      <option value="Independent broadcast or film production">{{::('participationT.independentBroadcastOrFilmProduction'|$translate)}}</option>
                      <option value="Online journal">{{::('participationT.onlineJournal'|$translate)}}</option>
                      <option value="Photo/visual">{{::('participationT.photoVisual'|$translate)}}</option>
                      <option value="Print">{{::('participationT.print'|$translate)}}</option>
                      <option value="Radio">{{::('participationT.radio'|$translate)}}</option>
                      <option value="Television">{{::('participationT.television'|$translate)}}</option>
                      <option value="Web publication">{{::('participationT.webPublication'|$translate)}}</option>
                      <option value="Other online media">{{::('participationT.otherOnlineMedia'|$translate)}}</option>
                      <option value="Other">{{::('participationT.other'|$translate)}}</option>

                    </select>
                    <p ng-show="!participationCtrl.doc.medium && (editForm.medium.$touched || editForm.$submitted)" class="help-block text-danger small">{{::('participationT.mediumIsRequired'|$translate)}}</p>
                </div>
              </div>
              <div class="col-md-6" >
                <div class="form-group" ng-class="{'has-error': (!participationCtrl.doc.designation && (editForm.designation.$touched || editForm.$submitted)) }">
                  <select size="7" required ng-model="participationCtrl.doc.designation" class="form-control" id="designation" name="designation" multiple>

                    <option value="Photographer">{{::('participationT.photographer'|$translate)}}</option>
                    <option value="Other">{{::('participationT.other'|$translate)}}</option>
                  </select>
                  <p ng-show="!participationCtrl.doc.designation && (editForm.designation.$touched || editForm.$submitted)" class="help-block text-danger small">{{::('participationT.aJobTitleIsRequired'|$translate)}}</p>

                </div>
              </div>

              <div class="col-12 ">
                <p class="text-danger" ng-if="participationCtrl.mediumHas('Online publication') || participationCtrl.mediumHas('Web publication') || participationCtrl.mediumHas('Other online media') || participationCtrl.mediumHas('Online journal')">{{::('participationT.onlinePublicationsWhich'|$translate)}}</p>
              </div>
              <div class="col-12 ">
                <button ng-click="participationCtrl.showChecklist()" ng-disabled="!participationCtrl.doc.medium || !participationCtrl.doc.designation" type="button" class="btn btn-primary pull-right">{{::('participationT.submit'|$translate)}}</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>



    <section ng-show="showChecklist || participationCtrl.doc.list || _ctrl.doc.checklist">
      <div class="debugcol-12">
        <h2 id="checklist">{{::('participationT.requirementsAndPreparationChecklist'|$translate)}}</h2>
        <p class="help-block desc " >{{::('participationT.pleaseEnsureToHave'|$translate)}}</p>
      </div>

      <form  name="editFormCheckList"  novalidate>
          <div class="row">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.letterOfAssignment"> <b>{{::('participationT.letterOfAssignment'|$translate)}}</b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.digitalCopyOnOfficial'|$translate)}}</p>
                <p ng-if="participationCtrl.mediumHas('Freelance journalist')" class="help-block desc">{{::('participationT.freelanceJournalistsCanOnly'|$translate)}}</p>
              </div>
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.pressPass"> <b>{{::('participationT.pressCardWorkPass'|$translate)}}</b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.digitalCopyOfPressCardWorkPassForEachAttendingPerson'|$translate)}}<br><br>&nbsp;</p>
              </div>
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.passport"> <b>{{::('participationT.passportNationalIdCard'|$translate)}}</b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.digitalCopyOfThePassportNationalIdCardForEachAttendingPerson'|$translate)}}<br><br>&nbsp;</p>
              </div>
              <div class="col-2">
                  <div class="checkbox">
                    <label>
                      <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.focalpoint"> <b>{{::('participationT.mainContactInformation'|$translate)}}</b>
                    </label>
                  </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.contactInformationOfThePerson'|$translate)}}<br><br>&nbsp;</p>
              </div>
              <div class="col-2">
                  <div class="checkbox">
                    <label>
                      <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.head"> <b>{{::('participationT.headOfOrganization'|$translate)}}</b>
                    </label>
                  </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.contactInformationOfThePersonLeadingYourOrganization'|$translate)}}<br><br>&nbsp;</p>
              </div>
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.accomidations"> <b>{{::('participationT.addressContactWhileAtMeeting'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.addressIfKnownAndPhoneNumberWhileAtTheMeeting'|$translate)}}<br><br>&nbsp;</p>
              </div>

            </div>
            <section  class="row"   ng-if="participationCtrl.mediumHas('Independent broadcast or film production')">
              <div class="col-2">
                <div class="checkbox">
                    <label>
                      <input required  ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.broadcastFilmLetter"> <b>{{::('participationT.letterFromADistributorOrFromAUnPartner'|$translate)}}</b></b>
                    </label>
                  </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.letterFromABroadcast'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>
            <section  class="row"  ng-if="participationCtrl.mediumHas('Print')">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.print"> <b>{{::('participationT.twoBylinedArticles'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.twoBylinedArticlesWithinThePastFour'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>
      <!--  -->
            <section  class="row"  ng-if="participationCtrl.mediumHas('Television') ">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.television"> <b>{{::('participationT.twoTelevisionRecordings'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.twoTelevisionReports'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>

            <section  class="row"  ng-if="participationCtrl.mediumHas('Radio')">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.radio"> <b>{{::('participationT.twoRadioRecordings'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.twoRadioReports'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>
            <section  class="row"  ng-if="participationCtrl.designationHas('Photographer') || participationCtrl.mediumHas('Photo/visual')">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.photographer"> <b>{{::('participationT.tearSheetsOrPhotos'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.photographersAreRequired'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>
            <section  class="row"  ng-if="participationCtrl.mediumHas('Online publication')">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.online"> <b>{{::('participationT.tearSheetsOrPhotos'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.photographersAreRequired'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>
            <section  class="row"  ng-if="participationCtrl.mediumHas('Web publication')">
              <div class="col-2">
                <div class="checkbox">
                  <label>
                    <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.webPub"> <b>{{::('participationT.registeredBusinessAndContactInfo'|$translate)}}</b></b>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <p class="help-block desc">{{::('participationT.mustBeARegisteredBusiness'|$translate)}}<br><br>&nbsp;</p>
              </div>
            </section>
            <section  class="row"  ng-if="participationCtrl.mediumHas('Online journal')">
            <div class="col-2">
              <div class="checkbox">
                <label>
                  <input required ng-change="participationCtrl.save()" type="checkbox" ng-model="participationCtrl.doc.list.onlineJournal"> <b>{{::('participationT.substantialAmountOfContent'|$translate)}}</b></b>
                </label>
              </div>
            </div>
            <div class="col-10">
              <p class="help-block desc">{{::('participationT.mustHaveASubstantial'|$translate)}}<br><br>&nbsp;</p>
            </div>
            </section>
        
      </form>
    </section>

    <div class="col-12 ">
      <user-message error="participationCtrl.error" msg="participationCtrl.msg" ></user-message>
      <button ng-show="participationCtrl.step!=='checklist'" ng-click="participationCtrl.editForm=editForm;participationCtrl.changeStep('request')" ng-disabled="false" type="button" class="btn btn-default">{{::('participationT.previous'|$translate)}}</button>
      <button ng-click="participationCtrl.editForm=editForm;participationCtrl.saveCheckList()"  ng-disabled="!editFormCheckList.$valid" ng-disabled="false" type="button" class="btn btn-success pull-right">{{::('participationT.next'|$translate)}}</button>
    </div>
  </section>

</div>
