<div class="row">
  <div class="col-xs-12">
    <h1>Accreditation requests</h1>
  </div>
  <div class="col-xs-12">

      <input class="pull-right form-control" type="text" ng-model="search.$" style="width:auto" placeholder="Search"/>
    <h3>{{requestsCtrl.conference.Title|lstring}}</h3>

    
    <table class="table table-striped">
      <tr>
        <th>Organization</th>
        <th style="width:50px" class="text-nowrap text-center">Progress</th>
        <th style="width:50px" class="text-nowrap text-center">Submited</th>
        <th style="width:50px" class="text-nowrap text-center">Status</th>
        <th style="width:50px" class="text-nowrap text-right">
          <button class="btn btn-default btn-sm" type="button" ng-click="requestsCtrl.edit(null)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></button>
        </th>
      </tr>
      <tr ng-repeat="request in requestsCtrl.requests|filter:search">
        <td>
            {{request.organization.title}}
            <span ng-if="!request.organization.title">N/A</span>
          <em ng-if="request.organization.acronym">({{request.organization.acronym}})</em>

          <div><span ng-repeat="m in request.medium|orderBy"> <span class="label label-default">{{m}}</span> </span></div>
        </td>

        <td class="text-nowrap text-center">
          <span ng-switch="request.currentStep">
            <span ng-switch-default="checklist">0%</span>
            <span ng-switch-when="organization">25%</span>
            <span ng-switch-when="contacts">50%</span>
            <span ng-switch-when="participants">75%</span>
            <span ng-switch-when="finished">Submitted</span>
          </span>
        </td>

        <td class="text-nowrap">
            <div >{{request.requested|fromNow}}</div>
            <div class="text-muted">{{request.requested|date:'MMM dd HH:mm'}}</div>
        </td>
        <td class="text-nowrap text-center">
            <span class="text-muted"          ng-if="request.currentStep!='finished'">Incomplete</span>
            <span class="text-muted"          ng-if="request.currentStep=='finished' && !request.accredited && !request.rejected">Pending</span>
            <span class="label label-success" ng-if="request.accredited">Accredited</span>
            <span class="label label-danger"  ng-if="request.rejected">Rejected</span>
        </td>
        <td class="text-right">
          <button class="btn btn-default btn-sm" type="button" ng-click="requestsCtrl.edit(request)">
              <i ng-if="request.currentStep!='finished'" class="fa  fa-fw fa-pencil-square-o" aria-hidden="true"></i>
              <i ng-if="request.currentStep=='finished'" class="fa  fa-fw fa-eye" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr ng-if="requestsCtrl.requests.length===0">
        <td colspan="5">
          No request.<br><br>
          <button class="btn btn-primary" type="button" ng-click="requestsCtrl.edit(null)"><i class="fa fa-plus" aria-hidden="true"></i> Create a new request for accreditation</button>
        </td>
      </tr>
    </table>

  </div>
</div>
