

<div class="container-fluid" style="padding-top:20px;padding-bottom:20px;">

    <header-nav></header-nav>
    <!-- page content -->
    <div class="row">
        <div class="col-md-12">
            <div class="hero-cont">
                <div class="col-md-4  img-overlay">
                    <h2>International Day of the World’s Indigenous Peoples</h2>
<p>9 August 2017: “Ten years of the United Nations Declaration on the Rights of Indigenous Peoples"</p>

<h3><span class="label label-default read-more pointer">Read More</span></h3>
<div class="arrows">
    <i class="fa fa-arrow-circle-left pull-left pointer" aria-hidden="true"></i>
<i class="fa fa-arrow-circle-right pull-right pointer" aria-hidden="true"></i>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12 col-md-6">

            <div class="pull-left" style="margin-right:10px;"><i class="fa fa-facebook-official fa-3" style="color:#3b5998;" aria-hidden="true"></i></div>
            <div>
                <h5 style="margin:0;" class="smedia-title color-grey">Cristiana Pașca Palmer on facebook</h5>
            </div>
            <div class="text-center" style="width:100%;">
            <hr style="border-top:0;border-bottom:1px solid #eee; padding:0;margin:0 0 10px 0;">
            <fb-timeline></fb-timeline>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="pull-left" style="margin-right:10px;"><i class="fa fa-twitter-square fa-3" style="color:#0084b4;" aria-hidden="true"></i></div>
        <div>
            <h5 style="margin:0;" class="smedia-title color-grey">Cristiana Pașca Palmer on twitter</h5>
        </div>
        <hr style="border-top:0;border-bottom:1px solid #eee; padding:0;margin:0;">
        <a class="twitter-timeline" data-width="500" data-height="800" data-dnt="true" href="https://twitter.com/CristianaPascaP">Tweets by CristianaPascaP</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>

</div>
