<div class="container-fluid" style="padding-top:20px;padding-bottom:20px;">

    <!-- page header -->
    <header-nav></header-nav>

    <!-- page content -->
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron hero-cont-two">
                <div>
                    &nbsp;

                </div>
            </div>
        </div>
    </div>

    <!-- page content -->
    <div class="row-fluid">
        <div class="hidden-xs hidden-sm">
            <iframe width="1110" height="720" ng-src="{{esVideoCtrl.url}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="hidden-md hidden-lg hidden-xl">
            <iframe width="260" height="146" ng-src="{{esVideoCtrl.url}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>