<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
  <div class="sub-title" >
    <div class="col-xs-1" style="padding: 0 10px 0 10px;">
      <img src="/app/images/aichi-targets/global-status-icon.png" style="margin: 1px 1px 1px 1px;">
    </div>
    <div class="col-xs-11" style="padding-left: 0;">
        <h4 class="sub-title-text">Global Status</h4>
    </div>
  </div>
  <progress-pie el-id="pie1" aichi-target="indexIdCtrl.target.id"   item-color="itemColor"></progress-pie>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="divider-sm hidden-md hidden-lg hidden-xl" ></div>
    <div class="sub-title" >
        <div class="col-xs-1" style="padding: 0 10px 0 10px;">
          <img src="/app/images/aichi-targets/target-icon.png" style="margin: 1px 1px 1px 1px;">
        </div>
        <div class="col-xs-10" style="padding-left: 0;">
            <h4 class="sub-title-text">National Status and National Targets</h4>
        </div>
        <div class="col-xs-1" ng-show="!showMap">
          <div class="search" style="position:absolute; left:-190px;">
            <input type="text" class="form-control input-xs" maxlength="64" placeholder="Search" ng-model="searchNatTar" />
            <button type="submit" class="btn  btn-xs" style="background-color:#eeeeee;"><i class="fa fa-close" ng-if="searchNatTar" ng-click="clearSearch()"></i><i class="fa fa-search" ng-if="!searchNatTar"></i></button>
          </div>
        </div>
    </div>
    <national-targets-map aichi-target="indexIdCtrl.target.id" item-color="itemColor" search-target="searchNatTar" show-map="showMap"></national-targets-map>
</div>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="row" style="padding-left:20px" >
      <div id="legend-div" >
      </div>
    </div>
  </div>
</div>
