<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
  <div class="sub-title" >
    <div class="col-xs-1" style="padding: 0 10px 0 10px;">
      <img src="/app/images/aichi-targets/global-status-icon.png" style="margin: 1px 1px 1px 1px;">
    </div>
    <div class="col-xs-11" style="padding-left: 0;">
        <h4 class="sub-title-text">Global Status</h4>
    </div>
  </div>
  <progress-pie el-id="pie1" aichi-target="indexIdCtrl.target.id"   item-color="itemColor"></progress-pie>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="divider-sm hidden-md hidden-lg hidden-xl" ></div>
    <div class="sub-title" >
        <div class="col-xs-1" style="padding: 0 10px 0 10px;">
          <img src="/app/images/aichi-targets/target-icon.png" style="margin: 1px 1px 1px 1px;">
        </div>
        <div class="col-xs-10" style="padding-left: 0;">
            <h4 class="sub-title-text">National Status and National Targets</h4>
        </div>
        <div class="col-xs-1" ng-show="!showMap">
          <div class="search" style="position:absolute; left:-190px;">
            <input type="text" class="form-control input-xs" maxlength="64" placeholder="Search" ng-model="searchNatTar" />
            <button type="submit" class="btn  btn-xs" style="background-color:#eeeeee;"><i class="fa fa-close" ng-if="searchNatTar" ng-click="clearSearch()"></i><i class="fa fa-search" ng-if="!searchNatTar"></i></button>
          </div>
        </div>
    </div>
    <national-targets-map aichi-target="indexIdCtrl.target.id" item-color="itemColor" search-target="searchNatTar" show-map="showMap"></national-targets-map>
</div>

<div class="col-xs-12">
  <div class="panel panel-default" style="margin-top:20px;">
    <div class="row" style="padding-left:20px" >
      <div id="legend-div" >
      </div>
      <div class="col-xs-12" style="padding-right:20px">
        <div class=" alert alert-info">
            <h4 class="alert-heading"><i class="fa fa-info"></i> Info!</h4>
            <hr>
            The color displayed on the map indicates how the country has assessed progress towards their national targets associated with the Aichi Biodiversity Targets.  Where a country has more than one national target associated with an Aichi Biodiversity Target, the average of these assessments is used to generate the overall level of progress achieved towards the Aichi Biodiversity Target. This average value considers mapping to the “Main related Aichi Biodiversity Target” only. For the complete details on how a country has assessed progress towards its national targets, please see the sixth national report of the country.
            <p>
              The information presented in the pie chart and map above is drawn from the sixth national reports that have been submitted using the online reporting tool. Data from the sixth national reports that have been submitted “offline” in PDF are not integrated 
              (the offline reports can be accessed at <a href="https://www.cbd.int/reports/">https://www.cbd.int/reports/</a>).
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
