<div class="container" style="width:100%;">
    <div class="row" ng-show="count">

        <div class="col-xs-4 text-no-wrap" style="color:#333;font-size:14px;padding-left:10px;">
            <div class="text-no-wrap" >
                <span class="text-nowrap">
                  <span class="badge" >{{((currentPage*itemsPerPage)+1)}}</span>
                  <span ng-if="((currentPage+1)*(filtered.length))===((currentPage+1)*(itemsPerPage)) && (filtered.length===itemsPerPage)">  -  <span class="badge" >{{(currentPage+1)*(filtered.length)}} </span></span>
                  <span ng-if="loading && !((currentPage+1)*(filtered.length))">  -  <span class="badge" ><i class="fa fa-spinner fa-spin"></i></span></span>
                  <span ng-if="((currentPage+1)*(filtered.length))!==((currentPage+1)*(itemsPerPage)) && !loading && (filtered.length===itemsPerPage)">  -  <span class="badge" >{{filtered.length}} </span></span>
                  <span ng-if="filtered.length!==itemsPerPage && !loading">  -  <span class="badge" >{{count}} </span></span>
                  of
                  <span class="badge">{{count}} </span>
                  <span ng-if="search"> for <span style="color:#009B48;">"{{search}}"</span></span>
                </span>
                <div ng-show="loading" style="display:inline;">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <nav class="pull-right" ng-show="pages.length>1">
                <ul class="pagination pagination-sm" style="margin: 0 0 0 0;">
                    <li>
                        <a ng-click="onPage({pageIndex:currentPage-1})" href="#" aria-label="Previous" ng-if="(currentPage!==0)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li ng-repeat="page in pages track by $index" ng-class="{ active : currentPage==page.index }" >
                        <a href="#" ng-click="onPage({pageIndex:page.index})">{{page.text}} </a>
                    </li>
                    <li ng-diabled="true">
                        <a ng-click="onPage({pageIndex:currentPage+1})" href="#" aria-label="Next" ng-if="(currentPage+1<getPageCount())">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>