<div class="panel panel-default" style="margin-right: 0px; margin-bottom: 5px; padding-right:1px;">

		<div class="panel-heading">
			<h4 class="panel-title" style="font-size: 13px;margin:0; white-space: nowrap; width:100%;">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-href="#aichi">{{title}} 	</a>
				<button type="button" id="reportP" class="pull-right btn btn-default" popover-append-to-body="true" popover-placement="top" popover="Countries having submitted or updated their report(s) since">
					<span class="glyphicon glyphicon-info-sign white"></span>
				</button>
			</h4>
		</div>

	<div id="aichi" ng-class="[classPanelCollapse, classCollapse]">
		<div class="panel-body" style="padding-left:0px;">
			<div class="row" style="width:150px;text-align:center;">
				<div class="col-xs-3 " style="padding:2px 2px 2px 2px;" ng-repeat="target in aichiTargets track by $index"  ng-click="loadAssements(target.identifier_s);toggleTarget(aichiTargets,target);">
					<script>
						$(document).ready(function() {
							$('[data-toggle="{{target.identifier_s}}"]').popover({
								container: 'body'
							});
						});
					</script>
					<input type="image" ng-src="{{target.selectedIcon}}" style="width:24px;hieght:24px;" data-toggle="{{target.identifier_s}}" data-trigger="hover" data-content="{{target.description_EN_t}}" />
				</div>
			</div>
		</div>
	</div>
</div>
