<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>

</style>
<div class="row">
    <menu links="resoCtrl.links" style="padding:0;margin:0;"></menu>

    <div class="col-xs-12">
        <h2>Resources</h2>

        <h3>Conference of the Parties (COP) documents on BBI:</h3>
        <h4>COP 12</h4>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/decision/cop/default.shtml?id=13365" target="_blank">Decision XII/2B:</a>
                <br> Review of progress in providing support in implementing the objectives of the Convention and the Strategic Plan for Biodiversity 2011-2020, and enhancement of capacity-building, technical and scientific cooperation and other initiatives
                to assist implementation
            </li>
        </lu>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/meetings/cop/cop-12/information/cop-12-inf-33-en.pdf" target="_blank">UNEP/CBD/COP/12/INF/33:</a>
                <br> “Bio-Bridge” An Initiative of the Republic of Korea In Support of the Convention’s Work on Technical and Scientific Cooperation
            </li>
        </lu>

        <h4>COP 13</h4>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/meetings/cop/cop-13/information/cop-13-inf-21-en.pdf" target="_blank">UNEP/CBD/COP/13/INF/21:</a>
                <br> Bio-Bridge Initiative Action Plan 2017-2020 and Report on Progress towards the Implementation of the Initiative
            </li>
        </lu>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/meetings/cop/cop-13/information/cop-13-inf-22-en.pdf" target="_blank">UNEP/CBD/COP/13/INF/22:</a>
                <br> Stocktaking Summary of the Technical and Scientific Cooperation Needs of Parties, Previous Work Carried Out under the Convention and Initiatives Relevant to the Bio-Bridge Initiative
            </li>
        </lu>

        <h3>Subsidiary Body on Impmentation (SBI) documents on BBI:</h3>
        <h4>SBI 1</h4>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/meetings/sbi/sbi-01/information/sbi-01-inf-19-en.pdf" target="_blank">UNEP/CBD/SBI/1/INF/19:</a>
                <br> Progress towards the Implementation of the Bio-Bridge Initiative
            </li>
        </lu>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/meetings/sbi/sbi-01/official/sbi-01-06-en.pdf" target="_blank">UNEP/CBD/SBI/1/6:</a>
                <br> Capacity-building, technical and scientific cooperation, technology transfer and the clearing-house mechanism
            </li>
        </lu>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/meetings/sbi/sbi-01/official/sbi-01-06-add1-en.pdf" target="_blank">UNEP/CBD/SBI/1/6/ADD1:</a>
                <br> Short-term action plan (2017-2020) to enhance and support capacity-building and technical and scientific cooperation for the implementation of the Strategic Plan for Biodiversity 2011-2020
            </li>
        </lu>
        <h3>Notifications on BBI:</h3>
        <h4>2016</h4>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/doc/notifications/2016/ntf-2016-097-bbi-en.pdf" target="_blank">Notification 2016-097:</a>
                <br> Invitation to submit comments on the draft Action Plan for the Bio-Bridge Initiative 2017-2020
            </li>
            <li><a href="https://www.cbd.int/doc/notifications/2016/ntf-2016-126-bbi-en.pdf" target="_blank">Notification 2016-126:</a>
                <br> Call for Requests for Assistance under the Bio-Bridge Initiative
            </li>
            <li><a href="https://www.cbd.int/doc/notifications/2016/ntf-2016-120-science-forum-en.pdf" target="_blank">Notification 2016-120:</a>
                <br> Third Science for Biodiversity Forum, 1 - 2 December 2016, Cancun, Mexico
            </li>

        </lu>
        <h3>BBI Action Plan 2017-2020</h3>
        <lu class="bbilist">
            <li><a href="https://www.cbd.int/bbi/doc/BBI-Action-Plan-2017-2020.pdf" target="_blank">Action Plan 2017-2020</a>
                <br> Invitation to submit comments on the draft Action Plan for the Bio-Bridge Initiative 2017-2020
            </li>

        </lu>
    </div>
</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>