<ng-include src="'/app/views/bbi/platform-header.html'" ></ng-include>
<div class="row">
    <menu links="searchCtrl.links" style="padding:0;margin:0;"></menu>
    <div class="col-xs-12">
      <h2 ng-if="!searchCtrl.schema">Search BBI Related Records</h2>
      <h2 ng-if="searchCtrl.schema==='bbiProfile'">Provider Profiles</h2>
      <h2 ng-if="searchCtrl.schema==='bbiOpportunity'">Opportunity Offers</h2>
      <h2 ng-if="searchCtrl.schema==='bbiRequest'"> Requests for Assistance</h2>
      <h2 ng-if="searchCtrl.schema==='bbiProposal'">Proposals</h2>
      <h2 ng-if="searchCtrl.schema==='resource'">Virtual Library Resources</h2>
      <h2 ng-if="searchCtrl.schema==='bbiProposal'">Search Capacity Building Initiatives</h2>
      <search></search>

    </div>
</div>
