<div style="background: #eee;padding: 15px;">

    <div class="pull-right" role="group" aria-label="...">
      <button ng-disabled="uploading || !editCtrl.document._id" type="button" class="btn btn-danger"  ng-click="editCtrl.del()">Delete</button>
      &nbsp;&nbsp;
      <button ng-disabled="uploading || editCtrl.duplicates.length" type="button" class="btn btn-primary" ng-click="editCtrl.save()">Save</button>
      <button ng-disabled="uploading" type="button" class="btn btn-light" ng-click="editCtrl.close()">Close</button>
    </div>


    <h1>
        {{editCtrl.meeting.EVT_CD}} - 
        {{editCtrl.document.symbol || editCtrl.document.linkedTo.symbol || (editCtrl.document.title|lstring | truncate:35:'...') || (editCtrl.document.linkedTo.title|lstring | truncate:35:'...') }} 
        <small ng-if="!editCtrl.document._id">(NEW)</small></h1>
    <h3 ng-if="editCtrl.document.linkedToId">
        <em>Linked To:
            <a ng-href="/meetings/{{editCtrl.document.linkedTo.meetingCode}}/documents?doc={{editCtrl.document.linkedToId}}" target="_blank">{{editCtrl.document.linkedTo.meetingCode}}</a>
            -
            <a ng-href="/meetings/{{editCtrl.document.linkedTo.meetingCode}}/documents/{{editCtrl.document.linkedToId}}" target="_blank">
                {{(editCtrl.document.linkedTo.symbol || (editCtrl.document.linkedTo.title|lstring | truncate:30:'...') || editCtrl.document.linkedToId)}}
            </a>
        </em> 
    </h3>

    <!-- ERROR -->
    <pre ng-if="editCtrl.error" class="alert alert-danger">{{editCtrl.error|json}}</pre>

    <div ng-if="editCtrl.duplicates.length" class="card">
        <div class="card-header">
            <button type="button" class="close" aria-label="Close" ng-click="editCtrl.duplicates=null">&times;</button>

            <b>Document with same symbol already exists in the database</b>
        </div>
        <div class="card-body">
            <div ng-repeat="dup in editCtrl.duplicates" class="alert" ng-class="{ 'alert-warning' : dup.meetingDuplicate, 'alert-info': !dup.meetingDuplicate }" >

                    <button ng-if="editCtrl.canBeLinked(dup)" class="btn btn-light btn-xs pull-right" type="button" ng-click="editCtrl.linkTo(dup)">Link <i class="fa fa-clone" aria-hidden="true"></i></button>

                    <b ng-if="::dup.meetingDuplicate">This symbol is already used by a document in this meeting!</b>
            
                    <p>
                        <a ng-href="/meetings/{{dup.meetingCode}}/documents?doc={{dup._id}}" target="_blank"><b>{{dup.meetingCode}}</b></a>
                        -
                        <a ng-href="/meetings/{{dup.meetingCode}}/documents/{{dup._id}}" target="_blank">
                            {{dup.symbol}} <em>{{dup.title|lstring}}</em>
                        </a>
                    </p>
            </div>
        </div>
    </div>


    <form novalidate>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <!-- Symbols -->
                <div class="form-group" ng-class="{'has-error' : duplicate }" >
                    <label class="control-label" for="symbol">Symbol</label>
                    <div class="input-group">
                        <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" id="symbol" placeholder="Type a symbol eg: {{editCtrl.meeting.EVT_UN_CD||'CBD/XYZ/X'}}/..."  ng-change="editCtrl.autoGenerateNextSymbol('symbol')" 
                               ng-model="editCtrl.document.symbol" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 250, 'blur': 0 } }">
                        <span class="input-group-append">
                            <button  class="btn btn-light" ng-click="editCtrl.document.symbol=editCtrl.normalizeSymbol(editCtrl.document.symbol||'')" type="button"
                                    ng-class="{ 'btn-warning' : editCtrl.document.symbol && editCtrl.document.symbol != editCtrl.normalizeSymbol(editCtrl.document.symbol||'') }"
                            ><i class="fa fa-check" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-xs-4 col-md-2">
                <!-- Type -->
                <div class="form-group">
                    <label class="control-label" for="symbol">Type</label>
                    <select ng-disabled="uploading" class="form-control" ng-model="editCtrl.document.type_nature" ng-options="item.code as item.title for item in editCtrl.type_natures" ng-change="editCtrl.autoGenerateNextSymbol('type')">
                    </select>
                </div>
            </div>

            <div class="col-xs-4 col-md-2">
                <!-- Group -->
                <div class="form-group">
                    <label class="control-label" for="group">Group</label>
                    <select ng-disabled="uploading || editCtrl.document.type!='in-session'" class="form-control" ng-model="editCtrl.document.group"  ng-change="editCtrl.autoGenerateNextSymbol('type')">
                        <option value=""></option>
                        <option value="WG.1">WG.1</option>
                        <option value="WG.2">WG.2</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-4 col-md-2">
                <!-- Status -->
                <div class="form-group" ng-class="{ 'has-success' : editCtrl.document.status=='public', 'has-error' : editCtrl.document.status!='public', }">
                    <label class="control-label" for="symbol">Status</label>
                    <select ng-disabled="uploading" class="form-control" ng-model="editCtrl.document.status">
                        <optgroup label="Visible">
                            <option value="public">Posted/Public</option>
                            <option value="staff">SCBD staff</option>
                        </optgroup>
                        <optgroup label="Invisible">
                            <option value="awaited">Awaited</option>
                            <option value="received">Received</option>
                            <option value="reviewed">Reviewed</option>
                            <option value="edited">Edited</option>
                            <option value="held">On Hold ✋</option>
                            <option value="archived">Archived</option>
                        </optgroup>
                    </select>
                </div>

            </div>
        </div>

        <!-- statement source -->
        <div class="row" ng-if="editCtrl.document.type_nature=='in-session/statement'">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <label class="control-label" for="statement_country">Country</label>
                        <select ng-disabled="uploading || editCtrl.document.statementSource.organization" id="statement_country" class="form-control" ng-options="item.code as (item.name.en) for item in editCtrl.countries" 
                            ng-model="editCtrl.document.statementSource.country" ng-change="editCtrl.autoGenerateStatementTitle();">
                            <option value="">Select a country......</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12" style="text-align: center;margin-top:2em">
                    <div class="form-group">
                    <span>OR</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="statement_organization_en">Organization</label>
                        <input ng-disabled="uploading || editCtrl.document.statementSource.country" type="text" autocomplete="off" class="form-control" style="direction:ltr" id="statement_datetime" 
                        ng-model="editCtrl.document.statementSource.organization" placeholder="Organization name"  ng-change="editCtrl.autoGenerateStatementTitle();">
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="statement_date">Date</label>
                            <select ng-disabled="uploading" id="statement_date"  ng-change="editCtrl.computeStatementDate()" class="form-control" ng-options="item.value as (item.text) for item in editCtrl.conferenceDates" 
                                ng-model="editCtrl.statementSource.date" >
                                <option value="">Select date......</option>
                            </select>
                        </div>
                    </div><div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="statement_hour">Hour</label>
                        <select ng-disabled="uploading" id="statement_hour"  ng-change="editCtrl.computeStatementDate()" class="form-control" ng-model="editCtrl.statementSource.hour">
                            <option value="">Select hour......</option>
                            <option value="00">01</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                    </div>
                    </div><div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="statement_minute">Minute</label>
                        <select ng-disabled="uploading" id="statement_minute" ng-change="editCtrl.computeStatementDate()" class="form-control" 
                            ng-model="editCtrl.statementSource.minute">
                            <option value="">Select minute......</option>
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                        </select>
                        <span class="badge" ng-bind="editCtrl.document.statementSource.date| moment:'format':'DD MMM YYYY HH:mm'"></span>
                    </div>
                    </div>
                </div>
            </div>            
        </div>

        <!-- Title -->
        <div class="form-group">
            <label class="control-label" for="title_en">Title</label>

            <div class="input-group">
                <div class="input-group-prepend">   
                    <span class="input-group-text">EN</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr" id="title_en" ng-model="editCtrl.document.title.en" placeholder="{{::LANGUAGES['en']}}">
                <span class="input-group-append">
                    <button ng-disabled="uploading" class="btn btn-light" ng-click="showTitleLang=!showTitleLang" type="button"><i class="fa fa-caret-{{showTitleLang?'up':'down'}}" aria-hidden="true"></i></button>
                    <change-case-button ng-model="editCtrl.document.title.en"></change-case-button>
                </span>
            </div>

            <div class="input-group" ng-if="showTitleLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">ES</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="title_es" ng-model="editCtrl.document.title.es"  placeholder="{{::LANGUAGES['es']}}">
                <span class="input-group-append">
                    <change-case-button ng-model="editCtrl.document.title.es"></change-case-button>
                </span>
            </div>

            <div class="input-group" ng-if="showTitleLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">FR</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="title_fr" ng-model="editCtrl.document.title.fr"  placeholder="{{::LANGUAGES['fr']}}">
                <span class="input-group-append">
                    <change-case-button ng-model="editCtrl.document.title.fr"></change-case-button>
                </span>
            </div>

            <div class="input-group" ng-if="showTitleLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">AR</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:rtl"  id="title_ar" ng-model="editCtrl.document.title.ar"  placeholder="{{::LANGUAGES['ar']}}">
            </div>

            <div class="input-group" ng-if="showTitleLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">RU</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="title_ru" ng-model="editCtrl.document.title.ru"  placeholder="{{::LANGUAGES['ru']}}">
            </div>

            <div class="input-group" ng-if="showTitleLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">ZH</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="title_zh" ng-model="editCtrl.document.title.zh"  placeholder="{{::LANGUAGES['zh']}}">
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label class="control-label" for="description_en">Description</label>

            <div class="input-group">
                <div class="input-group-prepend">   
                    <span class="input-group-text">EN</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr" id="description_en" ng-model="editCtrl.document.description.en" placeholder="{{::LANGUAGES['en']}}">
                <span class="input-group-append">
                    <button ng-disabled="uploading" class="btn btn-light" ng-click="showDescriptionLang=!showDescriptionLang" type="button"><i class="fa fa-caret-{{showDescriptionLang?'up':'down'}}" aria-hidden="true"></i></button>
                    <change-case-button ng-model="editCtrl.document.description.en"></change-case-button>
                </span>
            </div>

            <div class="input-group" ng-if="showDescriptionLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">ES</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="description_es" ng-model="editCtrl.document.description.es"  placeholder="{{::LANGUAGES['es']}}">
                <span class="input-group-append">
                    <change-case-button ng-model="editCtrl.document.description.es"></change-case-button>
                </span>
            </div>

            <div class="input-group" ng-if="showDescriptionLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">FR</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="description_fr" ng-model="editCtrl.document.description.fr"  placeholder="{{::LANGUAGES['fr']}}">
                <span class="input-group-append">
                    <change-case-button ng-model="editCtrl.document.description.fr"></change-case-button>
                </span>
            </div>

            <div class="input-group" ng-if="showDescriptionLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">AR</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:rtl"  id="description_ar" ng-model="editCtrl.document.description.ar"  placeholder="{{::LANGUAGES['ar']}}">
            </div>

            <div class="input-group" ng-if="showDescriptionLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">RU</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="description_ru" ng-model="editCtrl.document.description.ru"  placeholder="{{::LANGUAGES['ru']}}">
            </div>

            <div class="input-group" ng-if="showDescriptionLang" style="margin-top:5px">
                <div class="input-group-prepend">   
                    <span class="input-group-text">ZH</span>
                </div>
                <input ng-disabled="uploading" type="text" autocomplete="off" class="form-control" style="direction:ltr"  id="description_zh" ng-model="editCtrl.document.description.zh"  placeholder="{{::LANGUAGES['zh']}}">
            </div>
        </div>

        <!-- Superseded -->
        <div class="row">

            <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                    <label class="control-label" for="supersede">Supersede</label>
                    <select ng-disabled="uploading" class="form-control" id="supersede" ng-options="item._id as item.display disable when item.metadata.superseded for item in editCtrl.meetingDocuments" ng-model="editCtrl.supersede" ng-change="editCtrl.onSupersede()"></select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                    <label class="control-label text-muted" style="text-decoration:line-through" for="superseded">Superseded By</label>
                    <input ng-disabled="uploading" type="text" class="form-control" id="superseded" ng-model="editCtrl.document.metadata.superseded" placeholder="Type symbol..."/>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <!-- print-smart -->
                <div class="form-group">
                    <label class="control-label" for="symbol">Print-Smart</label>
                    <select ng-disabled="uploading" class="form-control" ng-options="item.value as item.caption for item in [{value: undefined, caption:'automatic' }, { value: true, caption:'Yes'}, { value: false, caption:'No'}]" ng-model="editCtrl.document.metadata.printable"></select>
                </div>

            </div>

        </div>

        <!-- Message -->
        <div class="row">
            <style>
                .level-success { color: #5cb85c; }
                .level-info    { color: #428bca; }
                .level-warning { color: #c09853; }
                .level-danger  { color: #b94a48; }
            </style>

            <div class="col-xs-8 col-sm-10">
                <!-- Symbols -->
                <div class="form-group text-{{editCtrl.document.metadata.message.level}}">
                    <label class="control-label" for="symbol">Message</label>
                    <!-- <div class="input-group"> -->
                        <input ng-disabled="uploading" type="text" class="form-control level-{{editCtrl.document.metadata.message.level}}" ng-model="editCtrl.document.metadata.message.text" placeholder=""/>
                        <!-- <span class="input-group-append">
                            <button ng-disabled="true" class="btn btn-light" ng-click="validateSymbol()" type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </span> -->
                    <!-- </div> -->
                </div>

            </div>

            <div class="col-xs-4 col-sm-2">
                <!-- Type -->
                <div class="form-group {{editCtrl.document.metadata.message.level}}">
                    <label class="control-label" for="symbol">Level</label>
                    <select ng-disabled="uploading" class="form-control message-{{editCtrl.document.metadata.message.level}}" ng-model="editCtrl.document.metadata.message.level">
                        <option value="">Default</option>
                        <option value="success">Success</option>
                        <option value="info">Info</option>
                        <option value="warning">Warning</option>
                        <option value="danger">Alert</option>
                    </select>
                </div>
            </div>

        </div>

        <!-- Agenda Items -->
        <div class="form-group">
            <label class="control-label" for="agendaItems">Agenda Item(s)</label>

            <select ng-disabled="uploading" class="form-control" ng-options="item.item as (item.item + ' ' + item.title) for item in editCtrl.meeting.agenda.items|orderBy:item.item" ng-model="editCtrl.selectedItem" ng-change="editCtrl.addItem(editCtrl.selectedItem); editCtrl.selectedItem='';">
                <option value="">Select an item to add......</option>
            </select>


            <div class="input-group" ng-repeat="item in editCtrl.document.agendaItems|orderBy:item" style="margin-top:5px">

                <div class="input-group-prepend" style="min-width:75px">   
                    <div>
                        <span class="badge label agenda CBD {{::editCtrl.meeting.agenda.prefix}}">{{::editCtrl.meeting.agenda.prefix}} 
                            {{::((editCtrl.meeting.agenda.items|filter:{item:item}:true)[0].code||item)}}
                        </span>
                    </div>
                </div>
                <span class="form-control" style="overflow:auto;background-color:#eeeeee" >{{(editCtrl.meeting.agenda.items|filter:{item:item}:true)[0].title}}</span>
                <span class="input-group-append">
                    <button ng-disabled="uploading" class="btn btn-light" ng-click="editCtrl.removeItem(item)" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                </span>
            </div>

        </div>

    </form>

    <input ng-disabled="uploading" type="file" auto-reset="true" id="fileUpload" ng-model="editCtrl.fileToUpload" ng-change="editCtrl.upload(editCtrl.fileToUpload);" style="display:none">

    <div class="panel panel-default">
        <div class="card-header">
            <div class="bntn-group" role="group">

                    <button type="button" class="btn btn-info pull-right" ng-click="editCtrl.showLinkOptions=!editCtrl.showLinkOptions;">
                        <i class="fa fa-link" aria-hidden="true"></i> Link</button>
                    <label ng-if="!editCtrl.document.linkedToId" class="btn btn-light pull-right" for="fileUpload">
                        <span ng-hide="uploading">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            Upload
                        </span>
                        <span ng-show="uploading">
                            <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
                            Uploading {{uploadProgress}}%
                        </span>
                    </label>
            </div>
            <h4 style="color:inherit">
                Files
                <small ng-if="!editCtrl.document.linkedToId && getFilePatterns().length">(
                    <span ng-repeat="p in getFilePatterns()">{{p}}<span ng-if="!$last">, </span></span> )
                </small>

                <small ng-if="editCtrl.document.linkedToId">
                    Upload is not available - Linked to: 
                    <a ng-href="/meetings/{{editCtrl.document.linkedTo.meetingCode}}/documents?doc={{editCtrl.document.linkedToId}}" target="_blank">{{editCtrl.document.linkedTo.meetingCode}}</a>
                    -
                    <a ng-href="/meetings/{{editCtrl.document.linkedTo.meetingCode}}/documents/{{editCtrl.document.linkedToId}}" target="_blank">
                        {{editCtrl.document.linkedTo.symbol || (editCtrl.document.linkedTo.title|lstring) || editCtrl.document.linkedToId}}
                    </a>
                    
                </small>

            </h4>

        </div>
        <div class="card-body">

            <div class="alert alert-info" role="alert" ng-if="!editCtrl.document.files.length">
                <label class="btn btn-light" for="fileUpload" style="width:100%">
                    <span ng-hide="uploading">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        Please upload your first file
                    </span>
                    <span ng-show="uploading">
                        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
                        Uploading {{uploadProgress}}%
                    </span>
                </label>



            </div>

            <!-- ERROR EXISTS -->
            <div class="alert alert-warning" role="alert" ng-if="editCtrl.fileError.code == 'EXISTS'">
                <button type="button" class="close" data-dismiss="alert" ng-click="editCtrl.clearErrors();editCtrl.fileToUpload=null;" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <b>File with same language and format already exists.</b><br/><br/>

                <span style="display:inline-block;width:35px;">Old:</span>
                <i style="color:{{(FILETYPES[editCtrl.fileError.old.type]||FILETYPES.default).color}}" class="fa {{(FILETYPES[editCtrl.fileError.old.type]||FILETYPES.default).icon}}"></i>
                {{LANGUAGES[editCtrl.fileError.old.language]||(editCtrl.fileError.old.language|uppercase)}} - {{editCtrl.fileError.old.name}} <em>{{FILETYPES[editCtrl.fileError.old.type].title||editCtrl.fileError.old.type}}</em><br/>

                <span style="display:inline-block;width:35px;">New:</span>
                <i style="color:{{(FILETYPES[editCtrl.fileError.new.type]||FILETYPES.default).color}}" class="fa {{(FILETYPES[editCtrl.fileError.new.type]||FILETYPES.default).icon}}"></i>
                {{LANGUAGES[editCtrl.fileError.new.language]||(editCtrl.fileError.new.language|uppercase)}} - {{editCtrl.fileError.new.name}} <em>{{FILETYPES[editCtrl.fileError.new.type].title||editCtrl.fileError.new.type}}</em><br/><br/>

                Do you want to replace the existing file?
                <button class="btn btn-light" type="button" ng-click="editCtrl.clearErrors(); editCtrl.upload(editCtrl.fileToUpload, true);">Yes</button>
                <button class="btn btn-light" type="button" ng-click="editCtrl.clearErrors(); editCtrl.fileToUpload=null;">No</button>
            </div>

            <!-- ERROR LANGUAGE -->
            <div class="alert alert-warning" role="alert" ng-if="editCtrl.fileError.code == 'LANGUAGE'">
                <button type="button" class="close" data-dismiss="alert" ng-click="editCtrl.clearErrors();" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <b>File language cannot be detected.</b><br/><br/>

                <i style="color:{{(FILETYPES[editCtrl.fileError.new.type]||FILETYPES.default).color}}" class="fa {{(FILETYPES[editCtrl.fileError.new.type]||FILETYPES.default).icon}}"></i>
                {{editCtrl.fileError.new.name}} <em>{{(LANGUAGES[editCtrl.fileError.new.language]||editCtrl.fileError.new.language)|uppercase}}</em> <em>{{FILETYPES[editCtrl.fileError.new.type].title||editCtrl.fileError.new.type}}</em><br/><br/>

                Please uploade a new file with language at the end. eg: "cop-xx-crp-yy<b>-en</b>.pdf, cop-xx-crp-yy<b>-ar</b>.doc ... "
            </div>

            <!-- ERROR FILENAME -->
            <div class="alert alert-warning" role="alert" ng-if="editCtrl.fileError.code == 'FILENAME'">
                <button type="button" class="close" data-dismiss="alert" ng-click="editCtrl.clearErrors();" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <b>Filename is invalid.</b><br/><br/>

                {{editCtrl.fileError.new.name}}<br/><br/>

                Filename can only contains 'letters', '-' and '.'
            </div>

            <!-- ERROR FILENAME -->
            <div class="alert alert-warning" role="alert" ng-if="editCtrl.fileCache.prefixes.length>1">
                <b>Mutiples filenames</b> Maybe you have an error...<br/>
                <ul>
                    <li ng-repeat="name in editCtrl.fileCache.names|orderBy">{{name}}</li>
                </ul>
            </div>

            <div class="alert alert-warning" role="alert" ng-if="editCtrl.error.code == 'GENERAL'">
                <button type="button" class="close" data-dismiss="alert" ng-click="editCtrl.clearErrors();" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <b>{{editCtrl.error.message}}</b><br/><br/>
                
            </div>

            <!--LINKS-->
            <div ng-if="editCtrl.showLinkOptions">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Link</label>
                    </div>
                    <input type="url" style="width:70%" class="form-control" ng-model="editCtrl.documentLink.url" placeholder="link eg: https://www.cbd.int/meetings/cop-14/documents/crp-12-en.pdf">
                    <select class="custom-select" ng-model="editCtrl.documentLink.language">
                        <option value="ar">Arabic</option>
                        <option value="en" selected>English</option>
                        <option value="fr">French</option>
                        <option value="ru">Russian</option>
                        <option value="es">Spanish</option>
                        <option value="zh">Chinese</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" ng-click="editCtrl.addLink(editCtrl.documentLink)">Add</button>
                    </div>
                </div>
            </div>
            <!-- FILES -->
            
            <div ng-repeat="type in editCtrl.fileCache.types track by type" >
                <div class="btn-group" style="margin:5px" ng-repeat="language in editCtrl.fileCache.languages track by language" 
                ng-style="{visibility:(editCtrl.fileCache[type][language] ? 'visible' : 'hidden')}">

                  <a ng-disabled="uploading" href="{{editCtrl.fileCache[type][language].url}}" target="_blank" role="group" type="button"
                    title="{{editCtrl.fileCache[type][language].name}} ({{FILETYPES[type].title||type}})" class="btn btn-light">
                    <i style="color:{{(FILETYPES[type]||FILETYPES.default).color}}" class="fa {{(FILETYPES[type]||FILETYPES.default).icon}}"></i>
                    {{LANGUAGES[language]||(language|uppercase)}}
                  </a>

                  <button ng-if="!editCtrl.document.linkedToId" ng-disabled="editCtrl.document.linkedToId || uploading" role="group" type="button" class="btn btn-info btn-append dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                  </button>

                  <ul ng-if="!editCtrl.document.linkedToId" class="dropdown-menu">
                    <!-- <li><a href="{{editCtrl.fileCache[type][language].url}}" target="_blank" ><i class="fa fa-fw fa-cloud-download" aria-hidden="true"></i> Download</a></li>
                    <li role="separator" class="divider"></li> -->
                    <li><a  class="dropdown-item" href="#" ng-click="editCtrl.removeFile(editCtrl.fileCache[type][language])"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Delete</a></li>
                  </ul>
                  <span class="btn btn-light btn-append" style="cursor:default">
                      {{FILETYPES[type].title||type}}
                  </span>
                </div>
            </div>

        </div>
    </div>

    <!-- ERROR -->
    <pre ng-if="editCtrl.error" class="alert alert-danger">{{editCtrl.error|json}}</pre>

    <div class="pull-right" role="group" aria-label="..." style="margin-bottom:10px">
      <button ng-disabled="uploading || !editCtrl.document._id" type="button" class="btn btn-danger"  ng-click="editCtrl.del()">Delete</button>
      &nbsp;&nbsp;
      <button ng-disabled="uploading || editCtrl.duplicates.length" type="button" class="btn btn-primary" ng-click="editCtrl.save()">Save</button>
      <button ng-disabled="uploading" type="button" class="btn btn-light" ng-click="editCtrl.close()">Close</button>
    </div>



    <div class="clearfix">
        <table class="table table-striped">
            <tr>
                <td class="text-nowrap" style="vertical-align:middle">Now</td>
                <td class="text-nowrap" style="vertical-align:middle" title="{{editCtrl.user.name}}">{{editCtrl.user|initials}}</td>
                <td style="width:99%">
                    <div class="input-group">
                        <input ng-disabled="uploading" type="text" class="form-control" style="direction:ltr" id="log" ng-model="editCtrl.log" placeholder="Type a new comment to log">
                        <span class="input-group-append">
                            <button ng-disabled="uploading || !editCtrl.document._id" class="btn btn-light" ng-click="editCtrl.saveLogEntry()" type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="log in editCtrl.document.logs | orderBy:'date':true">
                <td class="text-nowrap" title="{{log.date|date:'yyyy-MM-dd HH:mm.ss'}}">{{log.date|moment:'fromNow':true}}</td>
                <td class="text-nowrap" title="{{log.user.name}}">{{log.user|initials}}</td>
                <td style="width:99%">{{log.text}}</td>
            </tr>
        </table>
    </div>


</div>
