
.languages-bar { padding-left:5px; padding-right:5px; }

@media (max-width: 767px) { .languages-bar { width: 70px; padding-right:10px; text-align:right; } }
@media (min-width: 768px) { .languages-bar { width: 160px; } }
@media (min-width: 992px) { .languages-bar { width: 350px; } }

.table.no-border-first-row > tbody > tr:first-child > td {
    border-top: none;
}

.label.doc-status             { display: inline-block; width:45px;}
.label.doc-status.plain       { border: dotted 1px #777;    color: #777;    background: none}
.label.doc-status.pre-session { border: dotted 1px #777;    color: #777;    background: none}
.label.doc-status.draft       { border: solid  1px #777;    color: #777;    background: none}
.label.doc-status.l           { border: solid  1px #5bc0de; color: #5bc0de; background: none}
.label.doc-status.crp         { border: solid  1px #f0ad4e; color: #f0ad4e; background: none}

.label.agenda      { color:#fff; background: #777; display: inline-block; min-width: 55px;    }
.label.agenda.CBD  { color:#fff; background: #009B48; }
.label.agenda.CP   { color:#fff; background: #A05800; }
.label.agenda.NP   { color:#fff; background: #0086B7; }

.title.agenda      {     }
.handle  { cursor: all-scroll }
/*
.title.agenda.CBD  { color: #00803B; }
.title.agenda.NP   { color: #245680; }
.title.agenda.CP   { color: #805C29; }
*/
.printsmart-help-document-selector{
    display: none;
}

.printsmart-help .printsmart-help-document-selector {
    display: inline-block;
}

.superseded { text-decoration: line-through; color:#888; }


#print-smart-checkout  {
    display: inline;
    z-index:1    
}
                            #print-smart-checkout { top: 165px; position: sticky }
@media (max-width: 991px) { #print-smart-checkout { top: 65px; } }
@media (max-width: 749px) { #print-smart-checkout { top: 33px; } }

.documents a:hover       { text-decoration:none; }
.documents a[href]:hover { text-decoration:underline; }

body.phoenix .printsmart .help-block {
    font-style: italic;
    font-size: 75%;
    opacity: 0.75;
}
body.phoenix .printsmart .close {
    font-size: 48px;
}

body.phoenix .meeting-agenda{
    position:relative;
}
body.phoenix .meeting-agenda .nav-item, body.phoenix .meeting-documents .nav-item {
    text-transform: unset;
}

.meeting-agenda .dropdown .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
