<div class="meeting-agenda">
<style>
.meeting-agenda nav.nav-xl,
.meeting-agenda nav.nav-lg{
        margin-top:-35px
}
.meeting-agenda nav.nav-md{
        margin-top:-15px
}
</style>
    <div class="btn btn-link hidden-print col-sm-12" style="color:inherit;cursor:inherit;text-decoration:none;" ng-if="agendaCtrl.now">
        
        <span class="float-right">
            <!-- position:absolute;top:0px;right:0px;
                 ng-if="::(agendaCtrl.now | moment:'tz':agendaCtrl.event.timezone | moment:'format':'H:mm:ss') != '0:00:00'">             -->
            <span class="dropdown">
                <a class="btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-href="#" style="border:1px solid #f5efef">
                    <em class="visible-xs-inline1 fa fa-clock-o"></em> 
                    <b ng-if="agendaCtrl.scheduleDate==''" ng-bind="agendaCtrl.now | moment:'tz':agendaCtrl.event.timezone | moment:'format':'H:mm'"></b>
                    <b ng-if="agendaCtrl.scheduleDate!=''" ng-bind="agendaCtrl.now | moment:'tz':agendaCtrl.event.timezone | moment:'format':'MMM Do'"></b>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" ng-repeat="item in agendaCtrl.scheduleDates" ng-click="agendaCtrl.scheduleDateChanged(item.value)" style="border-bottom:1px solid #eee">
                        <span class="hidden-xs hidden-sm"  ng-bind="item.text" ></span>
                        <span class="visible-xs visible-sm" ng-bind="item.text| moment:'format':'ddd Do'" ></span>
                    </a>                      
                </div>
            </span>
        </span>
    </div>

    <!-- Nav tabs -->
    <nav class="nav-{{::deviceSize}}">
        <ul class="nav nav-tabs hidden-print" role="tablist" style="margin-top:5px">
            <li class="nav-item" ng-repeat="type in agendaCtrl.types" >
                <a class="nav-link" ng-href="#{{::type._id}}" role="tab" ng-click="agendaCtrl.selectTab(type)" data-toggle="tab" 
                    ng-class="{ active: agendaCtrl.currentTab==type._id }">
                    <span class="hidden-xs" ng-switch="type._id">
                        <span ng-switch-when="570fd1552e3fa5cfa61d90f0">Contact Groups</span>
                        <span ng-switch-default>{{::type.title}}</span>
                    </span>
                    <span class="visible-xs-inline" ng-switch="type._id">
                        <span ng-switch-when="570fd1ac2e3fa5cfa61d90f5">Plenary</span>
                        <span ng-switch-when="58379a233456cf0001550cac">WG.1</span>
                        <span ng-switch-when="58379a293456cf0001550cad">WG.2</span>
                        <span ng-switch-when="570fd1552e3fa5cfa61d90f0">Contact Groups</span>
                        <span ng-switch-default>{{::type.title}}</span>
                    </span>
                </a>
            </li>
            <li ng-hide="agendaCtrl.loaded" ><a><h3  style="color: #777;margin: 0px"><i class="fa fa-circle-o-notch fa-spin"></i></h3></a></li>
        </ul>
    </nav>

    <div  class="float-right hidden-print" style="padding-top:8px;padding-bottom:2px">
        <div id="print-smart-checkout">
            <print-smart-checkout ng-cloak ng-show="agendaCtrl.types.length && agendaCtrl.currentTab!='cctv'" documents="agendaCtrl.documents|filter:{selected:true}:true" allow-print="agendaCtrl.meetings[0].printSmart"></print-smart-checkout>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">

        <div ng-repeat="type in agendaCtrl.types|limitTo:99:1" ng-class="{ 'show active': agendaCtrl.currentTab==type._id }" role="tabpanel" 
        class="tab-pane fade agenda-content" id="{{::type._id}}">

            <h1 class="visible-print" style="position:absolute;top:0px;right:0px">{{::type.title}} <small>{{agendaCtrl.now|date}}</small></h1>

            <div ng-repeat="(day, dayParts) in type.days">
                <div ng-if="type.loaded || agendaCtrl.currentTab==type._id">
                    <h3 style="padding-top: 5px;">{{::day|moment:'tz':agendaCtrl.event.timezone|moment:'calendar':(undefined|moment):agendaCtrl.CALENDAR}}</h3>
                    <table class="table table-sm table-bordered" ng-repeat="(dayPart, reservations) in dayParts">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="2">
                                        <a class="hidden small text-muted pull-right" style="margin-left:5px" style="text-decoration:none" ng-click="agendaCtrl.expandAll(reservations)" href="#">
                                        show documents
                                    </a>

                                    <div >

                                        <span class="text-muted pull-right" ng-if="::(reservations|filter:{ agenda : { provisional:true } }).length" style="font-variant: small-caps;font-size:90%">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            <span>Subject to change</span>
                                        </span>

                                        <span ng-switch="dayPart">
                                            <span ng-switch-when="morning">Morning</span>
                                            <span ng-switch-when="afternoon">Afternoon</span>
                                            <span ng-switch-when="evening">Evening</span>
                                            <span ng-switch-default>{{::part}}</span>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="res in reservations">

                            <td class="text-center text-nowrap text-primary" style="width:1px;border-right:solid 1px #ddd">
                                <b>{{::res.start|moment:'tz':agendaCtrl.event.timezone|moment:'format':'HH:mm'}}</b>
                                <!-- <i>to</i><br>
                                {{::res.end  |moment:'tz':agendaCtrl.event.timezone|moment:'format':'HH:mm'}}<br> -->

                                <div ng-if="res.videoUrl">
                                    <a class="badge badge-dark"  title="video stream" target="_blank" ng-href="{{res.videoUrl}}">
                                        Watch <i  class="fa fa-video-camera"></i>
                                    </a> <br>
                                    <a  class="badge badge-danger" ng-if="res.start <= agendaCtrl.now.toISOString()" target="_blank" ng-href="{{res.videoUrl}}">
                                        Live
                                    </a> 
                                </div>
                            </td>

                            <td style="padding:0px;">

                                <table class="table no-border-first-row no-border-first-row" style="margin:0px">

                                    <tr ng-repeat="agendaItem in res.agenda.items" style="cursor:default">
                                        <td class="hidden-xs" style="width:55px" ng-click="agendaItem.expanded=!agendaItem.expanded">
                                            <span class="badge label agenda {{::agendaItem.prefix}}">{{::agendaItem.prefix}} {{::agendaItem.item}}</span>
                                        </td>
                                        <td>
                                            <div ng-click="agendaItem.expanded=!agendaItem.expanded" >
                                                <div class="pull-right">

                                                    <span class="small">

                                                        <!-- <span class="text-muted" ng-if="::(agendaItem.status || agendaItem.files.length) && (!agendaItem.documents.length || agendaItem.documents.length!=agendaItem.files.length)">
                                                            document not yet available<i class="fa fa-fw fa-caret-down" style="visibility:hidden"></i>
                                                        </span> -->

                                                        <a class="text-muted" ng-if="::agendaItem.documents.length" style="text-decoration:none" href="#">
                                                            <b ng-if="::agendaItem.documents.length==1">{{::agendaItem.documents.length}} document</b>
                                                            <b ng-if="::agendaItem.documents.length> 1">{{::agendaItem.documents.length}} documents</b>
                                                            <i class="fa fa-fw fa-caret-up"   ng-show="agendaItem.expanded"></i>
                                                            <i class="fa fa-fw fa-caret-down" ng-hide="agendaItem.expanded"></i>
                                                        </a>

                                                    </span>

                                                    <span ng-if="agendaItem.status" class="badge label doc-status" ng-class="{plain : agendaItem.status }" ng-switch="agendaItem.status">
                                                        <span ng-switch-when="pre-session" title="Pre-Session" style="cursor:help">Pre</span>
                                                        <span ng-switch-when="draft">Draft</span>
                                                        <span ng-switch-when="crp">CRP</span>
                                                        <span ng-switch-when="l">L</span>
                                                    </span>
                                                </div>
                                                <span class="visible-xs-inline-block badge label agenda {{::agendaItem.prefix}}">{{::agendaItem.prefix}} {{::agendaItem.item}}</span>
                                                <span class="title agenda">
                                                    <div class="hidden-xs" ng-if="::type._id=='570fd1552e3fa5cfa61d90f0'" style="font-weight:bold">
                                                        {{::res.title}}
                                                    </div>
                                                    <span ng-if="::!agendaItem.text">
                                                        <span class="hidden-xs" >{{::agendaItem.title}}</span>
                                                        <span class="visible-xs-inline">{{::agendaItem.shortTitle||agendaItem.title}}</span>
                                                    </span>
                                                    <span ng-if="::agendaItem.text">
                                                        <span>{{::agendaItem.shortTitle||agendaItem.title}}</span>
                                                        - <b>{{::agendaItem.text}}</b>
                                                    </span>
                                                </span>
                                            </div>
                                            <table ng-if="agendaItem.expanded && agendaItem.documents.length" class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                                                <tr ng-repeat="document in agendaItem.documents" ng-class="{ info : document.selected }" style="cursor:default">
                                                    <td>
                                                        <meeting-document document="document" enable-selection="true"></meeting-document>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div role="tabpanel" class="tab-pane" id="cctv" ng-if="agendaCtrl.types[0].loaded || agendaCtrl.currentTab=='cctv'" ng-class="{ active: agendaCtrl.currentTab=='cctv' }" >
            <h1 class="visible-print" style="position:absolute;top:0px;right:0px">Schedule <small>{{agendaCtrl.now|date}}</small></h1>
            <div view-injector="{ module : 'views/schedules/index-id', resolve: { streamId: agendaCtrl.resolveLiteral(agendaCtrl.streamId) } }"></div>
        </div>
    </div>
    <br/>
</div>
