

<div class="btn btn-link pull-right hidden-print" style="color:inherit;cursor:inherit;text-decoration:none" ng-if="agendaCtrl.now"><em>Time at venue:</em> <b>{{agendaCtrl.now | moment:'tz':agendaCtrl.event.timezone | moment:'format':'H:mm'}}</b></div>
<div>
    <div class="clearfix visible-sm visible-xs"></div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs hidden-print" role="tablist" style="margin-top:5px">
        <li ng-repeat="type in agendaCtrl.types" ng-class="{ active: agendaCtrl.currentTab==type._id }" >
            <a ng-href="#{{::type._id}}" role="tab" ng-click="agendaCtrl.selectTab(type)" data-toggle="tab">
                <span class="hidden-xs" ng-switch="type._id">
                    <span ng-switch-when="570fd1552e3fa5cfa61d90f0">Contact Groups</span>
                    <span ng-switch-default>{{::type.title}}</span>
                </span>
                <span class="visible-xs-inline" ng-switch="type._id">
                    <span ng-switch-when="570fd1ac2e3fa5cfa61d90f5">Plenary</span>
                    <span ng-switch-when="58379a233456cf0001550cac">WG.1</span>
                    <span ng-switch-when="58379a293456cf0001550cad">WG.2</span>
                    <span ng-switch-when="570fd1552e3fa5cfa61d90f0">Working Groups</span>
                    <span ng-switch-default>{{::type.title}}</span>
                </span>
            </a>
        </li>
        <!-- <li><a href="#cctv" data-toggle="tab" role="tab">Daily Schedule</a></li> -->
        <li class="dropdown-toggle hidden-xs" ng-if="agendaCtrl.meeting.conference.sideEventLinks.length > 0">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Side Events <span class="caret">
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="link in agendaCtrl.meeting.conference.sideEventLinks">
                    <a href="{{link.url}}" target="_self" role="tab">{{link.title}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-toggle"  ng-if="agendaCtrl.meeting.conference.parallelMeetingLinks.length > 0 || ($parent.deviceSize =='xs' && agendaCtrl.meeting.conference.sideEventLinks.length > 0)">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <div class="hidden-xs">Parallel Meetings<span class="caret"></span></div>
                <div class="visible-xs">Others <span class="caret"></span></div>
            </a>
            <ul class="dropdown-menu">
                <li ng-if="agendaCtrl.meeting.conference.sideEventLinks.length > 0" class="visible-xs" style="padding:10px;">Side-Events</li>
                <li ng-if="agendaCtrl.meeting.conference.sideEventLinks.length > 0" class="visible-xs divider" role="separator"></li>
                <li ng-repeat="link in agendaCtrl.meeting.conference.sideEventLinks" class="visible-xs" >
                    <a ng-href="{{link.url}}" target="_self" role="tab">{{link.title}}</a>
                </li>
                <li class="visible-xs divider" role="separator" ng-if="agendaCtrl.meeting.conference.parallelMeetingLinks.length > 0"></li>
                <li ng-if="agendaCtrl.meeting.conference.parallelMeetingLinks.length > 0" class="visible-xs"  style="padding:10px;">Parallel Meetings </li>
                <li ng-if="agendaCtrl.meeting.conference.parallelMeetingLinks.length > 0" class="visible-xs divider" role="separator"></li>
                <li ng-repeat="link in agendaCtrl.meeting.conference.parallelMeetingLinks">
                    <a ng-href="{{link.url}}" target="_self" role="tab">{{link.title}}</a>
                </li>                
            </ul>
        </li>
    </ul>

    <div  class="pull-right hidden-print" style="padding-top:8px">
        <div id="print-smart-checkout">
            <print-smart-checkout ng-cloak ng-show="agendaCtrl.types.length && agendaCtrl.currentTab!='cctv'" documents="agendaCtrl.documents|filter:{selected:true}:true"></print-smart-checkout>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">

        <div ng-repeat="type in agendaCtrl.types|limitTo:99:1" ng-class="{ active: agendaCtrl.currentTab==type._id }" role="tabpanel" class="tab-pane" id="{{::type._id}}">

            <h1 class="visible-print" style="position:absolute;top:0px;right:0px">{{::type.title}} <small>{{agendaCtrl.now|date}}</small></h1>

            <div ng-repeat="(day, dayParts) in type.days">

                <div ng-if="type.loaded || agendaCtrl.currentTab==type._id">

                <h3>{{::day|moment:'tz':agendaCtrl.event.timezone|moment:'calendar':(undefined|moment):agendaCtrl.CALENDAR}}</h3>

                <div class="panel panel-default" ng-repeat="(dayPart, reservations) in dayParts">

                    <div class="panel-heading">
                        <a class="hidden small text-muted pull-right" style="margin-left:5px" style="text-decoration:none" ng-click="agendaCtrl.expandAll(reservations)" href="#">
                            show documents
                        </a>

                        <h3 class="panel-title">

                            <span class="text-muted pull-right" ng-if="::(reservations|filter:{ agenda : { provisional:true } }).length" style="font-variant: small-caps;font-size:90%">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <span>Subject to change</span>
                            </span>

                            <span ng-switch="dayPart">
                                <span ng-switch-when="morning">Morning</span>
                                <span ng-switch-when="afternoon">Afternoon</span>
                                <span ng-switch-when="evening">Evening</span>
                                <span ng-switch-default>{{::part}}</span>
                            </span>

                            <span class="visible-xs small" style="color:#777">
                                {{::(reservations|limitTo:1: 0)[0].start|moment:'tz':agendaCtrl.event.timezone|moment:'format':'HH:mm'}}
                            </span>
                        </h3>
                    </div>

                    <div class="panel-body" style="padding:0px">

                        <table class="table no-border-first-row" style="border:none;margin:0px">

                            <tr ng-repeat="res in reservations">

                                <td class="hidden-xs text-center text-nowrap" style="width:1px;border-right:solid 1px #ddd">
                                    {{::res.start|moment:'tz':agendaCtrl.event.timezone|moment:'format':'HH:mm'}}<br>
                                    <!-- <i>to</i><br>
                                    {{::res.end  |moment:'tz':agendaCtrl.event.timezone|moment:'format':'HH:mm'}}<br> -->
                                </td>

                                <td style="padding:0px;">

                                    <table class="table no-border-first-row" style="margin:0px">

                                        <tr ng-repeat="agendaItem in res.agenda.items" style="cursor:default">
                                            <td class="hidden-xs" style="width:55px" ng-click="agendaItem.expanded=!agendaItem.expanded">
                                                <span class="label agenda {{::agendaItem.prefix}}">{{::agendaItem.prefix}} {{::agendaItem.item}}</span>
                                            </td>
                                            <td>
                                                <div ng-click="agendaItem.expanded=!agendaItem.expanded" >
                                                    <div class="pull-right">

                                                        <span class="small">

                                                            <span class="text-muted" ng-if="::agendaItem.status && !agendaItem.documents.length">
                                                                document not yet available<i class="fa fa-fw fa-caret-down" style="visibility:hidden"></i>
                                                            </span>

                                                            <a class="text-muted" ng-if="::agendaItem.documents.length" style="text-decoration:none" href="#">
                                                                <b>{{::agendaItem.documents.length}} documents</b>
                                                                <i class="fa fa-fw fa-caret-up"   ng-show="agendaItem.expanded"></i>
                                                                <i class="fa fa-fw fa-caret-down" ng-hide="agendaItem.expanded"></i>
                                                            </a>

                                                        </span>

                                                        <span ng-if="agendaItem.status" class="label doc-status" ng-class="{plain : agendaItem.status }" ng-switch="agendaItem.status">
                                                            <span ng-switch-when="pre-session" title="Pre-Session" style="cursor:help">Pre</span>
                                                            <span ng-switch-when="draft">Draft</span>
                                                            <span ng-switch-when="crp">CRP</span>
                                                            <span ng-switch-when="l">L</span>
                                                        </span>
                                                    </div>
                                                    <span class="visible-xs-inline-block label agenda {{::agendaItem.prefix}}">{{::agendaItem.prefix}} {{::agendaItem.item}}</span>
                                                    <span class="title agenda">
                                                        <div class="hidden-xs" ng-if="::type._id=='570fd1552e3fa5cfa61d90f0'" style="font-weight:bold">
                                                            {{::res.title}}
                                                        </div>
                                                        <span ng-if="::!agendaItem.text">
                                                            <span class="hidden-xs" >{{::agendaItem.title}}</span>
                                                            <span class="visible-xs">{{::agendaItem.shortTitle||agendaItem.title}}</span>
                                                        </span>
                                                        <span ng-if="::agendaItem.text">
                                                            <span>{{::agendaItem.shortTitle||agendaItem.title}}</span>
                                                            - <b>{{::agendaItem.text}}</b>
                                                        </span>
                                                    </span>
                                                </div>
                                                <table ng-if="agendaItem.expanded && agendaItem.documents.length" class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                                                    <tr ng-repeat="document in agendaItem.documents" ng-class="{ info : document.selected }" style="cursor:default">
                                                        <td>
                                                            <meeting-document document="document" enable-selection="true"></meeting-document>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="cctv" ng-if="agendaCtrl.types[0].loaded || agendaCtrl.currentTab=='cctv'" ng-class="{ active: agendaCtrl.currentTab=='cctv' }" >
            <h1 class="visible-print" style="position:absolute;top:0px;right:0px">Schedule <small>{{agendaCtrl.now|date}}</small></h1>
                        <div view-injector="{ module : 'views/schedules/index-id', resolve: { streamId: agendaCtrl.resolveLiteral(agendaCtrl.streamId) } }"></div>
        </div>

    </div>
</div>
