
.languages-bar { padding-left:5px; padding-right:5px; }

@media (max-width: 767px) { .languages-bar { width: 70px; padding-right:10px; text-align:right; } }
@media (min-width: 768px) { .languages-bar { width: 160px; } }
@media (min-width: 992px) { .languages-bar { width: 350px; } }

.table.no-border-first-row > tbody > tr:first-child > td {
    border-top: none;
}

.label.doc-status             { display: inline-block; width:40px;}
.label.doc-status.plain       { border: dotted 1px #777;    color: #777;    background: none}
.label.doc-status.pre-session { border: dotted 1px #777;    color: #777;    background: none}
.label.doc-status.draft       { border: solid  1px #777;    color: #777;    background: none}
.label.doc-status.l           { border: solid  1px #5bc0de; color: #5bc0de; background: none}
.label.doc-status.crp         { border: solid  1px #f0ad4e; color: #f0ad4e; background: none}

.label.agenda      { background: #777; display: inline-block; min-width: 45px;    }
.label.agenda.CBD  { background: #009B48; }
.label.agenda.CP   { background: #A05800; }
.label.agenda.NP   { background: #0086B7; }

.title.agenda      {     }
/*
.title.agenda.CBD  { color: #00803B; }
.title.agenda.NP   { color: #245680; }
.title.agenda.CP   { color: #805C29; }
*/
.printsmart-help-document-selector{
    display: none;
}

.printsmart-help .printsmart-help-document-selector {
    display: inline-block;
}

.superseded { text-decoration: line-through; color:#888; }

#print-smart-checkout  {
    display: inline;
}
#print-smart-checkout.affix  {
    top:5px;
    right:15px;
    z-index: 999;
}
