<div>
    <print-smart-checkout ng-cloak documents="documentsCtrl.documents|filter:{selected:true}:true" class="pull-right"></print-smart-checkout>
    <style>
        .nav.nowrap {
            white-space: nowrap;
        }

        .nav.nowrap > li {
            display:inline-block;
            float:none;
        }
    </style>
    <!-- Sort/Display -->
    <div ng-cloak ng-if="documentsCtrl.meeting.agenda.items.length" class="pull-right" style="margin-right:5px;margin-left:5px;">
        <select class="form-control" ng-model="documentsCtrl.sort" style="width:auto;display:inline-block">
            <option value="agenda">Agenda items</option>
            <option value="document">Document symbols</option>
        </select>
    </div>

    <div class="clearfix visible-sm visible-xs"></div>

    <!-- Nav tabs -->
    <ul class="hidden-xs nav nav-tabs" style="margin-top:5px" role="tablist">
        <li ng-repeat="type in documentsCtrl.tabs" ng-class="{ active: documentsCtrl.currentTab==type.code }" >
            <a href="#" ng-click="documentsCtrl.switchTab(type)" role="tab" data-toggle="tab">
                {{::documentsCtrl.TABS_NAMES[type.code]||(type.code|uppercase)}} ({{::type.documents.length}})
            </a>
        </li>
    </ul>

    <!-- Nav tabs -->
    <ul class="visible-xs nav nav-tabs nowrap" style="margin-top:5px" role="tablist">
        <li ng-repeat="type in documentsCtrl.tabs|limitTo:(documentsCtrl.tabs.length>3?2:999)" ng-class="{ active: documentsCtrl.currentTab==type.code }" >
            <a href="#" ng-click="documentsCtrl.switchTab(type)" role="tab" data-toggle="tab">
                {{::documentsCtrl.TABS_NAMES[type.code]||(type.code|uppercase)}} ({{::type.documents.length}})
            </a>
        </li>

        <li ng-if='documentsCtrl.tabs.length>3' class="dropdown-toggle" ng-class="{ active: (documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true).length }" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <span ng-if=" (documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true).length">{{documentsCtrl.TABS_NAMES[documentsCtrl.currentTab]||documentsCtrl.currentTab}} ({{(documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true)[0].documents.length}})</span>
                <span ng-if="!(documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true).length">More</span>
                <span class="caret">
            </a>

             <ul class="dropdown-menu">
                 <li ng-repeat="type in documentsCtrl.tabs|limitTo:999:2">
                     <a href="#" ng-click="documentsCtrl.switchTab(type)">
                         {{::documentsCtrl.TABS_NAMES[type.code]||(type.code|uppercase)}} ({{::type.documents.length}})
                     </a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div ng-repeat="type in documentsCtrl.tabs" ng-class="{ active: documentsCtrl.currentTab==type.code }" role="tabpanel" class="tab-pane" id="{{::type.code}}">

            <div ng-if="type.loaded || documentsCtrl.currentTab==type.code">

            <!-- Document List view -->

            <table ng-if="documentsCtrl.sort=='document' || !type.agenda.items.length" class="table table-striped table-hover no-border-first-row">
                <tr ng-repeat="document in type.documents|orderBy:'sortKey':(type.code=='notification') track by document.symbol+document._id" ng-class="{ info : document.selected }" style="cursor:default;">
                    <td style="width:1px">
                        <strong class="text-nowrap">{{::($index+1)}}.</strong>
                    </td>
                    <td>
                        <meeting-document document="document"></meeting-document>
                    </td>
                </tr>
            </table>

            <!-- Document Agenda view -->

            <table ng-if="documentsCtrl.sort=='agenda' && type.agenda.items.length" class="table no-border-first-row">

                <tr ng-repeat="item in type.agenda.items|orderBy:'item' track by item.item">
                    <td class="hidden-xs" style="width:1px">
                        <span class="label agenda {{::documentsCtrl.agenda.prefix}}">{{::documentsCtrl.agenda.prefix}} {{::item.item}}</span>
                    </td>
                    <td>
                        <div>
                            <div class="pull-right">
                                <span class="label doc-statusdoc-status" ng-class="{plain : item.status }" ng-switch="::item.status">
                                    <span ng-switch-when="pre-session" title="Pre-Session" style="cursor:help">Pre</span>
                                    <span ng-switch-when="draft">Draft</span>
                                    <span ng-switch-when="crp">CRP</span>
                                    <span ng-switch-when="l">L</span>
                                </span>
                            </div>

                            <span class="visible-xs-inline label agenda {{::documentsCtrl.agenda.prefix}}">{{::documentsCtrl.agenda.prefix}} {{::item.item}}</span>

                            <span class="title agenda">
                                <span class="hidden-xs" >{{::item.title}}</span>
                                <span class="visible-xs">{{::item.shortTitle||item.title}}</span>
                            </span>
                        </div>
                        <table class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                            <tr ng-repeat="document in item.documents|filter:{ type: type.code }:true|orderBy:'sortKey'" ng-class="{ info : document.selected }" style="cursor:default">
                                <td>
                                    <meeting-document document="document"></meeting-document>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr ng-if="type.agenda.otherDocuments.length">
                    <td class="hidden-xs" style="width:1px">
                        <span class="label agenda">Other</span>
                    </td>
                    <td>
                        <div>
                            <span class="title agenda">
                                <span class="visible-xs label agenda">Other</span> <i>Document(s) not associated to an agenda item</i>
                            </span>
                        </div>
                        <table class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                            <tr ng-repeat="document in type.agenda.otherDocuments|orderBy:'symbol'" ng-class="{ info : document.selected }" style="cursor:default">
                                <td>
                                    <meeting-document document="document"></meeting-document>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
