<div>
    <div id="print-smart-checkout" class="hidden-print">
        <print-smart-checkout ng-if="documentsCtrl.documents.length"  ng-cloak documents="documentsCtrl.documents|filter:{selected:true}:true" class="pull-right"></print-smart-checkout>
    </div>

    <h1 class="visible-print" style="color:black;position:absolute;top:0px;right:0px"> {{::documentsCtrl.meeting.code}} <small>{{documentsCtrl.TABS_NAMES[documentsCtrl.currentTab]}}</small></h1>

    <style>
        .nav.nowrap {
            white-space: nowrap;
        }

        .nav.nowrap > li {
            display:inline-block;
            float:none;
        }
    </style>
    <!-- Sort/Display -->
    <div ng-cloak ng-if="documentsCtrl.meeting.agenda.items.length" class="pull-right hidden-print" style="margin-right:5px;margin-left:5px;">
        <select class="form-control" ng-model="documentsCtrl.sort" style="width:auto;display:inline-block">
            <option value="agenda">By Items</option>
            <option value="document">By symbols</option>
        </select>
    </div>

    <div ng-if="documentsCtrl.edit" class="pull-right">
        <button type="button" class="btn btn-default" ng-if="documentsCtrl.editMode"             ng-click="documentsCtrl.edit(null)"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-default" ng-class="{active:documentsCtrl.editMode, 'btn-info': documentsCtrl.editMode }" ng-click="documentsCtrl.editMode=!documentsCtrl.editMode"><i class="fa fa-edit"></i></button>
    </div>


    <div class="clearfix visible-sm visible-xs"></div>

    <!-- Nav tabs -->
    <ul class="hidden-xs nav nav-tabs hidden-print" style="margin-top:5px" role="tablist">
        <li ng-repeat="tab in documentsCtrl.tabs" ng-class="{ active: documentsCtrl.currentTab==tab.code }" >
            <a href="#" ng-click="documentsCtrl.switchTab(tab)" role="tab" data-toggle="tab">
                {{::tab.title}} ({{::tab.documents.length}})
            </a>
        </li>
    </ul>

    <!-- Nav tabs -->
    <ul class="visible-xs nav nav-tabs nowrap hidden-print" style="margin-top:5px" role="tablist">
        <li ng-repeat="type in documentsCtrl.tabs|limitTo:(documentsCtrl.tabs.length>3?2:999)" ng-class="{ active: documentsCtrl.currentTab==type.code }" >
            <a href="#" ng-click="documentsCtrl.switchTab(type)" role="tab" data-toggle="tab">
                {{::type.title}} ({{::type.documents.length}})
            </a>
        </li>

        <li ng-if='documentsCtrl.tabs.length>3' class="dropdown-toggle" ng-class="{ active: (documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true).length }" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <span ng-if=" (documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true).length">{{documentsCtrl.currentTabX.title}} ({{(documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true)[0].documents.length}})</span>
                <span ng-if="!(documentsCtrl.tabs|limitTo:999:2|filter:{code:documentsCtrl.currentTab}:true).length">More</span>
                <span class="caret">
            </a>

             <ul class="dropdown-menu">
                 <li ng-repeat="type in documentsCtrl.tabs|limitTo:999:2">
                     <a href="#" ng-click="documentsCtrl.switchTab(type)">
                         {{::type.title}} ({{::type.documents.length}})
                     </a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div ng-repeat="type in documentsCtrl.tabs" ng-class="{ active: documentsCtrl.currentTab==type.code }" role="tabpanel" class="tab-pane" id="{{::type.code}}">

            <div ng-if="type.loaded || documentsCtrl.currentTab==type.code">

                <div style="padding:10px;" ng-if="!type.documents.length">No in-session documents have yet been posted.</div>

            <!-- Document List view -->

            <table ng-if="documentsCtrl.sort=='document' || !type.agenda.items.length" class="table table-striped table-hover no-border-first-row">
                <tbody class="documents">
                <tr document-id="{{document._id}}" ng-repeat="document in type.documents track by document._id" ng-class="{ info : document.selected }" style="cursor:default;">
                    <td class="handle" ng-if="documentsCtrl.editMode" style="width:10px">
                        <i class="fa fa-bars handle" aria-hidden="true"></i>
                    </td>
                    <td ng-if="!documentsCtrl.editMode" style="width:1px">
                        <strong class="text-nowrap">{{::($index+1)}}.</strong>
                    </td>
                    <td>
                        <meeting-document document="document" enable-selection="!documentsCtrl.editMode"></meeting-document>
                    </td>
                    <td ng-if="documentsCtrl.editMode" style="width:1px">
                        <div class="btn-group text-nowrap" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" style="float:none" ng-click="documentsCtrl.edit(document)">
                              <i class="fa fa-edit"></i>
                          </button><button type="button" class="btn btn-default" style="float:none" disabled>
                              <i class="fa fa-trash"></i>
                          </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Document Agenda view -->

            <table ng-if="documentsCtrl.sort=='agenda' && type.agenda.items.length" class="table no-border-first-row">

                <tr ng-repeat="item in type.agenda.items|orderBy:'item' track by item.item">
                    <td class="hidden-xs" style="width:1px">
                        <span class="label agenda {{::documentsCtrl.agenda.prefix}}">{{::documentsCtrl.agenda.prefix}} {{::item.item}}</span>
                    </td>
                    <td>
                        <div>
                            <span class="visible-xs-inline label agenda {{::documentsCtrl.agenda.prefix}}">{{::documentsCtrl.agenda.prefix}} {{::item.item}}</span>

                            <span class="title agenda">
                                <span class="hidden-xs" >{{::item.title}}</span>
                                <span class="visible-xs">{{::item.shortTitle||item.title}}</span>
                            </span>
                        </div>
                        <table class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                            <tr ng-repeat="document in item.documents" ng-class="{ info : document.selected }" style="cursor:default">
                                <td>
                                    <meeting-document document="document" enable-selection="!documentsCtrl.editMode"></meeting-document>
                                </td>
                                <td ng-if="documentsCtrl.editMode" style="width:1px">
                                    <div class="btn-group text-nowrap" role="group" aria-label="...">
                                      <button type="button" class="btn btn-default" style="float:none" ng-click="documentsCtrl.edit(document)">
                                          <i class="fa fa-edit"></i>
                                      </button><button type="button" class="btn btn-default" style="float:none" disabled>
                                          <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr ng-if="type.agenda.otherDocuments.length">
                    <td class="hidden-xs" style="width:1px">
                        <span class="label agenda">Other</span>
                    </td>
                    <td>
                        <div>
                            <span class="title agenda">
                                <span class="visible-xs label agenda">Other</span> <i>Document(s) not associated to an agenda item</i>
                            </span>
                        </div>
                        <table class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                            <tr ng-repeat="document in type.agenda.otherDocuments" ng-class="{ info : document.selected }" style="cursor:default">
                                <td>
                                    <meeting-document document="document" enable-selection="!documentsCtrl.editMode"></meeting-document>
                                </td>
                                <td ng-if="documentsCtrl.editMode" style="width:1px">
                                    <div class="btn-group text-nowrap" role="group" aria-label="...">
                                      <button type="button" class="btn btn-default" style="float:none" ng-click="documentsCtrl.edit(document)">
                                          <i class="fa fa-edit"></i>
                                      </button><button type="button" class="btn btn-default" style="float:none" disabled>
                                          <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
