<div>
    <style>

        .document-status .progress-step { 
            position: absolute; 
            overflow: hidden; 
            text-align: center; 
            font-size: 90%;
            padding-top: 3px;
            padding-bottom: 3px; 
            border-right: 1px solid darkgray; 
        }

        .document-status .progress-step            { background-color: gray;       color: whitesmoke; cursor: help;}
        .document-status .progress-step.active     { background-color: darkgrey;   color: whitesmoke; border: solid 4px royalblue;   margin-top: -4px; }
        .document-status .progress-step.completed  { background-color: seagreen;   color: whitesmoke; }
        .document-status .progress-step.skipped    { background-color: lightgray;  color: slategray; text-decoration: line-through; }
        
        .document-status .grid-date                { border-left:solid 1px silver;      opacity: 0.3; position:absolute;height:100%;top:0px; padding:5px }
        .document-status .grid-date.today          { border-left:solid 2px forestgreen; opacity: 1.0; }
        .document-status .grid-date.cutoff         { border-left:solid 2px red;         opacity: 1.0; }
    </style>

    <div class="panel panel-default">
        <div class="panel-heading">
            Filters
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <label>
                        Assigned to me <input type="checkbox" ng-model="statusCtrl.filters.assignedToMe"> 
                    </label>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <label>
                        Overdue <input type="checkbox" ng-model="statusCtrl.filters.overdue"> 
                    </label>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <select class="form-control" ng-model="statusCtrl.filters.type_nature">
                        <option value="">All documents</option>
                        <option value="official">Official</option>
                        <option value="in-session">In-Session (All)</option>
                        <option value="in-session/non-paper">Non Paper (In-Session)</option>
                        <option value="in-session/crp">CRP (In-Session)</option>
                        <option value="in-session/limited">L (In-Session)</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <select class="form-control" ng-model="statusCtrl.filters.status">
                        <option value="">All status</option>
                        <option value="public">Public</option>
                        <option value="!public">Not public</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <select class="form-control" ng-model="statusCtrl.filters.gridIncrement" ng-change="statusCtrl.refresh()">
                        <option value="weeks">Weekly grid</option>
                        <option value="months">Montly grid</option>
                    </select>
                </div>
            </div>
        </div>
    </div>    

    <table class="document-status table table-striped table-hover table-condensed">
        <tr>
            <th class="hidden-xs">Symbol</th>
            <th class="hidden-xs">Owner</th>
            <th>Status</th>
            <th><button type="button" ng-if="statusCtrl.isAdmin" ng-click="statusCtrl.editMode=!statusCtrl.editMode" class="btn btn-default btn-xs pull-right" ng-class="{ 'btn-info': statusCtrl.editMode, 'active': statusCtrl.editMode }"><i class="fa fa-edit"></i></button></th>
        <tr ng-repeat="d in statusCtrl.documents|filter:statusCtrl.filters.assignedToFilter|filter:statusCtrl.filters.dueFilter|filter:statusCtrl.filters.documentTypeFilter|filter:statusCtrl.filters.statusFilter" ng-class="{ success:d.status=='public'}">
            <td class="hidden-xs" style="width:1%">
                <div class="text-nowrap">
                    <span ng-repeat="item in ::d.agendaItems" class="label agenda {{::statusCtrl.meeting.agenda.prefix}}">{{::statusCtrl.meeting.agenda.prefix}} {{item}}</span> 
                    <strong class="text-nowrap">{{d.symbol}}</strong>
                </div>
                <div ng-if="d.expanded" title="{{d.title|lstring}}">{{d.title|lstring}}</div>
                <a ng-if="d.workflow.activeStep.inRevision" target="_blank" href="{{d.workflow.files[d.workflow.activeStep.inRevision-1].url}}"> Latest revision v{{d.workflow.activeStep.inRevision}}</a>
            </td>
            <td class="hidden-xs text-nowrap" style="width:1%">
                
                <div ng-if="d.workflow.newOwners">
                    <select-user ng-if="d.workflow.newOwners" extra-options="statusCtrl.standardRoles" caption="Assign to" role="1275" ng-model="_selectedUser" ng-change="d.workflow.newOwners.push(_selectedUser)"></select-user>
                    <button type="button" class="btn btn-link btn-xs" ng-click="statusCtrl.updateWorkflow(d, { owners : statusCtrl.toIDs(d.workflow.newOwners) })"><i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-link btn-xs" ng-click="d.workflow.newOwners=null"><i class="fa fa-times"></i></button>

                    <div ng-repeat="o in d.workflow.newOwners">
                        <button type="button" class="btn btn-link btn-xs btn-danger" ng-click="d.workflow.newOwners.splice(d.workflow.newOwners.indexOf(o),1)"><i class="fa fa-times"></i></button>
                        <span title="{{o.firstName}} {{o.lastName}}">{{o|initials}}<span ng-if="!$last">, </span></span>
                    </div>
                </div>
                
                <div ng-if="!d.workflow.newOwners">
                    <span ng-repeat="o in d.workflow.owners" title="{{o.firstName}} {{o.lastName}}">{{o|initials}}<span ng-if="!$last">, </span></span>
                    <button ng-if="statusCtrl.editMode && d.workflow.canEdit" class="btn btn-link" ng-click="d.workflow.newOwners = (d.workflow.owners||[]).slice(0)"><i class="fa fa-edit"></i></button>
                </div>

            </td>
            <td ng-click="statusCtrl.expand(d, true)" style="position:relative">

                <div ng-if="d.status=='public'" class='pull-right'>
                    <document-files files="d.files"></document-files>
                </div>                

                <div class="visible-xs">                
                    <span ng-repeat="item in ::d.agendaItems" class="label agenda {{::statusCtrl.meeting.agenda.prefix}}">{{::statusCtrl.meeting.agenda.prefix}} {{item}}</span> 
                    <strong>{{d.symbol}}</strong>
                    <span ng-repeat="o in d.workflow.owners" title="{{o.firstName}} {{o.lastName}}">
                        <span ng-if="$first"> - </span>
                        {{o|initials}}
                        <span ng-if="!$last">, </span>
                    </span>
                </div>

                <div class="text-muted" title="{{d.title|lstring}}">{{d.title|lstring}}</div>

                <div ng-if="d.workflow.steps.length && (d.status!='public' || !d.files.length)" style="padding: 5px;margin-bottom: 5px" >
                    <div ng-repeat="g in ::statusCtrl.gridDates" class="grid-date {{::g.type}}" ng-style="::{ left: g.start+'%' }" title="{{g.type=='today'&&'Today: '||''}} {{g.type=='cutoff'&&'Deadline: '||''}} {{::g.date|moment:'format':'DD MMMM YYYY'}}" data-toggle="tooltip" data-placement="top" help-date>
                        &nbsp;
                    </div>
                    <div style="position: relative; height: 20px">
                        <div ng-repeat="s in d.workflow.steps" title="Step: {{s.type}}
Due: {{s.dueDate|moment:'format':'DD MMMM YYYY'}} - {{s.dueDate|moment:'fromNow'}}" 
                            class="progress-step {{s.status}}"
                            ng-style="{ left: s.absProgress.start+'%', right: (100-s.absProgress.stop)+'%' }" data-toggle="tooltip" data-placement="top" help-step>
                                {{s.type}}
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="d.expanded">
                    <div class="row">
                        
                    <div class="col-md-12">
                        <document-progress-steps document="d" documents="statusCtrl.documents" edit-mode="statusCtrl.editMode"></document-progress-steps>
                    </div>
                    
                    <div class="col-md-12">
                        <h5 colspan="2">Comments</h5>
                        <internal-comments type="document-draft" resources="::[d._id]" can-edit="false"></internal-comments>
                    </div>
                    
                    <div class="col-md-12">
                        <h5 colspan="2" ng-click="d.logs ? d.logs=null : statusCtrl.loadLogs(d)" style="cursor:pointer">
                            Events 
                            <i ng-show="d.logs" class="fa fa-caret-up"></i>
                            <i ng-hide="d.logs" class="fa fa-caret-down"></i>
                        </h5>
                        <table class="document-status table table-condensed" style="max-heigth:600px;overflow-y:scroll">
                            <tr ng-repeat="log in d.logs | orderBy:'date':true">
                                <td class="text-nowrap" title="{{log.date|date:'yyyy-MM-dd HH:mm.ss'}}">{{log.date|moment:'fromNow':true}}</td>
                                <td class="text-nowrap" title="{{log.user.name}}">{{log.user|initials}}</td>
                                <td style="width:99%">{{log.text}}</td>
                            </tr>
                        </table>
                    </div>
                    </div>
                </div>
            </td>
            <td style="width:1%" ng-click="statusCtrl.expand(d)">
                <i ng-show="d.expanded" class="fa fa-caret-up"></i>
                <i ng-hide="d.expanded" class="fa fa-caret-down"></i>
            </td>
        </tr>
    </table>

    <file-drop ng-model="_file" ng-change="statusCtrl.onFile(_file)" auto-reset="true"></file-drop>

</div>
