<div class="meeting-documents">
    <a ng-if="documentsCtrl.showMeeting && documentsCtrl.meeting.EVT_WEB" class="hidden-print pull-right btn btn-default" ng-class="{'btn-lg':$root.deviceSize!='xs'}" ng-style="{ 'margin-top': $root.deviceSize=='xs' ? '5px' : '' }" ng-href="{{documentsCtrl.meeting.EVT_WEB}}" target="_self">Official conference page <i class="fa fa-external-link" aria-hidden="true"></i> </a>

    <h1 class="visible-print" style="color:black;position:absolute;top:0px;right:0px"> {{::documentsCtrl.meeting.code}} <em><small>{{documentsCtrl.currentTabX.title}}</small></em></h1>

    <h1 ng-if="::documentsCtrl.showMeeting" class="hidden-print hidden-xs">Meeting Documents</h1>
    <h3 ng-if="::documentsCtrl.showMeeting" class="hidden-print visible-xs pull-left">{{::documentsCtrl.meeting.code|lstring}}</h3>
    <h3 ng-if="::documentsCtrl.showMeeting" class="hidden-print hidden-xs">{{::documentsCtrl.meeting.title|lstring}}</h3>
    <h5 ng-if="::documentsCtrl.showMeeting" class="hidden-print hidden-xs">
        {{::documentsCtrl.meeting.dateText|lstring}}
        <span ng-if="::(documentsCtrl.meeting.dateText|lstring) && (documentsCtrl.meeting.venueText|lstring)"> - </span>
        {{::documentsCtrl.meeting.venueText|lstring}}
    </h5>
    <div class="mobile-spacer">
    <div ng-if="documentsCtrl.error" class="alert alert-warning" role="alert">
        <span ng-switch="documentsCtrl.error">
            <span ng-switch-when="meetingNotFound">
                <b>The selected meeting does not exist.</b><br>Please consult the <a href="/meetings" target="_self">calendar of events</a>.
            </span>
            <span ng-switch-default="">
                <b>Unknown error as occured.</b><br><br>{{documentsCtrl.error}}
            </span>
        </span>
    </div>

    <div ng-if="!documentsCtrl.error" id="print-smart-checkout" ng-cloak class="pull-right hidden-print" style="margin-top:5px">

        <span ng-if="documentsCtrl.edit" class="edit">
            <button type="button" class="btn btn-default" ng-click="documentsCtrl.edit(null)"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-default" ng-class="{active:documentsCtrl.editMode, 'btn-info': documentsCtrl.editMode }" ng-click="documentsCtrl.editMode=!documentsCtrl.editMode"><i class="fa fa-edit"></i></button>
        </span>

        <button type="button" ng-if="documentsCtrl.isStaff" class="btn btn-default" ng-class="{active:documentsCtrl.statsMode, 'btn-info': documentsCtrl.statsMode }" ng-click="documentsCtrl.statsMode=!documentsCtrl.statsMode && documentsCtrl.isStaff"><i class="fa fa-bar-chart"></i></button>

        <span class="mobile-app-hidden hidden-print btn-group" ng-if="::documentsCtrl.meeting.links.length || documentsCtrl.meeting.EVT_WEB || documentsCtrl.meeting.EVT_INFO_PART_URL || documentsCtrl.meeting.isMontreal || documentsCtrl.meeting.EVT_REG_NOW_YN" class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Info links
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item" ng-if="::documentsCtrl.meeting.EVT_WEB"><a ng-href="{{::documentsCtrl.meeting.EVT_WEB}}" target="_blank">Official Web Site</a></li>
            <li class="dropdown-item" ng-if="::documentsCtrl.meeting.EVT_INFO_PART_URL"><a ng-href="{{::documentsCtrl.meeting.EVT_INFO_PART_URL}}" target="_blank">Information for participants</a></li>
            <li class="dropdown-item" ng-if="::documentsCtrl.meeting.isMontreal"><a ng-href="/meetings/montreal.shtml" target="_blank">Montreal information for visitors</a></li>
            <li class="dropdown-item" ng-if="::documentsCtrl.meeting.EVT_REG_NOW_YN"><a ng-href="/side-events" target="_blank">Register side-events</a></li>
            <li class="dropdown-item" ng-repeat="link in ::documentsCtrl.meeting.links"><a ng-href="{{::link.url}}" target="_blank">{{::link.title|lstring}}</a></li>
          </ul>
        </span>
      
        <!-- Sort/Display -->
        <span ng-cloak ng-if="documentsCtrl.meeting.agenda.items.length" class="hidden-print btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Sort By
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a ng-click="documentsCtrl.sort='agenda'" href="#">Sort and group by agenda items</a></li>
                <li class="dropdown-item"><a ng-click="documentsCtrl.sort='document'" href="#">Sort by document symbols</a></li>
            </ul>
        </span>
    
        <print-smart-checkout ng-if="documentsCtrl.documents.length" style="display:inline-block" documents="documentsCtrl.documents|filter:{selected:true}:true" allow-print="documentsCtrl.meeting.printSmart"></print-smart-checkout>
    </div>


    <div class="clearfix" ng-if="documentsCtrl.edit"></div>
    <div class="clearfix visible-md visible-sm visible-xs"></div>

    <!-- Nav tabs -->

    <style>
        .meeting-documents .nav-tabs> .nav-item  {  margin-top:30px }
        .meeting-documents .nav-tabs>li                  > div.in-session-label { display: none }
        .meeting-documents .nav-tabs>li.in-session.first > div.in-session-label { display: block }
        .meeting-documents .nav-tabs>li.in-session.first          { margin-top:unset!important;padding-top:15px}
        .meeting-documents .nav-tabs>li.in-session                { padding-left:4px; background:#eee;padding-right:4px;padding-top:5px;margin-top:25px }
        .meeting-documents .nav-tabs>li.in-session       >div.bg  { position:absolute;top:-21px;left:-2px;right:-2px;height:62px;background-color:#eee;border-radius: 0   4px 0 0;border-top:1px solid #ddd;border-right:1px solid #ddd;}
        .meeting-documents .nav-tabs>li.in-session.first >div.bg  { position:absolute;top:-21px;left:0px; right:-2px;height:62px;background-color:#eee;border-radius: 4px 4px 0 0;border-top:1px solid #ddd;border-left:1px  solid #ddd;border-right:1px solid #ddd;}
        .meeting-documents .nav-tabs>li.in-session.last  >div.bg  { position:absolute;top:-21px;left:-2px;right:-2px;height:62px;background-color:#eee;border-radius: 0   4px 0 0;border-top:1px solid #ddd;border-right:1px solid #ddd;}
    </style>

    <p ng-if="!documentsCtrl.error && documentsCtrl.loaded && !documentsCtrl.tabs.length">
        No documents have yet been posted.
    </p>
    <nav>
        <ul ng-if="!documentsCtrl.noTabs" class="nav nav-tabs nowrap hidden-print doc-tabs" role="tablist">
            <li code="{{type.code}}" class="nav-item" 
                ng-repeat="type in documentsCtrl.tabs|limitTo:documentsCtrl.maxTabCount"  
                ng-class="{'active': documentsCtrl.currentTab==type.code, 'in-session': type.insession, 'first': type.insessionFirst, 'last': type.insessionLast }" >
                
                <div class="in-session-label" style="top:-18px;left:0px;right:2px;height:15px;font-size:10px;font-weight:bold;color:#444">&nbsp;&nbsp;&nbsp;IN-SESSION</div>
                <a class="nav-link" href="#" ng-click="documentsCtrl.switchTab(type)" role="tab" data-toggle="tab" ng-class="{'active': documentsCtrl.currentTab==type.code}">
                    {{::type.title}} ({{type.length}})
                </a>
            </li>
            <li class="nav-item"  ng-class="{active:!!documentsCtrl.currentExtraTab}" ng-if="(documentsCtrl.tabs|limitTo:999:documentsCtrl.maxTabCount).length">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" ng-class="{'active': !!documentsCtrl.currentExtraTab}">
                    <span>{{documentsCtrl.currentExtraTab||'More'}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="type in documentsCtrl.tabs|limitTo:999:documentsCtrl.maxTabCount" code="{{type.code}}">
                        <a href="#" ng-click="documentsCtrl.switchTab(type, true)">
                            {{::type.title}} ({{type.length}})
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-hide="documentsCtrl.loaded" ><a><h3  style="color: #777;margin: 0px"><i class="fa fa-circle-o-notch fa-spin"></i></h3></a></li>
        </ul>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top:5px">

        <div ng-repeat="type in documentsCtrl.tabs track by type.code" ng-class="{ active: (documentsCtrl.currentTab==type.code || documentsCtrl.noTabs) }" role="tabpanel" class="tab-pane" id="{{::type.code}}">

            <div ng-if="type.loaded || documentsCtrl.currentTab==type.code || documentsCtrl.noTabs">

                <h3 ng-if="::documentsCtrl.noTabs">{{::type.title}}</h3>

                <div class="clearfix"></div>

                <div style="padding:10px;" ng-if="::!type.length">No in-session documents have yet been posted.</div>

                <div ng-repeat="section in type.sections track by section.code">

                    <h4 ng-if="::section.title" style="margin-left:5px">{{::section.title}}</h4>

                    <!-- Document List view -->

                    <table ng-if="documentsCtrl.sort=='document' || !type.agenda.items.length" class="table table-striped table-hover no-border-first-row">
                        <tbody class="documents">
                        <tr document-id="{{document._id}}" ng-repeat="document in section.documents track by document._id" ng-class="{ info : document.selected, warning: document.metadata.visible===false }" style="cursor:default;">
                            <td ng-class="{ handle : documentsCtrl.editMode} " style="width:10px">
                                <strong ng-if="section.code!='report'" class="text-nowrap">{{($index+1)}}.</strong>
                                <div ng-if="documentsCtrl.editMode && (type.code!='outcome')"><i class="fa fa-bars handle" aria-hidden="true"></i></div>
                            </td>
                            <td>
                                <meeting-document document="document" enable-selection="!documentsCtrl.editMode" show-statistics="documentsCtrl.statsMode"></meeting-document>
                            </td>

                            <td ng-if="documentsCtrl.editMode" style="width:10px">
                                <div ng-if="::document.linkedToId">
                                    <span class="badge label agenda">Linked</span>
                                </div>
                                <div ng-repeat="item in document.agendaItems|orderBy">
                                    <span class="badge label agenda {{::documentsCtrl.meeting.agenda.prefix}}">{{::documentsCtrl.meeting.agenda.prefix}} {{::item}}</span>
                                </div>
                            </td>

                            <td ng-if="documentsCtrl.editMode && (type.code!='outcome')" style="width:1px">
                                <div class="btn-group text-nowrap" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default" style="float:none" ng-click="documentsCtrl.edit(document)">
                                      <i class="fa fa-edit"></i>
                                  </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Document Agenda view -->

                    <table ng-if="documentsCtrl.sort=='agenda' && type.agenda.items.length" class="table no-border-first-row">

                        <tr ng-repeat="item in type.agenda.items|orderBy:'item' track by item.item">
                            <td class="hidden-xs" style="width:1px">
                                <span class="badge label agenda {{::documentsCtrl.agenda.prefix}}">{{::documentsCtrl.agenda.prefix}} {{::item.item}}</span>
                            </td>
                            <td>
                                <div>
                                    <span class="visible-xs-inline-block badge label agenda {{::documentsCtrl.agenda.prefix}}">{{::documentsCtrl.agenda.prefix}} {{::item.item}}</span>

                                    <span class="title agenda">
                                        <span class="hidden-xs" >{{::item.title}}</span>
                                        <span class="visible-xs-inline">{{::item.shortTitle||item.title}}</span>
                                    </span>
                                </div>
                                <table class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                                    <tr ng-repeat="document in item.documents" ng-class="{ info : document.selected, warning: document.metadata.visible===false }" style="cursor:default">
                                        <td>
                                            <meeting-document document="document" enable-selection="!documentsCtrl.editMode"></meeting-document>
                                        </td>
                                        <td ng-if="documentsCtrl.editMode" style="width:1px">
                                            <div class="btn-group text-nowrap" role="group" aria-label="...">
                                              <button type="button" class="btn btn-default" style="float:none" ng-click="documentsCtrl.edit(document)">
                                                  <i class="fa fa-edit"></i>
                                              </button><button type="button" class="btn btn-default" style="float:none" disabled>
                                                  <i class="fa fa-trash"></i>
                                              </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr ng-if="type.agenda.otherDocuments.length">
                            <td class="hidden-xs" style="width:1px">
                                <span class="badge label agenda">Other</span>
                            </td>
                            <td>
                                <div>
                                    <span class="title agenda">
                                        <span class="visible-xs badge agenda">Other</span> <i>Document(s) not associated to an agenda item</i>
                                    </span>
                                </div>
                                <table class="table table-striped table-hover" style="margin:10px 0px -5px 0px;">
                                    <tr ng-repeat="document in type.agenda.otherDocuments" ng-class="{ info : document.selected, warning: document.metadata.visible===false }" style="cursor:default">
                                        <td>
                                            <meeting-document document="document" enable-selection="!documentsCtrl.editMode"></meeting-document>
                                        </td>
                                        <td ng-if="documentsCtrl.editMode" style="width:1px">
                                            <div class="btn-group text-nowrap" role="group" aria-label="...">
                                              <button type="button" class="btn btn-default" style="float:none" ng-click="documentsCtrl.edit(document)">
                                                  <i class="fa fa-edit"></i>
                                              </button><button type="button" class="btn btn-default" style="float:none" disabled>
                                                  <i class="fa fa-trash"></i>
                                              </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>