<style>

    .panel-title > a {
        text-decoration:none;
    }
    .panel-title > a:before {
        content:"\f077";
        font-family: FontAwesome;
        margin-right:-4px;
        float:right;
        color:#777;
    }

    .panel-title > a.collapsed:before {
        content:"\f078";
    }

    .in-session-documents > .table {
        margin-bottom:0px;
    }

</style>

<div print-smart="">

    <div ng-show="PLENARY||WG1||WG2||OTHER||PRESENTATIONS" style="float:right;text-align: right; margin:5px; clear:both;">
        <div class="print-smart-checkout fixed-top-right"></div>
    </div>

    <p>The documents below are in session documents made available for the convenience of the participants. They do not represent final decisions.</p>

    <style>
     .fixed-top-right { position:fixed;top:5px;right:5px;z-index:200}
    </style>


    <div ng-show="error" ng-switch="error">

        <div ng-switch-when="TIMEOUT"   class="alert alert-info"    role="alert">
            <b>Loading documents takes longer than expected.</b><br/>
            Please wait a few seconds for documents to load... <i class="fa fa-cog fa-spin fa-lg"></i>
        </div>
        <div ng-switch-default class="alert alert-warning" role="alert">
            <b>An error occured.</b>
            Please <a href="#" ng-click="reloadPage()">refresh the page</a>.<br/>
            If you continue experiencing problems,
            please visit document distribution center for assistance.
            <span class="hidden">{{error}}</span>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="panel-group" id="accordionX">

        <div class="panel panel-default" style="overflow:visible" ng-show="PLENARY">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" style="display:block" data-parent="#accordion" href="#collapsePlenary">Plenary</a>
                </h4>
            </div>

            <div id="collapsePlenary" class="panel-collapse collapse">
                <div class="panel-bodyX">
                    <div class="in-session-documents" documents="PLENARY"></div>
                </div>
            </div>

        </div>


        <div class="panel panel-default" style="overflow:visible" ng-show="WG1">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" style="display:block" data-parent="#accordion" href="#collapseWG1">Working Group I</a>
                </h4>
            </div>

            <div id="collapseWG1" class="panel-collapse collapse">
                <div class="panel-bodyX">
                    <div class="in-session-documents" documents="WG1"></div>
                </div>
            </div>

        </div>


        <div class="panel panel-default" style="overflow:visible" ng-show="WG2">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" style="display:block" data-parent="#accordion" href="#collapseWG2">Working Group II</a>
                </h4>
            </div>

            <div id="collapseWG2" class="panel-collapse collapse">
                <div class="panel-bodyX">
                    <div class="in-session-documents" documents="WG2"></div>
                </div>
            </div>

        </div>


        <div class="panel panel-default" style="overflow:visible" ng-show="OTHER">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" style="display:block" data-parent="#accordion" href="#collapseOTHER">Other</a>
                </h4>
            </div>

            <div id="collapseOTHER" class="panel-collapse collapse">
                <div class="panel-bodyX">
                    <div class="in-session-documents" documents="OTHER"></div>
                </div>
            </div>

        </div>

        <div class="panel panel-default" style="overflow:visible" ng-show="PRESENTATIONS">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" style="display:block" data-parent="#accordion" href="#collapsePRESENTATIONS">Special Session on Implementation</a>
                </h4>
            </div>

            <div id="collapsePRESENTATIONS" class="panel-collapse collapse">
                <div class="panel-bodyX">
                    <div class="in-session-documents" documents="PRESENTATIONS"></div>
                </div>
            </div>

        </div>

    </div>

</div>
