<table style="width:100%">

    <tr>
        <td ng-click="enableSelection && downloadble && (document.selected=!document.selected);" style="vertical-align:top;">
            <div ng-class="::{ superseded : document.metadata.superseded }">
                <div>
                    <div ng-if="::document.symbol" title="{{::document.publishedOn|date:'yyyy-MM-dd':'UTC'}}">
                        <a ng-href="{{::document.url}}" style="color:inherit">
                            <strong ng-if="::document.type=='decision'">Decision</strong>
                            <strong ng-if="::document.type=='recommendation'">Recommendation</strong>
                            <strong ng-bind-html="::breakSymbol((document.symbol|encodeHtml))|safeHtml"></strong>
                        </a>
                    </div>
                    <div>{{::document.title|lstring}}</div>
                    <div>{{::document.description|lstring}}</div>
                </div>
            </div>

            <div ng-if="::document.metadata.superseded">
				<div><em>Superseded by {{::document.metadata.superseded}}</em></div>
            </div>

            <div>
                <span ng-if="::document.status && document.status!='public'"  ng-class="{ 'label-error' : document.status=='held', 'label-error' : document.status=='held' }" >
                    <span ng-switch="::document.status">
                        <span class="label label-default" style="display:inline-block;" ng-switch-when="awaited" ><i class="fa fa-hourglass-o" aria-hidden="true"></i> Awaited</span>
                        <span class="label label-default" style="display:inline-block;" ng-switch-when="received"><i class="fa fa-arrow-down" aria-hidden="true"></i> Received</span>
                        <span class="label label-info"    style="display:inline-block;" ng-switch-when="reviewed"><i class="fa fa-eye" aria-hidden="true"></i> Reviewed</span>
                        <span class="label label-primary" style="display:inline-block;" ng-switch-when="edited"  ><i class="fa fa-file-text-o" aria-hidden="true"></i> Edited </span>
                        <span class="label label-warning" style="display:inline-block;" ng-switch-when="held"    ><i class="fa fa-hand-paper-o" aria-hidden="true"></i> On Hold </span>
                        <span class="label label-success" style="display:inline-block;" ng-switch-when="archived"><i class="fa fa-archive" aria-hidden="true"></i> Archived </span>
                        <span class="label label-danger"  style="display:inline-block;" ng-switch-default>{{::document.status|uppercase}}</span>
                    </span>
                </span>

                <span ng-if="::document.metadata.message.text" style="opacity:0.60;display:inline-block;white-space:normal;text-align:left" class="label label-{{::document.metadata.message.level||'default'}}" >{{::document.metadata.message.text}}</span>
            </div>

            <div ng-if="::document.recipient_ss.length">Notification to: <span ng-repeat="recipient in ::document.recipient_ss"> {{::recipient}}</div>
            <div ng-if="::document.subject_ss.length">Subjects to: {{::document.subject_ss}}</div>
            <div ng-if="::document.actionDate_dt" class="text-danger">Action required by {{::document.actionDate_dt|moment:'add':23.9:'hours'|moment:'toDate'|date:'yyyy-MM-dd'}}</div>

            <table class="xtable table-bordered table-condensed  hidden-xs hidden-sm" ng-if="showStatistics" >
                <tr><th ng-repeat="(locale, name) in ::LANGUAGES" class="text-muted">{{name}}</th></tr>
                <tr><td ng-repeat="(locale, name) in ::LANGUAGES" class="text-muted text-nowrap">{{(document.file_stats[locale]|date:'yyyy-MM-dd':'UTC') || 'N/A'}}</td></tr>
            </table>


        </td>
        <td   class="languages-bar hidden-print">
            <document-files ng-if="!viewOnly" files="document.files"></document-files>
        </td>

        <td ng-style="::{ visibility: (enableSelection && downloadble ? 'visible' : 'hidden') }" class="hidden-print" ng-click="document.selected=!document.selected;" style="width:20px; position:relative;">
            <div class="hidden-xs animated rubberBand  printsmart-help-document-selector" style="position:absolute;left:-30px;margin-top:5px">
                <i class="fa fa-arrow-right text-info" style="font-size:2em"></i>
            </div>
            <div class="hidden-sm hidden-md hidden-lg animated rubberBand printsmart-help-document-selector" style="position:absolute;right:-3px;margin-top:10px">
                <i class="fa fa-arrow-left text-info" style="font-size:1.2em"></i>
            </div>
            <checkbox ng-style="::{ visibility: (downloadble ? 'visible' : 'hidden') }" ng-model="document.selected" style="font-size:2em" ng-class="::{'text-info':document.metadata.printable, 'text-muted':!document.metadata.printable }"></checkbox>
        </td>
    </tr>
</table>
