<div class="ck-editor__editable" style="border:none">
    <style>
        .ck-content {
            padding-top: 15px;
        }

        .ck-content p {
            margin-top: inherit!important;
            margin-bottom: inherit!important;
        }

        .ck-content .table th, .table td {
           vertical-align: inherit;
        }
    </style>
    <div ng-if="!hideCoverImage && article.coverImage">
        <cbd-article-cover-image cover-image="article.coverImage"></cbd-article-cover-image>
    </div>
    <div ng-if="showEdit" class="pull-right">        
        <a ng-if="article._id"  class="btn btn-default btn-xs" ng-href="https://www.cbd.int/management/articles/{{article._id}}/edit?returnUrl={{returnUrl}}">
            <i class="fa fa-edit"></i> Edit content</a>
        <a ng-if="!article._id" class="btn btn-default  btn-xs" ng-href="https://www.cbd.int/management/articles/new?returnUrl={{returnUrl}}">
            <i class="fa fa-edit"></i> Add content</a>    
        <br/>    
    </div>
    <div ng-bind-html="trustedHtml(article.content.en)" class="ck-content"></div>

</div>
