<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
    legend {
        margin-top: 30px;
        padding: 5px;
        background-color: #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding: 5px 5px 5px 5px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
<div class="row">
    <menu pull="right" search="true"  links="completedCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" >
        <h1>Completed Projects</h1>

        <h3>
            <span ng-if="completedCtrl.loading" style="margin:auto">
                <i class="fa fa-spin fa-spinner " /> Loading...
            </span>
        </h3>
        
        <div ng-repeat="round in completedCtrl.rounds track by $index">
            <h3 ng-if="0==$index">Pilot Projects</h3>
            <h3 ng-if="1==$index">First Round</h3>
            <h3 ng-if="2==$index">Second Round</h3>
            <h3 ng-if="3==$index">Third Round</h3>
            <h3 ng-if="4==$index">Fourth Round</h3>
            <h3 ng-if="5==$index">Fifth Round</h3>

            
            <bbi-project-row project="prt" ng-repeat="prt in round | orderBy : orderByCountry track by $index"></bbi-project-row>
        </div>
        <br>
    </div>
</div>

</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>
