<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>

</style>
<div class="row">
    <menu pull="right" search="true"  links="pilotCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" auto-linker>
        <h1>Projects</h1>

        <div class="col-xs-8">
          <h3>Purpose</h3>
                  <p>The development phase of Bio-Bridge Initiative includes the implementation of a number of projects, aimed to:</p>
<lu class="bbilist">
                <li>  Test technical and scientific cooperation (TSC) approaches and generate some lessons learned that can be fed into the development process of the BBI;</li>
                <li>   Draw attention to ongoing and potential TSC initiatives, engaging stakeholders and building interest in TSC.</li>
</lu>
                  <h3>Project Selection Committee</h3>

                  <h4>Mandate</h4>
                  <p>The Project Selection Committee (PSC) was established to undertake appraisals of the pilot TSC project proposals submitted by Parties and other stakeholders and make recommendations on proposals to be considered for possible technical and scientific cooperation support through the Bio-Bridge Initiative (BBI). The committee also provides input in the monitoring and evaluation of the projects by the Secretariat and reviews the availability of resources for BBI.</p>
                  <h4>Composition of the Project Selection Committee</h4>
                  <p>The Project Selection Committee consists of members with broad multidisciplinary expertise and experience and representing different geographic regions. During the pilot phase of BBI, the Project Selection Committee comprises:</p>
                  <lu class="bbilist">
                    <li>  A representative of the Ministry of Environment, Government of the Republic of Korea<br></li>
                    <li>  Chair of the Subsidiary Body on Scientific, Technical and Technological Advice (SBSTTA)<br></li>
                    <li>  Chair of the Informal Advisory Committee of the Clearing-House (CHM-IAC)<br></li>
                    <li>  A representative of the Consortium of Scientific Partners on Biodiversity, (CSP)<br></li>
                    <li>  A representative of the Global Environment Facility (GEF)<br></li>
                  </lu>
                <p>  A representative of the CBD Executive Secretary serves as an ex-official and Secretary to the Committee.</p>
                <h3>  Project Selection Procedure</h3>
                <lu class="bbilist-o">
                  <li>Using a standard project evaluation form, members of the Project Selection Committee (PSC) assign scores against the different core evaluation criteria and, as appropriate, provide comments including explanation of the rationale behind the scores assigned and the overall ranking of the projects.</li>
                  <li>The Secretariat computes the average scores, summarizes the comments received from all PSC members and circulates the aggregated results to all Committee members.</li>
                  <li>The Chairperson of the Committee convenes a meeting to agree on the final selection of projects to be recommended to the Executive Secretary for support.</li>
                  <li>The total number of projects finally selected for support depends on the available funding and offers from technical assistance providers.</li>
                </lu>
        </div>
        <div class="col-xs-4">
          <h2>Progress</h2>

          <h3>Round 1</h3>
            <lu class="bbilist">
          <li>A total of 4 pilot  projects were selected during the first phase and are under implementation.</li>
          <li>Click <a ng-href="/biobridge/projects/selected" ng-click="pilotCtrl.goTo('/pilot-projects/selected')"> here </a> for more information on the first pilot  projects.</li>
        </lu>
          <h3>Round 2</h3>
          <lu class="bbilist">
          <li>A  <a href="https://www.cbd.int/doc/notifications/2016/ntf-2016-126-bbi-en.pdf" target="_blank"> notification </a> for a second "Call for Requests for Assistance under BBI" was issued on October 19 2016 and Parties were invited to submit requests by November 30 2016.</li>
          <li>Click here for more information on how to <a href="#" ng-click="pilotCtrl.goTo('/participation')"> participate in BBI.</a></li>
        </lu>
        </div>


</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>