<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
</style>
<div class="row">
  <menu pull="right" search="true" links="pilotCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
  <div class="col-xs-12" auto-linker>
    <h1> Bio-Bridge Initiative Projects</h1>


    <h3>Purpose</h3>
    <p>The Bio-Bridge Initiative supports a number of projects, aimed to:</p>
    <lu class="bbilist">
      <li> Test technical and scientific cooperation approaches and generate lessons;</li>
      <li> Showcase good technical and scientific cooperation practices.</li>
    </lu>
    <h3>Project Selection Criteria</h3>
    <p>The Bio-Bridge Initiative has developed  the following criteria to facilitate systematic and transparent assessment of the project proposals submitted. Specifically, they are designed to help: </p>
    <ul class="bbilist">
      <li> Identify project proposals (or requests for assistance) that are in line with the BBI mission, objectives and principles and thus eligible for consideration under the Initiative; </li>
      <li> Assess the quality of proposals received and to prioritize those to be submitted to the Project Review Panel for the final evaluation; </li>
      <li> Identify proposals with greatest potential to produce concrete outputs and outcome(s) likely to have the highest impact; and </li>
      <li> Identify exemplary project proposals that may be considered for BBI seed funding support. </li>
    </ul>
    <p>The criteria used for all three stages of assessment (eligibility assessment, quality assessment, and technical assessment) are available here: <a href="https://www.cbd.int/api/v2013/documents/98FFC819-E286-32AB-31DD-CED073B02879/attachments/00-Criteria_Assessment_BBI%20Proposals_2017-06-22.pdf"
        target="_blank">[Selection Criteria]</a></p>

    <h3>Project Selection Procedure</h3>
    <lu class="bbilist">
      <li>Using a standard project evaluation form, members of the Project Review Panel (PRP) assign scores against the different core evaluation criteria and, as appropriate, provide comments including explanation of the rationale behind the scores assigned
        and the overall ranking of the projects.</li>
      <li>The Secretariat computes the average scores, summarizes the comments received from all PRP members and circulates the aggregated results to all Panel members.</li>
      <li>The Chairperson of the Panel convenes a meeting to agree on the final selection of projects to be recommended to the Executive Secretary for support.</li>
      <li>The total number of projects finally selected for support depends on the available funding and offers from technical assistance providers.</li>
    </lu>
    </br>
    <p>The proposals successfully vetted through the project review process are to be featured on the Bio-Bridge web platform. The Bio-Bridge helpdesk, as appropriate, assists proponents of those proposals in their efforts to secure the required funding
      and other types of support to facilitate their implementation. </p>

    <br>


  </div>

  <ng-include src="'/app/views/bbi/footer.html'"></ng-include>
