<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
</style>
<div class="row">
  <menu pull="right" search="true" links="pilotCtrl.links" style="padding:0;margin:0;"></menu>
</div>
<div>
  <div class="col-xs-12" auto-linker>

  <h1>Criteria and Procedure for Bio-Bridge Initiative Projects </h1>

  <h3>Purpose</h3>
  <p>As part of its mandate to catalyse and facilitate technical and scientific cooperation, the Bio-Bridge Initiative (BBI) currently provides seed funding of up to $20,000 to incubate projects and partnerships that promote exemplary approaches, particularly through South-South and triangular cooperation, to address biodiversity-related issues and challenges, and showcase good practices and lessons learned.</p>

  <h3>Who Can Apply</h3>
  <p>
    The following institutions are eligible to apply for seed funding support:
    <ul class="bbilist">
      <li>Relevant governmental agencies, research and academic institutions, and non-governmental organizations in developing country Parties and Parties with  economies in transition;</li>
      <li>Indigenous Peoples and Local Communities;</li>
    </ul>
    For proposals submitted by multiple Parties or organisations, one contact person shall be nominated for any future correspondence before official submission to BBI. Applicants are strongly encouraged to contact their <strong>CBD National Focal Points prior to submitting their proposals to avoid multiple proposals on the same topic from the same country and to promote stronger collaboration and alignment with national priorities.</strong>
  </p>

  <p>It is anticipated that funding will be provided directly to the entities providing the service(s) required to effectively respond to the need(s) articulated in the proposal.</p>

  <h3>Project Selection Criteria</h3>
  <p>The Bio-Bridge Initiative has developed a three-step process and corresponding selection criteria to facilitate a robust and transparent assessment of the project proposals submitted.</p>
  <p>The <a href="https://www.cbd.int/api/v2013/documents/AF001560-5582-B511-AAE5-D771515BD86E/attachments/BBI%20Proposals%20Criteria%20Assessment%202018.pdf">selection criteria</a> used at the three stages of assessment are designed to, inter alia, help:
    <ul class="bbilist">
      <li>Identify project proposals that are in line with the BBI mission, objectives and principles and thus eligible for consideration under the Initiative (Eligibility Assessment Stage);</li>
      <li>Ensure that high quality proposals are prioritized (Quality Assessment Stage); and</li>
      <li>Identify proposals with greatest potential to produce concrete impactful outcomes (Technical Assessment Phase).</li>
    </ul>
  </p>

  <h3>Project Selection Procedure</h3>
    <p>Requesting institutions from eligible Parties must fill out the <a href="http://attachments.cbd.int/BBI-Funding-Proposal-Form-2020.docx">Seed Funding Proposal Form</a> and send it <a href="mailto: technicalcooperation@cbd.int">by e-mail</a> to the Bio-Bridge Initiative at this address: <a href="mailto: technicalcooperation@cbd.int"> technicalcooperation@cbd.int</a> before the deadline specified in the notification.
      <ul class="bbilist">
        <li><span style="color:#009B48;">Step 1: Eligibility Assessment Stage:</span> The help desk screens all submitted proposals against the eligibility criteria to determine whether or not they are in line with Bio-Bridge mission, objectives and principles. A proposal must meet all the eligibility criteria in order to be accepted for further consideration under the Initiative. Ineligible proposals will not be considered further in the process.</li>
        <li><span style="color:#009B48;">Step 2: Quality Assessment Stage:</span> The help desk reviews the proposals deemed eligible and scores from them against the second set of criteria. Only proposals with a final score of 80% or higher are submitted to the Project Review Panel for the third and final assessment step. While proposals with a score below 80% will not be considered further, the help desk may follow up with their proponents to register them as requests for assistance on the Bio-Bridge web platform for possible matchmaking.</li>
        <li><span style="color:#009B48;">Step 3: Technical Assessment Stage:</span> Selected proposals are submitted to the members of the Project Review Panel (PRP), who provide a third review and assign scores from 0 to 5 against the third set of agreed upon criteria. The helpdesk computes the average scores and summarizes any comments received from PRP members. The Chairperson of the Panel convenes a meeting to agree on the final selection of projects to be recommended to the Executive Secretary for support.</li>
        <li>Final selection of proposals to receive seed funding rests with the Executive Secretary of the Convention on Biological Diversity who reviews the shortlist provided by the Project Review Panel and makes a determination based on resources available, regional and thematic balance, among other considerations.</li>
      </ul>
    </p>
  </div>
</div>


  <ng-include src="'/app/views/bbi/footer.html'"></ng-include>
