<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
    legend {
        margin-top: 30px;
        padding: 5px;
        background-color: #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding: 5px 5px 5px 5px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
<div class="row">
    <menu pull="right" search="true"  links="prpCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" >
        <h1>Project Review Panel</h1>

        <h3>Mandate</h3>

      <p>A Project Review Panel (PRP) was established to review and evaluate project proposals submitted by Parties and other stakeholders and make recommendations on proposals to be considered for possible technical and scientific cooperation support through the Bio-Bridge Initiative (BBI). The panel also provides input in the monitoring and evaluation of the projects by the Secretariat and reviews the availability of resources for BBI.</p>
      <p>The Project Review Panel consists of members with broad multidisciplinary expertise and experience and representing different geographic regions. The current members of the Panel are:</p>
      <h3>Composition of the Project Review Panel</h3>
      <ul class="bbilist">
      <li>	Chair of the Subsidiary Body on Scientific, Technical and Technological Advice (SBSTTA).</li>
      <li>	Chair of the Subsidiary Body on Implementation (SBI).</li>
      <li> Chair of the Informal Advisory Committee to the Clearing-House Mechanism</li>
      <li>	Chair of the Consortium of Scientific Partners on Biodiversity</li>
      <li> A representative of the Ministry of Environment of the Government of the Republic of Korea; and </li>
      <li>	A representative of the Global Environment Facility (GEF)</li>


    </ul>
      <p>A representative of the CBD Executive Secretary serves as a secretary to the Committee.</p>

    </div>


</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>
