<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
    legend {
        margin-top: 30px;
        padding: 5px;
        background-color: #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding: 5px 5px 5px 5px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
<div class="row">
    <menu pull="right" search="true"  links="selectedCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
    <div class="col-xs-12" auto-linker>
        <h1>Selected Bio-Bridge Projects</h1>
        <h3>Second Round of Bio-Bridge Initiative Pilot Projects</h3>
<bbi-project-row project="project"  ng-repeat="project in selectedCtrl.projects "></bbi-project-row>


        <h3>First Round of Bio-Bridge Initiative Projects</h3>

        <legend >Development of policies for tourist concessions within Southern African national parks systems</legend>
        <div class="row">
            <div class="col-xs-3 text-left">
                <strong> Proponent</strong>
            </div>
            <div class="col-xs-9">
                <strong>Description</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                IUCN TAPAS Group.
            </div>
            <div class="col-xs-9">
                IUCN's Tourism and Parks Specialist Group (TAPAS) will facilitate the cooperation between protected area authorities in Botswana, Namibia and South Africa which have efficient tourism concession systems and counterpart agencies in Lesotho, Mozambique
                and Tanzania which are at early stages of private concessioning/partnerships in protected areas and need support. The project will enable the latter countries to undertake feasibility studies and pilot cases and develop their policies
                and systems for tourism concessions in protected areas.
            </div>
        </div>
        <legend>Transfer of DNA bar-coding analysis technology for biodiversity monitoring</legend>
        <div class="row">
            <div class="col-xs-3">
                <strong> Proponent</strong>
            </div>
            <div class="col-xs-9">
                <strong>Description</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                National Institute of Biological Resources of Korea (NIBR
            </div>
            <div class="col-xs-9">
                NIBR will facilitate transfer of the DNA bar-coding analysis technology for biodiversity monitoring to countries in demand with technical support from Genome Analysis Center of National Instrumentation Center for Environmental Management (NICEM) at Seoul
                National University. A technical workshop on DNA barcoding analysis and a roundtable discussion will be held to identify obstacles and future needs in the application of this technology.
            </div>
        </div>
        <legend>Sustainable management of ASEAN Heritage Parks through valuing and improving eco-tourism</legend>
        <div class="row">
            <div class="col-xs-3">
                <strong> Proponent</strong>
            </div>
            <div class="col-xs-9">
                <strong>Description</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                Korea Environment Institute (KEI)
            </div>
            <div class="col-xs-9">
                KEI in collaboration with ASEAN Center for Biodiversity (ACB) and Korea National Park Service (KNPS), will apply an innovative modeling approach using social big-data to examine the current status of management, and support the development of related
                management strategies encouraging eco-tourism that enhances cultural services (e.g. recreation, education) focusing on eco-tourism that safeguards biodiversity for the countries and region where there are only limited field data.
            </div>
        </div>
        <legend>Cooperation for the development of Ecosystem - Natural Capital Accounts in Francophone African Developing Countries</legend>
        <div class="row">
            <div class="col-xs-3">
                <strong> Proponent</strong>
            </div>
            <div class="col-xs-9">
                <strong>Description</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                Centre de coopération internationale en recherche agronomique pour le développement (CIRAD) and Université du Québec à Montréal (UQAM)
            </div>
            <div class="col-xs-9">
                After their training in ecosystem accounting at a summer school to be held in August at UQAM, representatives of a few francophone African countries (Burkina-Faso, Guinea-Conakry, Morocco, Niger, Senegal and Tunisia) will convene two workshops to develop
                a cooperation project on the development of economic valuation tools for biodiversity and national ecosystem-based accounting systems.
            </div>
        </div>
    </div>


</div>

<ng-include src="'/app/views/bbi/footer.html'"></ng-include>
