<ng-include src="'/app/views/bbi/header.html'"></ng-include>
<style>
  legend {
    margin-top: 30px;
    padding: 5px;
    background-color: #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
</style>

<div class="row">
  <menu pull="right" search="true" links="selectedCtrl.links" style="padding:0;margin:0;"></menu>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Demonstration Projects</h1>
    <h3 ng-if="selectedCtrl.round==2">First Round</h3>
    <h3 ng-if="selectedCtrl.round==3">Second Round</h3>
    <h3 ng-if="selectedCtrl.round==4">Third Round</h3>
    <h3 ng-if="selectedCtrl.round==5">Fourth Round</h3>

    <h3>
      <span ng-if="selectedCtrl.loading" style="margin:auto">
          <i class="fa fa-spin fa-spinner " /> Loading...
      </span>
    </h3>
    
    <div ng-repeat="prt in selectedCtrl.projects | orderBy : orderByCountry track by $index">
      <bbi-project-row project="prt"></bbi-project-row>
    </div>
    <br>
  </div>

  <ng-include src="'/app/views/bbi/footer.html'"></ng-include>
